Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Test
  .gitlab/ci/rails.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add burnup/down charts to iteration report
  ee/app/assets/javascripts/burndown_chart/components/burn_charts_graphql.vue
  ee/app/assets/javascripts/burndown_chart/queries/burnup.query.graphql
  ee/app/assets/javascripts/iterations/components/iteration_report.vue
  ee/app/controllers/groups/iterations_controller.rb
  ee/spec/frontend/burndown_chart/components/burn_chart_graphql_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve url builder
  app/models/issue.rb
  lib/gitlab/url_builder.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Quarantine monitor core specs
  qa/qa/specs/features/browser_ui/8_monitor/all_monitor_core_features_spec.rb
Due: graphql-reference-verify, pages, cache gems

Perform checksum on ci build traces
  app/models/ci/build.rb
  db/migrate/20200802211402_add_trace_checksum_to_ci_builds.rb
  db/schema_migrations/20200802211402
  lib/api/ci/runner.rb
  lib/gitlab/ci/trace.rb
  lib/gitlab/ci/trace/stream.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix N+1 for Ci::Build#persistent_environment
  app/models/ci/build.rb
  app/serializers/pipeline_serializer.rb
  changelogs/unreleased/id-optimize-persistent-envs.yml
  lib/gitlab/ci/pipeline/preloader.rb
  spec/models/ci/build_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test without env variables
  .gitlab/ci/rails.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update how docs review apps work
  doc/development/documentation/index.md
Due: docs lint

Resolve review comments1
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Direct source rendrerer
  app/assets/javascripts/vue_shared/components/rich_content_editor/constants.js
  app/assets/javascripts/vue_shared/components/rich_content_editor/rich_content_editor.vue
  app/assets/javascripts/vue_shared/components/rich_content_editor/services/build_custom_renderer.js
  app/assets/javascripts/vue_shared/components/rich_content_editor/services/renderers/render_embedded_ruby_text.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove bootstrap util class from example
  doc/development/fe_guide/style/scss.md
Due: docs lint

Refactor toggle button spec
  app/assets/javascripts/vue_shared/components/toggle_button.vue
  spec/frontend/vue_shared/components/toggle_button_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Resolve review comments1-lint errors
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

GitLab UI: mg-remove-gl-dropdown integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create useSmartResource helper in jest spec
  ee/spec/frontend/boards/components/board_list_header_spec.js
  spec/frontend/helpers/resources/index.js
  spec/frontend/helpers/resources/resource.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add axios_mock_adapter and vtu resources
  ee/spec/frontend/boards/components/board_list_header_spec.js
  spec/frontend/helpers/resources/axios_mock_adapter.js
  spec/frontend/helpers/resources/index.js
  spec/frontend/helpers/resources/vtu.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use smart resources in environments_app_spec
  spec/frontend/environments/environments_app_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use resources in frequest_items_list_item_spec
  spec/frontend/frequent_items/components/frequent_items_list_item_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use useComponent resource in approvers_spec
  ee/spec/frontend/compliance_dashboard/components/merge_requests/approvers_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use useComponent resource in pagination_spec
  ee/spec/frontend/compliance_dashboard/components/shared/pagination_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use useComponent resource in edit_user_list
  ee/spec/frontend/user_lists/components/edit_user_list_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add some edge case specs
  spec/frontend/helpers/resources/resource.js
  spec/frontend/helpers/resources/resource_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use symbol for INTERNAL_RESOURCE
  spec/frontend/helpers/resources/resource.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add normal cases from marks patch
  spec/frontend/helpers/resources/resource_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Replace the deprecated button with the button component
  ee/app/assets/javascripts/related_items_tree/components/tree_item_body.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Doc: Add information about find references
  doc/user/project/code_intelligence.md
  doc/user/project/img/code_intelligence_find_references_v13_3.png
  doc/user/project/img/code_intelligence_v13_1.png
  doc/user/project/img/code_intelligence_v13_3.png
Due: docs lint

Add google tag manager
  app/views/layouts/_google_tag_manager_body.html.haml
  app/views/layouts/_google_tag_manager_head.html.haml
  app/views/layouts/devise.html.haml
  app/views/layouts/devise_experimental_separate_sign_up_flow.html.haml
  changelogs/unreleased/223768-add-google-analytics-tracking-to-sign-in-pages.yml
  config/gitlab.yml.example
  ee/app/views/layouts/trial.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Dev doc features flags per-project
  doc/development/documentation/feature_flags.md
Due: docs lint

Tag ff dev docs as dev
  doc/administration/feature_flags.md
  doc/development/feature_flags/controls.md
  doc/development/feature_flags/development.md
  doc/development/feature_flags/index.md
  doc/development/feature_flags/process.md
Due: docs lint

Rounded out rough implementation
  app/assets/javascripts/vue_shared/components/rich_content_editor/rich_content_editor.vue
  app/assets/javascripts/vue_shared/components/rich_content_editor/services/build_custom_renderer.js
  app/assets/javascripts/vue_shared/components/rich_content_editor/services/build_html_to_markdown_renderer.js
  app/assets/javascripts/vue_shared/components/rich_content_editor/services/renderers/build_uneditable_token.js
  app/assets/javascripts/vue_shared/components/rich_content_editor/services/renderers/render_embedded_ruby_paragraph.js
  app/assets/javascripts/vue_shared/components/rich_content_editor/services/renderers/render_embedded_ruby_text.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add warning and reorder sections
  doc/development/documentation/feature_flags.md
Due: docs lint

Replace <gl-deprecated-button> for pipeline action buttons
  app/assets/javascripts/pipelines/components/graph/action_component.vue
  app/assets/stylesheets/pages/pipelines.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Explain to user what FF means
  doc/development/documentation/feature_flags.md
  doc/user/feature_flags.md
  doc/user/img/feature_flags_history_note_info_v13_2.png
  doc/user/img/version_history_notes_collapsed_v13_2.png
  doc/user/index.md
Due: docs lint

Update doc/gitlab-basics/start-using-git.md
  doc/gitlab-basics/start-using-git.md
Due: docs lint

Update gemfile for autodevopsrack app
  qa/qa/fixtures/auto_devops_rack/Gemfile.lock
Due: graphql-reference-verify, pages, cache gems

Add non k8s heatmap chart example
  lib/gitlab/metrics/templates/heatmap.metrics-dashboard.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove duplicative package names from versions tab
  app/assets/javascripts/packages/details/components/app.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

create .vue component and render to dom
  app/assets/javascripts/layout_nav.js
  app/assets/javascripts/whats_new/components/whats_new_app.vue
  app/assets/javascripts/whats_new/components/whats_new_trigger.vue
  app/assets/javascripts/whats_new/index.js
  app/assets/javascripts/whats_new/store/actions.js
  app/assets/javascripts/whats_new/store/index.js
  app/assets/javascripts/whats_new/store/mutations.js
  app/assets/javascripts/whats_new/store/state.js
  ee/app/helpers/ee/application_helper.rb
  ee/app/views/layouts/header/_whats_new_dropdown_item.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Format ID as uppercase in md files
  doc/administration/troubleshooting/tracing_correlation_id.md
  doc/api/graphql/getting_started.md
  doc/api/graphql/reference/index.md
  doc/ci/directed_acyclic_graph/index.md
  doc/development/documentation/feature_flags.md
  doc/development/geo/framework.md
  doc/operations/feature_flags.md
  doc/operations/product_analytics.md
  doc/user/application_security/dast/index.md
  doc/user/group/iterations/index.md
  doc/user/project/merge_requests/squash_and_merge.md
  ee/app/assets/javascripts/related_issues/constants.js
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
