Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Specs working
  ee/spec/frontend/boards/components/board_settings_sidebar_spec.js
  spec/frontend/boards/components/board_settings_sidebar_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add getter spec
  spec/frontend/boards/stores/getters_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

WIP
  app/assets/javascripts/boards/components/board_content.vue
  app/assets/javascripts/boards/components/board_settings_sidebar.vue
  app/assets/javascripts/boards/stores/getters.js
  app/assets/javascripts/boards/stores/state.js
  ee/app/assets/javascripts/boards/components/board_settings_wip_limit.vue
  ee/app/assets/javascripts/boards/components/epics_swimlanes.vue
  ee/app/assets/javascripts/boards/stores/state.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix specs and naming of specs
  ee/spec/frontend/boards/components/board_content_sidebar_spec.js
  spec/frontend/boards/components/board_settings_sidebar_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Rm unused options
  app/assets/javascripts/boards/components/board_content.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix rspec
  app/assets/javascripts/boards/components/board_settings_sidebar.vue
  spec/frontend/boards/components/board_settings_sidebar_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use Cloud Native Buildpacks for new project-level Auto DevOps users
  app/models/project_auto_devops.rb
  db/migrate/20200810184307_add_cnb_enabled_to_project_auto_devops.rb
  db/migrate/20200810184549_change_project_auto_devops_cnb_enabled_default_true.rb
  db/schema_migrations/20200810184307
  db/schema_migrations/20200810184549
  db/structure.sql
  spec/models/project_auto_devops_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement contentTop & unsetActiveID
  app/assets/javascripts/boards/components/board_settings_sidebar.vue
  app/assets/javascripts/boards/stores/actions.js
  ee/app/assets/javascripts/boards/components/board_content_sidebar.vue
  ee/app/assets/javascripts/boards/components/board_settings_wip_limit.vue
  ee/spec/frontend/boards/components/board_settings_wip_limit_spec.js
  spec/frontend/boards/components/board_settings_sidebar_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

update mutations spec
  spec/frontend/boards/stores/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Change naming of constants in boards
  app/assets/javascripts/boards/components/board_card.vue
  app/assets/javascripts/boards/components/board_settings_sidebar.vue
  app/assets/javascripts/boards/constants.js
  ee/app/assets/javascripts/boards/components/board_content_sidebar.vue
  ee/app/assets/javascripts/boards/components/board_list_header.vue
  ee/spec/frontend/boards/components/board_content_sidebar_spec.js
  ee/spec/frontend/boards/components/board_settings_sidebar_spec.js
  spec/frontend/boards/board_card_spec.js
  spec/frontend/boards/components/board_settings_sidebar_spec.js
  spec/frontend/boards/stores/getters_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rm FF guard in board_content_sidebar
  ee/app/assets/javascripts/boards/components/board_content_sidebar.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create project.auto_devops with every new project
  app/models/project.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace fa-tag(s) with GitLab SVG tag icon
  app/assets/stylesheets/pages/pipelines.scss
  app/views/projects/tags/_tag.html.haml
  app/views/projects/tags/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace fa-user(s) with GitLab SVG user icon
  app/assets/javascripts/sidebar/components/assignees/collapsed_assignee_list.vue
  app/assets/javascripts/sidebar/components/participants/participants.vue
  app/views/users/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace fa-calendar with GitLab SVG calendar icon
  app/assets/javascripts/vue_shared/components/sidebar/collapsed_calendar_icon.vue
  app/views/shared/issuable/_sidebar.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace fa-tags with GitLab SVG labels icon
  app/assets/javascripts/vue_shared/components/sidebar/labels_select/dropdown_value_collapsed.vue
  app/views/shared/issuable/_sidebar.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace loading icons in sidebar
  app/assets/stylesheets/pages/issuable.scss
  app/views/shared/issuable/_sidebar.html.haml
  app/views/shared/issuable/_sidebar_assignees.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix specs after replacing icons
  changelogs/unreleased/225926-replace-fa-tag-and-sidebar-icons.yml
  ee/spec/features/epics/epic_labels_spec.rb
  spec/frontend/sidebar/assignees_spec.js
  spec/frontend/sidebar/components/assignees/collapsed_assignee_list_spec.js
  spec/frontend/vue_shared/components/sidebar/labels_select/dropdown_value_collapsed_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

GitLab UI: mrincon/support-vue-router-links-in-dropdowns integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Squash me plz
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add debug output
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Modify actions menu in monitoring dashboard header
  app/assets/javascripts/monitoring/components/dashboard_actions_menu.vue
  app/assets/javascripts/monitoring/components/dashboard_header.vue
  changelogs/unreleased/astoicescu-actions_menu_update.yml
  doc/operations/metrics/dashboards/img/actions_menu_create_new_dashboard_v13_2.png
  doc/operations/metrics/dashboards/img/actions_menu_create_new_dashboard_v13_3.png
  doc/operations/metrics/dashboards/img/metrics_settings_button_v13_2.png
  doc/operations/metrics/dashboards/img/metrics_settings_button_v13_3.png
  doc/operations/metrics/dashboards/index.md
  doc/operations/metrics/img/example-dashboard_v13_1.png
  doc/operations/metrics/img/example-dashboard_v13_3.png
  doc/operations/metrics/img/prometheus_monitoring_dashboard_v13_1.png
  doc/operations/metrics/img/prometheus_monitoring_dashboard_v13_3.png
  doc/operations/metrics/index.md
  locale/gitlab.pot
  qa/qa/page/project/operations/metrics/show.rb
  spec/frontend/monitoring/components/__snapshots__/dashboard_template_spec.js.snap
  spec/frontend/monitoring/components/dashboard_actions_menu_spec.js
  spec/frontend/monitoring/components/dashboard_header_spec.js
  spec/frontend/monitoring/components/dashboard_spec.js
  spec/frontend/monitoring/mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Wait until GitLab is up
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove extra space below breadcrumbs
  app/assets/stylesheets/framework/variables.scss
  changelogs/unreleased/psi-breadcrumb-height.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

BusyBox timeout syntax
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch 'grpc-logger' into 'master'"
  config/initializers/grpc.rb
  doc/administration/gitaly/index.md
  doc/administration/reference_architectures/troubleshooting.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix TLS dir
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Check exit code
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix ruby cmd env var
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix env var
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Push to registry
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix specs
  app/helpers/notes_helper.rb
  app/views/devise/sessions/new.html.haml
  app/views/devise/shared/_signin_box.html.haml
  app/views/devise/shared/_tabs_ldap.html.haml
  app/views/discussions/_notes.html.haml
  app/views/shared/notes/_notes_with_form.html.haml
  doc/subscriptions/index.md
  ee/spec/features/trial_registrations/signup_spec.rb
  ee/spec/features/users/login_spec.rb
  qa/qa/page/main/login.rb
  qa/qa/resource/user.rb
  spec/features/invites_spec.rb
  spec/frontend/notes/mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update Gitaly version to v13.3.0-rc4
  GITALY_SERVER_VERSION
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  changelogs/unreleased/gitaly-version-v13.3.0-rc4.yml
Due: none
