Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Add paths for notes and discussions when presenting single vulnerability
  ee/app/helpers/vulnerabilities_helper.rb
  ee/spec/helpers/vulnerabilities_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add docs for issue activity sort feature
  doc/user/project/issues/img/issue_activity_sort_order_v12_10.png
  doc/user/project/issues/issue_data_and_actions.md
  doc/user/project/issues/managing_issues.md
  doc/user/project/issues/multiple_assignees_for_issues.md
Due: docs lint

Allow epic tree mutation to change parent
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/graphql/mutations/epic_tree/reorder.rb
  ee/app/graphql/types/epic_tree/epic_tree_node_input_type.rb
  ee/app/services/epics/tree_reorder_service.rb
  ee/changelogs/unreleased/33039_backend_drag_drop_change_parent.yml
  ee/spec/requests/api/graphql/mutations/epic_tree/reorder_spec.rb
  ee/spec/services/epics/tree_reorder_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Incorporate TW suggestions to crossplane docs
  doc/user/clusters/applications.md
Due: docs lint

Add deprecation for only/except in Auto DevOps
  doc/topics/autodevops/customize.md
Due: docs lint

Quarantine burndown test waiting on MR
  qa/qa/specs/features/ee/browser_ui/2_plan/burndown_chart/burndown_chart_spec.rb
Due: graphql-reference-verify, pages, cache gems

Fix typo, and order of icons
  doc/topics/autodevops/quick_start_guide.md
Due: docs lint

Ensure an annotation's position is of type Int
  ee/app/assets/javascripts/design_management/components/design_presentation.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added new troubleshooting step
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/merge_trains/index.md
Due: docs lint

Replaced debounce and throttle
  app/assets/javascripts/contextual_sidebar.js
  app/assets/javascripts/create_merge_request_dropdown.js
  app/assets/javascripts/filterable_list.js
  app/assets/javascripts/lazy_loader.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement Terraform State API
  app/models/terraform/state.rb
  app/services/terraform/remote_state_handler.rb
  app/uploaders/terraform/state_uploader.rb
  changelogs/unreleased/feature-gb-terraform-state-locking.yml
  db/migrate/20200402171949_add_lock_id_to_terraform_state.rb
  db/migrate/20200403095403_add_name_to_terraform_state.rb
  db/migrate/20200416120128_add_columns_to_terraform_state.rb
  db/migrate/20200416120354_add_locked_by_user_id_foreign_key_to_terraform_state.rb
  db/structure.sql
  lib/api/terraform/state.rb
  lib/api/validations/validators/limit.rb
  spec/factories/terraform/state.rb
  spec/factories/users.rb
  spec/lib/api/validations/validators/limit_spec.rb
  spec/models/terraform/state_spec.rb
  spec/requests/api/terraform/state_spec.rb
  spec/services/terraform/remote_state_handler_spec.rb
  spec/support/helpers/api_helpers.rb
  spec/uploaders/terraform/state_uploader_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add raw endpoints for terraform state locking / unlocking
  app/models/terraform/state.rb
  app/services/terraform/remote_state_handler.rb
  db/migrate/20200402171949_add_lock_id_to_terraform_state.rb
  db/migrate/20200403095403_add_name_to_terraform_state.rb
  db/structure.sql
  lib/api/terraform/state.rb
  spec/requests/api/terraform/state_spec.rb
  spec/services/terraform/remote_state_handler_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update dependency @gitlab/ui to v12.0.3
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add spec for getAnnotationPositon
  ee/spec/frontend/design_management/components/design_presentation_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix existing tests for terraform state backend
  spec/requests/api/terraform/state_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add static site editor documentation
  doc/README.md
  doc/user/project/static_site_editor/img/edit_this_page_button_v12_10.png
  doc/user/project/static_site_editor/img/static_site_editor_v12_10.png
  doc/user/project/static_site_editor/index.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix resolve WIP clearing merge request area
  app/controllers/projects/merge_requests_controller.rb
  app/serializers/merge_request_serializer.rb
  changelogs/unreleased/sh-fix-wip-resolve-merge-request.yml
  spec/controllers/projects/merge_requests_controller_spec.rb
  spec/features/merge_request/user_resolves_wip_mr_spec.rb
  spec/serializers/merge_request_serializer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Disambiguate tag in GraphQL docs
  app/graphql/types/project_type.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Cosmetic changes for Epic Health Status
  app/assets/javascripts/main.js
  app/assets/javascripts/vue_shared/components/sidebar/toggle_sidebar.vue
  app/assets/stylesheets/components/related_items_list.scss
  doc/user/project/issues/img/epic_tree_health_status_v12_10.png
  ee/app/assets/javascripts/related_items_tree/components/epic_health_status.vue
  ee/app/assets/javascripts/related_items_tree/components/related_items_tree_app.vue
  ee/app/assets/javascripts/related_items_tree/components/related_items_tree_header.vue
  ee/app/assets/javascripts/related_items_tree/components/tree_item_body.vue
  ee/app/assets/stylesheets/components/related_items_tree.scss
  ee/changelogs/unreleased/epic-health-cosmetic-changes.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add a new default format for yAxis labels in monitor charts
  app/assets/javascripts/lib/utils/unit_format/index.js
  app/assets/javascripts/monitoring/components/charts/options.js
  app/assets/javascripts/monitoring/stores/utils.js
  changelogs/unreleased/2084831.yml
  spec/frontend/monitoring/components/charts/options_spec.js
  spec/frontend/monitoring/components/charts/time_series_spec.js
  spec/frontend/monitoring/store/utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Store statistics on jira imported issues counts
  app/models/concerns/issuable.rb
  app/models/jira_import_state.rb
  app/workers/gitlab/jira_import/stage/finish_import_worker.rb
  changelogs/unreleased/jira-import-issues-count.yml
  lib/gitlab/jira_import.rb
  spec/models/jira_import_state_spec.rb
  spec/workers/gitlab/jira_import/stage/finish_import_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

CI variable doc improvements
  doc/ci/variables/README.md
Due: docs lint

Update CHANGELOG.md for 12.9.4
  CHANGELOG.md
Due: none

Ensure embeds cache correctly
  app/services/metrics/dashboard/transient_embed_service.rb
  spec/services/metrics/dashboard/transient_embed_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Extending resource_group docs
  doc/ci/yaml/README.md
Due: docs lint

Document `EXECUTOR_JOB_SECTION_ATTEMPTS` variable
  doc/ci/yaml/README.md
Due: docs lint

Update link to 'PostgreSQL versions shipped with Omnibus GitLab'
  doc/development/pipelines.md
Due: docs lint

Update CHANGELOG-EE.md for 12.9.4-ee
  CHANGELOG-EE.md
Due: none

Stop running quarantined specs
  .gitlab/ci/rails.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add skeleton for GlFilteredSearch
  ee/app/assets/javascripts/analytics/code_review_analytics/code_review_analytics_bundle.js
  ee/app/assets/javascripts/analytics/code_review_analytics/components/app.vue
  ee/app/controllers/projects/analytics/code_reviews_controller.rb
  ee/app/views/projects/analytics/code_reviews/index.html.haml
  ee/spec/features/analytics/code_analytics_spec.rb
  ee/spec/frontend/analytics/code_review_analytics/components/app_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs: Move the failover info into the praefect section
  doc/administration/gitaly/praefect.md
Due: docs lint

Add fallback option for overflowed MRDs
  app/models/merge_request.rb
  app/models/merge_request_diff.rb
  spec/models/merge_request_diff_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add support for /file_hooks directory
  .codeclimate.yml
  .rubocop.yml
  changelogs/unreleased/dz-file-hooks-dir-support.yml
  doc/administration/file_hooks.md
  file_hooks/.gitignore
  file_hooks/examples/save_to_file.clj
  file_hooks/examples/save_to_file.rb
  lib/gitlab/file_hook.rb
  lib/tasks/file_hooks.rake
  spec/lib/gitlab/file_hook_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

New middleman project template
  app/assets/javascripts/projects/default_project_templates.js
  changelogs/unreleased/add_new_project_template.yml
  lib/gitlab/project_template.rb
  locale/gitlab.pot
  spec/lib/gitlab/project_template_spec.rb
  vendor/project_templates/sse_middleman.tar.gz
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

fix: updating options string to be raw data
  spec/frontend/monitoring/components/charts/options_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Migrate pipelines/graph component specs to jest
  spec/frontend/pipelines/graph/action_component_spec.js
  spec/frontend/pipelines/graph/graph_component_spec.js
  spec/frontend/pipelines/graph/job_group_dropdown_spec.js
  spec/frontend/pipelines/graph/job_item_spec.js
  spec/frontend/pipelines/graph/job_name_component_spec.js
  spec/frontend/pipelines/graph/linked_pipeline_spec.js
  spec/frontend/pipelines/graph/linked_pipelines_column_spec.js
  spec/frontend/pipelines/graph/linked_pipelines_mock_data.js
  spec/frontend/pipelines/graph/mock_data.js
  spec/frontend/pipelines/graph/stage_column_component_spec.js
  spec/javascripts/pipelines/graph/graph_component_spec.js
  spec/javascripts/pipelines/graph/job_name_component_spec.js
  spec/javascripts/pipelines/graph/linked_pipelines_column_spec.js
  spec/javascripts/pipelines/graph/linked_pipelines_mock_data.js
  spec/javascripts/pipelines/graph/stage_column_component_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update packages_list_row snapshot
  ee/spec/frontend/packages/list/components/__snapshots__/packages_list_row_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add data-qa-selector to packageEntity link
  ee/app/assets/javascripts/packages/list/components/packages_list_row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Group name validation only on group name update
  app/models/group.rb
  ee/spec/controllers/subscriptions_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Default the :tasks_by_type_chart feature flag on
  doc/user/analytics/value_stream_analytics.md
  ee/app/controllers/analytics/cycle_analytics_controller.rb
  ee/app/controllers/groups/analytics/cycle_analytics_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
