Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Remove unused code
  ee/app/assets/javascripts/dependencies/components/dependencies_table.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated Snippet Description Snapshot
  spec/frontend/snippets/components/__snapshots__/snippet_description_edit_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fixed template issue
  app/assets/javascripts/diffs/components/inline_diff_view.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixed double batch comments getting rendered
  app/assets/javascripts/diffs/components/inline_diff_view.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove tech debt added with unified diff lines
  app/assets/javascripts/diffs/components/app.vue
  app/assets/javascripts/diffs/components/diff_content.vue
  app/assets/javascripts/diffs/components/diff_expansion_cell.vue
  app/assets/javascripts/diffs/components/diff_line_note_form.vue
  app/assets/javascripts/diffs/components/diff_table_cell.vue
  app/assets/javascripts/diffs/components/inline_diff_view.vue
  app/assets/javascripts/diffs/components/parallel_diff_comment_row.vue
  app/assets/javascripts/diffs/components/parallel_diff_expansion_row.vue
  app/assets/javascripts/diffs/components/parallel_diff_table_row.vue
  app/assets/javascripts/diffs/store/actions.js
  app/assets/javascripts/diffs/store/mutation_types.js
  app/assets/javascripts/diffs/store/mutations.js
  app/assets/javascripts/diffs/store/utils.js
  app/controllers/projects/merge_requests_controller.rb
  spec/frontend/diffs/components/app_spec.js
  spec/frontend/diffs/components/diff_expansion_cell_spec.js
  spec/frontend/diffs/components/inline_diff_view_spec.js
  spec/frontend/diffs/store/actions_spec.js
  spec/frontend/diffs/store/mutations_spec.js
  spec/frontend/diffs/store/utils_spec.js
  spec/spec_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Set configurable file count threshold
  scripts/rspec_helpers.sh
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test: RSPEC_IMPACT_ENABLED
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

test threshold
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename DevOps Score to DevOps Report
  app/assets/javascripts/admin/dev_ops_report/components/usage_ping_disabled.vue
  app/assets/javascripts/pages/admin/dev_ops_report/index.js
  app/assets/stylesheets/_page_specific_files.scss
  app/assets/stylesheets/pages/dev_ops_report.scss
  app/controllers/admin/dev_ops_report_controller.rb
  app/helpers/dev_ops_report_helper.rb
  app/helpers/nav_helper.rb
  app/models/dev_ops_report/card.rb
  app/models/dev_ops_report/idea_to_production_step.rb
  app/models/dev_ops_report/metric.rb
  app/presenters/dev_ops_score/metric_presenter.rb
  app/services/submit_usage_ping_service.rb
  app/views/admin/dev_ops_report/_callout.html.haml
  app/views/admin/dev_ops_report/_card.html.haml
  app/views/admin/dev_ops_report/_no_data.html.haml
  app/views/admin/dev_ops_report/show.html.haml
  app/views/layouts/nav/sidebar/_admin.html.haml
  app/views/shared/icons/_dev_ops_report_no_data.svg
  app/views/shared/icons/_dev_ops_report_no_index.svg
  app/views/shared/icons/_dev_ops_report_overview.svg
  config/routes.rb
  config/routes/admin.rb
  db/fixtures/development/21_dev_ops_report_metrics.rb
  ee/config/routes/analytics.rb
  ee/spec/requests/admin/dev_ops_report_spec.rb
  rubocop/cop/avoid_route_redirect_leading_slash.rb
  spec/controllers/admin/dev_ops_report_controller_spec.rb
  spec/factories/dev_ops_report_metrics.rb
  spec/features/admin/admin_dev_ops_report_spec.rb
  spec/models/dev_ops_report/metric_spec.rb
  spec/presenters/dev_ops_report/metric_presenter_spec.rb
  spec/routing/admin_routing_spec.rb
  spec/routing/instance_statistics_routing_spec.rb
  spec/services/submit_usage_ping_service_spec.rb
  spec/views/layouts/nav/sidebar/_admin.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Internationalize Admin labels new
  app/views/admin/labels/new.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update new.html.haml
  app/views/admin/labels/new.html.haml
  changelogs/unreleased/suzu-1990-gitlab-suzu-1990-master-patch-64517.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Prettify
  app/assets/javascripts/notes/components/discussion_counter.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate MR threads toolbar to GitLab UI
  app/assets/javascripts/notes/components/discussion_counter.vue
  app/assets/stylesheets/pages/notes.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve toggle threads tooltip text behavior
  app/assets/javascripts/notes/components/discussion_counter.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Testing out some main.js restructuring for reduction
  app/assets/javascripts/main.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  changelogs/unreleased/ag-make-feature-ga.yml
Due: none

Update translations file
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create database tables to represent CODEOWNERS
  changelogs/unreleased/id-code-owners-db-tables.yml
  db/migrate/20200826113514_add_code_owners_tables.rb
  db/schema_migrations/20200826113514
  db/structure.sql
  ee/app/models/concerns/ee/protected_branch.rb
  ee/app/models/protected_branch/code_owners/entry.rb
  ee/app/models/protected_branch/code_owners/file.rb
  ee/app/models/protected_branch/code_owners/section.rb
  ee/spec/models/ee/protected_branch_spec.rb
  ee/spec/models/protected_branch/code_owners/entry_spec.rb
  ee/spec/models/protected_branch/code_owners/file_spec.rb
  ee/spec/models/protected_branch/code_owners/section_spec.rb
  spec/lib/gitlab/import_export/all_models.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update variables to disable jobs
  doc/topics/autodevops/customize.md
Due: docs lint

Quarantine confidential epic test in epics_management_spec.rb
  qa/qa/specs/features/ee/browser_ui/2_plan/epic/epics_management_spec.rb
Due: graphql-reference-verify, pages, cache gems

Replace new Flash with Flash
  app/assets/javascripts/blob/balsamiq_viewer.js
  app/assets/javascripts/blob/file_template_mediator.js
  app/assets/javascripts/blob/viewer/index.js
  app/assets/javascripts/create_merge_request_dropdown.js
  app/assets/javascripts/cycle_analytics/cycle_analytics_bundle.js
  app/assets/javascripts/diff_notes/components/resolve_btn.js
  app/assets/javascripts/diff_notes/services/resolve.js
  app/assets/javascripts/filtered_search/dropdown_emoji.js
  app/assets/javascripts/filtered_search/dropdown_non_user.js
  app/assets/javascripts/filtered_search/filtered_search_manager.js
  app/assets/javascripts/filtered_search/visual_token_value.js
  app/assets/javascripts/issuable_bulk_update_actions.js
  app/assets/javascripts/notes.js
  app/assets/javascripts/pages/search/show/search.js
  app/assets/javascripts/sidebar/sidebar_mediator.js
  app/assets/javascripts/static_site_editor/image_repository.js
  app/assets/javascripts/task_list.js
  ee/app/assets/javascripts/pages/trials/country_select.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Stop exposing Flash on window Object
  app/assets/javascripts/commit_merge_requests.js
  app/assets/javascripts/flash.js
  app/assets/javascripts/groups/components/app.vue
  app/assets/javascripts/sidebar/lib/sidebar_move_issue.js
  spec/frontend/filtered_search/filtered_search_manager_spec.js
  spec/frontend/filtered_search/visual_token_value_spec.js
  spec/frontend/groups/components/app_spec.js
  spec/frontend/sidebar/sidebar_move_issue_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Prevent check_allowed_absolute_path! from raising errors
  spec/lib/gitlab/utils_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add board sidebar item wrapper
  ee/app/assets/javascripts/boards/components/board_content_sidebar.vue
  ee/app/assets/javascripts/boards/components/sidebar/board_sidebar_item.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  app/models/ci/pipeline.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add new file
  changelogs/unreleased/38673-CI_HAS_OPEN_MERGE_REQUEST.md
Due: none

Clarifying some info about sidekiq jobs in background migrations
  doc/development/background_migrations.md
Due: docs lint

Test exceed threshold
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add logging of failed queries in BatchCount
  lib/gitlab/database/batch_count.rb
  spec/lib/gitlab/database/batch_count_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update 38673-CI_HAS_OPEN_MERGE_REQUEST.md
  changelogs/unreleased/38673-CI_HAS_OPEN_MERGE_REQUEST.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  doc/ci/variables/predefined_variables.md
Due: docs lint

Update pipeline_spec.rb
  spec/models/ci/pipeline_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/ci/yaml/README.md
Due: docs lint

Revert "Merge branch 'add-sha-for-background-migration' into 'master'"
  db/post_migrate/20200824140259_update_location_fingerprint_for_cs_findings.rb
  db/post_migrate/20200907123723_fix_update_location_fingerprint_for_cs_findings.rb
  db/schema_migrations/20200907123723
  ee/changelogs/unreleased/add-sha-for-background-migration.yml
  ee/lib/ee/gitlab/background_migration/update_location_fingerprint_for_cs_findings.rb
  ee/spec/lib/ee/gitlab/background_migration/update_location_fingerprint_for_cs_findings_spec.rb
  ee/spec/migrations/20200824140259_update_location_fingerprint_for_cs_findings_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add index to ci_builds table for usage_data
  changelogs/unreleased/230438-usage-data-optimize-usage_activity_by_stage-counters.yml
  db/post_migrate/20200908064229_add_partial_index_to_ci_buils_table_on_user_id_name_type.rb
  db/schema_migrations/20200908064229
  db/structure.sql
  spec/migrations/add_partial_index_to_ci_buils_table_on_user_id_name_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve ProjectSettings spec runtime
  ee/spec/models/compliance_management/compliance_framework/project_settings_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix rubocop warning
  ee/spec/models/license_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Return false explicitly
  ee/app/models/license.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add missing method total_user_count
  ee/app/helpers/license_monitoring_helper.rb
  ee/app/views/layouts/header/_licensed_user_count_threshold.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move active user count logic to License model
  ee/app/helpers/license_monitoring_helper.rb
  ee/app/models/license.rb
  ee/spec/helpers/license_monitoring_helper_spec.rb
  ee/spec/models/license_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
