Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Change data-toggle: 'tab' to Ruby syntax
  app/views/groups/group_members/index.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Convert double quotes to single quotes
  app/views/groups/group_members/index.html.haml
  app/views/shared/members/_search_field.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply test label for files related to feature specs
  lib/gitlab/danger/helper.rb
  spec/lib/gitlab/danger/helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix failing QA spec
  app/views/groups/group_members/index.html.haml
  qa/qa/page/group/members.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update auto-build-image to v0.4.0
  changelogs/unreleased/update-auto-build-image-to-v0-4-0.yml
  lib/gitlab/ci/templates/Jobs/Build.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Simplify instance_review_permitted? spec
  ee/spec/models/application_setting_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove EE from supported procedures in Azure documentation
  doc/install/azure/index.md
Due: docs lint

Extend composer specs to cover group visibility
  spec/requests/api/composer_packages_spec.rb
  spec/support/shared_examples/requests/api/composer_packages_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Improve documentation for `job:artifacts:expire_in: never`
  doc/ci/yaml/README.md
Due: docs lint

Add E2E spec for creating confidential epics
  ee/app/assets/javascripts/epic/components/epic_create.vue
  qa/qa/ee/page/group/epic/index.rb
  qa/qa/ee/resource/epic.rb
  qa/qa/specs/features/ee/browser_ui/2_plan/epic/epics_management_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix identicon spec
  spec/frontend/vue_shared/components/identicon_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix MetricCard template
  ee/app/assets/javascripts/analytics/shared/components/metric_card.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix VulnerabilityStateDropdown spec
  ee/spec/frontend/vulnerabilities/vulnerability_state_dropdown_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix import paths in two specs
  spec/frontend/registry/explorer/pages/details_spec.js
  spec/frontend/registry/explorer/pages/list_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add CSV response helper for controller specs
  spec/support/csv_response.rb
  spec/support/shared_contexts/csv_response_shared_context.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix the description of ci merge request ID and IID variables
  doc/ci/variables/predefined_variables.md
Due: docs lint

Expose epic groupings in boards
  ee/app/finders/epics_finder.rb
  ee/app/graphql/ee/types/board_type.rb
  ee/app/graphql/resolvers/board_groupings/epics_resolver.rb
  ee/spec/finders/epics_finder_spec.rb
  ee/spec/graphql/ee/types/board_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added more tests and minor cleanups
  app/services/boards/issues/list_service.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/finders/epics_finder.rb
  ee/app/graphql/ee/types/board_type.rb
  ee/app/graphql/resolvers/board_groupings/epics_resolver.rb
  ee/app/graphql/types/board_epic_issue_input_type.rb
  ee/app/models/ee/issue.rb
  ee/changelogs/unreleased/218040-graphql-expose-board-epics.yml
  ee/spec/finders/epics_finder_spec.rb
  ee/spec/graphql/ee/types/board_type_spec.rb
  ee/spec/graphql/resolvers/board_groupings/epics_resolvers_spec.rb
  ee/spec/models/issue_spec.rb
  ee/spec/requests/api/graphql/boards/boards_query_spec.rb
  spec/support/shared_examples/services/boards/issues_list_service_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change EpicsFinder to get epics related to a given issue list
  app/services/boards/issues/list_service.rb
  ee/app/finders/epics_finder.rb
  ee/app/graphql/ee/types/board_type.rb
  ee/app/graphql/resolvers/board_groupings/epics_resolver.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add db table and model to track changes of iteration
  app/models/resource_iteration_event.rb
  app/models/resource_milestone_event.rb
  app/models/resource_timebox_event.rb
  changelogs/unreleased/create-resource-iteration-events-table.yml
  db/migrate/20200722131241_create_resource_iteration_events_table.rb
  db/migrate/20200722132040_add_users_fk_to_resource_iteration_events_table.rb
  db/migrate/20200722132540_add_issues_fk_to_resource_iteration_events_table.rb
  db/migrate/20200722133040_add_merge_requests_fk_to_resource_iteration_events_table.rb
  db/migrate/20200722133540_add_iterations_fk_to_resource_iteration_events_table.rb
  db/schema_migrations/20200722131241
  db/schema_migrations/20200722132040
  db/schema_migrations/20200722132540
  db/schema_migrations/20200722133040
  db/schema_migrations/20200722133540
  db/structure.sql
  spec/db/schema_spec.rb
  spec/factories/resource_iteration_event.rb
  spec/models/resource_iteration_event_spec.rb
  spec/models/resource_milestone_event_spec.rb
  spec/support/shared_examples/models/resource_event_shared_examples.rb
  spec/support/shared_examples/models/resource_timebox_event_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update SSH E2E test
  qa/qa/git/repository.rb
  qa/qa/resource/project.rb
  qa/qa/specs/features/browser_ui/3_create/merge_request/create_merge_request_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/push_http_private_token_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/push_over_http_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/push_over_ssh_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/use_ssh_key_spec.rb
Due: graphql-reference-verify, pages, cache gems

Upgrade Pages to 1.22.0
  GITLAB_PAGES_VERSION
  changelogs/unreleased/bump-gitlab-pages-1-22-0.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Version-app url should be environment specific
  app/services/submit_usage_ping_service.rb
  spec/services/submit_usage_ping_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix new footer section in template
  .gitlab/issue_templates/Feature proposal.md
Due: none

Fix flaky spec in spec/features/issues/gfm_autocomplete_spec.rb
  app/assets/javascripts/vue_shared/components/gl_mentions.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Clean up DastSite on DastSiteProfile destroy
  ee/app/models/dast_site_profile.rb
  ee/spec/models/dast_site_profile_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixes main https://gitlab.com/gitlab-org/gitlab/-/issues/30430 by not creating detached head
  app/views/projects/merge_requests/_how_to_merge.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Modify actions menu in monitoring dashboard header
  app/assets/javascripts/monitoring/components/dashboard_actions_menu.vue
  app/assets/javascripts/monitoring/components/dashboard_header.vue
  changelogs/unreleased/astoicescu-actions_menu_update.yml
  doc/operations/metrics/dashboards/img/actions_menu_create_new_dashboard_v13_2.png
  doc/operations/metrics/dashboards/img/actions_menu_create_new_dashboard_v13_3.png
  doc/operations/metrics/dashboards/img/metrics_settings_button_v13_2.png
  doc/operations/metrics/dashboards/img/metrics_settings_button_v13_3.png
  doc/operations/metrics/dashboards/index.md
  doc/operations/metrics/img/example-dashboard_v13_1.png
  doc/operations/metrics/img/example-dashboard_v13_3.png
  doc/operations/metrics/img/prometheus_monitoring_dashboard_v13_1.png
  doc/operations/metrics/img/prometheus_monitoring_dashboard_v13_3.png
  doc/operations/metrics/index.md
  locale/gitlab.pot
  qa/qa/page/project/operations/metrics/show.rb
  spec/frontend/monitoring/components/__snapshots__/dashboard_template_spec.js.snap
  spec/frontend/monitoring/components/dashboard_actions_menu_spec.js
  spec/frontend/monitoring/components/dashboard_header_spec.js
  spec/frontend/monitoring/components/dashboard_spec.js
  spec/frontend/monitoring/mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add E2E tests for Group SSO Membership
  ee/app/views/groups/saml_providers/_form.html.haml
  qa/qa/ee/page/group/settings/saml_sso.rb
  qa/qa/flow/saml.rb
  qa/qa/specs/features/ee/browser_ui/1_manage/group/group_saml_non_enforced_sso_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove usage of `sign_out_if_signed_in `
  qa/qa/specs/features/ee/browser_ui/1_manage/group/group_saml_non_enforced_sso_spec.rb
Due: graphql-reference-verify, pages, cache gems

Use enriched id type in on-demand scan mutation
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/assets/javascripts/on_demand_scans/graphql/dast_on_demand_scan_create.mutation.graphql
  ee/app/graphql/mutations/dast_on_demand_scans/create.rb
  ee/spec/graphql/mutations/dast_on_demand_scans/create_spec.rb
  ee/spec/requests/api/graphql/mutations/dast_on_demand_scans/create_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor PAT policy specs
  app/policies/personal_access_token_policy.rb
  spec/policies/personal_access_token_policy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds a new create flash function
  app/assets/javascripts/flash.js
  spec/frontend/flash_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add a new composer installation component
  app/assets/javascripts/packages/details/components/composer_installation.vue
  app/assets/javascripts/packages/details/components/installation_commands.vue
  app/assets/javascripts/packages/details/constants.js
  app/assets/javascripts/packages/details/store/getters.js
  app/helpers/packages_helper.rb
  app/views/projects/packages/packages/show.html.haml
  changelogs/unreleased/232794-include-the-installation-instructions-for-composer-dependencies-in.yml
  locale/gitlab.pot
  spec/frontend/packages/details/components/composer_installation_spec.js
  spec/frontend/packages/details/components/installations_commands_spec.js
  spec/helpers/packages_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace legacy github client in GitHub Controller
  app/controllers/import/gitea_controller.rb
  app/controllers/import/github_controller.rb
  app/services/import/github_service.rb
  ee/spec/features/projects/new_project_spec.rb
  lib/api/import_github.rb
  locale/gitlab.pot
  spec/controllers/import/gitea_controller_spec.rb
  spec/controllers/import/github_controller_spec.rb
  spec/requests/api/import_github_spec.rb
  spec/services/import/github_service_spec.rb
  spec/support/shared_examples/controllers/githubish_import_controller_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Quarantine flaky N+1 system test
  spec/features/issuables/issuable_list_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update CHANGELOG-EE.md for 13.2.4-ee
  CHANGELOG-EE.md
  ee/changelogs/unreleased/233017-preload-associations-in-graphql-vulnerability-type.yml
Due: none

Update error tracking utilities
  app/assets/javascripts/error_tracking/components/error_tracking_actions.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update CHANGELOG.md for 13.2.4
  CHANGELOG.md
  changelogs/unreleased/sarnold-fix-prometheus-issue-creation.yml
Due: none

Add links to SAST Configuration UI
  ee/app/assets/javascripts/security_configuration/components/app.vue
  ee/app/assets/javascripts/security_configuration/components/manage_feature.vue
  ee/app/controllers/projects/security/configuration_controller.rb
  ee/app/presenters/projects/security/configuration_presenter.rb
  ee/spec/frontend/security_configuration/components/app_spec.js
  ee/spec/frontend/security_configuration/components/helpers.js
  ee/spec/frontend/security_configuration/components/manage_feature_spec.js
  ee/spec/presenters/projects/security/configuration_presenter_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
