Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

test: test when licenses are removed or added
  ee/app/models/sca/license_compliance.rb
  ee/spec/models/sca/license_compliance_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

refactor: extract method to find policy
  ee/app/models/sca/license_compliance.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace v-html with v-safe-html
  app/assets/javascripts/alert_management/components/alert_details.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs: Fixed duplicate remove topics
  doc/api/runners.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/integration/saml.md
Due: docs lint

Store pipeline counts by status
  app/graphql/types/admin/analytics/instance_statistics/measurement_identifier_enum.rb
  app/models/analytics/instance_statistics/measurement.rb
  app/workers/analytics/instance_statistics/count_job_trigger_worker.rb
  config/feature_flags/development/store_ci_pipeline_counts_by_status.yml
  db/post_migrate/20200922170907_change_index_on_pipeline_status.rb
  db/schema_migrations/20200922170907
  db/structure.sql
  spec/factories/instance_statistics/measurement.rb
  spec/graphql/resolvers/admin/analytics/instance_statistics/measurements_resolver_spec.rb
  spec/models/analytics/instance_statistics/measurement_spec.rb
  spec/workers/analytics/instance_statistics/count_job_trigger_worker_spec.rb
  spec/workers/analytics/instance_statistics/counter_job_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/api/runners.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  app/helpers/packages_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Re-add tip box but make it better
  doc/operations/incident_management/alerts.md
Due: docs lint

Build out lint results
  app/assets/javascripts/ci_lint/components/ci_lint.vue
  app/assets/javascripts/ci_lint/components/ci_lint_results.vue
  app/assets/javascripts/ci_lint/components/ci_lint_warnings.vue
  app/assets/javascripts/ci_lint/graphql/mutations/lint_ci.mutation.graphql
  app/assets/javascripts/ci_lint/index.js
  app/views/projects/ci/lints/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

refactor: update serializer to map from LicensePolicy
  ee/app/serializers/license_scanning_report_license_entity.rb
  ee/spec/serializers/license_scanning_report_license_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Ensure the state and confidentialy filters are present
  app/assets/javascripts/pages/search/show/index.js
  app/assets/javascripts/search/confidential_filter/index.js
  app/assets/javascripts/search/state_filter/index.js
  app/controllers/search_controller.rb
  app/views/search/_results.html.haml
  app/views/search/results/_filters.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

refactor: replace find with hash lookup
  ee/app/models/sca/license_compliance.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add section to docs about multiple registries
  doc/user/packages/npm_registry/index.md
Due: docs lint

Limit incident assignees to single
  app/assets/javascripts/incidents/components/incidents_list.vue
  app/assets/javascripts/incidents/graphql/queries/get_count_by_status.query.graphql
  app/assets/javascripts/incidents/graphql/queries/get_incidents.query.graphql
  app/graphql/resolvers/concerns/issue_resolver_arguments.rb
  spec/frontend/incidents/components/incidents_list_spec.js
  spec/graphql/resolvers/issues_resolver_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add context to codeblock to pass linter
  doc/user/packages/npm_registry/index.md
Due: docs lint

Consolidate use cases for GitHub import
  doc/user/project/import/github.md
Due: docs lint

fix: render approval_status instead of classification
  ee/app/serializers/license_scanning_report_license_entity.rb
  ee/spec/serializers/license_scanning_report_license_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

refactor: do not specify default report
  ee/lib/gitlab/ci/reports/license_scanning/reports_comparer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Users should create default list regardless of ability to create issues
  app/assets/javascripts/boards/stores/boards_store.js
  ee/spec/features/boards/group_boards/multiple_boards_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create a test for ableist words
  doc/.vale/gitlab/InclusionAbleism.yml
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/user/project/import/github.md
Due: docs lint

Create a test for gender-specific words
  doc/.vale/gitlab/InclusionGender.yml
Due: docs lint

refactor: inline usage of dependency_list_report
  ee/app/models/sca/license_compliance.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create a test for culturally inappropriate words
  doc/.vale/gitlab/InclusionCultural.yml
Due: docs lint

Move non-inclusive words to new inclusion test
  doc/.vale/gitlab/InclusionCultural.yml
  doc/.vale/gitlab/SubstitutionWarning.yml
Due: docs lint

Cross-link style guide to new tests
  doc/development/documentation/styleguide.md
Due: docs lint

Add a note about downstream private pipelines
  doc/ci/multi_project_pipelines.md
Due: docs lint

Add per pipeline testing
  qa/qa/specs/helpers/pipeline_constraint.rb
  qa/qa/specs/helpers/quarantine.rb
Due: graphql-reference-verify, pages, cache gems

Improve detection of similarity sorting in GraphQL
  lib/gitlab/database/similarity_score.rb
  lib/gitlab/graphql/pagination/keyset/order_info.rb
  spec/lib/gitlab/database/similarity_score_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/user/project/clusters/index.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/user/instance/clusters/index.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/user/group/clusters/index.md
Due: docs lint

fix: use fully qualified name to prevent collision with app/models/vulnerability.rb
  ee/lib/gitlab/ci/reports/dependency_list/dependency.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

fix: return parsed license scan report when dependency list report parser fails
  ee/app/models/sca/license_compliance.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fetch more group projects
  ee/app/assets/javascripts/analytics/repository_analytics/components/group_repository_analytics.vue
  ee/app/assets/javascripts/analytics/repository_analytics/graphql/queries/get_group_projects.query.graphql
  ee/spec/frontend/analytics/repository_analytics/components/group_repository_analytics_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
