Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Add a design suggestion template for creating a new issue
  .gitlab/issue_templates/Design Suggestion.md
Due: none

Enable cop rule RSpec/InstanceVariable
  .rubocop.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch..."
  app/assets/javascripts/vue_merge_request_widget/components/states/ready_to_merge.vue
  app/assets/javascripts/vue_merge_request_widget/constants.js
  ee/app/assets/javascripts/vue_merge_request_widget/components/merge_train_helper_text.vue
  ee/app/assets/javascripts/vue_merge_request_widget/mixins/ready_to_merge.js
  ee/app/assets/javascripts/vue_merge_request_widget/mr_widget_options.vue
  ee/changelogs/unreleased/218084-merge-widget-gives-ambiguous-ui-instructions-when-merge-trains-.yml
  ee/spec/features/merge_trains/user_adds_to_merge_train_when_pipeline_succeeds_spec.rb
  ee/spec/frontend/vue_mr_widget/components/merge_train_helper_text_spec.js
  ee/spec/frontend/vue_mr_widget/components/states/mr_widget_ready_to_merge_spec.js
  ee/spec/frontend/vue_mr_widget/ee_mr_widget_options_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch '231357-enable-sast_configuration_ui-feature-flag-by-default' into 'master'"
  doc/user/application_security/configuration/index.md
  doc/user/application_security/index.md
  doc/user/application_security/sast/index.md
  ee/app/controllers/projects/security/configuration_controller.rb
  ee/app/controllers/projects/security/sast_configuration_controller.rb
  ee/changelogs/unreleased/231357-enable-sast_configuration_ui-feature-flag-by-default.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Increase tests personal access token expiry
  qa/qa/resource/personal_access_token.rb
Due: graphql-reference-verify, pages, cache gems

Add changelog entry
  changelogs/unreleased/john_long-add-support-for-rhel-8-db-key-lookup.yml
Due: none

Fix series labels inside area and line chart tooltips
  app/assets/javascripts/monitoring/components/charts/time_series.vue
  app/assets/stylesheets/pages/prometheus.scss
  changelogs/unreleased/astoicescu-chartTooltipSeriesLabels.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement GraphQL for pipeline header
  app/assets/javascripts/pipelines/components/header_component.vue
  app/assets/javascripts/pipelines/constants.js
  app/assets/javascripts/pipelines/graphql/queries/get_pipeline_header_data.query.graphql
  app/assets/javascripts/pipelines/pipeline_details_bundle.js
  app/assets/javascripts/pipelines/pipeline_details_header.js
  app/assets/javascripts/vue_shared/components/ci_badge_link.vue
  app/views/projects/pipelines/show.html.haml
  spec/frontend/pipelines/header_component_spec.js
  spec/frontend/pipelines/mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add user data from GraphQL
  app/assets/javascripts/pipelines/components/header_component.vue
  app/assets/javascripts/pipelines/graphql/queries/get_pipeline_header_data.query.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use new user attributes from GraphQL
  app/assets/javascripts/vue_shared/components/header_ci_component.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Spec example
  spec/lib/gitlab/auth/o_auth/user_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix specs and merge
  app/assets/javascripts/design_management/index.js
  app/assets/javascripts/issue_show/components/app.vue
  app/assets/javascripts/issue_show/index.js
  app/controllers/projects/issues_controller.rb
  app/helpers/issuables_helper.rb
  app/views/projects/issues/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create dedicated rails console page based on debugging page
  doc/administration/operations/railsconsole.md
Due: docs lint

Remove non-rails console/runner content and revise
  doc/administration/operations/railsconsole.md
Due: docs lint

Revise starting console sections in troubleshooting
  doc/administration/troubleshooting/debug.md
  doc/administration/troubleshooting/navigating_gitlab_via_rails_console.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/user/packages/container_registry/index.md
Due: docs lint

PgBouncer - bypass procedure
  doc/administration/postgresql/pgbouncer.md
Due: docs lint

PgBouncer issues - backup and restore
  doc/raketasks/backup_restore.md
Due: docs lint

start expanding on k8s dashboard instructions
  doc/administration/troubleshooting/kubernetes_cheat_sheet.md
Due: docs lint

Remove migration to backfill design positions
  db/post_migrate/20200724130639_backfill_designs_relative_position.rb
  lib/gitlab/background_migration/backfill_designs_relative_position.rb
  spec/lib/gitlab/background_migration/backfill_designs_relative_position_spec.rb
  spec/migrations/backfill_designs_relative_position_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable lib in rubocop
  .rubocop.yml
  lib/gitlab/google_code_import/importer.rb
  spec/lib/gitlab/instrumentation_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix some bugs
  .rubocop.yml
  ee/spec/lib/ee/gitlab/checks/push_rules/commit_check_spec.rb
  ee/spec/lib/gitlab/git_access_spec.rb
  lib/gitlab/danger/teammate.rb
  lib/gitlab/fogbugz_import/importer.rb
  lib/gitlab/github_import/representation.rb
  lib/gitlab/google_code_import/importer.rb
  lib/gitlab/incident_management/pager_duty/incident_issue_description.rb
  lib/gitlab/kubernetes.rb
  lib/gitlab/popen.rb
  lib/gitlab/puma_logging/json_formatter.rb
  lib/gitlab/serverless/service.rb
  lib/gitlab/sherlock/transaction.rb
  lib/tasks/gitlab/backup.rake
  spec/lib/api/helpers_spec.rb
  spec/lib/gitlab/ci/charts_spec.rb
  spec/lib/gitlab/git/branch_spec.rb
  spec/lib/gitlab/git/commit_spec.rb
  spec/lib/gitlab/git/repository_spec.rb
  spec/lib/gitlab/git_access_spec.rb
  spec/lib/gitlab/serverless/service_spec.rb
  spec/lib/gitlab/updated_notes_paginator_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix Elasticsearch zero-downtime reindexing UI
  ee/app/controllers/ee/admin/application_settings_controller.rb
  ee/changelogs/unreleased/fix-es-zero-downtime-reindexing.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Track and add DiffNotes to the usage data
  app/models/diff_note.rb
  lib/gitlab/usage_data.rb
  lib/gitlab/usage_data_counters/track_unique_actions.rb
  spec/lib/gitlab/usage_data_spec.rb
  spec/models/diff_note_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add the necessary step into the instructions.
  doc/operations/error_tracking.md
Due: docs lint

Update Praefect documentation to use correct flag name
  doc/administration/gitaly/praefect.md
Due: docs lint

Added the necessary step in the sentry setup instructions
  doc/operations/error_tracking.md
Due: docs lint

Update doc/ci/cloud_deployment/index.md
  doc/ci/cloud_deployment/index.md
Due: docs lint

GitLab UI: textarea-debounce-lazy integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add MR Analytics docs
  doc/user/analytics/img/mr_throughput_chart_v13_3.png
  doc/user/analytics/img/mr_throughput_table_v13_3.png
  doc/user/analytics/index.md
  doc/user/analytics/merge_request_analytics.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/user/analytics/merge_request_analytics.md
Due: docs lint

Metrics dashboard cancel previous requests
  app/assets/javascripts/monitoring/stores/actions.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Upload New File
  doc/user/application_security/security_dashboard/img/security_dashboard_navigation_v13_3.gif
Due: docs lint

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
