Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Fix doc for working from feature branches
  doc/topics/git/feature_branch_development.md
Due: docs lint

Updated code and fixed another button
  app/assets/javascripts/ide/components/commit_sidebar/form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: science on multi-column layout for issue page [ci-skip]
  app/views/projects/issues/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add shared todo_button component
  app/assets/javascripts/vue_shared/components/todo_button.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use new shared component in sidebar todo component
  app/assets/javascripts/sidebar/components/todo_toggle/todo.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor todo_spec tests
  spec/frontend/sidebar/__snapshots__/todo_spec.js.snap
  spec/frontend/sidebar/todo_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add rule for draft merge requests
  doc/ci/yaml/README.md
Due: docs lint

Add tests for todo_button.vue
  app/assets/javascripts/vue_shared/components/todo_button.vue
  spec/frontend/vue_shared/components/todo_button_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add todo_button to design sidebar
  app/assets/javascripts/design_management/components/design_sidebar.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Commit author for suggestions is note author
  app/services/suggestions/apply_service.rb
  lib/gitlab/suggestions/suggestion_set.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add util method to frontend to convert inline diff lines to parallel
  app/assets/javascripts/diffs/store/utils.js
  spec/frontend/diffs/mock_data/diff_file.js
  spec/frontend/diffs/store/utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixed up failing Jest specs
  spec/frontend/diffs/components/diff_expansion_cell_spec.js
  spec/frontend/diffs/components/diff_file_spec.js
  spec/frontend/diffs/components/inline_diff_expansion_row_spec.js
  spec/frontend/diffs/components/inline_diff_view_spec.js
  spec/frontend/diffs/components/parallel_diff_view_spec.js
  spec/frontend/diffs/mock_data/diff_file.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove `mr_tabs_position` feature flag
  app/assets/javascripts/mr_tabs_popover/components/popover.vue
  app/assets/javascripts/mr_tabs_popover/index.js
  app/assets/javascripts/pages/projects/merge_requests/init_merge_request_show.js
  app/helpers/merge_requests_helper.rb
  app/helpers/user_callouts_helper.rb
  app/views/layouts/nav/_breadcrumbs.html.haml
  app/views/projects/merge_requests/_awards_block.html.haml
  app/views/projects/merge_requests/_mr_box.html.haml
  app/views/projects/merge_requests/_mr_title.html.haml
  app/views/projects/merge_requests/show.html.haml
  changelogs/unreleased/remove_mr_tabs_position_feature_flag.yml
  locale/gitlab.pot
  qa/qa/page/merge_request/show.rb
  spec/features/merge_request/user_sees_merge_request_pipelines_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Removed links to version specific upgrades
  doc/administration/geo/replication/updating_the_geo_nodes.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/administration/geo/replication/updating_the_geo_nodes.md
Due: docs lint

API based Import/Export spike
  lib/api/project_export.rb
  lib/gitlab/import_export/v2/project/exporters/relation_exporter.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add graphql issues extractor
  Gemfile
  Gemfile.lock
  lib/gitlab/import_export/v2/project/extractors/issues_extractor.rb
  lib/gitlab/import_export/v2/project/graphql.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add graphql cleaner transformer
  lib/gitlab/import_export/v2/project/transformers/graphql_cleaner_transformer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add issue pipeline
  lib/gitlab/import_export/v2/project/extractors/issues_extractor.rb
  lib/gitlab/import_export/v2/project/issues_pipeline.rb
  lib/gitlab/import_export/v2/project/transformers/underscorify_keys_transformer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

nested clean "edges" and "nodes" keys
  lib/gitlab/import_export/v2/project/transformers/graphql_cleaner_transformer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Split ETL in the pipeline for explicitness
  lib/gitlab/import_export/v2/project/issues_pipeline.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

split the issue laoder to its own file
  lib/gitlab/import_export/v2/project/extractors/issues_extractor.rb
  lib/gitlab/import_export/v2/project/issues_pipeline.rb
  lib/gitlab/import_export/v2/project/loaders/issue_loader.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update issues query, move base transformers around
  lib/gitlab/import_export/v2/project/extractors/issues_extractor.rb
  lib/gitlab/import_export/v2/project/graphql.rb
  lib/gitlab/import_export/v2/project/issues_pipeline.rb
  lib/gitlab/import_export/v2/project/transformers/base/graphql_cleaner_transformer.rb
  lib/gitlab/import_export/v2/project/transformers/base/underscorify_keys_transformer.rb
  lib/gitlab/import_export/v2/project/transformers/issues/issues_transformer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add user reference transformer
  lib/gitlab/import_export/v2/project/extractors/issues_extractor.rb
  lib/gitlab/import_export/v2/project/graphql.rb
  lib/gitlab/import_export/v2/project/issues_pipeline.rb
  lib/gitlab/import_export/v2/project/transformers/base/user_reference_transformer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Trigger pipeline against custom branch
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated Feature Flag Rollout Issue Template
  .gitlab/issue_templates/Feature Flag Roll Out.md
Due: none

Fixed a mismatch in mock data
  spec/frontend/diffs/components/parallel_diff_view_spec.js
  spec/frontend/diffs/mock_data/diff_file.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

First successful issue import
  lib/api/project_export.rb
  lib/gitlab/import_export/v2/project/extractors/issues_extractor.rb
  lib/gitlab/import_export/v2/project/issues_pipeline.rb
  lib/gitlab/import_export/v2/project/transformers/issues/issue_type_transformer.rb
  lib/gitlab/import_export/v2/project/transformers/issues/issues_transformer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Minor details - wrap up
  doc/development/documentation/feature_flags.md
  doc/user/feature_flags.md
Due: docs lint

GitLab UI: refactor-decrease-button-styles-specificity integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use new secondary variations for gl-button
  app/views/shared/_no_ssh.html.haml
  ee/app/views/layouts/header/_licensed_user_count_threshold.html.haml
  ee/app/views/layouts/header/_users_over_license_banner.html.haml
  ee/app/views/projects/issues/_alert_blocked.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add framework to allow primary user email to move to Email model
  app/models/email.rb
  app/models/user.rb
  changelogs/unreleased/dblessing-primary-email-to-email-model.yml
  db/migrate/20200601195730_add_unconfirmed_and_primary_to_emails.rb
  db/migrate/20200601200204_add_unconfirmed_text_limit_to_emails.rb
  db/migrate/20200601203425_add_emails_user_id_foreign_key.rb
  db/migrate/20200601203642_validate_emails_user_id_foreign_key.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/development/documentation/styleguide.md
Due: docs lint

Improve @mentions UX for tribute
  app/assets/javascripts/vue_shared/components/gl_mentions.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Suppress NoSpaceLeft when moving to start/end
  app/models/concerns/relative_positioning.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move pages config update to pages transfer
  app/services/projects/transfer_service.rb
  lib/gitlab/pages_transfer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add issue discussions tranformation
  lib/gitlab/import_export/v2/project/extractors/issues_extractor.rb
  lib/gitlab/import_export/v2/project/issues_pipeline.rb
  lib/gitlab/import_export/v2/project/loaders/issue_loader.rb
  lib/gitlab/import_export/v2/project/transformers/base/graphql_cleaner_transformer.rb
  lib/gitlab/import_export/v2/project/transformers/base/user_reference_transformer.rb
  lib/gitlab/import_export/v2/project/transformers/issues/issue_discussions_transformer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add line space between methods
  lib/gitlab/pages_transfer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
