Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Clean up scoped label spec
  qa/qa/page/component/issuable/sidebar.rb
  qa/qa/specs/features/ee/browser_ui/2_plan/scoped_labels/editing_scoped_labels_spec.rb
Due: graphql-reference-verify, pages, cache gems

Upgrade GitLab UI to v17.8.1
  app/assets/javascripts/behaviors/shortcuts/shortcuts_toggle.vue
  app/assets/javascripts/clusters/components/ingress_modsecurity_settings.vue
  app/views/help/_shortcuts.html.haml
  changelogs/unreleased/502-add-toggles-help-text-int-test-gitlab-ui-integration-test.yml
  ee/app/assets/javascripts/boards/toggle_labels.js
  ee/app/assets/javascripts/projects/settings_service_desk/components/service_desk_setting.vue
  ee/app/assets/javascripts/threat_monitoring/components/network_policy_list.vue
  locale/gitlab.pot
  package.json
  spec/frontend/registry/shared/components/__snapshots__/expiration_policy_fields_spec.js.snap
  spec/frontend/self_monitor/components/__snapshots__/self_monitor_form_spec.js.snap
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add parsing vendor name from security reports
  ee/app/models/vulnerabilities/scanner.rb
  ee/changelogs/unreleased/210327-add-parsing-vendor-name.yml
  ee/lib/gitlab/ci/parsers/security/common.rb
  ee/lib/gitlab/ci/parsers/security/formatters/dast.rb
  ee/lib/gitlab/ci/reports/security/scanner.rb
  ee/spec/factories/ci/reports/security/scanners.rb
  ee/spec/lib/gitlab/ci/parsers/security/common_spec.rb
  ee/spec/lib/gitlab/ci/parsers/security/formatters/dast_spec.rb
  ee/spec/lib/gitlab/ci/reports/security/scanner_spec.rb
  ee/spec/models/vulnerabilities/scanner_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs: Updated shared Runners
  doc/ci/runners/README.md
Due: docs lint

Remove pending and running tabs
  app/assets/javascripts/pipelines/components/pipelines_list/pipelines.vue
  changelogs/unreleased/remove-some-tabs-from-pipelines-list.yml
  locale/gitlab.pot
  spec/features/projects/pipelines/pipelines_spec.rb
  spec/frontend/pipelines/pipelines_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose correct permission for alert management
  app/helpers/projects/alert_management_helper.rb
  spec/helpers/projects/alert_management_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Pass only alert_id to ProcessAlertWorker
  app/services/projects/alerting/notify_service.rb
  app/workers/incident_management/process_alert_worker.rb
  spec/services/projects/alerting/notify_service_spec.rb
  spec/workers/incident_management/process_alert_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use Gitlab::Config::Loader::Yaml to load yaml
  app/services/metrics/dashboard/base_service.rb
  app/services/metrics/dashboard/custom_dashboard_service.rb
  app/services/metrics/dashboard/predefined_dashboard_service.rb
  changelogs/unreleased/rp-use-gitlab-yaml-loader-dashboard-stages.yml
  lib/gitlab/config/loader/yaml.rb
  locale/gitlab.pot
  spec/lib/gitlab/metrics/dashboard/finder_spec.rb
  spec/lib/gitlab/metrics/dashboard/processor_spec.rb
  spec/lib/gitlab/metrics/dashboard/stages/panel_ids_inserter_spec.rb
  spec/services/metrics/dashboard/custom_dashboard_service_spec.rb
  spec/services/metrics/dashboard/pod_dashboard_service_spec.rb
  spec/services/metrics/dashboard/self_monitoring_dashboard_service_spec.rb
  spec/services/metrics/dashboard/system_dashboard_service_spec.rb
  spec/support/helpers/metrics_dashboard_helpers.rb
  spec/support/shared_examples/services/metrics/dashboard_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Release generation via `gitlab-ci.yml` documentation
  changelogs/unreleased/199250-release-generation-from-within-gitlab-ci-yml.yml
  doc/ci/yaml/README.md
Due: docs lint

Fix deploy freeze tests failing on weekends
  spec/services/ci/create_pipeline_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add link to handbook page in Telemetry documentation
  doc/development/telemetry/usage_ping.md
Due: docs lint

Fix stylelint warning in related_items_list.scss
  app/assets/stylesheets/components/related_items_list.scss
  ee/app/assets/javascripts/related_items_tree/components/epic_health_status.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update project usage in spec
  spec/services/alert_management/process_prometheus_alert_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Enable filtering of confidential epics
  ee/app/finders/epics_finder.rb
  ee/spec/finders/epics_finder_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Vue Issuables List to Project List
  app/controllers/projects/issues_controller.rb
  app/views/projects/issues/_issues.html.haml
  ee/spec/features/issues/issue_weight_spec.rb
  ee/spec/features/issues/service_desk_spec.rb
  spec/features/groups/empty_states_spec.rb
  spec/features/issuables/issuable_list_spec.rb
  spec/features/issuables/sorting_list_spec.rb
  spec/features/issues/bulk_assignment_labels_spec.rb
  spec/features/issues/filtered_search/filter_issues_spec.rb
  spec/features/issues/update_issues_spec.rb
  spec/features/issues/user_filters_issues_spec.rb
  spec/features/issues/user_sees_breadcrumb_links_spec.rb
  spec/features/issues/user_sees_empty_state_spec.rb
  spec/features/issues/user_sorts_issues_spec.rb
  spec/features/issues/user_views_issues_spec.rb
  spec/features/projects/labels/issues_sorted_by_priority_spec.rb
  spec/features/projects/user_sees_sidebar_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Save Prometheus Alert and Environment on Alert
  lib/gitlab/alert_management/alert_params.rb
  spec/lib/gitlab/alert_management/alert_params_spec.rb
  spec/services/alert_management/process_prometheus_alert_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Deprecate ProcessAlertWorker params
  app/services/projects/alerting/notify_service.rb
  app/workers/incident_management/process_alert_worker.rb
  spec/services/projects/alerting/notify_service_spec.rb
  spec/workers/incident_management/process_alert_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use release-cli:latest docker tag
  doc/ci/yaml/README.md
Due: docs lint

Remove GitlabIssueTrackerService class
  app/models/project.rb
  app/models/project_services/gitlab_issue_tracker_service.rb
  app/models/service.rb
  ee/lib/ee/gitlab/usage_data.rb
  lib/banzai/filter/issue_reference_filter.rb
  locale/gitlab.pot
  spec/factories/services.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/models/project_services/gitlab_issue_tracker_service_spec.rb
  spec/models/project_spec.rb
  spec/models/service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update Sidekiq to v5.2.9
  Gemfile.lock
  changelogs/unreleased/sh-update-sidekiq-5-2-9.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply filter bar params to api requests
  ee/app/assets/javascripts/analytics/cycle_analytics/components/base.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/labels_selector.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/store/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/getters.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/duration_chart/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/type_of_work/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/type_of_work/mutation_types.js
  ee/spec/frontend/analytics/cycle_analytics/components/type_of_work_charts_spec.js
  ee/spec/frontend/analytics/cycle_analytics/store/getters_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Always use port 1111 for local Capybara runs
  spec/support/capybara.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Link to test reports from MR
  app/assets/javascripts/reports/components/grouped_test_reports_app.vue
  app/assets/javascripts/vue_merge_request_widget/mr_widget_options.vue
  app/controllers/projects/merge_requests_controller.rb
  changelogs/unreleased/201840-link-testwidget.yml
  ee/app/assets/javascripts/vue_merge_request_widget/mr_widget_options.vue
  spec/frontend/reports/components/grouped_test_reports_app_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add snippets_size to ProjectStatistics GraphQL type
  app/graphql/types/project_statistics_type.rb
  changelogs/unreleased/fj-223706-add-snippets-size-to-project-statistics-type.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  spec/graphql/types/project_statistics_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix stylelint warning in related_items_list.scss
  ee/app/assets/javascripts/related_items_tree/components/epic_health_status.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Geo Node Form - Redesign Form
  ee/app/assets/javascripts/geo_node_form/components/app.vue
  ee/app/assets/javascripts/geo_node_form/components/geo_node_form.vue
  ee/app/assets/javascripts/geo_node_form/components/geo_node_form_capacities.vue
  ee/app/assets/javascripts/geo_node_form/components/geo_node_form_core.vue
  ee/app/assets/javascripts/geo_node_form/components/geo_node_form_selective_sync.vue
  ee/app/assets/javascripts/geo_node_form/constants.js
  ee/app/controllers/admin/geo/nodes_controller.rb
  ee/changelogs/unreleased/215027-redesign-geo-node-form.yml
  ee/spec/features/admin/geo/admin_geo_nodes_spec.rb
  ee/spec/frontend/geo_node_form/components/app_spec.js
  ee/spec/frontend/geo_node_form/components/geo_node_form_capacities_spec.js
  ee/spec/frontend/geo_node_form/components/geo_node_form_core_spec.js
  ee/spec/frontend/geo_node_form/components/geo_node_form_selective_sync_spec.js
  ee/spec/frontend/geo_node_form/components/geo_node_form_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Geo Settings Form - Fetch Data from API
  ee/app/assets/javascripts/api.js
  ee/app/assets/javascripts/geo_settings/components/app.vue
  ee/app/assets/javascripts/geo_settings/components/geo_settings_form.vue
  ee/app/assets/javascripts/geo_settings/index.js
  ee/app/assets/javascripts/geo_settings/store/actions.js
  ee/app/assets/javascripts/geo_settings/store/index.js
  ee/app/assets/javascripts/geo_settings/store/mutation_types.js
  ee/app/assets/javascripts/geo_settings/store/mutations.js
  ee/app/assets/javascripts/geo_settings/store/state.js
  ee/spec/frontend/api_spec.js
  ee/spec/frontend/geo_settings/components/app_spec.js
  ee/spec/frontend/geo_settings/components/geo_settings_form_spec.js
  ee/spec/frontend/geo_settings/mock_data.js
  ee/spec/frontend/geo_settings/store/actions_spec.js
  ee/spec/frontend/geo_settings/store/mutations_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refer to FOSS user callout enum from EE version
  ee/app/models/ee/user_callout_enums.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add ability to skip Guided Tour if shown - Take 2
  ee/app/assets/javascripts/onboarding/onboarding_welcome/components/welcome_page.vue
  qa/qa/ee.rb
  qa/qa/ee/page/main/login.rb
  qa/qa/ee/page/main/onboarding.rb
  qa/qa/page/main/login.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Namespace API to set additionally purchased storage
  app/policies/base_policy.rb
  ee/app/models/ee/namespace.rb
  ee/app/models/namespace_limit.rb
  ee/app/policies/ee/group_policy.rb
  ee/app/policies/ee/namespace_policy.rb
  ee/changelogs/unreleased/nicolasdular-namespace-storage-purchase-api.yml
  ee/lib/ee/api/entities/namespace.rb
  ee/lib/ee/api/namespaces.rb
  ee/spec/models/ee/namespace_limit_spec.rb
  ee/spec/models/ee/namespace_spec.rb
  ee/spec/policies/group_policy_spec.rb
  ee/spec/policies/namespace_policy_spec.rb
  ee/spec/requests/api/namespaces_spec.rb
  spec/support/shared_examples/policies/namespace_policy_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add pipeline metadata for creation errors/warnings
  app/models/ci/pipeline.rb
  app/models/ci/pipeline_message.rb
  app/services/ci/create_pipeline_service.rb
  changelogs/unreleased/support-warnings-in-pipeline-creation.yml
  db/migrate/20200622104923_create_ci_pipeline_messages_table.rb
  db/structure.sql
  ee/app/services/merge_trains/create_pipeline_service.rb
  lib/gitlab/ci/features.rb
  lib/gitlab/ci/pipeline/chain/helpers.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/models/ci/pipeline_message_spec.rb
  spec/models/ci/pipeline_spec.rb
  spec/services/ci/create_pipeline_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update Code Quality docs to mitigate common issues
  doc/user/project/merge_requests/code_quality.md
Due: docs lint

Update unit to seconds in GraphQL logs
  lib/gitlab/graphql/query_analyzers/logger_analyzer.rb
  spec/lib/gitlab/graphql/query_analyzers/logger_analyzer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Bump rouge to 3.20
  Gemfile
  Gemfile.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move resolver logic to finder
  app/finders/issuable_finder/params.rb
  app/finders/issues_finder/params.rb
  app/graphql/mutations/concerns/mutations/resolves_issuable.rb
  app/graphql/resolvers/base_resolver.rb
  app/graphql/resolvers/concerns/resolves_merge_requests.rb
  app/graphql/resolvers/issues_resolver.rb
  app/policies/group_policy.rb
  app/policies/project_policy.rb
  ee/app/finders/epics_finder.rb
  ee/app/graphql/ee/mutations/resolves_issuable.rb
  ee/spec/graphql/ee/mutations/concerns/mutations/resolves_issuable_spec.rb
  lib/gitlab/graphql/authorize/authorize_resource.rb
  lib/gitlab/graphql/lazy.rb
  lib/gitlab/graphql/loaders/issuable_loader.rb
  spec/graphql/mutations/concerns/mutations/resolves_issuable_spec.rb
  spec/graphql/resolvers/issues_resolver_spec.rb
  spec/graphql/resolvers/merge_requests_resolver_spec.rb
  spec/lib/gitlab/graphql/loaders/issuable_loader_spec.rb
  spec/policies/group_policy_spec.rb
  spec/policies/project_policy_spec.rb
  spec/support/shared_contexts/policies/group_policy_shared_context.rb
  spec/support/shared_examples/graphql/resolves_issuable_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Do not allow a user list to be deleted if associated with a strategy
  ee/app/models/operations/feature_flags/user_list.rb
  ee/changelogs/unreleased/disallow-delete-assoced-userlists.yml
  ee/lib/api/feature_flags_user_lists.rb
  ee/spec/models/operations/feature_flags/user_list_spec.rb
  ee/spec/requests/api/feature_flags_user_lists_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update confidential epics documentation
  doc/user/group/epics/manage_epics.md
Due: docs lint

Expose snippets_size in ProjectStatistics Entity
  changelogs/unreleased/fj-223705-add-snippets-size-to-project-statistics-entity.yml
  doc/api/projects.md
  lib/api/entities/project_statistics.rb
  spec/requests/api/projects_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable code_navigation for feature specs
  app/controllers/projects/blob_controller.rb
  app/controllers/projects/merge_requests_controller.rb
  spec/features/merge_request/maintainer_edits_fork_spec.rb
  spec/features/projects/blobs/blob_show_spec.rb
  spec/features/projects/blobs/edit_spec.rb
  spec/features/projects/blobs/user_creates_new_blob_in_new_project_spec.rb
  spec/features/projects/files/user_creates_files_spec.rb
  spec/features/projects/files/user_deletes_files_spec.rb
  spec/features/projects/files/user_replaces_files_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change replication status button to indicator
  ee/app/assets/javascripts/geo_nodes/components/geo_node_actions.vue
  ee/app/assets/javascripts/geo_nodes/components/geo_node_replication_status.vue
  ee/app/assets/javascripts/geo_nodes/components/node_detail_sections/node_details_section_main.vue
  ee/app/assets/javascripts/geo_nodes/constants.js
  ee/changelogs/unreleased-ee/alexives-35913-update_ui_remove_pause_button.yml
  ee/spec/frontend/geo_nodes/components/__snapshots__/geo_node_replication_status_spec.js.snap
  ee/spec/frontend/geo_nodes/components/geo_node_actions_spec.js
  ee/spec/frontend/geo_nodes/components/geo_node_replication_status_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
