Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Moved valid plan
  app/assets/javascripts/vue_merge_request_widget/components/mr_widget_terraform_plan.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Padding fix
  app/assets/javascripts/vue_merge_request_widget/components/mr_widget_terraform_plan.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Moved to folder"
  app/assets/javascripts/vue_merge_request_widget/components/terraform/mr_widget_terraform_container.vue
  app/assets/javascripts/vue_merge_request_widget/mr_widget_options.vue
  spec/frontend/vue_mr_widget/components/mr_widget_terraform_plan_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Started dsiplaying error messages
  app/assets/javascripts/vue_merge_request_widget/components/terraform/constants.js
  app/assets/javascripts/vue_merge_request_widget/components/terraform/mr_widget_terraform_container.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replaced gl-deprecated-button with gl-button. Ref #219877
  ee/app/assets/javascripts/vue_merge_request_widget/components/approvals/approvals.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added mr widget
  app/assets/javascripts/vue_merge_request_widget/components/terraform/constants.js
  app/assets/javascripts/vue_merge_request_widget/components/terraform/mr_widget_terraform_container.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adding errors check"
  app/assets/javascripts/vue_merge_request_widget/components/terraform/mr_widget_terraform_container.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Display Saved User Lists by Feature Flags
  ee/app/assets/javascripts/api.js
  ee/app/assets/javascripts/feature_flags/components/feature_flags.vue
  ee/app/assets/javascripts/feature_flags/components/user_lists_table.vue
  ee/app/assets/javascripts/feature_flags/constants.js
  ee/app/assets/javascripts/feature_flags/index.js
  ee/app/assets/javascripts/feature_flags/store/modules/index/actions.js
  ee/app/assets/javascripts/feature_flags/store/modules/index/mutation_types.js
  ee/app/assets/javascripts/feature_flags/store/modules/index/mutations.js
  ee/app/assets/javascripts/feature_flags/store/modules/index/state.js
  ee/app/views/projects/feature_flags/index.html.haml
  ee/spec/frontend/feature_flags/components/feature_flags_spec.js
  ee/spec/frontend/feature_flags/components/user_lists_table_spec.js
  ee/spec/frontend/feature_flags/store/index/actions_spec.js
  ee/spec/frontend/feature_flags/store/index/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use let syntax
  qa/qa/specs/features/browser_ui/2_plan/issue/mentions_spec.rb
Due: graphql-reference-verify, pages, cache gems

Add additional useful parameters to Cognito configuration doc
  doc/administration/auth/cognito.md
Due: docs lint

Optional icon URL
  doc/administration/auth/cognito.md
Due: docs lint

Switch iterations form to use datepicker component
  ee/app/assets/javascripts/iterations/components/iteration_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added billing policy document
  doc/subscriptions/billing_policy.md
Due: docs lint

Added images for annual and quarterly review
  doc/subscriptions/billing_policy.md
  doc/subscriptions/img/annual_seat_review.png
  doc/subscriptions/img/quarterly_seat_review.png
Due: docs lint

Fixed markup and spaces
  doc/subscriptions/billing_policy.md
Due: docs lint

Fixed broken link to Seat Link section
  doc/subscriptions/billing_policy.md
Due: docs lint

WIP qa file change to trigger package-and-qa
  .gitlab/ci/qa.gitlab-ci.yml
  qa/qa/specs/features/ee/browser_ui/3_create/repository/merge_with_code_owner_in_root_group_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update qa.gitlab-ci.yml
  .gitlab/ci/qa.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Stop creating new GitlabIssueTrackerServices
  app/models/project.rb
  spec/models/project_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove GitlabIssueTrackerService records
  db/post_migrate/20200609075351_remove_gitlab_issue_tracker_service_records.rb
  db/structure.sql
  spec/migrations/remove_gitlab_issue_tracker_service_records_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated Open Source program link
  doc/subscriptions/index.md
Due: docs lint

Improve fetching approvals error message
  ee/app/assets/javascripts/approvals/components/app.vue
  ee/app/assets/javascripts/approvals/stores/modules/base/mutation_types.js
  ee/app/assets/javascripts/approvals/stores/modules/base/mutations.js
  ee/app/assets/javascripts/approvals/stores/modules/base/state.js
  ee/app/assets/javascripts/approvals/stores/modules/mr_edit/actions.js
  ee/app/assets/javascripts/approvals/stores/modules/project_settings/actions.js
  ee/spec/javascripts/approvals/stores/modules/project_settings/actions_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Introduce Feature Flag Definition
  bin/feature-flag
  config/initializers/0_inject_feature_flags.rb
  config/initializers/flipper.rb
  ee/lib/ee/feature/definition.rb
  lib/feature.rb
  lib/feature/definition.rb
  lib/feature/shared.rb
  spec/spec_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add group wiki API tests
  ee/app/models/ee/group.rb
  ee/lib/ee/api/helpers/wikis_helpers.rb
  ee/spec/requests/api/wikis_spec.rb
  lib/api/helpers.rb
  lib/api/helpers/wikis_helpers.rb
  lib/api/wikis.rb
  spec/support/shared_examples/lib/wikis_api_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Support groups in the wikis API
  ee/lib/ee/api/helpers/wikis_helpers.rb
  lib/api/helpers/wikis_helpers.rb
  lib/api/wikis.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add support for feature flag type Ops
  app/services/concerns/measurable.rb
  lib/feature/shared.rb
  lib/gitlab/metrics/methods.rb
  lib/gitlab/sidekiq_middleware/duplicate_jobs/duplicate_job.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add support for feature flag type Licensed
  app/controllers/concerns/issuable_actions.rb
  app/models/clusters/instance.rb
  app/models/concerns/featurable.rb
  ee/app/controllers/concerns/ee/boards_actions.rb
  ee/app/controllers/groups/analytics/application_controller.rb
  ee/app/models/ee/ci/pipeline.rb
  ee/app/models/ee/namespace.rb
  ee/app/models/ee/project.rb
  ee/app/models/license.rb
  ee/app/services/personal_access_tokens/revoke_invalid_tokens.rb
  ee/lib/gitlab/analytics.rb
  ee/spec/models/ci/pipeline_spec.rb
  lib/feature/shared.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

PoC: Add a YAML-based definitions of feature flags
  .gitlab/ci/rails.gitlab-ci.yml
  config/feature_flags/development/gitaly_upload_pack_filter.yml
  ee/config/feature_flags/licensed/ci_project_subscriptions.yml
  ee/config/feature_flags/licensed/group_activity_analytics.yml
  ee/config/feature_flags/licensed/insights.yml
  lib/feature/definition.rb
  spec/lib/feature_spec.rb
  spec/support/helpers/stub_feature_flags.rb
  spec/support_specs/helpers/stub_feature_flags_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Align usage of project_import_ndjson
  spec/support/import_export/common_util.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use SAST CI template
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Example of benefits of using newer grape features
  Gemfile
  Gemfile.lock
  ee/lib/api/group_wiki.rb
  ee/lib/ee/api/helpers/wikis_helpers.rb
  lib/api/helpers/wikis_helpers.rb
  lib/api/wikis.rb
  lib/api/wikis_api.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update title for accuracy
  doc/api/projects.md
Due: docs lint

Removed size prop from gl-button
  ee/app/assets/javascripts/vue_merge_request_widget/components/approvals/approvals.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Bundle test_file_finder gem
  Gemfile
  Gemfile.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Include RSpec fast failure template
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Verify/RspecRailsFastFailure CI template
  lib/gitlab/ci/templates/Verify/RspecRailsFastFailure.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Error on Ci::Build#collect_test_reports
  app/models/ci/build.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add modified version of template for detached pipelines
  lib/gitlab/ci/templates/Verify/RspecRailsFastFailure.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixed incorrect variant
  ee/app/assets/javascripts/vue_merge_request_widget/components/approvals/approvals.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
