Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Revert "Merge branch 'quarantine-flaky-spec' into 'master'"
  spec/lib/gitlab/import_export/project/tree_restorer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add migration connecting push rules with groups
  changelogs/unreleased/34370-configure-group-push-rules-db-new-approach.yml
  db/migrate/20200407120000_add_push_rule_id_to_groups.rb
  db/migrate/20200407121321_add_push_rule_foreign_key_to_groups.rb
  db/structure.sql
  ee/app/models/ee/group.rb
  ee/spec/models/group_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove redundant 'presentationContainer' ref
  ee/app/assets/javascripts/design_management/components/design_presentation.vue
  ee/spec/frontend/design_management/components/design_presentation_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update auto-deploy-image to v0.13.0 for deploy job
  changelogs/unreleased/update-ado-image-to-0-13-0.yml
  lib/gitlab/ci/templates/Jobs/Deploy.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add docs about how to avoid n+1 in the REST API
  doc/development/api_styleguide.md
Due: docs lint

Add extra logging on ip address restriction spec
  qa/qa/ee/page/group/settings/general.rb
  qa/qa/specs/features/ee/browser_ui/1_manage/group/restrict_by_ip_address_spec.rb
Due: graphql-reference-verify, pages, cache gems

Switch from startupProbe to livenessProbe in Modsecurity
  app/models/clusters/applications/ingress.rb
  spec/models/clusters/applications/ingress_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add buffer for mouse events on design pres
  ee/app/assets/javascripts/design_management/components/design_overlay.vue
  ee/app/assets/javascripts/design_management/components/design_presentation.vue
  ee/spec/frontend/design_management/components/design_presentation_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add logic to show buy ci minutes link
  app/views/layouts/header/_current_user_dropdown.html.haml
  ee/app/helpers/ee/runners_helper.rb
  ee/app/models/ci/minutes/context.rb
  ee/app/models/ci/minutes/threshold.rb
  ee/app/models/ee/project.rb
  ee/app/services/ci/minutes_notification_service.rb
  ee/app/views/layouts/header/_buy_ci_minutes.html.haml
  ee/app/views/layouts/header/_user_notification_dot.html.haml
  ee/app/views/shared/_shared_runners_minutes_limit.html.haml
  ee/spec/helpers/ee/runners_helper_spec.rb
  ee/spec/models/ci/minutes/context_spec.rb
  ee/spec/models/ci/minutes/threshold_spec.rb
  ee/spec/models/project_spec.rb
  ee/spec/services/ci/minutes_notification_service_spec.rb
  ee/spec/views/layouts/application.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Addressing reviewer feedback
  ee/app/assets/javascripts/design_management/components/design_presentation.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Only handle addComment when commenting enabled
  ee/app/assets/javascripts/design_management/components/design_overlay.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix error removing secondary email
  app/services/emails/destroy_service.rb
  changelogs/unreleased/fix_error_removing_secondary_email.yml
  spec/controllers/admin/users_controller_spec.rb
  spec/services/emails/destroy_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add metric visility toggle in project
  app/assets/javascripts/pages/projects/shared/permissions/components/settings_panel.vue
  app/controllers/projects_controller.rb
  locale/gitlab.pot
  spec/frontend/pages/projects/shared/permissions/components/settings_panel_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add head to target versions list
  app/assets/javascripts/diffs/constants.js
  app/assets/javascripts/diffs/store/getters_versions_dropdowns.js
  changelogs/unreleased/jdb-display-head-base-dropwdowns.yml
  spec/frontend/diffs/store/getters_versions_dropdowns_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add data-testid as a recommended FE test selector
  doc/development/testing_guide/frontend_testing.md
Due: docs lint

Change feature flag name
  app/assets/javascripts/pages/projects/shared/permissions/components/settings_panel.vue
  app/controllers/projects_controller.rb
  locale/gitlab.pot
  spec/frontend/pages/projects/shared/permissions/components/settings_panel_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add last fetched at timestamp on show vulnerability page
  ee/app/helpers/vulnerabilities_helper.rb
  ee/spec/helpers/vulnerabilities_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Disable transactions for user foreign key migrations
  db/migrate/20200407171133_add_protected_tag_create_access_levels_user_id_foreign_key.rb
  db/migrate/20200408154331_add_protected_branch_merge_access_levels_user_id_foreign_key.rb
  db/migrate/20200408154411_add_path_locks_user_id_foreign_key.rb
  db/migrate/20200408154455_add_protected_branch_push_access_levels_user_id_foreign_key.rb
  db/migrate/20200408154604_add_u2f_registrations_user_id_foreign_key.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use glFeatureFlag mixin
  app/assets/javascripts/pages/projects/shared/permissions/components/settings_panel.vue
  spec/frontend/pages/projects/shared/permissions/components/settings_panel_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix the CI config got the 'cache gems' job
  .gitlab/ci/setup.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable new Dependency List UI
  doc/user/application_security/dependency_list/img/dependency_list_v12_10.png
  doc/user/application_security/dependency_list/index.md
  ee/app/assets/javascripts/dependencies/components/dependencies_table.vue
  ee/app/controllers/projects/dependencies_controller.rb
  ee/changelogs/unreleased/195928-dependency-list-ui-enabled.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Allow vulnerability selection in project dashboard
  ee/app/assets/javascripts/vulnerabilities/components/project_vulnerabilities_app.vue
  ee/app/assets/javascripts/vulnerabilities/components/vulnerability_list.vue
  ee/spec/frontend/security_dashboard/components/first_class_group_security_dashboard_vulnerabilities_spec.js
  ee/spec/frontend/security_dashboard/components/first_class_instance_security_dashboard_vulnerabilities_spec.js
  ee/spec/frontend/security_dashboard/components/selection_summary_spec.js
  ee/spec/frontend/vulnerabilities/vulnerability_list_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Mention confidential issues in Status Page docs
  doc/user/project/status_page/index.md
Due: docs lint

Add edit button to instance dashboard
  ee/app/assets/javascripts/security_dashboard/components/first_class_instance_security_dashboard.vue
  ee/app/assets/javascripts/security_dashboard/components/first_class_instance_security_dashboard_vulnerabilities.vue
  ee/app/assets/javascripts/security_dashboard/first_class_init.js
  ee/spec/frontend/security_dashboard/components/first_class_instance_security_dashboard_spec.js
  ee/spec/frontend/security_dashboard/components/first_class_instance_security_dashboard_vulnerabilities_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor test code for panel type
  app/assets/javascripts/monitoring/components/charts/empty_chart.vue
  app/assets/javascripts/monitoring/components/panel_type.vue
  ee/spec/frontend/monitoring/components/panel_type_spec.js
  spec/frontend/monitoring/components/panel_type_spec.js
  spec/frontend/monitoring/fixture_data.js
  spec/frontend/monitoring/mock_data.js
  spec/frontend/monitoring/utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add documentation for CSV Export
  doc/user/application_security/security_dashboard/img/project_security_dashboard_export_csv_v12.10.png
  doc/user/application_security/security_dashboard/index.md
Due: docs lint

Combine multiple expects into single props expect
  spec/frontend/static_site_editor/components/static_site_editor_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add deploy frequency to project-level VSA Summary
  app/assets/javascripts/cycle_analytics/cycle_analytics_bundle.js
  app/assets/stylesheets/pages/cycle_analytics.scss
  app/serializers/analytics_summary_entity.rb
  app/views/projects/cycle_analytics/show.html.haml
  ee/changelogs/unreleased/add-deployment-frequency-to-project-vsa-summary.yml
  ee/spec/fixtures/api/schemas/analytics/cycle_analytics/summary.json
  lib/gitlab/cycle_analytics/stage_summary.rb
  lib/gitlab/cycle_analytics/summary/deployment_frequency.rb
  lib/gitlab/cycle_analytics/summary_helper.rb
  spec/features/cycle_analytics_spec.rb
  spec/lib/gitlab/cycle_analytics/group_stage_summary_spec.rb
  spec/lib/gitlab/cycle_analytics/stage_summary_spec.rb
  spec/models/cycle_analytics/group_level_spec.rb
  spec/serializers/analytics_summary_serializer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Display saved changes message
  app/assets/javascripts/static_site_editor/components/static_site_editor.vue
  spec/frontend/static_site_editor/components/saved_changes_message_spec.js
  spec/frontend/static_site_editor/components/static_site_editor_spec.js
  spec/frontend/static_site_editor/mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update docs for wiki activity
  doc/user/group/index.md
  doc/user/project/index.md
  doc/user/project/wiki/index.md
Due: docs lint

Add an introduction banner
  ee/app/assets/javascripts/security_dashboard/components/first_class_project_security_dashboard.vue
  ee/spec/frontend/security_dashboard/components/first_class_project_security_dashboard_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update pg_hba example for secondary Geo node
  doc/administration/geo/replication/external_database.md
Due: docs lint

Compress doc images
  doc/administration/geo/replication/img/geo_node_dashboard.png
  doc/administration/troubleshooting/img/AzureAD-scim_attribute_mapping.png
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/merge_trains/img/merge_train_immediate_merge_v12_6.png
  doc/ci/pipelines/img/job_group_v12_10.png
  doc/development/img/architecture_simplified.png
  doc/topics/autodevops/img/guide_project_landing_page_v12_10.png
  doc/user/application_security/dast/img/dast_urls_scanned_v12_10.png
  doc/user/group/img/group_activity_analytics_v12_10.png
  doc/user/project/deploy_tokens/img/deploy_tokens.png
  doc/user/project/img/issue_boards_blocked_icon_v12_8.png
  doc/user/project/img/status_page_incidents_v12_10.png
  doc/user/project/import/img/jira/import_issues_from_jira_button_v12_10.png
  doc/user/project/import/img/jira/import_issues_from_jira_form_v12_10.png
  doc/user/project/import/img/jira/import_issues_from_jira_projects_v12_10.png
  doc/user/project/issues/img/issue_health_status_dropdown_v12_10.png
  doc/user/search/img/issue_search_by_id.png
Due: docs lint

Add note to restart PSQL
  doc/administration/geo/replication/external_database.md
Due: docs lint

Update pg_hba example for primary Geo node
  doc/administration/geo/replication/external_database.md
Due: docs lint

Updated the grammar so its clearer
  doc/administration/geo/replication/external_database.md
Due: docs lint

Remove sql_replication_user config
  doc/administration/geo/replication/external_database.md
Due: docs lint

Enable pypi_packages by default
  ee/changelogs/unreleased/10io-pypi-feature-flag-default-to-true.yml
  ee/lib/api/pypi_packages.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Standardize Sidekiq/Rails log keys with _s suffix
  app/controllers/application_controller.rb
  config/initializers/lograge.rb
  doc/administration/logs.md
  doc/development/logging.md
  lib/gitlab/gitaly_client.rb
  lib/gitlab/grape_logging/formatters/lograge_with_timestamp.rb
  lib/gitlab/grape_logging/loggers/queue_duration_logger.rb
  lib/gitlab/instrumentation/redis.rb
  lib/gitlab/instrumentation_helper.rb
  lib/gitlab/lograge/custom_options.rb
  lib/gitlab/middleware/rails_queue_duration.rb
  lib/gitlab/sidekiq_logging/structured_logger.rb
  lib/gitlab/sidekiq_middleware/server_metrics.rb
  lib/gitlab/utils.rb
  spec/initializers/lograge_spec.rb
  spec/lib/gitlab/gitaly_client_spec.rb
  spec/lib/gitlab/grape_logging/loggers/perf_logger_spec.rb
  spec/lib/gitlab/grape_logging/loggers/queue_duration_logger_spec.rb
  spec/lib/gitlab/instrumentation_helper_spec.rb
  spec/lib/gitlab/sidekiq_logging/structured_logger_spec.rb
  spec/lib/gitlab/utils_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
