Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Update GraphQL documentation
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Merge requests: use GlobalID scalar
  app/graphql/mutations/merge_requests/set_labels.rb
  app/graphql/mutations/merge_requests/set_milestone.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use GlobalID in notes
  app/graphql/mutations/notes/create/base.rb
  app/graphql/mutations/notes/create/note.rb
  app/graphql/mutations/notes/destroy.rb
  app/graphql/mutations/notes/update/base.rb
  app/graphql/mutations/todos/mark_done.rb
  spec/requests/api/graphql/mutations/todos/mark_done_spec.rb
  spec/support/shared_examples/graphql/notes_creation_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Snippets: use GlobalID scalar
  app/graphql/mutations/snippets/destroy.rb
  app/graphql/mutations/snippets/mark_as_spam.rb
  app/graphql/mutations/snippets/update.rb
  app/graphql/resolvers/concerns/resolves_snippets.rb
  app/graphql/resolvers/snippets_resolver.rb
  spec/graphql/resolvers/projects/snippets_resolver_spec.rb
  spec/graphql/resolvers/snippets_resolver_spec.rb
  spec/graphql/resolvers/users/snippets_resolver_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Uploaded IDs are no-longer strings in todos mutation
  spec/graphql/mutations/todos/mark_all_done_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Todos: Ensure that we actually produce GlobalIDs, not URIs
  app/graphql/mutations/todos/base.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

To-Dos: use GlobalID scalar
  app/graphql/mutations/todos/mark_all_done.rb
  app/graphql/mutations/todos/mark_done.rb
  app/graphql/mutations/todos/restore.rb
  app/graphql/mutations/todos/restore_many.rb
  spec/graphql/mutations/todos/restore_many_spec.rb
  spec/requests/api/graphql/mutations/todos/restore_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update GraphQL documentation
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix error expectation
  spec/requests/api/graphql/mutations/todos/mark_done_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update spec to variable name
  spec/lib/api/helpers/packages/dependency_proxy_helpers_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add IssuableSeverity model to import/export config
  app/models/issue.rb
  lib/gitlab/import_export/project/import_export.yml
  spec/fixtures/lib/gitlab/import_export/complex/project.json
  spec/lib/gitlab/import_export/all_models.yml
  spec/lib/gitlab/import_export/project/tree_restorer_spec.rb
  spec/lib/gitlab/import_export/safe_model_attributes.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adding link to gitlab examples project
  doc/operations/incident_management/alerts.md
Due: docs lint

WIP: Link to gitlab-examples project as live examp
  doc/operations/incident_management/alertdetails.md
Due: docs lint

WIP: Link to gitlab-examples project as live exam
  doc/operations/incident_management/incidents.md
Due: docs lint

Bug: fix header height calculation for GlDrawer
  app/assets/javascripts/boards/components/board_settings_sidebar.vue
  app/assets/javascripts/lib/utils/common_utils.js
  changelogs/unreleased/ss-gl-drawer-header-height.yml
  ee/app/assets/javascripts/boards/components/board_content_sidebar.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Add incident management analytics events
  lib/gitlab/analytics/incident_management/alert_assigned_event.rb
  lib/gitlab/analytics/incident_management/alert_status_change_event.rb
  lib/gitlab/analytics/incident_management/base.rb
  lib/gitlab/usage_data_counters/known_events.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add usage of track_event
  app/graphql/mutations/alert_management/update_alert_status.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rearrange a little
  app/graphql/mutations/alert_management/alerts/set_assignees.rb
  app/graphql/mutations/alert_management/alerts/todo/create.rb
  app/graphql/mutations/alert_management/create_alert_issue.rb
  app/graphql/mutations/alert_management/update_alert_status.rb
  app/services/issues/base_service.rb
  app/services/issues/close_service.rb
  app/services/issues/create_service.rb
  app/services/issues/reopen_service.rb
  app/services/issues/update_service.rb
  app/services/issues/zoom_link_service.rb
  lib/gitlab/analytics/incident_management/alert_assigned_event.rb
  lib/gitlab/analytics/incident_management/alert_status_change_event.rb
  lib/gitlab/analytics/incident_management/base.rb
  lib/gitlab/usage_data.rb
  lib/gitlab/usage_data_counters/incident_management_activity.rb
  lib/gitlab/usage_data_counters/known_events.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  lib/gitlab/ci/templates/Jobs/LSIF.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update docs to include mr reviewers
  doc/user/project/merge_requests/getting_started.md
Due: docs lint

Fix show add stage form event
  ee/app/assets/javascripts/analytics/cycle_analytics/components/stage_table_nav.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/constants.js
  ee/spec/frontend/analytics/cycle_analytics/components/base_spec.js
  ee/spec/frontend/analytics/cycle_analytics/components/stage_table_nav_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Reinstate cycle_analytics spec
  ee/spec/features/analytics/cycle_analytics/cycle_analytics_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Replaces instance level routes with group level
  ee/spec/features/analytics/cycle_analytics/cycle_analytics_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use test QA branch
  .gitlab/ci/qa.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix link to js docs
  doc/development/fe_guide/style/vue.md
Due: docs lint

Move reviewers feature to Core
  app/helpers/form_helper.rb
  app/models/merge_request.rb
  app/serializers/merge_request_sidebar_extras_entity.rb
  app/services/issuable_base_service.rb
  app/services/merge_requests/base_service.rb
  ee/app/models/ee/merge_request.rb
  ee/app/services/ee/issuable_base_service.rb
  ee/spec/models/merge_request_spec.rb
  spec/models/issue_spec.rb
  spec/models/merge_request_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test commit to see pipelines
  app/models/design_management/design.rb
  app/services/design_management/copy_design_collection_service.rb
  app/services/design_management/design_service.rb
  app/services/issues/move_service.rb
  lib/gitlab/design_management/copy_design_collection_model_attributes.yml
  spec/services/design_management/copy_design_collection_service_spec.rb
  spec/services/issues/move_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix failing specs and some more service specs
  app/serializers/merge_request_sidebar_extras_entity.rb
  app/services/merge_requests/base_service.rb
  spec/serializers/merge_request_sidebar_extras_entity_spec.rb
  spec/services/merge_requests/create_service_spec.rb
  spec/services/merge_requests/update_service_spec.rb
  spec/support/shared_examples/services/merge_request_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove duplicate entry from EE helper
  ee/app/helpers/ee/form_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix sub group specs
  ee/spec/features/analytics/cycle_analytics/cycle_analytics_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Move customizable VSA specs to a separate file
  ee/spec/features/analytics/cycle_analytics/cycle_analytics_spec.rb
  ee/spec/features/groups/analytics/customizable_cycle_analytics_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove cleanup_lfs_during_gc feature flag
  app/workers/git_garbage_collect_worker.rb
  changelogs/unreleased/238605-remove-cleanup-lfs-during-gc-feature-flag.yml
  doc/administration/housekeeping.md
  doc/user/project/repository/reducing_the_repo_size_using_git.md
  spec/workers/git_garbage_collect_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace <gl-deprecated-button> in environments_app.vue
  app/assets/javascripts/environments/components/environments_app.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update failing spec
  spec/frontend/vue_mr_widget/stores/get_state_key_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Debug the spec/controllers/concerns/renders_commits_spec.rb test file
  .gitlab-ci.yml
  .gitlab/ci/docs.gitlab-ci.yml
  .gitlab/ci/pages.gitlab-ci.yml
  .gitlab/ci/rails.gitlab-ci.yml
  .gitlab/ci/test-metadata.gitlab-ci.yml
  spec/controllers/concerns/renders_commits_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update image to use Chrome 85
  .gitlab-ci.yml
  .gitlab/ci/global.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/development/documentation/styleguide.md
Due: docs lint
