Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Speed up CI runners API specs
  spec/requests/api/runners_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Drop x-y-stable Secure image pinning
  changelogs/unreleased/deprecate-x-y-stable-secure-images.yml
  lib/gitlab/ci/templates/Security/Dependency-Scanning.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/License-Management.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/License-Scanning.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/SAST.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add terraform_reports endpoint to MR controller
  app/controllers/projects/merge_requests_controller.rb
  app/models/ci/build.rb
  app/models/ci/job_artifact.rb
  app/models/ci/pipeline.rb
  app/models/merge_request.rb
  app/serializers/merge_request_poll_widget_entity.rb
  app/services/ci/generate_terraform_reports_service.rb
  config/routes/merge_requests.rb
  lib/gitlab/ci/parsers.rb
  lib/gitlab/ci/parsers/terraform/tfplan.rb
  lib/gitlab/ci/reports/terraform_reports.rb
  locale/gitlab.pot
  spec/controllers/projects/merge_requests_controller_spec.rb
  spec/factories/ci/builds.rb
  spec/factories/ci/job_artifacts.rb
  spec/factories/ci/pipelines.rb
  spec/factories/merge_requests.rb
  spec/fixtures/terraform/tfplan.json
  spec/fixtures/terraform/tfplan_with_corrupted_data.json
  spec/lib/gitlab/ci/parsers/terraform/tfplan_spec.rb
  spec/lib/gitlab/ci/parsers_spec.rb
  spec/lib/gitlab/ci/reports/terraform_reports_spec.rb
  spec/models/ci/build_spec.rb
  spec/models/ci/job_artifact_spec.rb
  spec/models/ci/pipeline_spec.rb
  spec/models/merge_request_spec.rb
  spec/serializers/merge_request_poll_widget_entity_spec.rb
  spec/services/ci/generate_terraform_reports_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Avoid commit when snippet file_name and content are not present
  app/services/snippets/update_service.rb
  changelogs/unreleased/fj-214692-avoid-commit-when-content-file-name-not-updated.yml
  spec/features/projects/snippets/user_updates_snippet_spec.rb
  spec/features/snippets/user_edits_snippet_spec.rb
  spec/requests/api/snippets_spec.rb
  spec/services/snippets/update_service_spec.rb
  spec/support/shared_examples/requests/snippet_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog for the shortcuts modal rearrangement
  changelogs/unreleased/feature-refactor-keyboard-shortcuts-modal.yml
Due: none

Refactor keyboard shortcuts modal
  app/views/help/_shortcuts.html.haml
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Fluentd into cluster apps page
  app/assets/images/cluster_app_logos/fluentd.png
  app/assets/javascripts/clusters/clusters_bundle.js
  app/assets/javascripts/clusters/components/applications.vue
  app/assets/javascripts/clusters/components/fluentd_output_settings.vue
  app/assets/javascripts/clusters/constants.js
  app/assets/javascripts/clusters/services/clusters_service.js
  app/assets/javascripts/clusters/stores/clusters_store.js
  app/views/clusters/clusters/show.html.haml
  changelogs/unreleased/add_fluentd_into_cluster_app_page.yml
  doc/user/clusters/applications.md
  doc/user/clusters/img/fluentd_v12_10.png
  locale/gitlab.pot
  spec/frontend/clusters/components/applications_spec.js
  spec/frontend/clusters/components/fluentd_output_settings_spec.js
  spec/frontend/clusters/services/mock_data.js
  spec/frontend/clusters/stores/clusters_store_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Temporary rollback to make feature spec pass
  app/assets/javascripts/gfm_auto_complete.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace underscore with lodash
  app/assets/javascripts/awards_handler.js
  app/assets/javascripts/dropzone_input.js
  app/assets/javascripts/flash.js
  app/assets/javascripts/gfm_auto_complete.js
  app/assets/javascripts/importer_status.js
  app/assets/javascripts/issuable_bulk_update_sidebar.js
  app/assets/javascripts/labels_select.js
  app/assets/javascripts/locale/sprintf.js
  app/assets/javascripts/right_sidebar.js
  app/assets/javascripts/users_select.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add note about automatic bucket creation
  doc/user/project/status_page/index.md
Due: docs lint

Geo SSH clone/pull for not yet replicated repos
  ee/changelogs/unreleased/202037-geo-ssh-clone-pull-redirect-to-primary-when-selective-sync-enab.yml
  ee/lib/api/geo.rb
  ee/lib/ee/gitlab/geo_git_access.rb
  ee/lib/ee/gitlab/middleware/read_only/controller.rb
  ee/lib/gitlab/geo/git_ssh_proxy.rb
  ee/spec/lib/gitlab/geo/git_ssh_proxy_spec.rb
  ee/spec/lib/gitlab/git_access_spec.rb
  ee/spec/lib/gitlab/git_access_wiki_spec.rb
  ee/spec/requests/api/geo_spec.rb
  ee/spec/support/shared_examples/lib/gitlab/git_access_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Removed ref links
  doc/install/azure/index.md
  doc/install/google_cloud_platform/index.md
  doc/install/installation.md
  doc/install/openshift_and_gitlab/index.md
  doc/install/relative_url.md
  doc/raketasks/backup_restore.md
  doc/update/README.md
  doc/update/upgrading_from_ce_to_ee.md
Due: docs lint

Correcting reference link to standard.
  doc/administration/audit_events.md
  doc/administration/instance_review.md
  doc/administration/raketasks/check.md
  doc/administration/raketasks/storage.md
  doc/administration/reply_by_email_postfix_setup.md
  doc/administration/repository_checks.md
  doc/administration/repository_storage_paths.md
  doc/administration/repository_storage_types.md
  doc/administration/restart_gitlab.md
  doc/administration/uploads.md
  doc/api/commits.md
  doc/development/background_migrations.md
Due: docs lint

Update the offline docs to mention solutions
  doc/user/application_security/offline_deployments/index.md
Due: docs lint

Update existing Geo push implementation & specs
  ee/lib/gitlab/geo/git_ssh_proxy.rb
  ee/spec/lib/gitlab/geo/git_ssh_proxy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Consolidate must be a secondary expectations
  ee/spec/lib/gitlab/geo/git_ssh_proxy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Move monitoring dashboard vue files to Core
  app/assets/javascripts/monitoring/components/alert_widget.vue
  app/assets/javascripts/monitoring/components/alert_widget_form.vue
  app/assets/javascripts/monitoring/components/dashboard.vue
  app/assets/javascripts/monitoring/components/dashboard_with_alerts.vue
  app/assets/javascripts/monitoring/components/embeds/metric_embed.vue
  app/assets/javascripts/monitoring/components/panel_type_with_alerts.vue
  app/assets/javascripts/monitoring/constants.js
  app/assets/javascripts/monitoring/monitoring_bundle.js
  app/assets/javascripts/monitoring/monitoring_bundle_with_alerts.js
  app/assets/javascripts/monitoring/services/alerts_service.js
  app/assets/javascripts/monitoring/validators.js
  app/assets/javascripts/pages/projects/environments/metrics/index.js
  app/helpers/environments_helper.rb
  changelogs/unreleased/213473-move-custom-metric-alerts.yml
  ee/app/assets/javascripts/monitoring/constants.js
  ee/app/helpers/ee/environments_helper.rb
  ee/spec/helpers/ee/environments_helper_spec.rb
  qa/qa/ee/page/project/operations/metrics/show.rb
  spec/frontend/monitoring/__snapshots__/alert_widget_spec.js.snap
  spec/frontend/monitoring/alert_widget_spec.js
  spec/frontend/monitoring/components/alert_widget_form_spec.js
  spec/frontend/monitoring/components/dashboard_spec.js
  spec/frontend/monitoring/components/embeds/metric_embed_spec.js
  spec/frontend/monitoring/components/panel_type_with_alerts_spec.js
  spec/frontend/monitoring/stubs/modal_stub.js
  spec/frontend/monitoring/validators_spec.js
  spec/helpers/environments_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove milestones_in_roadmap feature flag
  ee/app/assets/javascripts/roadmap/components/roadmap_shell.vue
  ee/app/controllers/groups/roadmap_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update offline docs
  doc/user/application_security/dependency_scanning/index.md
  doc/user/application_security/offline_deployments/index.md
Due: docs lint

Removed reflinks in docs
  doc/administration/database_load_balancing.md
  doc/administration/pseudonymizer.md
  doc/api/README.md
  doc/api/lint.md
  doc/api/projects.md
  doc/api/services.md
  doc/development/interacting_components.md
  doc/push_rules/push_rules.md
  doc/security/crime_vulnerability.md
  doc/user/feature_highlight.md
  doc/user/group/index.md
  doc/user/group/subgroups/index.md
  doc/user/project/git_attributes.md
  doc/user/project/protected_tags.md
  doc/user/project/repository/file_finder.md
  doc/user/project/repository/forking_workflow.md
  doc/user/project/web_ide/index.md
Due: docs lint

Update links to use standard style
  doc/development/api_styleguide.md
  doc/development/diffs.md
  doc/development/fe_guide/design_patterns.md
  doc/development/fe_guide/vue.md
  doc/development/testing_guide/best_practices.md
  doc/development/testing_guide/frontend_testing.md
  doc/development/testing_guide/index.md
  doc/development/testing_guide/testing_levels.md
Due: docs lint

Tweaked lint script and spec
  changelogs/unreleased/exclude_html_entities_from_haml_lint.yml
  haml_lint/linter/no_plain_nodes.rb
  spec/haml_lint/linter/no_plain_nodes_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Now handles any html entity
  haml_lint/linter/no_plain_nodes.rb
  spec/haml_lint/linter/no_plain_nodes_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Removed whitelisted files
  .haml-lint_todo.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Removed redundant .haml-lint_todo.yml
  .haml-lint.yml
  .haml-lint_todo.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add docker jobs back
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Time kaniko build-qa-image
  .gitlab/ci/review.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Bump version to 5.5.0
  lib/gitlab/qa/version.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add ability to update screenshot path
  .gitlab-ci.yml
  lib/gitlab/qa.rb
  lib/gitlab/qa/report/update_screenshot_path.rb
  lib/gitlab/qa/reporter.rb
  spec/gitlab/qa/report/update_screenshot_path_spec.rb
  spec/gitlab/qa/reporter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Reintroduced NoPlainNodes linting and exclisions list
  .haml-lint.yml
  .haml-lint_todo.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Consolidate PostgreSQL docs
  doc/administration/external_database.md
  doc/administration/high_availability/database.md
  doc/administration/high_availability/pgbouncer.md
  doc/administration/postgresql/external.md
  doc/administration/postgresql/high_availability.md
  doc/administration/postgresql/index.md
  doc/administration/postgresql/monitoring.md
  doc/administration/postgresql/pgbouncer.md
  doc/administration/postgresql/standalone.md
Due: docs lint

Add some logs
  qa/qa/vendor/jenkins/page/last_job_console.rb
Due: graphql-reference-verify, pages, cache gems

Update mergeable_ci_state? for merge train
  app/models/merge_request.rb
  ee/app/models/ee/merge_request.rb
  ee/spec/models/merge_request_spec.rb
  ee/spec/support/helpers/merge_train_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revise deployment_base to pass in suite and scenario params Add StagingGeo test scenario
  lib/gitlab/qa.rb
  lib/gitlab/qa/component/staging.rb
  lib/gitlab/qa/scenario/test/instance/deployment_base.rb
  lib/gitlab/qa/scenario/test/instance/staging_geo.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

feat(alerts): add help document link with base doc
  app/assets/javascripts/surface_alerts/components/surface_alerts_list.vue
  doc/user/project/operations/alert_management.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Will raise follow up to improve technique
  .haml-lint.yml
  .haml-lint_todo.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Do not target gl-button component
  app/assets/stylesheets/framework/buttons.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Generate accessibility base report
  lib/gitlab/ci/templates/Verify/Accessibility.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Prevent root-element from inheriting attributes
  app/assets/javascripts/snippets/components/edit.vue
  app/assets/javascripts/snippets/components/snippet_description_edit.vue
  app/assets/javascripts/vue_shared/components/form/title.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rm underscore from javacripts/common
  app/assets/javascripts/commons/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
