Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Update yaml.gitlab-ci.yml
  .gitlab/ci/yaml.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Futurize MR RefreshService
  Gemfile
  Gemfile.lock
  app/services/merge_requests/refresh_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add policy check for issues and project
  app/models/issue.rb
  app/models/namespace.rb
  app/policies/concerns/crud_policy_helpers.rb
  app/policies/issue_policy.rb
  app/policies/namespace_policy.rb
  app/policies/project_policy.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Automatically add the documentation label via Danger
  danger/documentation/Dangerfile
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Make a doc change
  doc/README.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Enable code navigation for frontend JS code
  .gitlab/ci/frontend.gitlab-ci.yml
  tsconfig.json
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make QA maintainer mandatory if MR is only QA and author is an SET
  danger/roulette/Dangerfile
  lib/gitlab/danger/roulette.rb
  spec/lib/gitlab/danger/roulette_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

QA-only change for testing purpose
  qa/qa.rb
Due: graphql-reference-verify, pages, cache gems

Make a dummy backend change
  app/models/ability.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add focus-visible polyfill
  app/assets/javascripts/monitoring/components/dashboard.vue
  app/assets/stylesheets/pages/prometheus.scss
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Remove application wide namespace limit
  app/controllers/admin/application_settings_controller.rb
  app/models/application_setting.rb
  app/models/application_setting_implementation.rb
  app/views/admin/application_settings/_account_and_limit.html.haml
  db/migrate/20200706181901_remove_namespace_storage_size_limit_from_application_settings.rb
  db/structure.sql
  doc/user/admin_area/settings/account_and_limit_settings.md
  spec/controllers/admin/application_settings_controller_spec.rb
  spec/models/application_setting_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

pr review patch applied
  app/controllers/dashboard/projects_controller.rb
  locale/gitlab.pot
  spec/controllers/dashboard/projects_controller_spec.rb
  spec/helpers/projects_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/development/documentation/styleguide.md
Due: docs lint

Add unit tests
  ee/app/assets/javascripts/iterations/components/iteration_report_tabs.vue
  ee/spec/frontend/iterations/iteration_report_tabs_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove trailing dot from 12.9.5 in table
  doc/policy/maintenance.md
Due: docs lint

Skip cached should be false by default
  spec/support/helpers/query_recorder.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add MergeRequests::ApprovalsController to CE
  app/controllers/projects/merge_requests/approvals_controller.rb
  app/policies/merge_request_policy.rb
  config/routes/merge_requests.rb
  ee/app/controllers/ee/projects/merge_requests/approvals_controller.rb
  ee/app/controllers/ee/projects/merge_requests_controller.rb
  ee/app/policies/ee/merge_request_policy.rb
  ee/config/routes/merge_requests.rb
  ee/spec/controllers/projects/approvals_controller_spec.rb
  spec/controllers/projects/approvals_controller_spec.rb
  spec/policies/merge_request_policy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Seperate class for project-specific User-access
  app/controllers/concerns/checks_collaboration.rb
  app/controllers/projects/merge_requests_controller.rb
  app/models/merge_request.rb
  app/policies/ci/build_policy.rb
  app/policies/ci/pipeline_policy.rb
  app/policies/suggestion_policy.rb
  app/presenters/merge_request_presenter.rb
  app/services/ci/create_cross_project_pipeline_service.rb
  app/services/commits/create_service.rb
  app/services/merge_requests/conflicts/list_service.rb
  app/services/metrics/dashboard/clone_dashboard_service.rb
  app/services/metrics/dashboard/update_dashboard_service.rb
  ee/app/services/merge_requests/create_from_vulnerability_data_service.rb
  ee/spec/lib/gitlab/user_access_project_spec.rb
  lib/api/commits.rb
  lib/api/entities/branch.rb
  lib/api/merge_requests.rb
  lib/gitlab/ci/pipeline/chain/validate/abilities.rb
  lib/gitlab/user_access.rb
  lib/gitlab/user_access_project.rb
  lib/gitlab/user_access_snippet.rb
  spec/lib/gitlab/user_access_snippet_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add product analytics for events to monitoring
  app/controllers/projects/product_analytics_controller.rb
  app/models/product_analytics_event.rb
  app/views/layouts/nav/sidebar/_project.html.haml
  app/views/projects/product_analytics/_links.html.erb
  app/views/projects/product_analytics/_tracker.html.erb
  app/views/projects/product_analytics/activity.html.erb
  app/views/projects/product_analytics/example.erb
  app/views/projects/product_analytics/index.html.erb
  app/views/projects/product_analytics/test.html.erb
  app/views/projects/product_analytics/users.html.erb
  config/routes/project.rb
  db/fixtures/development/27_product_analytics_events.rb
  db/migrate/20200327181936_add_product_analytics_table.rb
  doc/user/project/operations/index.md
  doc/user/project/operations/product_analytics.md
  locale/gitlab.pot
  public/-/sp.js
  spec/controllers/projects/product_analytics_controller_spec.rb
  spec/models/product_analytics_event_spec.rb
  spec/support/shared_contexts/navbar_structure_context.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add indexes in a separate migration
  db/migrate/20200327181936_add_product_analytics_table.rb
  db/migrate/20200413142027_add_indexes_to_product_analytics.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update the db schema version by running the migration
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
