Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Disable (skip) the Auto DevOps QA test
  qa/qa/specs/features/browser_ui/7_configure/auto_devops/create_project_with_auto_devops_spec.rb
Due: graphql-reference-verify, pages, cache gems

Simplify filters dropdown
  ee/app/assets/javascripts/security_dashboard/components/filter.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Return max_seats_used in namespaces list API
  ee/changelogs/unreleased/rp-namespace-list-max-seats-used.yml
  ee/lib/ee/api/entities/namespace.rb
  ee/spec/requests/api/namespaces_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add docs for max_seats_used in namespaces API doc
  doc/api/namespaces.md
Due: docs lint

Copy designs to new issue when issue is moved
  app/models/design_management/design.rb
  app/models/design_management/design_collection.rb
  app/services/design_management/copy_design_collection.rb
  app/services/design_management/copy_design_collection/copy_service.rb
  app/services/design_management/copy_design_collection/queue_service.rb
  app/services/design_management/delete_designs_service.rb
  app/services/design_management/design_service.rb
  app/services/design_management/runs_design_actions.rb
  app/services/design_management/save_designs_service.rb
  app/services/issues/move_service.rb
  app/workers/all_queues.yml
  app/workers/design_management/copy_design_collection_worker.rb
  app/workers/design_management/new_version_worker.rb
  changelogs/unreleased/13426-copy-designs.yml
  config/feature_flags/development/design_management_copy_designs.yml
  config/sidekiq_queues.yml
  lib/gitlab/design_management/copy_design_collection_model_attributes.yml
  spec/models/design_management/design_collection_spec.rb
  spec/services/design_management/copy_design_collection/copy_service_spec.rb
  spec/services/design_management/copy_design_collection/queue_service_spec.rb
  spec/services/design_management/delete_designs_service_spec.rb
  spec/services/design_management/save_designs_service_spec.rb
  spec/services/issues/move_service_spec.rb
  spec/workers/design_management/copy_design_collection_worker_spec.rb
  spec/workers/design_management/new_version_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate analytics bs-callout to gl-alert
  ee/app/assets/javascripts/analytics/cycle_analytics/components/duration_chart.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/type_of_work_charts.vue
  ee/app/assets/javascripts/analytics/productivity_analytics/components/app.vue
  ee/changelogs/unreleased/242032-analytics-alert-migration.yml
  ee/spec/frontend/analytics/cycle_analytics/components/duration_chart_spec.js
  ee/spec/frontend/analytics/productivity_analytics/components/app_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Changes due to copy state `queued` being removed
  app/models/design_management/design_collection.rb
  app/services/design_management/copy_design_collection/copy_service.rb
  app/services/design_management/copy_design_collection/queue_service.rb
  spec/models/design_management/design_collection_spec.rb
  spec/services/design_management/copy_design_collection/copy_service_spec.rb
  spec/services/design_management/copy_design_collection/queue_service_spec.rb
  spec/services/design_management/save_designs_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add conditional in case method is undefined
  app/views/projects/blob/_content.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose copyState on GraphQL DesignCollection type
  app/graphql/types/design_management/design_collection_copy_state_enum.rb
  app/graphql/types/design_management/design_collection_type.rb
  changelogs/unreleased/13426-graphql.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  spec/graphql/types/design_management/design_collection_copy_state_enum_spec.rb
  spec/graphql/types/design_management/design_collection_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Reflect design collection copy state on frontend
  app/assets/javascripts/design_management/graphql/queries/get_design_list.query.graphql
  app/assets/javascripts/design_management/mixins/design_collection.js
  app/assets/javascripts/design_management/pages/index.vue
  app/assets/stylesheets/components/design_management/design.scss
  changelogs/unreleased/13426-graphql-fe.yml
  locale/gitlab.pot
  spec/frontend/design_management/mock_data/apollo_mock.js
  spec/frontend/design_management/pages/__snapshots__/index_spec.js.snap
  spec/frontend/design_management/pages/index_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply refactor patch from @ntepluhina
  app/assets/javascripts/design_management/mixins/all_designs.js
  app/assets/javascripts/design_management/mixins/design_collection.js
  app/assets/javascripts/design_management/pages/index.vue
  app/assets/javascripts/design_management/utils/cache_update.js
  app/assets/javascripts/design_management/utils/design_management_utils.js
  spec/frontend/design_management/components/toolbar/design_navigation_spec.js
  spec/frontend/design_management/pages/__snapshots__/index_spec.js.snap
  spec/frontend/design_management/pages/index_spec.js
  spec/frontend/design_management/router_spec.js
  spec/frontend/design_management/utils/design_management_utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add more specs
  app/assets/javascripts/vue_shared/components/local_storage_sync.vue
  spec/frontend/vue_shared/components/local_storage_sync_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: add non-string support to local-storage-sync
  app/assets/javascripts/vue_shared/components/local_storage_sync.vue
  spec/frontend/vue_shared/components/local_storage_sync_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Do things correctly
  ee/app/assets/javascripts/burndown_chart/components/burn_charts.vue
  ee/app/assets/javascripts/burndown_chart/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Hide the old/new burndown toggle for new charts
  ee/app/assets/javascripts/burndown_chart/components/burn_charts.vue
  ee/app/assets/javascripts/burndown_chart/index.js
  ee/app/views/shared/milestones/_burndown.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Set up experiment for group-only trials
  ee/app/controllers/trials_controller.rb
  ee/app/helpers/ee/trial_helper.rb
  ee/app/views/trials/_skip_trial.html.haml
  ee/spec/controllers/trials_controller_spec.rb
  ee/spec/helpers/ee/trial_helper_spec.rb
  ee/spec/views/trials/_skip_trial.html.haml_spec.rb
  lib/gitlab/experimentation.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/user/project/integrations/prometheus.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/development/prometheus.md
Due: docs lint

Add DastSiteValidationWorker for on-demand DAST
  ee/app/models/dast_site_validation.rb
  ee/app/workers/dast_site_validation_worker.rb
  ee/changelogs/unreleased/add-dast-site-validation-worker-245209.yml
  ee/spec/models/dast_site_validation_spec.rb
  ee/spec/workers/dast_site_validation_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix links to redirected files
  doc/README.md
  doc/administration/auth/README.md
  doc/administration/geo/replication/multiple_servers.md
  doc/administration/index.md
  doc/administration/packages/dependency_proxy.md
  doc/administration/reference_architectures/10k_users.md
  doc/administration/reference_architectures/1k_users.md
  doc/administration/reference_architectures/25k_users.md
  doc/administration/reference_architectures/50k_users.md
  doc/administration/troubleshooting/ssl.md
  doc/ci/environments/index.md
  doc/user/analytics/productivity_analytics.md
  doc/user/index.md
  doc/user/project/index.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update UI links to redirected docs
  app/views/admin/dashboard/index.html.haml
  app/views/projects/environments/show.html.haml
  app/views/projects/issues/_new_branch.html.haml
  app/views/projects/settings/operations/_alert_management.html.haml
  ee/app/views/admin/application_settings/_ldap_access_setting.html.haml
  ee/app/views/admin/dashboard/_elastic_and_geo.html.haml
  ee/app/views/shared/promotions/_promote_repository_features.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add merge-ref diff e2e tests
  qa/qa/specs/features/browser_ui/3_create/merge_request/view_merge_request_merge_ref_diff_spec.rb
Due: graphql-reference-verify, pages, cache gems

Clean up method calls
  qa/qa/page/merge_request/show.rb
Due: graphql-reference-verify, pages, cache gems

Add new page object elements and methods
  app/assets/javascripts/diffs/components/compare_dropdown_layout.vue
  app/assets/javascripts/diffs/components/compare_versions.vue
  app/assets/javascripts/diffs/components/diff_file_header.vue
  qa/qa/page/merge_request/show.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Allow scoped feature flag toggling
  qa/qa/runtime/feature.rb
Due: graphql-reference-verify, pages, cache gems

Fix flex classes, remove needless x-margins
  ee/app/assets/javascripts/burndown_chart/components/burn_charts.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Switch out inline script with dataset
  app/assets/javascripts/issue_show/utils/parse_data.js
  app/views/projects/issues/show.html.haml
  spec/frontend/issue_show/issue_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch 'revert-d81fd9e9' into 'master'"
  app/assets/javascripts/issuable_context.js
  app/assets/javascripts/sidebar/sidebar_mediator.js
  app/assets/javascripts/sidebar/stores/sidebar_store.js
  app/assets/javascripts/users_select/index.js
  app/helpers/issuables_helper.rb
  app/views/projects/merge_requests/show.html.haml
  app/views/shared/issuable/_sidebar.html.haml
  app/views/shared/issuable/_sidebar_reviewers.html.haml
  locale/gitlab.pot
  spec/helpers/issuables_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added removed tests back
  ee/spec/features/boards/group_boards/multiple_boards_spec.rb
  spec/features/boards/boards_spec.rb
  spec/support/shared_examples/boards/multiple_issue_boards_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  ee/changelogs/unreleased/vs-send-email-to-ee-admin-user-count-threshold.yml
Due: none

One more spec fix
  ee/spec/features/boards/group_boards/multiple_boards_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add license encryption key for testing purposes
  .test_license_encryption_key.pub
  config/initializers/0_license.rb
  ee/app/models/license.rb
  ee/changelogs/unreleased/use_testing_license_key.yml
  ee/spec/models/license_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP new blackbox elasticsearch approach
  qa/qa/specs/features/ee/api/enablement/elasticsearch/example_nightly_elasticsearch_test_spec.rb
Due: graphql-reference-verify, pages, cache gems

Address more suggestions
  app/helpers/emails_helper.rb
  spec/models/merge_request_spec.rb
  spec/services/notification_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change P thresholds
  qa/qa/specs/features/ee/api/enablement/elasticsearch/example_nightly_elasticsearch_test_spec.rb
Due: graphql-reference-verify, pages, cache gems

Note GraphQL docs need update too
  doc/development/geo/framework.md
Due: docs lint

Geo: Implement GraphQL endpoint for MR diffs
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/finders/geo/merge_request_diff_registry_finder.rb
  ee/app/graphql/resolvers/geo/merge_request_diff_registries_resolver.rb
  ee/app/graphql/types/geo/geo_node_type.rb
  ee/app/graphql/types/geo/merge_request_diff_registry_type.rb
  ee/changelogs/unreleased/tc-geo-mr-diffs-graphql.yml
  ee/spec/finders/geo/merge_request_diff_registry_finder_spec.rb
  ee/spec/graphql/resolvers/geo/merge_request_diff_registries_resolver_spec.rb
  ee/spec/graphql/types/geo/geo_node_type_spec.rb
  ee/spec/graphql/types/geo/merge_request_diff_registry_type_spec.rb
  ee/spec/requests/api/graphql/geo/registries_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Emphasize GraphQL fields are for Geo
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/development/geo/framework.md
  ee/app/graphql/types/geo/merge_request_diff_registry_type.rb
  ee/app/graphql/types/geo/package_file_registry_type.rb
  ee/app/graphql/types/geo/terraform_state_registry_type.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use subclass to override ensure_merge_request_diff
  ee/spec/models/geo/merge_request_diff_registry_spec.rb
  spec/factories/merge_request_diffs.rb
  spec/factories/merge_requests.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix params object key for VSA requests
  ee/app/assets/javascripts/analytics/cycle_analytics/store/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/duration_chart/actions.js
  ee/app/assets/javascripts/api.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
