Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Fix plain text template
  app/views/notify/pages_domain_auto_ssl_failed_email.text.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use html_safe on translation
  app/views/notify/pages_domain_auto_ssl_failed_email.text.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix subject grammar
  app/mailers/emails/pages_domains.rb
  locale/gitlab.pot
  spec/mailers/emails/pages_domains_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Notify users if we've failed to get Let's Encrypt certificate
  app/services/pages_domains/obtain_lets_encrypt_certificate_service.rb
  spec/services/pages_domains/obtain_lets_encrypt_certificate_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Moved GraphQL-related data into a mixin
  app/assets/javascripts/snippets/components/show.vue
  app/assets/javascripts/snippets/mixins/snippets.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add forgotten translations
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Optimize projects with repositories enabled
  changelogs/unreleased/213799-optimize-usage_activity_by_stage-projects_with_repositories_enable.yml
  db/migrate/20200408153842_add_index_on_creator_id_and_id_on_projects.rb
  db/structure.sql
  ee/lib/ee/gitlab/usage_data.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix flaky Jenkins e2e spec javascript error
  qa/qa/specs/features/ee/browser_ui/3_create/jenkins/jenkins_build_status_spec.rb
  qa/qa/vendor/jenkins/page/last_job_console.rb
Due: graphql-reference-verify, pages, cache gems

Add CHANGELOG entry
  changelogs/unreleased/213382-use-not-valid-to-immediately-enforce-a-not-null-constraint.yml
Due: none

Create project label for Jira imported issues
  app/models/jira_import_state.rb
  app/services/jira_import/start_import_service.rb
  changelogs/unreleased/213225-adjust-issues-label-on-jira-import.yml
  lib/gitlab/jira_import/labels_importer.rb
  locale/gitlab.pot
  spec/lib/gitlab/jira_import/labels_importer_spec.rb
  spec/services/jira_import/start_import_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable store_merge_request_line_metrics FF
  ee/lib/analytics/merge_request_metrics_calculator.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update QA ci variables spec
  app/assets/javascripts/ci_variable_list/components/ci_variable_modal.vue
  app/assets/javascripts/ci_variable_list/components/ci_variable_table.vue
  changelogs/unreleased/update-ci-variable-qa-test.yml
  qa/qa/page/project/settings/ci_variables.rb
  qa/qa/resource/ci_variable.rb
  qa/qa/specs/features/browser_ui/4_verify/ci_variable/add_remove_ci_variable_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Copy deployments.cluster_id to deployment_clusters
  db/migrate/20200406102111_add_index_to_deployments_where_cluster_id_is_not_null.rb
  db/post_migrate/20200406102120_backfill_deployment_clusters_from_deployments.rb
  db/structure.sql
  lib/gitlab/background_migration/backfill_deployment_clusters_from_deployments.rb
  spec/lib/gitlab/background_migration/backfill_deployment_clusters_from_deployments_spec.rb
  spec/migrations/20200406102120_backfill_deployment_clusters_from_deployments_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Set defaul value for file_store
  app/models/ci/job_artifact.rb
  app/models/lfs_object.rb
  app/uploaders/records_uploads.rb
  ee/spec/services/security/store_scans_service_spec.rb
  spec/factories/ci/job_artifacts.rb
  spec/models/ci/job_artifact_spec.rb
  spec/uploaders/records_uploads_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate CE & EE controller specs to consider admin mode
  ee/spec/controllers/ee/groups_controller_spec.rb
  ee/spec/controllers/ee/projects/jobs_controller_spec.rb
  ee/spec/controllers/profiles_controller_spec.rb
  ee/spec/controllers/projects/clusters_controller_spec.rb
  ee/spec/controllers/projects/deploy_keys_controller_spec.rb
  ee/spec/controllers/projects/mirrors_controller_spec.rb
  ee/spec/controllers/projects/pages_controller_spec.rb
  ee/spec/controllers/projects/push_rules_controller_spec.rb
  ee/spec/controllers/projects/web_ide_terminals_controller_spec.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/concerns/enforces_admin_authentication_spec.rb
  spec/controllers/groups/settings/ci_cd_controller_spec.rb
  spec/controllers/projects/clusters/applications_controller_spec.rb
  spec/controllers/projects/clusters_controller_spec.rb
  spec/controllers/projects/deploy_keys_controller_spec.rb
  spec/controllers/projects/issues_controller_spec.rb
  spec/controllers/projects/jobs_controller_spec.rb
  spec/controllers/projects/mirrors_controller_spec.rb
  spec/controllers/projects/pipeline_schedules_controller_spec.rb
  spec/controllers/projects/settings/ci_cd_controller_spec.rb
  spec/controllers/projects_controller_spec.rb
  spec/spec_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use NOT VALID to enforce a not null constraint on file_store
  db/migrate/20200406165950_add_not_null_constraint_on_file_store_to_lfs_objects.rb
  db/migrate/20200406171857_add_not_null_constraint_on_file_store_to_ci_job_artifacts.rb
  db/migrate/20200406172135_add_not_null_constraint_on_file_store_to_uploads.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add support for toast messages on user actions
  ee/app/assets/javascripts/requirements/components/requirements_root.vue
  ee/app/assets/javascripts/requirements/queries/createRequirement.mutation.graphql
  ee/app/assets/javascripts/requirements/requirements_bundle.js
  ee/app/views/layouts/nav/_requirements_link.html.haml
  ee/spec/features/projects/navbar_spec.rb
  ee/spec/features/projects/requirements/requirements_list_spec.rb
  ee/spec/frontend/requirements/components/requirements_root_spec.js
  locale/gitlab.pot
  spec/support/shared_contexts/navbar_structure_context.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Address MR comments 2
  ee/app/assets/javascripts/vue_shared/security_reports/components/modal.vue
  ee/spec/frontend/vulnerabilities/header_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate ee/ide to Jest
  ee/spec/frontend/ide/components/terminal/empty_state_spec.js
  ee/spec/frontend/ide/components/terminal/terminal_spec.js
  ee/spec/frontend/ide/components/terminal/view_spec.js
  ee/spec/frontend/ide/stores/modules/terminal/actions/checks_spec.js
  ee/spec/frontend/ide/stores/modules/terminal/actions/session_controls_spec.js
  ee/spec/frontend/ide/stores/modules/terminal/actions/session_status_spec.js
  ee/spec/frontend/ide/stores/modules/terminal/actions/setup_spec.js
  ee/spec/frontend/ide/stores/modules/terminal/messages_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use strong_memoize for external_issue_trackers
  app/models/project.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Start annotations post endpoint
  changelogs/unreleased/211460-annotations-post-endpoint-revised.yml
  lib/api/api.rb
  lib/api/entities/metrics/dashboard/annotation.rb
  lib/api/metrics/dashboard/annotations.rb
  spec/requests/api/metrics/dashboard/annotations_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor vulnerability header and footer
  ee/app/assets/javascripts/pages/projects/security/vulnerabilities/show/index.js
  ee/app/assets/javascripts/vue_shared/security_reports/components/modal.vue
  ee/app/assets/javascripts/vulnerabilities/components/footer.vue
  ee/app/assets/javascripts/vulnerabilities/components/header.vue
  ee/app/views/projects/security/vulnerabilities/show.html.haml
  ee/spec/frontend/vue_shared/security_reports/components/modal_spec.js
  ee/spec/frontend/vulnerabilities/app_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Project import Github API rate limit is exceeded
  app/controllers/import/github_controller.rb
  changelogs/unreleased/github-rate-limit-on-project-import.yml
  lib/gitlab/legacy_github_import/client.rb
  locale/gitlab.pot
  spec/lib/gitlab/legacy_github_import/client_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Address MR comments
  ee/app/assets/javascripts/pages/projects/security/vulnerabilities/show/index.js
  ee/app/assets/javascripts/vue_shared/security_reports/components/modal.vue
  ee/spec/frontend/vulnerabilities/header_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use callback methods instead of emits for event item
  ee/app/assets/javascripts/vue_shared/security_reports/components/dismissal_note.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/event_item.vue
  ee/spec/frontend/vue_shared/security_reports/components/event_item_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rewrite API-UI section, add additional content
  doc/development/testing_guide/end_to_end/best_practices.md
Due: docs lint

Dedupe some SCSS variables
  app/assets/stylesheets/framework/buttons.scss
  app/assets/stylesheets/framework/variables.scss
  app/assets/stylesheets/pages/boards.scss
  app/assets/stylesheets/pages/commits.scss
  app/assets/stylesheets/pages/issuable.scss
  app/assets/stylesheets/pages/tree.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Fluentd docs related to the cluster app page
  doc/user/clusters/applications.md
  doc/user/clusters/img/fluentd_v12_10.png
Due: docs lint

Note about route conflicts linking to guidelines
  lib/gitlab/path_regex.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add validation to the "Edit Release" form
  app/assets/javascripts/lib/utils/text_utility.js
  app/assets/javascripts/releases/components/app_edit.vue
  app/assets/javascripts/releases/components/asset_links_form.vue
  app/assets/javascripts/releases/stores/modules/detail/getters.js
  locale/gitlab.pot
  spec/frontend/lib/utils/text_utility_spec.js
  spec/frontend/releases/components/app_edit_spec.js
  spec/frontend/releases/components/asset_links_form_spec.js
  spec/frontend/releases/stores/modules/detail/getters_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Show policy violations in license compliance
  ee/app/assets/javascripts/license_compliance/components/app.vue
  ee/app/assets/javascripts/license_compliance/components/licenses_table_row.vue
  ee/app/assets/javascripts/license_compliance/store/index.js
  ee/app/assets/javascripts/license_compliance/store/modules/list/getters.js
  ee/app/assets/javascripts/license_compliance/store/plugins/mediator.js
  ee/app/assets/javascripts/vue_shared/license_compliance/constants.js
  ee/changelogs/unreleased/match-displayed-policies.yml
  ee/spec/frontend/license_compliance/components/app_spec.js
  ee/spec/frontend/license_compliance/components/licenses_table_row_spec.js
  ee/spec/frontend/license_compliance/store/modules/list/getters_spec.js
  ee/spec/frontend/license_compliance/store/plugins/mediator_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove inline style
  ee/app/assets/javascripts/license_compliance/components/licenses_table_row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix pipeline failures after using presenter
  app/controllers/projects/pages_domains_controller.rb
  app/views/projects/pages_domains/_certificate.html.haml
  spec/views/projects/pages_domains/show.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Retry button for Let's Encrypt certs
  app/controllers/projects/pages_domains_controller.rb
  app/views/projects/pages/_list.html.haml
  app/views/projects/pages_domains/_lets_encrypt_callout.html.haml
  doc/user/project/pages/custom_domains_ssl_tls_certification/lets_encrypt_integration.md
  locale/gitlab.pot
  spec/views/projects/pages/show.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve error message in DAST CI template
  changelogs/unreleased/sh-improve-dast-template-error.yml
  lib/gitlab/ci/templates/Security/DAST.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Default to choosing domain experts for reviewers
  doc/development/code_review.md
Due: docs lint

Clear Let's Encrypt error flag if auto ssl is disabled
  app/models/pages_domain.rb
  spec/models/pages_domain_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Align button for Let’s Encrypt warning callout
  app/views/projects/pages_domains/_lets_encrypt_callout.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add retry_auto_ssl action to pages domains controller
  app/controllers/projects/pages_domains_controller.rb
  config/routes/project.rb
  spec/controllers/projects/pages_domains_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add service for retrying acme orders
  app/services/pages_domains/retry_acme_order_service.rb
  spec/services/pages_domains/retry_acme_order_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
