Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Add keyboard shortcut to security dashboard
  app/assets/javascripts/behaviors/shortcuts/shortcuts.js
  app/assets/javascripts/behaviors/shortcuts/shortcuts_navigation.js
  app/views/help/_shortcuts.html.haml
  ee/app/views/dashboard/_nav_link_list.html.haml
  ee/app/views/layouts/nav/sidebar/_project_security_link.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  ee/changelogs/unreleased/keyboard-shortcut.yml
Due: none

Update generated locales
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove container indirection in Blob.lazy
  app/models/blob.rb
  app/models/snippet.rb
  lib/gitlab/diff/file.rb
  spec/models/blob_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to doc/user/application_security/sast/index.md
  doc/user/application_security/sast/index.md
Due: docs lint

Add new template for PM and tech writer milestone work planning/tracking
  .gitlab/issue_templates/PM-TW milestone work.md
Due: none

More styling tweaks
  app/assets/javascripts/alert_management/components/alert_details.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Further tweaks
  app/assets/javascripts/alert_management/components/alert_details.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update js spec
  spec/frontend/alert_management/components/alert_management_detail_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  changelogs/unreleased/tr-alert-detail-header-vertical-alignment.yml
Due: none

Update PHPCS env flags in analyzer settings
  doc/user/application_security/sast/index.md
Due: docs lint

Add versioning to elasticsearch
  lib/gitlab/qa/component/elasticsearch.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Wipeout thread locals after each request
  config/puma.example.development.rb
  config/puma.rb.example
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Introduce closed state for todos
  app/controllers/dashboard/todos_controller.rb
  app/finders/todos_finder.rb
  app/graphql/mutations/todos/mark_all_closed.rb
  app/graphql/types/todo_state_enum.rb
  app/helpers/todos_helper.rb
  app/models/todo.rb
  app/models/user.rb
  app/services/todo_service.rb
  app/views/dashboard/todos/index.html.haml
  config/routes/dashboard.rb
  doc/user/todos.md
  locale/gitlab.pot
  spec/controllers/dashboard/todos_controller_spec.rb
  spec/factories/todos.rb
  spec/models/todo_spec.rb
  spec/services/members/destroy_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove rspec-mocks workaround for Ruby 2.3.7
  app/workers/authorized_projects_worker.rb
  lib/gitlab/github_import/parallel_importer.rb
  spec/workers/concerns/waitable_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add disabling inheritance for subgroups
  app/controllers/groups_controller.rb
  app/finders/group_members_finder.rb
  app/models/group.rb
  app/policies/group_policy.rb
  app/services/groups/update_service.rb
  app/views/groups/settings/_disable_inheritance.html.haml
  app/views/groups/settings/_permissions.html.haml
  changelogs/unreleased/inheritance_experiment.yml
  db/migrate/20200430114442_add_inheritance_disabled_to_namespaces.rb
  db/structure.sql
  lib/gitlab/project_authorizations.rb
  locale/gitlab.pot
  spec/controllers/groups_controller_spec.rb
  spec/finders/group_members_finder_spec.rb
  spec/lib/gitlab/project_authorizations_spec.rb
  spec/models/group_spec.rb
  spec/policies/group_policy_spec.rb
  spec/services/groups/update_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Usage Statistics Definitions
  doc/development/telemetry/usage_ping.md
Due: docs lint

Allow SCIM API to return SAML identity in certain cases
  ee/changelogs/unreleased/dblessing_scim_api_404.yml
  ee/lib/api/scim.rb
  ee/spec/requests/api/scim_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add CI_MERGE_REQUEST_MODIFIED_PATHS to predefined CI variables reference
  changelogs/unreleased/ci-var-mr-modified-paths.yml
  doc/ci/variables/predefined_variables.md
Due: docs lint

Expose $CI_MERGE_REQUEST_MODIFIED_PATHS in CI config
  app/models/ci/pipeline.rb
  spec/models/ci/pipeline_spec.rb
  spec/services/ci/create_pipeline_service/rules_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove double blank lines
  doc/development/telemetry/usage_ping.md
Due: docs lint

Remove end of doc new lines
  doc/development/telemetry/usage_ping.md
Due: docs lint

GitLab UI: 788-harmonize-bootstrap-and-gitlab-ui-bold integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add known issues section and known issue of container registry deletion failures in the Web UI
  doc/user/packages/container_registry/index.md
Due: docs lint

Add known issues section and known issue of project list view having inaccurate last updated time
  doc/user/project/index.md
Due: docs lint

Add Redis metrics of Sidekiq job execution
  changelogs/unreleased/osw-add-redis-metrics-to-sidekiq-job-run.yml
  doc/administration/monitoring/prometheus/gitlab_metrics.md
  lib/gitlab/instrumentation/redis.rb
  lib/gitlab/sidekiq_middleware/server_metrics.rb
  spec/lib/gitlab/sidekiq_middleware/server_metrics_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add feature flag for CI_MERGE_REQUEST_MODIFIED_PATHS
  app/models/ci/pipeline.rb
  spec/models/ci/pipeline_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Trigger Vulnerability Research's proofs of concepts
  .gitlab-ci.yml
  .gitlab/ci/vr-poc.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add metrics for Redis usage during web transactions (API and Grape)
  config/initializers/zz_metrics.rb
  lib/gitlab/metrics/rails_redis_middleware.rb
  spec/lib/gitlab/metrics/rails_redis_middleware_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip
  Gemfile
  Gemfile.lock
  db/structure.sql
  lib/gitlab/gitaly_client/repository_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Clarify terms to avoid confusion
  doc/integration/jira_development_panel.md
Due: docs lint

Update doc/integration/jira_development_panel.md
  doc/integration/jira_development_panel.md
Due: docs lint

Import gitlab-ui component and typescale scales last
  app/assets/stylesheets/framework.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Demo to add listener for a click on a chart
  app/assets/javascripts/monitoring/components/charts/time_series.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Process stuck jira import jobs
  app/models/concerns/import_state/sidekiq_job_tracker.rb
  app/models/jira_import_state.rb
  app/models/project_import_state.rb
  app/workers/all_queues.yml
  app/workers/concerns/project_import_options.rb
  app/workers/gitlab/import/stuck_import_job.rb
  app/workers/gitlab/import/stuck_project_import_jobs_worker.rb
  app/workers/gitlab/jira_import/stuck_jira_import_jobs_worker.rb
  app/workers/gitlab/phabricator_import/base_worker.rb
  app/workers/stuck_import_jobs_worker.rb
  changelogs/unreleased/cleanup-suck-jira-imports.yml
  config/initializers/1_settings.rb
  db/migrate/20200519101002_add_error_message_column_to_jira_imports.rb
  db/post_migrate/20200519154704_migrate_stuck_import_jobs_queue_to_stuck_project_import_jobs.rb
  db/structure.sql
  doc/development/github_importer.md
  doc/development/import_export.md
  ee/app/workers/repository_update_mirror_worker.rb
  ee/spec/lib/gitlab/sidekiq_config_spec.rb
  lib/gitlab/import/set_async_jid.rb
  lib/gitlab/jira_import/issues_importer.rb
  lib/gitlab/phabricator_import/cache/map.rb
  lib/gitlab/phabricator_import/worker_state.rb
  spec/lib/gitlab/import/set_async_jid_spec.rb
  spec/lib/gitlab/phabricator_import/cache/map_spec.rb
  spec/lib/gitlab/sidekiq_config/cli_methods_spec.rb
  spec/lib/gitlab/sidekiq_config_spec.rb
  spec/lib/gitlab/sidekiq_versioning/manager_spec.rb
  spec/support/shared_examples/lib/gitlab/import/stuck_import_job_workers_shared_examples.rb
  spec/workers/concerns/project_import_options_spec.rb
  spec/workers/gitlab/import/stuck_project_import_jobs_worker_spec.rb
  spec/workers/gitlab/jira_import/stuck_jira_import_jobs_worker_spec.rb
  spec/workers/stuck_import_jobs_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add sidebar for alert managament details
  app/assets/javascripts/alert_management/components/alert_attribute_sidebar.vue
  app/assets/javascripts/alert_management/components/alert_details.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_header.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_status.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_todo.vue
  app/assets/stylesheets/pages/alerts_list.scss
  changelogs/unreleased/assign-alerts-sidebar-base.yml
  locale/gitlab.pot
  spec/frontend/alert_management/components/alert_attribute_sidebar_spec.js
  spec/frontend/alert_management/components/alert_management_detail_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add sidebar for alert managament details
  app/assets/javascripts/alert_management/components/sidebar/sidebar_status.vue
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Exclude Directors from Dangerbot
  lib/gitlab/danger/roulette.rb
  spec/lib/gitlab/danger/roulette_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add sidebar for alert managament severity
  app/assets/javascripts/alert_management/components/alert_attribute_sidebar.vue
  app/assets/javascripts/alert_management/components/severity/severity_icon.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_severity.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
