Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Alphabetize more tables in yaml ref doc
  doc/ci/yaml/README.md
Due: docs lint

Update commented_by implementation
  ee/app/models/approval_wrapped_rule.rb
  ee/lib/ee/api/entities/merge_request_approval_setting_rule.rb
  ee/lib/ee/api/entities/merge_request_approval_state_rule.rb
  ee/spec/models/approval_wrapped_rule_spec.rb
  ee/spec/requests/api/merge_request_approvals_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add artifactable module
  app/models/ci/job_artifact.rb
  app/models/ci/pipeline_artifact.rb
  app/models/concerns/ci/artifactable.rb
  spec/models/concerns/ci/artifactable_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove test report count endpoint
  app/controllers/projects/pipelines_controller.rb
  app/models/ci/pipeline.rb
  config/routes/pipelines.rb
  spec/controllers/projects/pipelines_controller_spec.rb
  spec/models/ci/pipeline_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update lib/tasks/gitlab/license.rake for license
  changelogs/unreleased/cc-license-check-test-for-license.yml
  ee/lib/tasks/gitlab/license.rake
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add jira deployment type to tracker database
  app/models/project_services/jira_tracker_data.rb
  changelogs/unreleased/229223-store-jira-server-type-in-jira_tracking_data-table.yml
  db/migrate/20200715171155_add_deployment_type_to_tracker.rb
  db/schema_migrations/20200715171155
  db/structure.sql
  spec/models/project_services/jira_tracker_data_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Clarify support for S3 compatible services in container registry
  doc/administration/packages/container_registry.md
Due: docs lint

Add retry to metrics panel preview page
  app/assets/javascripts/monitoring/components/dashboard_panel_builder.vue
  locale/gitlab.pot
  spec/frontend/monitoring/components/dashboard_panel_builder_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Tweak nesting of rules sections
  doc/ci/yaml/README.md
Due: docs lint

Add starter badge to fork pipeline section in doc
  doc/ci/merge_request_pipelines/index.md
Due: docs lint

Clarify squashing doc
  doc/user/project/merge_requests/img/squash_squashed_commit.png
  doc/user/project/merge_requests/squash_and_merge.md
Due: docs lint

Optimize counts.terraform_reports usage ping counter
  changelogs/unreleased/230437-usage-data-optimize-counts-terraform_reports.yml
  db/post_migrate/20200811211536_add_index_to_ci_job_artifacts_for_terraform_reports_id.rb
  db/schema_migrations/20200811211536
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Convert deprecated buttons to glButtons in discussion_filter_note.vue
  app/assets/javascripts/notes/components/discussion_filter_note.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add JSON RSpec formatter for e2e tests
  qa/qa/support/json_formatter.rb
Due: graphql-reference-verify, pages, cache gems

Add spec for instance_review_permitted?
  ee/spec/helpers/application_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add editPath to DastSiteProfileType for GraphQL
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/graphql/types/dast_site_profile_type.rb
  ee/spec/graphql/types/dast_site_profile_type_spec.rb
  ee/spec/requests/api/graphql/project/dast_site_profiles_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add tests for Vulnerabilities::FindingsPreloader
  ee/spec/lib/gitlab/vulnerabilities/findings_preloader_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Return gitaly info in kubernetes internal API
  changelogs/unreleased/mattkasa-229462-gitaly-kubernetes-api.yml
  lib/api/internal/kubernetes.rb
  spec/requests/api/internal/kubernetes_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace fa-users icon
  app/assets/javascripts/users_select/index.js
  app/assets/stylesheets/fontawesome_custom.scss
  spec/frontend/sidebar/assignees_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Clarify how service templates work
  doc/user/project/integrations/services_templates.md
Due: docs lint

Introduce bare_project factory with minimal associations
  ee/spec/lib/gitlab/auth_spec.rb
  ee/spec/workers/build_finished_worker_spec.rb
  spec/controllers/admin/runners_controller_spec.rb
  spec/controllers/projects/badges_controller_spec.rb
  spec/factories/ci/builds.rb
  spec/factories/ci/job_artifacts.rb
  spec/factories/ci/pipelines.rb
  spec/factories/projects.rb
  spec/features/admin/admin_builds_spec.rb
  spec/lib/gitlab/auth_spec.rb
  spec/models/ci/job_artifact_spec.rb
  spec/models/concerns/batch_destroy_dependent_associations_spec.rb
  spec/presenters/ci/build_runner_presenter_spec.rb
  spec/requests/jwt_controller_spec.rb
  spec/serializers/build_details_entity_spec.rb
  spec/serializers/pipeline_details_entity_spec.rb
  spec/serializers/pipeline_serializer_spec.rb
  spec/services/ci/play_manual_stage_service_spec.rb
  spec/support/skip_callbacks.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Trigger CI pipeline
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

ID as uppercase in parse(global_id)
  app/graphql/gitlab_schema.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Prune loose objects during git garbage collection
  Gemfile
  Gemfile.lock
  app/workers/git_garbage_collect_worker.rb
  changelogs/unreleased/220104-git-gc-should-prune-objects.yml
  lib/gitlab/gitaly_client/repository_service.rb
  spec/lib/gitlab/gitaly_client/repository_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Introduce option to use individual apollo requests
  app/assets/javascripts/lib/graphql.js
  ee/app/assets/javascripts/analytics/merge_request_analytics/index.js
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated deprecated button
  app/assets/javascripts/jobs/components/manual_variables_form.vue
  locale/gitlab.pot
  spec/frontend/jobs/components/manual_variables_form_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added config file validation to cluster agents
  app/models/clusters/agent.rb
  changelogs/unreleased/emilyring-agent-config-validation.yml
  locale/gitlab.pot
  spec/factories/clusters/agents.rb
  spec/models/clusters/agent_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated cluster agent factory
  spec/factories/clusters/agents.rb
  spec/models/clusters/agent_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

GlSearchBoxByType double input event fix
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated cluster agent test name
  spec/models/clusters/agent_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove the Blob#container abstraction
  app/models/blob.rb
  app/models/blob_viewer/base.rb
  app/models/commit.rb
  app/models/readme_blob.rb
  app/models/repository.rb
  app/models/snippet.rb
  app/views/projects/blob/_viewer.html.haml
  lib/banzai/filter/repository_link_filter.rb
  lib/gitlab/ci/build/artifacts/metadata/entry.rb
  lib/gitlab/diff/file.rb
  spec/helpers/blob_helper_spec.rb
  spec/lib/gitlab/diff/lines_unfolder_spec.rb
  spec/models/blob_spec.rb
  spec/models/blob_viewer/base_spec.rb
  spec/models/blob_viewer/changelog_spec.rb
  spec/models/blob_viewer/composer_json_spec.rb
  spec/models/blob_viewer/gemspec_spec.rb
  spec/models/blob_viewer/gitlab_ci_yml_spec.rb
  spec/models/blob_viewer/license_spec.rb
  spec/models/blob_viewer/metrics_dashboard_yml_spec.rb
  spec/models/blob_viewer/package_json_spec.rb
  spec/models/blob_viewer/podspec_json_spec.rb
  spec/models/blob_viewer/podspec_spec.rb
  spec/models/blob_viewer/readme_spec.rb
  spec/models/blob_viewer/route_map_spec.rb
  spec/models/blob_viewer/server_side_spec.rb
  spec/models/concerns/blob_language_from_git_attributes_spec.rb
  spec/presenters/blob_presenter_spec.rb
  spec/requests/git_http_spec.rb
  spec/support/helpers/fake_blob_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated cluster agent cration setup in tests
  app/models/clusters/agent.rb
  ee/spec/requests/api/graphql/mutations/clusters/agents/create_spec.rb
  ee/spec/services/clusters/agents/create_service_spec.rb
  spec/models/clusters/agent_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added changelog for change
  changelogs/unreleased/selhorn-manual-pipeline.yml
Due: none

Updated cluster agent test setup
  ee/spec/graphql/mutations/clusters/agents/create_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Set CI to run on Redis ~4.0
  .gitlab/ci/global.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Protected branches settings for downstream triggers
  doc/ci/multi_project_pipelines.md
Due: docs lint

Updated button migration stuff per Issue
  app/assets/javascripts/ide/components/commit_sidebar/form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Using this guide section to Doc Style Guide
  doc/development/documentation/styleguide.md
Due: docs lint

Add ESLint rule to prevent v-html
  .eslintrc.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
