Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Apply feedback from @mbergeron
  app/controllers/projects/settings/ci_cd_controller.rb
  app/helpers/search_helper.rb
  app/views/projects/settings/ci_cd/_badge.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove feature flags errors partial
  app/views/projects/feature_flags/_errors.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add seed project issue to Geo troubleshooting docs
  doc/administration/geo/replication/troubleshooting.md
Due: docs lint

Add cache:when with default of on_success
  app/services/ci/register_job_service.rb
  doc/ci/yaml/README.md
  lib/api/entities/job_request/cache.rb
  lib/gitlab/ci/config/entry/cache.rb
  lib/gitlab/ci/pipeline/seed/build/cache.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add new secret key for encrypted configuration
  config/initializers/01_secret_token.rb
  config/settings.rb
  lib/gitlab/encrypted_configuration.rb
  spec/config/settings_spec.rb
  spec/lib/gitlab/encrypted_configuration_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add test for Geo replication of CI artifacts
  qa/qa/ee.rb
  qa/qa/ee/page/project/pipeline/index.rb
  qa/qa/ee/page/project/pipeline/show.rb
  qa/qa/ee/scenario/test/geo.rb
  qa/qa/page/project/pipeline/index.rb
  qa/qa/specs/features/ee/browser_ui/geo/geo_replication_ci_artifacts_spec.rb
Due: graphql-reference-verify, pages, cache gems

Fix linting error
  doc/administration/geo/replication/troubleshooting.md
Due: docs lint

Add replication for versioned tf state
  app/models/terraform/state_version.rb
  config/initializers_before_autoloader/000_inflections.rb
  doc/administration/monitoring/prometheus/gitlab_metrics.md
  doc/api/geo_nodes.md
  ee/app/models/ee/terraform/state_version.rb
  ee/app/models/geo/terraform_state_version_registry.rb
  ee/app/replicators/geo/terraform_state_version_replicator.rb
  ee/app/workers/geo/secondary/registry_consistency_worker.rb
  ee/lib/gitlab/geo.rb
  ee/spec/factories/geo/terraform_state_version_registry.rb
  ee/spec/fixtures/api/schemas/public_api/v4/geo_node_status.json
  ee/spec/models/ee/terraform/state_version_spec.rb
  ee/spec/models/geo/terraform_state_version_registry_spec.rb
  ee/spec/models/geo_node_status_spec.rb
  ee/spec/replicators/geo/terraform_state_version_replicator_spec.rb
  ee/spec/services/geo/registry_consistency_service_spec.rb
  ee/spec/workers/geo/secondary/registry_consistency_worker_spec.rb
  spec/factories/terraform/state_version.rb
  spec/support/helpers/stub_object_storage.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change to debug output
  qa/qa/specs/features/ee/api/enablement/elasticsearch/example_nightly_elasticsearch_test_spec.rb
Due: graphql-reference-verify, pages, cache gems

Add gitlab_bot? method and allowlist gitlab bots for spam
  app/services/spam/spam_action_service.rb
  ee/app/models/ee/user.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add translations for new tooltip
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove redirects feature toggle docs
  doc/administration/pages/index.md
  doc/administration/pages/source.md
  doc/user/project/pages/redirects.md
Due: docs lint

Create profile selector component
  ee/app/assets/javascripts/on_demand_scans/components/on_demand_scans_profile_selector.vue
  ee/app/assets/javascripts/on_demand_scans/settings.js
  ee/spec/frontend/on_demand_scans/__snapshots__/settings_spec.js.snap
  ee/spec/frontend/on_demand_scans/components/on_demand_scans_profile_selector_spec.js
  ee/spec/frontend/on_demand_scans/settings_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add and update specs
  ee/spec/frontend/on_demand_scans/components/profile_selector/__snapshots__/scanner_profile_selector_spec.js.snap
  ee/spec/frontend/on_demand_scans/components/profile_selector/__snapshots__/site_profile_selector_spec.js.snap
  ee/spec/frontend/on_demand_scans/components/profile_selector/profile_selector_spec.js
  ee/spec/frontend/on_demand_scans/components/profile_selector/scanner_profile_selector_spec.js
  ee/spec/frontend/on_demand_scans/components/profile_selector/site_profile_selector_spec.js
  ee/spec/frontend/on_demand_scans/mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Restore translation namespaces
  ee/app/assets/javascripts/on_demand_scans/components/profile_selector/scanner_profile_selector.vue
  ee/app/assets/javascripts/on_demand_scans/components/profile_selector/site_profile_selector.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use default model settings
  ee/app/assets/javascripts/on_demand_scans/components/profile_selector/profile_selector.vue
  ee/app/assets/javascripts/on_demand_scans/components/profile_selector/site_profile_selector.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor with composable components
  ee/app/assets/javascripts/on_demand_scans/components/profile_selector/profile_selector.vue
  ee/app/assets/javascripts/on_demand_scans/components/profile_selector/scanner_profile_selector.vue
  ee/app/assets/javascripts/on_demand_scans/components/profile_selector/site_profile_selector.vue
  ee/app/assets/javascripts/on_demand_scans/components/profile_selector/summary_cell.vue
  ee/app/assets/javascripts/on_demand_scans/settings.js
  ee/spec/frontend/on_demand_scans/__snapshots__/settings_spec.js.snap
  ee/spec/frontend/on_demand_scans/settings_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove tip box from page
  doc/operations/incident_management/alerts.md
Due: docs lint

Fixing link formatting
  doc/operations/incident_management/alerts.md
Due: docs lint

Remove legacy projects/group_links/update.js.haml
  app/assets/javascripts/members.js
  app/controllers/groups/group_links_controller.rb
  app/controllers/projects/group_links_controller.rb
  app/views/projects/group_links/update.js.haml
  app/views/shared/members/_group.html.haml
  spec/controllers/groups/group_links_controller_spec.rb
  spec/controllers/projects/group_links_controller_spec.rb
  spec/features/groups/members/manage_groups_spec.rb
  spec/features/projects/members/groups_with_access_list_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix rubocop errors
  config/initializers/01_secret_token.rb
  config/settings.rb
  doc/development/application_secrets.md
  lib/gitlab/encrypted_configuration.rb
  spec/config/settings_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Disable filters with no results
  ee/app/assets/javascripts/security_dashboard/components/filters/first_class_vulnerability_filters.vue
  ee/app/assets/javascripts/security_dashboard/components/filters/scanner_filter.vue
  ee/app/assets/javascripts/security_dashboard/components/first_class_group_security_dashboard.vue
  ee/app/assets/javascripts/security_dashboard/components/first_class_project_security_dashboard.vue
  ee/app/assets/javascripts/security_dashboard/first_class_init.js
  ee/app/assets/javascripts/security_dashboard/helpers.js
  ee/app/assets/javascripts/security_dashboard/store/modules/filters/constants.js
  ee/app/assets/javascripts/security_dashboard/store/modules/filters/utils.js
  ee/app/assets/stylesheets/pages/security_dashboard.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move shared logic into utils
  app/assets/javascripts/diffs/components/diff_row_utils.js
  app/assets/javascripts/diffs/components/inline_diff_table_row.vue
  app/assets/javascripts/diffs/components/parallel_diff_table_row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Format code to fix static analysis
  app/assets/javascripts/diffs/components/inline_diff_table_row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add tests for utils
  app/assets/javascripts/diffs/components/diff_row_utils.js
  spec/frontend/diffs/components/diff_row_utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix failing tests
  app/assets/javascripts/diffs/components/diff_row_utils.js
  app/assets/javascripts/diffs/components/inline_diff_table_row.vue
  spec/frontend/diffs/components/diff_row_utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add change log
  changelogs/unreleased/jdb-refactor-diff-rows-utils.yml
Due: none

Remove unused diff_table_cell
  app/assets/javascripts/diffs/components/diff_table_cell.vue
  spec/frontend/diffs/components/diff_table_cell_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

update for feature flag functionality
  doc/ci/review_apps/index.md
Due: docs lint

Replace 'here' in links in dev docs
  doc/development/fe_guide/architecture.md
  doc/development/fe_guide/icons.md
  doc/development/fe_guide/tooling.md
  doc/development/fe_guide/vuex.md
  doc/development/new_fe_guide/development/accessibility.md
  doc/development/secure_coding_guidelines.md
Due: docs lint

Move window global var into parameter
  app/assets/javascripts/diffs/components/diff_row_utils.js
  app/assets/javascripts/diffs/components/inline_diff_table_row.vue
  app/assets/javascripts/diffs/components/parallel_diff_table_row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove Reviewers sidebar render
  app/views/shared/issuable/_sidebar.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

self-managed not self hosted i guess
  doc/ci/review_apps/img/merge_request_toolbar_comment.png
  doc/ci/review_apps/index.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/development/integrations/secure_partner_integration.md
Due: docs lint

Add vue components for reviewers in sidebar widget
  app/assets/javascripts/sidebar/components/reviewers/collapsed_reviewer.vue
  app/assets/javascripts/sidebar/components/reviewers/collapsed_reviewer_list.vue
  app/assets/javascripts/sidebar/components/reviewers/reviewer_avatar.vue
  app/assets/javascripts/sidebar/components/reviewers/reviewer_avatar_link.vue
  app/assets/javascripts/sidebar/components/reviewers/reviewer_title.vue
  app/assets/javascripts/sidebar/components/reviewers/reviewers.vue
  app/assets/javascripts/sidebar/components/reviewers/sidebar_reviewers.vue
  app/assets/javascripts/sidebar/components/reviewers/uncollapsed_reviewer_list.vue
  app/assets/javascripts/sidebar/mount_sidebar.js
  app/assets/stylesheets/pages/issuable.scss
  locale/gitlab.pot
  spec/features/merge_request/user_edits_mr_spec.rb
  spec/features/merge_request/user_views_open_merge_request_spec.rb
  spec/frontend/sidebar/reviewer_title_spec.js
  spec/frontend/sidebar/reviewers_spec.js
  spec/support/shared_examples/features/editable_merge_request_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add indexes to product_analytics_events on category and action
  db/migrate/20200916210800_add_indexes_to_product_analytics_events.rb
  db/schema_migrations/20200916210800
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove feature_flag_issue_links feature flag
  app/views/projects/feature_flags/edit.html.haml
  ee/app/controllers/projects/feature_flag_issues_controller.rb
  ee/app/helpers/feature_flags_helper.rb
  ee/spec/controllers/projects/feature_flag_issues_controller_spec.rb
  ee/spec/features/projects/feature_flags/feature_flag_issues_spec.rb
  ee/spec/helpers/feature_flags_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

fix anchor link change
  doc/ci/review_apps/index.md
Due: docs lint

Add tooltip with last update to seats usage data
  ee/app/helpers/billing_plans_helper.rb
  ee/app/views/shared/billings/_billing_plans.html.haml
  ee/app/workers/update_max_seats_used_for_gitlab_com_subscriptions_worker.rb
  ee/spec/helpers/billing_plans_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add tracking to whats new
  app/assets/javascripts/whats_new/components/app.vue
  spec/frontend/whats_new/components/app_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
