Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Remove the include of StrongMemoize
  ee/app/services/security/store_findings_metadata_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add GraphQL for Terraform States
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  doc/development/geo/framework.md
  ee/app/finders/geo/terraform_state_registry_finder.rb
  ee/app/graphql/resolvers/geo/terraform_state_registries_resolver.rb
  ee/app/graphql/types/geo/geo_node_type.rb
  ee/app/graphql/types/geo/terraform_state_registry_type.rb
  ee/changelogs/unreleased/tf_state_replication_graphql.yml
  ee/spec/finders/geo/terraform_state_registry_finder_spec.rb
  ee/spec/graphql/resolvers/geo/terraform_state_registries_resolver_spec.rb
  ee/spec/graphql/types/geo/geo_node_type_spec.rb
  ee/spec/graphql/types/geo/terraform_state_registry_type_spec.rb
  ee/spec/requests/api/graphql/geo/registries_spec.rb
  ee/spec/support/shared_examples/requests/api/graphql/geo/registries_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Small improvement to changelog entry
  ee/changelogs/unreleased/tf_state_replication_graphql.yml
Due: none

Simplify implementation of AjaxLoadingSpinner
  app/assets/javascripts/ajax_loading_spinner.js
  app/assets/javascripts/branches/ajax_loading_spinner.js
  app/assets/javascripts/pages/projects/branches/index/index.js
  app/views/projects/branches/_branch.html.haml
  changelogs/unreleased/leipert-ajax-spinner-icons.yml
  spec/frontend/ajax_loading_spinner_spec.js
  spec/frontend/branches/ajax_loading_spinner_spec.js
  spec/frontend/fixtures/static/ajax_loading_spinner.html
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds rolling package count to usage data
  changelogs/unreleased/205578-add-package-count-to-usage-data-28days.yml
  lib/gitlab/usage_data.rb
  spec/factories/usage_data.rb
  spec/lib/gitlab/usage_data_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds pkg index on (id,created_at)
  db/migrate/20200901203055_add_id_created_at_index_to_packages.rb
  db/schema_migrations/20200901203055
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate '.fa-spinner' to '.spinner' for 'app/views/shared/issuable'
  app/assets/stylesheets/pages/issuable.scss
  app/views/shared/issuable/_sidebar.html.haml
  app/views/shared/issuable/_sidebar_todo.html.haml
  changelogs/unreleased/202590-migrate-spinner-for-app-views-shared-issuable.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate '.fa-spinner' to '.spinner' for 'app/assets/javascripts/vue_merge_request_widget/components/deployment/memory_usage.vue'
  app/assets/javascripts/vue_merge_request_widget/components/deployment/memory_usage.vue
  changelogs/unreleased/202267-migrate-spinner-for-app-assets-javascripts-vue_merge_request_widge.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

DAST Site validation - Add Validation Component - Frontend
  config/feature_flags/development/security_on_demand_scans_site_validation.yml
  ee/app/assets/javascripts/dast_site_profiles_form/components/dast_site_profile_form.vue
  ee/app/assets/javascripts/dast_site_profiles_form/components/dast_site_validation.vue
  ee/app/assets/javascripts/dast_site_profiles_form/constants.js
  ee/app/controllers/projects/dast_site_profiles_controller.rb
  ee/spec/frontend/dast_site_profiles_form/components/dast_site_profiles_form_spec.js
  ee/spec/frontend/dast_site_profiles_form/components/dast_site_validation_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move details_row to vue_shared
  app/assets/javascripts/packages/details/components/additional_metadata.vue
  app/assets/javascripts/packages/details/components/package_history.vue
  app/assets/javascripts/registry/explorer/components/details_page/tags_list_row.vue
  app/assets/javascripts/vue_shared/components/registry/details_row.vue
  app/assets/javascripts/vue_shared/components/registry/history_item.vue
  spec/frontend/packages/details/components/additional_metadata_spec.js
  spec/frontend/packages/details/components/package_history_spec.js
  spec/frontend/registry/explorer/components/details_page/tags_list_row_spec.js
  spec/frontend/vue_shared/components/registry/__snapshots__/history_item_spec.js.snap
  spec/frontend/vue_shared/components/registry/details_row_spec.js
  spec/frontend/vue_shared/components/registry/history_item_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Place the move_to_end operation in the new_issue_worker
  app/services/issues/create_service.rb
  app/services/issues/reorder_service.rb
  app/workers/new_issue_worker.rb
  spec/services/issues/create_service_spec.rb
  spec/services/issues/reorder_service_spec.rb
  spec/workers/new_issue_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Allow relative_position to be nil
  spec/fixtures/api/schemas/issue.json
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Move issue placement to its own worker
  app/workers/issue_placement_worker.rb
  app/workers/new_issue_worker.rb
  spec/workers/issue_placement_worker_spec.rb
  spec/workers/new_issue_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add issue placement queue
  app/workers/all_queues.yml
  config/sidekiq_queues.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove unnecessary code
  app/services/issues/reorder_service.rb
  spec/services/issues/reorder_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  changelogs/unreleased/ajk-relative-positioning-async-move-to-end.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  app/workers/issue_placement_worker.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change the placement worker query
  app/services/issues/create_service.rb
  app/workers/issue_placement_worker.rb
  app/workers/new_issue_worker.rb
  spec/services/issues/create_service_spec.rb
  spec/workers/issue_placement_worker_spec.rb
  spec/workers/new_issue_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove call to rebalance on creation
  app/services/issues/create_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add issue rebalancing if needed to issue_placement_worker
  app/services/issues/base_service.rb
  app/workers/issue_placement_worker.rb
  spec/workers/issue_placement_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Assert that we pass at most QUERY_LIMIT items to be moved
  spec/workers/issue_placement_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add Vue i18n docs
  doc/development/i18n/externalization.md
Due: docs lint

Backport expire_at from carrierwave 2.1.* to patch
  config/initializers/carrierwave_patch.rb
  spec/initializers/carrierwave_patch_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add missing period to end of list item
  doc/user/packages/container_registry/index.md
Due: docs lint

Change issue new? behavior
  app/helpers/issues_helper.rb
  app/models/concerns/issuable.rb
  changelogs/unreleased/dz-improve-new-issue-highlight.yml
  spec/models/concerns/issuable_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Upgrade Sentry/Browser package
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor(Productivity Analytics): refactor methods
  ee/app/assets/javascripts/analytics/productivity_analytics/store/index.js
  ee/spec/frontend/analytics/productivity_analytics/components/app_spec.js
  ee/spec/frontend/analytics/productivity_analytics/components/filter_dropdowns_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Merge CE and EE welcome page
  app/services/users/signup_service.rb
  app/views/registrations/welcome.html.haml
  ee/app/views/registrations/welcome.html.haml
  ee/app/views/registrations/welcome/_button.html.haml
  ee/app/views/registrations/welcome/_progress_bar.html.haml
  ee/app/views/registrations/welcome/_setup_for_company.html.haml
  ee/spec/features/registrations/user_sees_new_onboarding_flow_spec.rb
  ee/spec/features/registrations/welcome_spec.rb
  ee/spec/features/signup_spec.rb
  ee/spec/views/registrations/welcome.html.haml_spec.rb
  locale/gitlab.pot
  spec/features/users/signup_spec.rb
  spec/services/users/signup_service_spec.rb
  spec/views/registrations/welcome.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace v-html with v-safe-html in parallel_diff_table_row.vue
  app/assets/javascripts/diffs/components/parallel_diff_table_row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  changelogs/unreleased/241963-Replace-v-html.yml
Due: none

Update services NetworkPolicy related
  ee/app/controllers/projects/security/network_policies_controller.rb
  ee/app/services/network_policies/delete_resource_service.rb
  ee/app/services/network_policies/deploy_resource_service.rb
  ee/app/services/network_policies/resources_service.rb
  ee/app/services/network_policies/types.rb
  ee/changelogs/unreleased/add_cilium_network_policy_into_services.yml
  ee/spec/controllers/projects/security/network_policies_controller_spec.rb
  ee/spec/services/network_policies/delete_resource_service_spec.rb
  ee/spec/services/network_policies/deploy_resource_service_spec.rb
  ee/spec/services/network_policies/resources_service_spec.rb
  ee/spec/support/shared_examples/services/network_policies/types_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use latest pages build artifact as source for pages
  app/models/pages/lookup_path.rb
  config/feature_flags/development/pages_artifacts_archive.yml
  spec/models/pages/lookup_path_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Secure and Defend glossary
  doc/user/application_security/terminology/index.md
Due: docs lint

More verbose error message when creating extension
  db/migrate/20200515152649_enable_btree_gist_extension.rb
  lib/gitlab/database/migration_helpers.rb
  spec/lib/gitlab/database/migration_helpers_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add documentation for managing PG extensions
  doc/install/postgresql_extensions.md
  doc/install/requirements.md
  doc/update/README.md
  lib/gitlab/database/migration_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs: Suggest refreshing incorrectly shown repo stats
  doc/administration/troubleshooting/gitlab_rails_cheat_sheet.md
  doc/user/project/repository/reducing_the_repo_size_using_git.md
Due: docs lint

Fix quick action spec for `/promote` when passing project without group
  ee/app/services/epics/issue_promote_service.rb
  ee/lib/ee/gitlab/quick_actions/issue_actions.rb
  ee/spec/services/ee/notes/quick_actions_service_spec.rb
  ee/spec/services/epics/issue_promote_service_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove deprecated DeliveryJob
  lib/gitlab/marginalia/comment.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace v-html with v-safe-html in registry_breadcrumb.vue
  app/assets/javascripts/registry/explorer/components/registry_breadcrumb.vue
  changelogs/unreleased/241964-Replace-v-html.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Centerize text on Mark all as done button on To-Do List
  app/views/dashboard/todos/index.html.haml
  changelogs/unreleased/mark-todos-as-done-on-mobile.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
