Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Add docs for DAST_ZAP_USE_AJAX_SPIDER env variable
  doc/user/application_security/dast/index.md
Due: docs lint

Add specs to GraphQL mutations testing authorize
  spec/graphql/mutations/issues/set_confidential_spec.rb
  spec/graphql/mutations/issues/set_due_date_spec.rb
  spec/graphql/mutations/merge_requests/set_labels_spec.rb
  spec/graphql/mutations/merge_requests/set_locked_spec.rb
  spec/graphql/mutations/merge_requests/set_milestone_spec.rb
  spec/graphql/mutations/merge_requests/set_subscription_spec.rb
  spec/graphql/mutations/merge_requests/set_wip_spec.rb
  spec/graphql/mutations/todos/mark_all_done_spec.rb
  spec/graphql/mutations/todos/mark_done_spec.rb
  spec/graphql/mutations/todos/restore_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add feature spec for user view commits
  spec/features/commits/user_view_commits_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Refine Sidekiq cluster content
  doc/administration/operations/extra_sidekiq_processes.md
Due: docs lint

Add pipeline filter feature
  app/assets/javascripts/pages/projects/pipelines/index/index.js
  app/assets/javascripts/pipelines/components/pipelines.vue
  app/assets/javascripts/pipelines/components/pipelines_filtered_search.vue
  app/assets/javascripts/pipelines/components/tokens/pipeline_trigger_author_token.vue
  app/assets/javascripts/pipelines/constants.js
  app/assets/javascripts/pipelines/services/pipelines_service.js
  app/assets/javascripts/vue_shared/mixins/ci_pagination_api_mixin.js
  app/controllers/projects/pipelines_controller.rb
  app/views/projects/pipelines/index.html.haml
  locale/gitlab.pot
  spec/controllers/projects/pipelines_controller_spec.rb
  spec/frontend/pipelines/components/pipelines_filtered_search_spec.js
  spec/frontend/pipelines/mock_data.js
  spec/frontend/pipelines/pipelines_spec.js
  spec/frontend/pipelines/tokens/pipeline_trigger_author_token_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Allow Auto DevOps Test stage to start immediately
  changelogs/unreleased/33200-add-empty-needs-to-auto-devops-test.yml
  lib/gitlab/ci/templates/Jobs/Test.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add AccessibilityReportsComparer class
  lib/gitlab/ci/reports/accessibility_reports.rb
  lib/gitlab/ci/reports/accessibility_reports_comparer.rb
  spec/lib/gitlab/ci/reports/accessibility_reports_comparer_spec.rb
  spec/lib/gitlab/ci/reports/accessibility_reports_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add 'Sitespeed' as a spelling exception
  doc/.vale/gitlab/spelling-exceptions.txt
  doc/user/project/merge_requests/browser_performance_testing.md
Due: docs lint

Update UI and qa specs after feedback
  app/assets/stylesheets/utilities.scss
  app/views/shared/integrations/_integrations.html.haml
  qa/qa/ee/page/project/settings/integrations.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Sprints CreateService
  ee/app/models/license.rb
  ee/app/policies/ee/group_policy.rb
  ee/app/policies/ee/project_policy.rb
  ee/app/policies/sprint_policy.rb
  ee/app/services/iterations/create_service.rb
  ee/spec/policies/group_policy_spec.rb
  ee/spec/policies/project_policy_spec.rb
  ee/spec/services/iterations/create_service_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Style corrections for word choice
  .markdownlint.json
  doc/.vale/gitlab/spelling-exceptions.txt
  doc/user/application_security/sast/index.md
Due: docs lint

WIP add sorting to alerts resolver
  app/finders/alert_management/alerts_finder.rb
  app/graphql/resolvers/alert_management_alert_resolver.rb
  app/graphql/types/alert_management/alert_sort_enum.rb
  app/models/alert_management/alert.rb
  changelogs/unreleased/215598-alert-management-graphql-sort-backend.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  spec/finders/alert_management/alerts_finder_spec.rb
  spec/graphql/resolvers/alert_management_alert_resolver_spec.rb
  spec/requests/api/graphql/project/alert_management/alerts_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove unused roadmap state
  ee/app/assets/javascripts/roadmap/components/roadmap_app.vue
  ee/app/assets/javascripts/roadmap/store/actions.js
  ee/app/assets/javascripts/roadmap/store/mutation_types.js
  ee/app/assets/javascripts/roadmap/store/mutations.js
  ee/app/assets/javascripts/roadmap/store/state.js
  ee/spec/frontend/roadmap/store/actions_spec.js
  ee/spec/frontend/roadmap/store/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix badge markup
  doc/user/project/service_desk.md
Due: docs lint

Split up shell and gitaly auth
  doc/administration/gitaly/index.md
Due: docs lint

Add query for projects selected for instance security dashboard
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/graphql/ee/types/mutation_type.rb
  ee/app/graphql/ee/types/query_type.rb
  ee/app/graphql/mutations/instance_security_dashboard/add_project.rb
  ee/app/graphql/resolvers/instance_security_dashboard/projects_resolver.rb
  ee/app/graphql/resolvers/instance_security_dashboard_resolver.rb
  ee/app/graphql/resolvers/vulnerabilities_resolver.rb
  ee/app/graphql/types/instance_security_dashboard_type.rb
  ee/changelogs/unreleased/214583-add-ability-to-query-security-dashboard-projects.yml
  ee/spec/graphql/mutations/instance_security_dashboard/add_project_spec.rb
  ee/spec/graphql/resolvers/instance_security_dashboard/projects_resolver_spec.rb
  ee/spec/graphql/resolvers/instance_security_dashboard_resolver_spec.rb
  ee/spec/graphql/types/instance_security_dashboard_type_spec.rb
  ee/spec/graphql/types/query_type_spec.rb
  ee/spec/requests/api/graphql/instance_security_dashboard_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Speed up NOT Issue filters
  app/assets/javascripts/filtered_search/constants.js
  app/assets/javascripts/filtered_search/dropdown_operator.js
  app/assets/javascripts/filtered_search/filtered_search_dropdown.js
  app/controllers/boards/issues_controller.rb
  app/controllers/concerns/issuable_actions.rb
  app/controllers/concerns/issuable_collections_action.rb
  app/controllers/dashboard_controller.rb
  app/controllers/groups_controller.rb
  app/finders/issuable_finder.rb
  app/finders/issuable_finder/params.rb
  app/finders/issues_finder/params.rb
  app/models/concerns/awardable.rb
  app/models/concerns/issuable.rb
  app/models/concerns/milestoneable.rb
  app/models/milestone.rb
  changelogs/unreleased/198324-avoid_subqueries.yml
  ee/app/finders/ee/issues_finder.rb
  spec/controllers/concerns/issuable_actions_spec.rb
  spec/features/issues/filtered_search/filter_issues_spec.rb
  spec/features/issues/filtered_search/visual_tokens_spec.rb
  spec/finders/issues_finder_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update mobile view for alert lists
  app/assets/javascripts/alert_management/components/alert_management_list.vue
  app/assets/stylesheets/pages/alerts_list.scss
  changelogs/unreleased/214522-list.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs added permissions
  doc/ci/merge_request_pipelines/index.md
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/index.md
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/merge_trains/index.md
Due: docs lint

Load multiple root certificates in Auth::Smartcard::Base.store
  config/gitlab.yml.example
  ee/changelogs/unreleased/197463-smartcard_multiple_root_certificates.yml
  ee/lib/gitlab/auth/smartcard/base.rb
  ee/spec/support/shared_examples/lib/gitlab/smartcard_certificate_store_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove mentioning of deprecated feature
  ee/app/models/ee/ci/pipeline.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Skip Auto DevOps DAST when REVIEW_DISABLED is set
  doc/topics/autodevops/stages.md
  lib/gitlab/ci/templates/Security/DAST.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update to use the render track event
  app/assets/javascripts/blob/suggest_gitlab_ci_yml/components/popover.vue
  app/assets/javascripts/main.js
  app/assets/javascripts/pages/projects/blob/new/index.js
  spec/frontend/blob/pipeline_tour_success_modal_spec.js
  spec/frontend/blob/suggest_gitlab_ci_yml/components/popover_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix RST rendering hanging on large files
  Gemfile
  Gemfile.lock
  changelogs/unreleased/sh-fix-render-rst.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add validation on params for Kubernetes and Elasticsearch PodLogs
  app/services/pod_logs/base_service.rb
  app/services/pod_logs/elasticsearch_service.rb
  app/services/pod_logs/kubernetes_service.rb
  changelogs/unreleased/sk-add-validation-on-params-for-podlogs-service.yml
  lib/gitlab/regex.rb
  locale/gitlab.pot
  spec/lib/gitlab/regex_spec.rb
  spec/services/pod_logs/base_service_spec.rb
  spec/services/pod_logs/elasticsearch_service_spec.rb
  spec/services/pod_logs/kubernetes_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove share_group_with_group feature flag
  app/controllers/groups/group_links_controller.rb
  app/models/group.rb
  app/views/groups/group_members/index.html.haml
  ee/app/models/ee/group.rb
  ee/spec/models/ee/namespace_spec.rb
  spec/controllers/groups/group_links_controller_spec.rb
  spec/features/groups/members/manage_groups_spec.rb
  spec/models/group_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add accessibility report for a pipeline
  app/models/ci/pipeline.rb
  spec/factories/ci/pipelines.rb
  spec/models/ci/pipeline_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove FF ci_pipeline_schedule_async
  app/services/ci/pipeline_schedule_service.rb
  spec/services/ci/pipeline_schedule_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add standalone_vulnerabilities_enabled filter to API
  app/graphql/resolvers/namespace_projects_resolver.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/graphql/ee/resolvers/namespace_projects_resolver.rb
  ee/app/graphql/ee/types/group_type.rb
  ee/app/graphql/ee/types/project_type.rb
  ee/app/graphql/ee/types/query_type.rb
  ee/app/models/ee/project.rb
  ee/changelogs/unreleased/213610_extend_namespace_projects_resolver.yml
  ee/spec/graphql/ee/resolvers/namespace_projects_resolver_spec.rb
  ee/spec/models/project_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Reorder Email Handlers based on email traffic pattern
  ee/lib/ee/gitlab/email/handler.rb
  lib/gitlab/email/handler.rb
  spec/lib/gitlab/email/handler_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove FF ci_support_interruptible_pipelines
  app/services/ci/create_pipeline_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Changed actions pattern in Vuex guideline
  doc/development/fe_guide/vue.md
  doc/development/fe_guide/vuex.md
Due: docs lint

Disallow most failure when CI config are changed
  .gitlab/ci/cache-repo.gitlab-ci.yml
  .gitlab/ci/cng.gitlab-ci.yml
  .gitlab/ci/docs.gitlab-ci.yml
  .gitlab/ci/frontend.gitlab-ci.yml
  .gitlab/ci/qa.gitlab-ci.yml
  .gitlab/ci/reports.gitlab-ci.yml
  .gitlab/ci/review.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/setup.gitlab-ci.yml
  doc/development/pipelines.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor usage data fallback argument
  ee/lib/ee/gitlab/usage_data.rb
  lib/gitlab/usage_data.rb
  spec/lib/gitlab/usage_data_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Link license management to license compliance page
  ee/app/assets/javascripts/license_compliance/components/app.vue
  ee/app/helpers/ee/gitlab_routing_helper.rb
  ee/spec/frontend/license_compliance/components/app_spec.js
  spec/frontend/helpers/set_window_location_helper.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove gitlab_ui_wg specific Dangerfile
  danger/gitlab_ui_wg/Dangerfile
  danger/roulette/Dangerfile
  lib/gitlab_danger.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Clear Redis-queues on Sidekiq::Testing.inline!
  spec/support/sidekiq.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
