Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Add 10003 to DAST-fullscan-rule-10107
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove feature flag section from gitlab_rails_cheat_sheet.md
  doc/administration/troubleshooting/gitlab_rails_cheat_sheet.md
Due: docs lint

Add details about listing all feature_flags from console
  doc/administration/feature_flags.md
Due: docs lint

Remove EE specs from karma
  config/karma.config.js
  ee/spec/javascripts/.eslintrc.yml
  ee/spec/javascripts/fixtures/.gitignore
  ee/spec/javascripts/vue_mr_widget/mock_data.js
  scripts/frontend/check_no_partial_karma_jest.sh
  spec/javascripts/test_bundle.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Karma: Remove unneeded setup code
  package.json
  spec/javascripts/.eslintrc.yml
  spec/javascripts/test_bundle.js
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Extract diffs rendering to a separate component
  app/assets/javascripts/notes/components/diff_with_note.vue
  app/assets/javascripts/notes/components/note_diff_lines.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add toggle diff button
  app/assets/javascripts/notes/components/note_header.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Build expand lines request url
  app/assets/javascripts/vue_shared/components/notes/system_note.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add get data from expand lines endpoint
  app/assets/javascripts/api.js
  app/assets/javascripts/notes/components/note_diff_lines.vue
  app/assets/javascripts/notes/components/note_header.vue
  app/assets/javascripts/vue_shared/components/notes/system_note.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose original_position for DiffNotes
  app/serializers/project_note_entity.rb
  spec/serializers/project_note_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add field to DiffNote entities
  app/serializers/project_note_entity.rb
  spec/serializers/project_note_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add get data from expand lines endpoint
  app/assets/javascripts/notes/components/note_header.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Roll back exposing original_position
  app/serializers/project_note_entity.rb
  spec/serializers/project_note_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Load data from note_html link
  app/assets/javascripts/api.js
  app/assets/javascripts/notes/components/note_diff_lines.vue
  app/assets/javascripts/notes/components/note_header.vue
  app/assets/javascripts/vue_shared/components/notes/system_note.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Match UX layout design
  app/assets/javascripts/notes/components/diff_with_note.vue
  app/assets/javascripts/notes/components/note_header.vue
  app/assets/javascripts/vue_shared/components/notes/system_note.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix UX issues
  app/assets/javascripts/notes/components/note_diff_lines.vue
  app/assets/javascripts/notes/components/note_header.vue
  app/assets/javascripts/vue_shared/components/notes/system_note.vue
  app/assets/stylesheets/pages/notes.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix extra padding in inline diffs
  app/assets/javascripts/notes/components/note_diff_lines.vue
  app/assets/javascripts/vue_shared/components/notes/system_note.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/development/documentation/termslist.md
Due: docs lint

Fix GitHub importer not showing full list of projects
  app/controllers/import/github_controller.rb
  ee/changelogs/unreleased/georgekoltsov-fix-legacy-github-importer.yml
  ee/spec/features/projects/new_project_spec.rb
  spec/controllers/import/gitea_controller_spec.rb
  spec/controllers/import/github_controller_spec.rb
  spec/support/shared_examples/controllers/githubish_import_controller_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

updating embed spec
  gitlab-admin-service-account.yaml
  spec/frontend/monitoring/components/embeds/embed_group_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

replacing deprecated buttons
  app/assets/javascripts/monitoring/components/dashboard_header.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add PipelineArtifact table and model
  app/models/ci/pipeline.rb
  app/models/ci/pipeline_artifact.rb
  app/models/project.rb
  changelogs/unreleased/mo-introduct-pipeline-artifact.yml
  db/migrate/20200805150316_create_ci_pipeline_artifact.rb
  db/migrate/20200805151001_add_foreign_key_to_pipeline_id_on_pipeline_artifact.rb
  db/migrate/20200805151726_add_foreign_key_to_project_id_on_pipeline_artifact.rb
  db/schema_migrations/20200805150316
  db/schema_migrations/20200805151001
  db/schema_migrations/20200805151726
  db/structure.sql
  spec/factories/ci/pipeline_artifacts.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/models/ci/pipeline_artifact_spec.rb
  spec/models/ci/pipeline_spec.rb
  spec/models/project_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add dependent destroy to delete orphans
  app/models/ci/pipeline.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make yaml and DAG live in same Vue component
  app/assets/javascripts/pages/projects/ci/lints/editor/components/dag.vue
  app/assets/javascripts/pages/projects/ci/lints/editor/components/dag_annotations.vue
  app/assets/javascripts/pages/projects/ci/lints/editor/components/dag_editor.vue
  app/assets/javascripts/pages/projects/ci/lints/editor/components/dag_editor_container.vue
  app/assets/javascripts/pages/projects/ci/lints/editor/components/dag_graph.vue
  app/assets/javascripts/pages/projects/ci/lints/editor/utils/constants.js
  app/assets/javascripts/pages/projects/ci/lints/editor/utils/drawing_utils.js
  app/assets/javascripts/pages/projects/ci/lints/editor/utils/interactions.js
  app/assets/javascripts/pages/projects/ci/lints/editor/utils/parsing_utils.js
  app/assets/javascripts/pages/projects/ci/lints/index.js
  package.json
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Break repository file tests into three tests
  qa/qa/specs/features/browser_ui/3_create/repository/create_edit_delete_file_via_web_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/file/create_file_via_web_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/file/delete_file_via_web_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/file/edit_file_via_web_spec.rb
Due: graphql-reference-verify, pages, cache gems

Fix page navigation
  qa/qa/specs/features/browser_ui/3_create/repository/file/delete_file_via_web_spec.rb
  qa/qa/specs/features/browser_ui/3_create/repository/file/edit_file_via_web_spec.rb
Due: graphql-reference-verify, pages, cache gems

Add test for ephemeral words in headings
  doc/.vale/gitlab/EphemeralHeadings.yml
Due: docs lint

Update rule to provide comments
  doc/.vale/gitlab/EphemeralHeadings.yml
Due: docs lint

Remove plan artifact creation
  lib/gitlab/ci/templates/Terraform.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migration btn MR popover
  app/assets/javascripts/mr_tabs_popover/components/popover.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adding missing changelog
  changelogs/unreleased/popover-btn-mr.yml
Due: none

Partially rearrange presenting layer of alerts
  app/mailers/emails/projects.rb
  app/models/alert_management/alert.rb
  app/presenters/alert_management/alert_presenter.rb
  app/presenters/alert_management/prometheus_alert_presenter.rb
  app/services/incident_management/create_issue_service.rb
  app/workers/incident_management/process_alert_worker.rb
  lib/gitlab/alert_management/payload.rb
  lib/gitlab/alert_management/payload/base.rb
  lib/gitlab/alert_management/payload/generic.rb
  lib/gitlab/alert_management/payload/managed_prometheus.rb
  lib/gitlab/alert_management/payload/prometheus.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add model for CiliumNetworkPolicy as a follow up of: https://gitlab.com/gitlab-org/gitlab/-/merge_requests/38003
  changelogs/unreleased/add_model_for_ciliumnetworkpolicy.yml
  lib/gitlab/kubernetes/cilium_network_policy.rb
  lib/gitlab/kubernetes/network_policy_common.rb
  spec/lib/gitlab/kubernetes/cilium_network_policy_spec.rb
  spec/support/shared_examples/lib/gitlab/kubernetes/network_policy_common_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  changelogs/unreleased/popover-btn-mr.yml
Due: none

Add eventhub to run against
  COMMAND_PALETTE.md
  app/assets/javascripts/command_palette/components/app.vue
  app/assets/javascripts/command_palette/event_hub.js
  app/assets/javascripts/issue_show/components/app.vue
  app/assets/javascripts/main.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
