Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Update button on spec file
  ee/spec/frontend/vue_shared/security_reports/components/event_item_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Jest udpate spec file
  ee/spec/frontend/vue_shared/security_reports/components/__snapshots__/event_item_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove `ignore_column` for users.bio
  app/models/user.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added Deploy Keys option in protected branches
  app/assets/javascripts/projects/settings/access_dropdown.js
  app/assets/javascripts/projects/settings/constants.js
  app/assets/javascripts/protected_branches/constants.js
  app/assets/javascripts/protected_branches/protected_branch_create.js
  app/assets/stylesheets/framework/dropdowns.scss
  app/controllers/projects/protected_refs_controller.rb
  app/controllers/projects/settings/repository_controller.rb
  app/views/projects/protected_branches/_create_protected_branch.html.haml
  config/feature_flags/development/deploy_keys_on_protected_branches.yml
  ee/app/views/projects/protected_branches/_update_protected_branch.html.haml
  ee/spec/features/protected_branches_spec.rb
  ee/spec/frontend/protected_branches/protected_branch_edit_spec.js
  locale/gitlab.pot
  spec/features/protected_branches_spec.rb
  spec/frontend/projects/settings/access_dropdown_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace fa-times icon with GitLab svg
  app/assets/stylesheets/fontawesome_custom.scss
  app/views/projects/merge_requests/diffs/_version_controls.html.haml
  changelogs/unreleased/mw-replace-fa-times.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix various linting failures
  doc/topics/autodevops/customize.md
  doc/topics/autodevops/stages.md
  doc/topics/autodevops/upgrading_auto_deploy_assets.md
  doc/topics/autodevops/upgrading_chart.md
Due: docs lint

Added shared examples for deploy keys on protected branches
  app/controllers/projects/settings/repository_controller.rb
  ee/app/controllers/ee/projects/settings/repository_controller.rb
  ee/spec/features/protected_branches_spec.rb
  spec/features/protected_branches_spec.rb
  spec/support/shared_examples/features/protected_branches_with_deploy_keys_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Split name to first and last name for signup
  app/views/devise/shared/_signup_box.html.haml
  changelogs/unreleased/nicolasdular-split-first-last-name.yml
  ee/spec/controllers/registrations_controller_spec.rb
  ee/spec/features/signup_spec.rb
  locale/gitlab.pot
  qa/qa/page/main/sign_up.rb
  qa/qa/resource/user.rb
  spec/controllers/registrations_controller_spec.rb
  spec/features/invites_spec.rb
  spec/features/users/signup_spec.rb
  spec/services/users/build_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove outdated specs
  app/helpers/emails_helper.rb
  spec/models/merge_request_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use correct remaining_user_count in LicenseMonitoringHelper
  ee/app/helpers/license_monitoring_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Show contributors and authors on notes
  app/models/note.rb
  changelogs/unreleased/display-contributor-and-author-badges-on-notes.yml
  config/feature_flags/development/show_author_on_note.yml
  config/feature_flags/development/show_contributor_on_note.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update fixture file
  ee/spec/fixtures/security_reports/dependency_list/gl-dependency-scanning-report.json
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add clarify on SAST UI tier
  doc/user/application_security/sast/index.md
Due: docs lint

WIP: Add bogus migration
  db/migrate/20200917101605_test_migration.rb
  db/schema_migrations/20200917101605
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

PoC: Show proper sidebar nav for incident issues
  app/helpers/tab_helper.rb
  app/views/layouts/nav/sidebar/_project.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose board epic user preferences
  app/graphql/resolvers/board_lists_resolver.rb
  app/graphql/resolvers/boards_resolver.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/graphql/ee/types/board_type.rb
  ee/app/graphql/resolvers/board_groupings/epics_resolver.rb
  ee/app/graphql/resolvers/boards/epic_user_preferences_resolver.rb
  ee/app/graphql/types/boards/board_epic_type.rb
  ee/app/graphql/types/boards/epic_user_preferences_type.rb
  ee/app/models/boards/epic_user_preference.rb
  ee/changelogs/unreleased/swimlanes_collapse_api.yml
  ee/spec/graphql/resolvers/boards/epic_user_preferences_resolver_spec.rb
  ee/spec/graphql/types/boards/epic_user_preferences_type_spec.rb
  ee/spec/models/boards/epic_user_preference_spec.rb
  ee/spec/requests/api/graphql/boards/boards_query_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement License mailer
  ee/app/mailers/license_mailer.rb
  ee/app/mailers/previews/license_mailer_preview.rb
  ee/app/views/license_mailer/approaching_active_user_count_limit.html.haml
  ee/spec/mailers/license_mailer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Validate active user count once per day
  ee/app/models/historical_data.rb
  ee/app/services/concerns/admin_notify.rb
  ee/app/services/ee/users/create_service.rb
  ee/app/views/license_mailer/approaching_active_user_count_limit.html.haml
  ee/app/workers/historical_data_worker.rb
  ee/changelogs/unreleased/vs-send-email-to-ee-admin-user-count-threshold.yml
  ee/spec/models/historical_data_spec.rb
  ee/spec/services/ee/users/create_service_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make Rubocop happy
  ee/spec/models/historical_data_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Send email when EE is near active user count threshold
  ee/app/services/concerns/admin_notify.rb
  ee/app/services/ee/users/create_service.rb
  ee/spec/services/ee/users/create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix HistoricalDataWorker spec
  ee/spec/workers/historical_data_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Apply 3 suggestion(s) to 1 file(s)
  doc/topics/autodevops/upgrading_auto_deploy_assets.md
Due: docs lint

Apply etienne's suggestions
  doc/topics/autodevops/upgrading_auto_deploy_dependencies.md
Due: docs lint

Rewording the how to check version
  doc/topics/autodevops/upgrading_auto_deploy_dependencies.md
Due: docs lint

Computed prop and gl- class cleanup
  ee/app/assets/javascripts/burndown_chart/components/burn_charts.vue
  ee/app/assets/javascripts/burndown_chart/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Skip callback in a subclass
  ee/spec/models/geo/merge_request_diff_registry_spec.rb
  spec/factories/merge_request_diffs.rb
  spec/factories/merge_requests.rb
  spec/spec_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use `class:` instead of `parent:`
  spec/factories/merge_requests.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Created templates for EC2 deployment vi CF
  lib/gitlab/ci/templates/AWS/CF-create-stack.gitlab-ci.yml
  lib/gitlab/ci/templates/AWS/Deploy-EC2-with-CF.gitlab-ci.yml
  lib/gitlab/ci/templates/Jobs/Deploy/EC2.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use dismissal feedback on vulnerability page
  ee/app/assets/javascripts/security_dashboard/components/selection_summary.vue
  ee/app/assets/javascripts/vulnerabilities/components/header.vue
  ee/app/assets/javascripts/vulnerabilities/components/vulnerability_state_dropdown.vue
  ee/app/assets/javascripts/vulnerabilities/constants.js
  ee/app/helpers/vulnerabilities_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Almost done
  ee/app/assets/javascripts/vulnerabilities/components/vulnerability_dismiss_state_select.vue
  ee/app/assets/javascripts/vulnerabilities/components/vulnerability_state_dropdown.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add a user tip to ease the access to Prometheus
  doc/development/prometheus.md
Due: docs lint

Linear Namespace querying methods
  app/helpers/groups_helper.rb
  app/models/concerns/group_descendant.rb
  app/models/concerns/namespace/recursive_traversal.rb
  app/models/concerns/namespace/traversal.rb
  app/models/group.rb
  app/models/namespace.rb
  changelogs/unreleased/traversal-ids-queries.yml
  config/feature_flags/development/linear_groups.yml
  config/feature_flags/development/sync_traversal_ids.yml
  db/migrate/20200618070630_add_namespace_traversal_ids_index.rb
  db/schema_migrations/20200618070630
  db/structure.sql
  ee/spec/graphql/resolvers/iterations_resolver_spec.rb
  spec/helpers/groups_helper_spec.rb
  spec/models/concerns/group_descendant_spec.rb
  spec/models/group_spec.rb
  spec/models/namespace/traversal_hierarchy_spec.rb
  spec/models/namespace_spec.rb
  spec/presenters/group_member_presenter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Avoid NUL character at end of notification email
  app/views/devise/mailer/confirmation_instructions.text.erb
  app/views/notify/issue_status_changed_email.text.erb
  ee/app/views/layouts/mailer/_additional_text.text.erb
  ee/app/views/layouts/mailer/devise.text.erb
  ee/app/views/notify/policy_revoked_personal_access_tokens_email.text.erb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/administration/postgresql/replication_and_failover.md
Due: docs lint

feat(GlButton): Change import order
  app/assets/javascripts/notes/components/note_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

GitLab UI: pgascouvaillancourt-master-patch-46031 integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor: Remove Instance level VSA
  ee/app/assets/javascripts/analytics/cycle_analytics/components/base.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/type_of_work_charts.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/index.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/getters.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/type_of_work/getters.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/mutation_types.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/mutations.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/state.js
  ee/app/assets/javascripts/pages/analytics/cycle_analytics/index.js
  ee/app/views/groups/analytics/cycle_analytics/show.html.haml
  ee/spec/features/groups/analytics/cycle_analytics/filters_and_data_spec.rb
  ee/spec/frontend/analytics/cycle_analytics/components/base_spec.js
  ee/spec/frontend/analytics/cycle_analytics/mock_data.js
  ee/spec/frontend/analytics/cycle_analytics/store/actions_spec.js
  ee/spec/frontend/analytics/cycle_analytics/store/getters_spec.js
  ee/spec/frontend/analytics/cycle_analytics/store/modules/custom_stages/actions_spec.js
  ee/spec/frontend/analytics/cycle_analytics/store/mutations_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace button GlButton
  ee/app/assets/javascripts/vue_merge_request_widget/components/approvals/approvals_footer.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds changes from @pburdette review
  app/assets/javascripts/alert_handler.js
  spec/frontend/alert_handler_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add rule about ending files with \n
  doc/development/newlines_styleguide.md
Due: docs lint

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
