Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Change runner form cost factor render flags
  app/views/admin/runners/show.html.haml
  app/views/shared/runners/_form.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add metrics_dashboard_access_level to project features
  app/models/concerns/project_features_compatibility.rb
  app/models/project.rb
  app/models/project_feature.rb
  changelogs/unreleased/rc-add_metrics_access_level_to_db.yml
  db/migrate/20200410232012_add_metrics_dashboard_access_level_to_project_feature.rb
  db/structure.sql
  ee/lib/ee/audit/project_feature_changes_auditor.rb
  ee/spec/lib/ee/audit/project_feature_changes_auditor_spec.rb
  spec/lib/gitlab/background_migration/user_mentions/create_resource_user_mention_spec.rb
  spec/lib/gitlab/import_export/safe_model_attributes.yml
  spec/migrations/cleanup_empty_commit_user_mentions_spec.rb
  spec/migrations/migrate_commit_notes_mentions_to_db_spec.rb
  spec/models/project_feature_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement Shared Runner minutes cost factors logic
  app/controllers/admin/runners_controller.rb
  app/models/ci/runner.rb
  app/views/admin/runners/show.html.haml
  app/views/shared/runners/_form.html.haml
  ee/app/models/ee/ci/build.rb
  ee/app/models/ee/ci/runner.rb
  ee/app/models/ee/project.rb
  ee/app/services/ee/ci/register_job_service.rb
  ee/app/services/update_build_minutes_service.rb
  ee/changelogs/unreleased/210570-change-calc-logic.yml
  ee/spec/models/ci/build_spec.rb
  ee/spec/models/ee/ci/runner_spec.rb
  ee/spec/models/project_spec.rb
  ee/spec/services/ci/register_job_service_spec.rb
  ee/spec/services/update_build_minutes_service_spec.rb
  locale/gitlab.pot
  spec/controllers/admin/runners_controller_spec.rb
  spec/models/ci/runner_spec.rb
  spec/services/ci/update_runner_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use EXISTS in a new query; do not disable cop
  ee/app/services/ee/ci/register_job_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make :minutes_cost_factor always return a float
  ee/app/models/ee/ci/build.rb
  ee/app/models/ee/ci/runner.rb
  ee/spec/models/ee/ci/runner_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix Slack slash commands using relative URL
  changelogs/unreleased/jh-chat-slash-commands-user-avatar-relative-url.yml
  lib/gitlab/slash_commands/presenters/base.rb
  spec/lib/gitlab/slash_commands/presenters/issue_show_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move all translations string to constant file
  app/assets/javascripts/registry/explorer/components/project_policy_alert.vue
  app/assets/javascripts/registry/explorer/constants.js
  app/assets/javascripts/registry/explorer/pages/list.vue
  app/assets/javascripts/registry/explorer/stores/actions.js
  app/assets/javascripts/registry/explorer/stores/mutation_types.js
  app/assets/javascripts/registry/explorer/stores/mutations.js
  changelogs/unreleased/208429-implement-async-delete.yml
  locale/gitlab.pot
  spec/frontend/registry/explorer/pages/list_spec.js
  spec/frontend/registry/explorer/stores/actions_spec.js
  spec/frontend/registry/explorer/stores/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Unify custom service desk name flags
  ee/app/controllers/ee/projects_controller.rb
  ee/app/services/service_desk_settings/update_service.rb
  ee/lib/gitlab/email/handler/ee/service_desk_handler.rb
  ee/spec/lib/gitlab/email/handler/ee/service_desk_handler_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add explicit arg check in :minutes_cost_factor
  ee/app/models/ee/ci/runner.rb
  ee/spec/models/ee/ci/runner_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix duplicated events on VSM stage form
  ee/app/serializers/analytics/cycle_analytics/configuration_entity.rb
  ee/app/serializers/analytics/cycle_analytics/event_entity.rb
  ee/changelogs/unreleased/212647-fix-duplicated-events-on-stage-form.yml
  ee/lib/ee/gitlab/analytics/cycle_analytics/stage_events.rb
  ee/spec/controllers/analytics/cycle_analytics/stages_controller_spec.rb
  ee/spec/controllers/groups/analytics/cycle_analytics/stages_controller_spec.rb
  ee/spec/frontend/analytics/cycle_analytics/components/custom_stage_form_spec.js
  lib/gitlab/analytics/cycle_analytics/stage_events.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Slash command support for merge train
  app/services/auto_merge/base_service.rb
  app/services/auto_merge/merge_when_pipeline_succeeds_service.rb
  app/services/auto_merge_service.rb
  app/services/merge_requests/merge_orchestration_service.rb
  app/services/merge_requests/update_service.rb
  changelogs/unreleased/slash-command-support-for-merge-train.yml
  doc/user/project/quick_actions.md
  ee/app/services/auto_merge/add_to_merge_train_when_pipeline_succeeds_service.rb
  ee/app/services/auto_merge/merge_train_service.rb
  ee/app/services/ee/auto_merge_service.rb
  ee/spec/services/auto_merge/add_to_merge_train_when_pipeline_succeeds_service_spec.rb
  ee/spec/services/auto_merge/merge_train_service_spec.rb
  ee/spec/services/ee/auto_merge_service_spec.rb
  lib/gitlab/quick_actions/merge_request_actions.rb
  locale/gitlab.pot
  spec/serializers/merge_request_poll_widget_entity_spec.rb
  spec/services/auto_merge/merge_when_pipeline_succeeds_service_spec.rb
  spec/services/auto_merge_service_spec.rb
  spec/services/merge_requests/merge_orchestration_service_spec.rb
  spec/services/merge_requests/update_service_spec.rb
  spec/services/quick_actions/interpret_service_spec.rb
  spec/support/shared_examples/quick_actions/merge_request/merge_quick_action_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated package documentation index page
  doc/user/packages/img/group_packages_list_v12_10.png
  doc/user/packages/img/package_activity_v12_10.png
  doc/user/packages/img/package_detail_v12_10.png
  doc/user/packages/img/project_packages_list_v12_10.png
  doc/user/packages/index.md
Due: docs lint

Add max_value property to docs
  doc/user/project/integrations/prometheus.md
Due: docs lint

Add Metrics::Dashboard::Annotation to grapQL api
  app/graphql/resolvers/metrics/dashboards/annotation_resolver.rb
  app/graphql/types/metrics/dashboard_type.rb
  app/graphql/types/metrics/dashboards/annotation_type.rb
  changelogs/unreleased/mwaw-211330-backend-expose-an-endpoint-to-fetch-all-annotations.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  spec/graphql/resolvers/metrics/dashboards/annotation_resolver_spec.rb
  spec/graphql/types/metrics/dashboard_type_spec.rb
  spec/graphql/types/metrics/dashboards/annotation_type_spec.rb
  spec/requests/api/graphql/metrics/dashboard/annotations_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add npm request forwarding to settings API docs
  doc/api/settings.md
Due: docs lint

Fix specs saving an invalid service
  app/controllers/concerns/integrations_actions.rb
  app/models/project_services/issue_tracker_service.rb
  lib/api/services.rb
  spec/controllers/admin/integrations_controller_spec.rb
  spec/controllers/groups/settings/integrations_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update git to 2.26.1
  doc/install/installation.md
Due: docs lint

Add burnup feature flag and column for chart
  app/controllers/groups/milestones_controller.rb
  app/controllers/projects/milestones_controller.rb
  ee/app/assets/javascripts/burndown_chart/components/burn_charts.vue
  ee/app/assets/javascripts/burndown_chart/components/burndown_chart.vue
  ee/app/assets/javascripts/burndown_chart/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test against PG11 in MRs/master/nightly, and PG10 in master/nightly
  .gitlab/ci/dev-fixtures.gitlab-ci.yml
  .gitlab/ci/docs.gitlab-ci.yml
  .gitlab/ci/frontend.gitlab-ci.yml
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/memory.gitlab-ci.yml
  .gitlab/ci/rails.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Better check for feature using mixin
  ee/app/assets/javascripts/burndown_chart/components/burn_charts.vue
  ee/spec/frontend/burndown_chart/components/burn_charts_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix and update specs
  app/controllers/groups/milestones_controller.rb
  app/controllers/projects/milestones_controller.rb
  ee/app/assets/javascripts/burndown_chart/components/burn_charts.vue
  ee/app/assets/javascripts/burndown_chart/components/burndown_chart.vue
  ee/spec/frontend/burndown_chart/components/burn_charts_spec.js
  ee/spec/frontend/burndown_chart/components/burndown_chart_spec.js
  locale/gitlab.pot
  qa/qa/ee/page/project/milestone/show.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add specs for feature flag changes
  ee/app/assets/javascripts/burndown_chart/components/burn_charts.vue
  ee/spec/frontend/burndown_chart/components/burn_charts_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update annotations configs
  app/assets/javascripts/monitoring/components/charts/annotations.js
  app/assets/javascripts/monitoring/components/charts/time_series.vue
  app/assets/javascripts/monitoring/constants.js
  spec/frontend/monitoring/components/charts/annotations_spec.js
  spec/frontend/monitoring/components/charts/time_series_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create base level combobox with tokens
  app/assets/javascripts/ci_variable_list/components/ci_key_field.vue
  app/assets/javascripts/ci_variable_list/components/ci_variable_autocomplete_tokens.js
  app/assets/javascripts/ci_variable_list/components/ci_variable_modal.vue
  app/assets/javascripts/ci_variable_list/constants.js
  app/controllers/projects/settings/ci_cd_controller.rb
  changelogs/unreleased/26777-add-aws-autocomplete.yml
  locale/gitlab.pot
  spec/frontend/ci_variable_list/components/ci_key_field_spec.js
  spec/frontend/ci_variable_list/components/ci_variable_modal_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make status page setting object exist always
  ee/app/controllers/ee/projects/settings/operations_controller.rb
  ee/app/helpers/operations_helper.rb
  ee/app/models/status_page_setting.rb
  ee/app/views/projects/settings/operations/_status_page.html.haml
  ee/spec/helpers/ee/operations_helper_spec.rb
  ee/spec/models/status_page_setting_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Define dashboard dropdowns layout in flex
  app/assets/javascripts/monitoring/components/dashboard.vue
  app/assets/javascripts/vue_shared/components/date_time_picker/date_time_picker.vue
  app/assets/stylesheets/pages/prometheus.scss
  changelogs/unreleased/202541-dashboard-filters-should-scale-different-screens.yml
  locale/gitlab.pot
  spec/frontend/monitoring/components/__snapshots__/dashboard_template_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Set new_variables_ui FF to true
  app/controllers/groups/settings/ci_cd_controller.rb
  app/controllers/projects/settings/ci_cd_controller.rb
  app/views/ci/variables/_index.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove redundant index on creator_id and created_at from projects
  changelogs/unreleased/213800-remove-redundant-index-from-projects.yml
  db/migrate/20200414144547_remove_index_projects_on_creator_id_and_created_at_from_projects.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove lines from QA test
  qa/qa/specs/features/browser_ui/4_verify/ci_variable/add_remove_ci_variable_spec.rb
Due: graphql-reference-verify, pages, cache gems

Generate changelog entry
  changelogs/unreleased/new-variables-ui-set-true.yml
Due: none

Add LDAP User Filter to group link API
  doc/api/groups.md
  ee/changelogs/unreleased/4435-add-ldap-user-filter-to-group-link-api.yml
  ee/lib/api/ldap_group_links.rb
  ee/lib/ee/api/entities/ldap_group_link.rb
  ee/spec/requests/api/ldap_group_links_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix group paging
  app/assets/javascripts/groups/components/groups.vue
  changelogs/unreleased/fix_group_paging.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Raise warning if Redis version < 4.0.0
  lib/system_check/app/redis_version_check.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add test case for `first_class_vulnerabilities` feature flag
  ee/spec/features/groups/group_overview_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update documentation to mention Redis requirements
  doc/administration/high_availability/redis.md
Due: docs lint

Redis 3.2.0 is minimum required version
  lib/system_check/app/redis_version_check.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use Sampler instead of worker for monitoring Global Search queue
  config/gitlab.yml.example
  config/initializers/1_settings.rb
  config/initializers/7_prometheus_metrics.rb
  ee/app/workers/all_queues.yml
  ee/app/workers/elastic_metrics_update_worker.rb
  ee/lib/gitlab/metrics/samplers/global_search_sampler.rb
  ee/spec/lib/gitlab/metrics/samplers/global_search_sampler_spec.rb
  ee/spec/workers/elastic_metrics_update_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update dependency @gitlab/eslint-plugin to v2.1.1
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix link for getting more information in Redis check
  lib/system_check/app/redis_version_check.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
