Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Add Redis ActionCable config to Redis docs
  doc/administration/redis/replication_and_failover.md
Due: docs lint

Set `resolved_on_default_branch` attribute of vulnerabilities
  ee/app/services/security/store_report_service.rb
  ee/app/services/vulnerabilities/update_service.rb
  ee/spec/services/security/store_report_service_spec.rb
  ee/spec/services/vulnerabilities/update_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix(filtered search manager): add state option
  app/assets/javascripts/boards/filtered_search_boards.js
  app/assets/javascripts/filtered_search/filtered_search_manager.js
  app/assets/javascripts/pages/admin/runners/index.js
  app/assets/javascripts/pages/dashboard/issues/index.js
  app/assets/javascripts/pages/dashboard/merge_requests/index.js
  app/assets/javascripts/pages/groups/issues/index.js
  app/assets/javascripts/pages/groups/merge_requests/index.js
  app/assets/javascripts/pages/groups/settings/ci_cd/show/index.js
  app/assets/javascripts/pages/projects/issues/index/index.js
  app/assets/javascripts/pages/projects/issues/service_desk/filtered_search.js
  app/assets/javascripts/pages/projects/merge_requests/index/index.js
  app/assets/javascripts/pages/search/init_filtered_search.js
  changelogs/unreleased/232734-mlunoe-add-filtered-search-manager-setting-to-specify-to-use-default-state.yml
  ee/app/assets/javascripts/analytics/code_review_analytics/filtered_search_code_review_analytics.js
  ee/app/assets/javascripts/analytics/productivity_analytics/filtered_search_productivity_analytics.js
  ee/app/assets/javascripts/issues_analytics/filtered_search_issues_analytics.js
  ee/app/assets/javascripts/pages/groups/epics/index/index.js
  ee/app/assets/javascripts/pages/groups/roadmap/show/index.js
  spec/frontend/filtered_search/filtered_search_manager_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update invalid link
  .gitlab/issue_templates/Documentation.md
Due: none

Size image down smaller
  doc/operations/incident_management/img/incident_list_create_v13_3.png
  doc/operations/incident_management/img/incident_list_search_v13_3.png
  doc/operations/incident_management/img/incident_list_sort_v13_3.png
  doc/operations/incident_management/img/incident_list_v13_3.png
  doc/operations/incident_management/img/incident_management_settings_v13_3.png
  doc/operations/incident_management/img/pagerduty_incidents_integration_v13_3.png
  doc/operations/incident_management/index.md
Due: docs lint

Remove vulnerability findings finder
  ee/app/finders/security/vulnerability_findings_finder.rb
  ee/spec/finders/security/vulnerability_findings_finder_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs: AWS ELB health check URL on first boot
  doc/install/aws/index.md
Due: docs lint

Use latest version for upgrade maintenance recommendations.
  doc/policy/maintenance.md
Due: docs lint

Moving repositories formatting improvements
  doc/administration/operations/moving_repositories.md
Due: docs lint

Refactor TestReportSummary with total
  app/assets/javascripts/pipelines/stores/test_reports/mutations.js
  app/serializers/pipeline_entity.rb
  app/serializers/test_report_summary_entity.rb
  app/views/projects/pipelines/_with_tabs.html.haml
  lib/gitlab/ci/reports/test_report_summary.rb
  lib/gitlab/ci/reports/test_suite_summary.rb
  spec/controllers/projects/pipelines/tests_controller_spec.rb
  spec/features/projects/pipelines/pipeline_spec.rb
  spec/frontend/pipelines/test_reports/stores/mutations_spec.js
  spec/lib/gitlab/ci/reports/test_report_summary_spec.rb
  spec/lib/gitlab/ci/reports/test_suite_summary_spec.rb
  spec/models/ci/pipeline_spec.rb
  spec/serializers/test_report_summary_entity_spec.rb
  spec/serializers/test_suite_summary_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add frontend validation to "Restrict membership by email domain"
  ee/app/assets/javascripts/groups/settings/access_restriction_field/index.js
  ee/app/assets/javascripts/groups/settings/components/comma_separated_list_token_selector.vue
  ee/app/models/allowed_email_domain.rb
  ee/app/views/groups/settings/_allowed_email_domain.html.haml
  ee/changelogs/unreleased/225543-add-frontend-validation-to-restrict-membership-by-email-field-i.yml
  ee/spec/frontend/groups/settings/components/comma_separated_list_token_selector_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change `findErrorMessage` to `findErrorMessageText`
  ee/spec/frontend/groups/settings/components/comma_separated_list_token_selector_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Move error message props into `defaultProps`
  ee/spec/frontend/groups/settings/components/comma_separated_list_token_selector_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Rename regex constant to VALID_DOMAIN_REGEX
  ee/app/models/allowed_email_domain.rb
  ee/app/views/groups/settings/_allowed_email_domain.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Pass error message props via JS instead of HAML
  ee/app/assets/javascripts/groups/settings/access_restriction_field/index.js
  ee/app/assets/javascripts/pages/groups/edit/index.js
  ee/app/views/groups/settings/_allowed_email_domain.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix GraphQL query example indentation in specs
  ee/spec/graphql/ee/types/group_type_spec.rb
  ee/spec/graphql/types/project_type_spec.rb
  ee/spec/graphql/types/vulnerability_type_spec.rb
  ee/spec/requests/api/graphql/epics/epic_resolver_spec.rb
  ee/spec/requests/api/graphql/project/pipeline/security_report_summary_spec.rb
  ee/spec/requests/api/graphql/project/vulnerability_severities_count_spec.rb
  spec/graphql/types/issue_type_spec.rb
  spec/graphql/types/project_type_spec.rb
  spec/graphql/types/snippets/blob_viewer_type_spec.rb
  spec/requests/api/graphql/metrics/dashboard/annotations_spec.rb
  spec/requests/api/graphql/project/jira_import_spec.rb
  spec/requests/api/graphql/project_query_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix quick submit button tooltip
  app/assets/javascripts/behaviors/quick_submit.js
  changelogs/unreleased/nfriend-fix-quick-submit.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update dependency @gitlab/ui to v18.6.1
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move Settings > General buttons to right
  app/assets/javascripts/badges/components/badge_form.vue
  app/views/projects/_export.html.haml
  app/views/projects/edit.html.haml
  app/views/projects/settings/_archive.html.haml
  app/views/projects/settings/_general.html.haml
  ee/app/views/projects/_remove.html.haml
  ee/app/views/shared/promotions/_promotion_link_project.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Run prettier on vue file
  app/assets/javascripts/badges/components/badge_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change order of buttons in spec
  app/assets/javascripts/badges/components/badge_form.vue
  spec/frontend/badges/components/badge_form_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change spec to look for right class
  app/views/projects/_visibility_modal.html.haml
  app/views/projects/edit.html.haml
  app/views/shared/_confirm_modal.html.haml
  spec/features/projects/user_changes_project_visibility_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move buttons in Admin > Settings > General
  app/views/admin/application_settings/_account_and_limit.html.haml
  app/views/admin/application_settings/_diff_limits.html.haml
  app/views/admin/application_settings/_external_authorization_service_form.html.haml
  app/views/admin/application_settings/_signin.html.haml
  app/views/admin/application_settings/_signup.html.haml
  app/views/admin/application_settings/_terminal.html.haml
  app/views/admin/application_settings/_terms.html.haml
  app/views/admin/application_settings/_visibility_and_access.html.haml
  app/views/admin/application_settings/general.html.haml
  app/views/groups/settings/_advanced.html.haml
  app/views/groups/settings/_export.html.haml
  app/views/groups/settings/_general.html.haml
  app/views/groups/settings/_permanent_deletion.html.haml
  app/views/groups/settings/_permissions.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add project visibility modal back
  app/assets/javascripts/badges/components/badge_form.vue
  app/views/projects/_visibility_modal.html.haml
  app/views/projects/edit.html.haml
  spec/features/projects/user_changes_project_visibility_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Run prettier on badge form vue
  app/assets/javascripts/badges/components/badge_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix spacing, move two more buttons to right
  app/assets/javascripts/badges/components/badge_form.vue
  app/views/projects/edit.html.haml
  ee/app/views/projects/_merge_request_approvals_settings.html.haml
  ee/app/views/projects/settings/_default_issue_template.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove unused clearfix class
  app/views/projects/_visibility_modal.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Prepare the code for settings page
  ee/app/assets/javascripts/pages/security/dashboard/settings/index.js
  ee/app/assets/javascripts/security_dashboard/instance_dashboard_settings_init.js
  ee/app/views/layouts/nav/sidebar/_security.html.haml
  ee/app/views/security/dashboard/settings.html.haml
  ee/config/routes/security.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate deprecated buttons from admin delete user modal
  app/assets/javascripts/pages/admin/users/components/delete_user_modal.vue
  spec/frontend/pages/admin/users/components/__snapshots__/delete_user_modal_spec.js.snap
  spec/frontend/pages/admin/users/components/delete_user_modal_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor AuditEvent to use target_type database value
  app/models/audit_event.rb
  changelogs/unreleased/220322-refactor-target-type.yml
  db/post_migrate/20200810100921_add_target_type_to_audit_event.rb
  db/post_migrate/20200810101029_add_text_limit_to_audit_event_target_type.rb
  db/schema_migrations/20200810100921
  db/schema_migrations/20200810101029
  db/structure.sql
  ee/app/services/ee/audit_event_service.rb
  ee/spec/models/audit_event_spec.rb
  ee/spec/services/audit_event_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add k8s single stat chart example
  lib/gitlab/metrics/templates/k8s_single-stat.metrics-dashboard.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix parallel job dropwdown cutoff
  app/assets/stylesheets/pages/pipelines.scss
  changelogs/unreleased/231348-fix-parallel-jobs-dropdown-from-cutting-off-in-the-pipeline-graph.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix cancel button on New Release page
  app/assets/javascripts/releases/stores/modules/detail/state.js
  app/helpers/releases_helper.rb
  changelogs/unreleased/nfriend-make-tag-name-required-on-new-release-page.yml
  spec/helpers/releases_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Document connecting to Cargo registries
  doc/user/compliance/license_compliance/index.md
Due: docs lint

Replace append-bottom-20 in group/settings
  app/views/groups/settings/_general.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add missing ApplicationHelper specs for promo URLs
  spec/helpers/application_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Cleanup npm license references
  spec/requests/api/npm_packages_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove redundant top level vars from vulns
  ee/app/controllers/projects/vulnerability_feedback_controller.rb
  ee/spec/controllers/projects/vulnerability_feedback_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add deployment events to project hooks api
  lib/api/entities/project_hook.rb
  lib/api/project_hooks.rb
  spec/factories/project_hooks.rb
  spec/requests/api/project_hooks_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add deployment_events to project hooks api
  doc/api/projects.md
Due: docs lint
