Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

More informaiton about gitaly-ruby
  doc/administration/gitaly/index.md
Due: docs lint

LocalStorageHelper: return "null" if item not set
  spec/frontend/helpers/local_storage_helper.js
  spec/frontend/helpers/local_storage_helper_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

LocalStorageSync: Add support to store non-strings
  app/assets/javascripts/vue_shared/components/local_storage_sync.vue
  spec/frontend/vue_shared/components/local_storage_sync_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add specs to cover added "json" prop
  spec/frontend/vue_shared/components/local_storage_sync_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  ee/lib/gitlab/geo/replicator.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove correspondant testcase
  spec/controllers/projects/jobs_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use localStorageSync with json
  ee/app/assets/javascripts/security_dashboard/components/vulnerability_list.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add file missed in last commit
  qa/qa/specs/features/browser_ui/1_manage/login/2fa_ssh_recovery_spec.rb
Due: graphql-reference-verify, pages, cache gems

--wip-- [skip ci]
  app/assets/javascripts/pages/projects/tags/index/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create IssueEmailParticipant model
  app/models/issue.rb
  app/models/issue_email_participant.rb
  db/migrate/20200922052316_create_issue_email_participants.rb
  db/schema_migrations/20200922052316
  db/structure.sql
  spec/factories/issue_email_participants.rb
  spec/models/issue_email_participant_spec.rb
  spec/models/issue_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/administration/nfs.md
Due: docs lint

Integrate mixin into component and update tests
  app/assets/javascripts/pipelines/components/graph/graph_component.vue
  app/assets/javascripts/pipelines/mixins/graph_component_mixin.js
  spec/frontend/pipelines/graph/graph_component_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Config to hide Open/Closed list in Boards
  app/assets/javascripts/boards/components/board_configuration_options.vue
  app/assets/javascripts/boards/components/board_form.vue
  app/assets/javascripts/boards/queries/board.mutation.graphql
  app/assets/javascripts/boards/stores/boards_store.js
  ee/app/serializers/ee/current_board_entity.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve js part
  app/assets/javascripts/gfm_auto_complete.js
  ee/app/assets/javascripts/gfm_auto_complete.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use backend filtering to autocomplete vulnerabilities
  app/assets/javascripts/gfm_auto_complete.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/user/index.md
Due: docs lint

Add ability to sort vulnerabilities by detected_at
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/graphql/types/vulnerability_sort_enum.rb
  ee/app/models/ee/vulnerability.rb
  ee/spec/graphql/types/vulnerability_sort_enum_spec.rb
  ee/spec/models/ee/vulnerability_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable sorting vulnerabiliies by detected date
  ee/app/assets/javascripts/security_dashboard/components/vulnerability_list.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add ability to sort vulnerabilities by title
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/graphql/types/vulnerability_sort_enum.rb
  ee/app/models/ee/vulnerability.rb
  ee/spec/graphql/types/vulnerability_sort_enum_spec.rb
  ee/spec/models/ee/vulnerability_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable sorting vulnerabiliies by title
  ee/app/assets/javascripts/security_dashboard/components/vulnerability_list.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Configure Public Email instead of Primary Email
  doc/user/project/import/github.md
Due: docs lint

Add Test Case show HAML view
  app/assets/javascripts/init_issuable_sidebar.js
  app/assets/javascripts/notes/index.js
  app/assets/javascripts/pages/projects/issues/show.js
  app/assets/javascripts/sidebar/mount_sidebar.js
  ee/app/assets/javascripts/sidebar/sidebar_bundle.js
  ee/app/views/projects/issues/show.html.haml
  ee/app/views/projects/quality/test_cases/_show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/user/admin_area/settings/gitaly_timeouts.md
Due: docs lint

Remove negative-margin-top class
  app/assets/javascripts/commit/pipelines/pipelines_table.vue
  app/assets/javascripts/pipelines/components/pipelines_list/pipelines_table.vue
  app/assets/stylesheets/framework/buttons.scss
  app/assets/stylesheets/framework/variables.scss
  app/assets/stylesheets/pages/pipelines.scss
  spec/features/merge_request/user_sees_pipelines_spec.rb
  spec/frontend/commit/pipelines/pipelines_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix oversight with colored output
  lib/tasks/gitlab/db.rake
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create module for reindexing
  lib/gitlab/database/concurrent_reindex.rb
  lib/gitlab/database/reindexing/concurrent_reindex.rb
  lib/gitlab/database/reindexing/index.rb
  lib/tasks/gitlab/db.rake
  spec/lib/gitlab/database/reindexing/concurrent_reindex_spec.rb
  spec/tasks/gitlab/db_rake_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Extract index model
  lib/gitlab/database/reindexing/concurrent_reindex.rb
  lib/gitlab/database/reindexing/index.rb
  spec/lib/gitlab/database/reindexing/concurrent_reindex_spec.rb
  spec/lib/gitlab/database/reindexing/index_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Minor refactoring for style
  lib/gitlab/database/reindexing/concurrent_reindex.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove unneeded methods
  lib/gitlab/database/reindexing/concurrent_reindex.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adjust rake task
  lib/tasks/gitlab/db.rake
  spec/tasks/gitlab/db_rake_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Lookup indexes with schema name
  lib/gitlab/database/reindexing/concurrent_reindex.rb
  lib/gitlab/database/reindexing/index.rb
  lib/tasks/gitlab/db.rake
  spec/lib/gitlab/database/reindexing/concurrent_reindex_spec.rb
  spec/lib/gitlab/database/reindexing/index_spec.rb
  spec/tasks/gitlab/db_rake_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move error handling down into method
  lib/gitlab/database/reindexing/concurrent_reindex.rb
  lib/tasks/gitlab/db.rake
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move logging statement around
  lib/gitlab/database/reindexing/concurrent_reindex.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix spec descriptions per suggestion
  spec/lib/gitlab/database/reindexing/index_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update dependency @gitlab/ui to v21.5.0
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Show inherited labels in a subgroup and project labels page
  app/controllers/concerns/show_inherited_labels_checker.rb
  app/controllers/groups/labels_controller.rb
  app/controllers/projects/labels_controller.rb
  config/feature_flags/development/show_inherited_labels.yml
  spec/controllers/groups/labels_controller_spec.rb
  spec/controllers/projects/labels_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

--wip-- [skip ci]
  app/assets/javascripts/pages/projects/tags/index/index.js
  app/views/projects/tags/_tag.html.haml
  doc/development/fe_guide/performance.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix edge case when updating snippet with no repo
  app/services/snippets/base_service.rb
  app/services/snippets/create_service.rb
  app/services/snippets/update_service.rb
  changelogs/unreleased/239327-fj-fix-snippet-update-edge-case.yml
  spec/services/snippets/update_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Allow time tracking in incidents
  app/models/concerns/issuable.rb
  spec/models/concerns/issuable_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Elevate index representation into AR model
  db/migrate/20200922093004_add_postgres_index_view.rb
  db/schema_migrations/20200922093004
  db/structure.sql
  lib/gitlab/database/postgres_index.rb
  lib/gitlab/database/reindexing/index.rb
  lib/tasks/gitlab/db.rake
  spec/lib/gitlab/database/postgres_index_spec.rb
  spec/tasks/gitlab/db_rake_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
