Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Extract service object
  ee/app/models/dast_site_validation.rb
  ee/app/services/dast_site_validations/validate_service.rb
  ee/app/workers/dast_site_validation_worker.rb
  ee/spec/workers/dast_site_validation_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove v-html from vue_shared/.../user_popover/user_popover.vue
  app/assets/javascripts/vue_shared/components/user_popover/user_popover.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs: Edited Dependency Proxy page
  doc/user/packages/dependency_proxy/img/group_dependency_proxy.png
  doc/user/packages/dependency_proxy/index.md
Due: docs lint

LocalStorageSync: Add support to store non-strings
  app/assets/javascripts/vue_shared/components/local_storage_sync.vue
  spec/frontend/vue_shared/components/local_storage_sync_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

LocalStorageHelper: return "null" if item not set
  spec/frontend/helpers/local_storage_helper.js
  spec/frontend/helpers/local_storage_helper_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Docs: Edited Conan Repository topic
  doc/development/packages.md
  doc/user/compliance/license_compliance/index.md
  doc/user/packages/composer_repository/img/project_id_v13_5.png
  doc/user/packages/conan_repository/img/conan_package_view.png
  doc/user/packages/conan_repository/index.md
  doc/user/packages/package_registry/index.md
  doc/user/packages/workflows/project_registry.md
Due: docs lint

Update button to gl-button
  ee/app/assets/javascripts/add_gitlab_slack_application/components/add_gitlab_slack_application.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add missing condition
  ee/app/assets/javascripts/add_gitlab_slack_application/components/add_gitlab_slack_application.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change to use "success" variant
  ee/app/assets/javascripts/add_gitlab_slack_application/components/add_gitlab_slack_application.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Tag a Session with a Namespace
  app/models/active_session.rb
  spec/models/active_session_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove extra class name
  ee/app/assets/javascripts/add_gitlab_slack_application/components/add_gitlab_slack_application.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixed broken links
  doc/user/packages/conan_repository/index.md
Due: docs lint

Add e2e tests for MR push options
  qa/qa/git/repository.rb
  qa/qa/resource/events/base.rb
  qa/qa/resource/events/project.rb
  qa/qa/resource/merge_request.rb
  qa/qa/resource/project.rb
  qa/qa/resource/repository/push.rb
  qa/qa/specs/features/api/3_create/merge_request/push_options_labels_spec.rb
  qa/qa/specs/features/api/3_create/merge_request/push_options_mwps_spec.rb
  qa/qa/specs/features/api/3_create/merge_request/push_options_remove_source_branch_spec.rb
  qa/qa/specs/features/api/3_create/merge_request/push_options_target_branch_spec.rb
  qa/qa/specs/features/api/3_create/merge_request/push_options_title_description_spec.rb
  qa/qa/support/api.rb
Due: graphql-reference-verify, pages, cache gems

Don't try to get an MR via API without an id
  qa/qa/resource/merge_request.rb
Due: graphql-reference-verify, pages, cache gems

Improve push options parsing and add tests
  qa/qa/git/repository.rb
  qa/spec/git/repository_spec.rb
Due: graphql-reference-verify, pages, cache gems

Retry merge API request
  qa/qa/resource/merge_request.rb
Due: graphql-reference-verify, pages, cache gems

Wait until ready to merge
  qa/qa/resource/merge_request.rb
Due: graphql-reference-verify, pages, cache gems

Add single class used to find DastScannerProfiles
  ee/app/finders/dast_scanner_profiles_finder.rb
  ee/app/graphql/ee/types/project_type.rb
  ee/app/services/dast_scanner_profiles/update_service.rb
  ee/spec/finders/dast_scanner_profiles_finder_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor commit information to use axios
  app/assets/javascripts/pages/projects/commit/pipelines/index.js
  app/assets/javascripts/pages/projects/commit/show/index.js
  app/assets/javascripts/projects/commit_box/info/index.js
  app/assets/javascripts/projects/commit_box/info/load_branches.js
  app/views/projects/commit/_commit_box.html.haml
  spec/frontend/projects/commit_box/info/load_branches_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Match text reviewer change email content to HTML version
  app/views/notify/changed_reviewer_of_merge_request_email.text.erb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add a spec for sanitize_name and make it more readable
  spec/helpers/emails_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update vue from 2.6.10 to 2.6.12
  changelogs/unreleased/update-vue-to-2-6-12.yml
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Convert boards.scss into page specific bundle
  app/assets/stylesheets/_page_specific_files.scss
  app/assets/stylesheets/page_bundles/boards.scss
  app/assets/stylesheets/page_bundles/issues.scss
  app/views/projects/issues/index.html.haml
  app/views/projects/issues/show.html.haml
  app/views/shared/boards/_show.html.haml
  config/application.rb
  ee/app/assets/javascripts/boards/components/issues_lane_list.vue
  ee/app/assets/stylesheets/pages/epics.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: DAST site profiles: Add header validation
  ee/app/assets/javascripts/dast_site_profiles_form/components/dast_site_validation.vue
  ee/app/assets/javascripts/dast_site_profiles_form/constants.js
  ee/app/assets/javascripts/dast_site_profiles_form/graphql/provider.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update CI_JOB_JWT comments on claims
  doc/ci/examples/authenticating-with-hashicorp-vault/index.md
Due: docs lint

Remove outdated locale entry
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add system note for review requests
  app/models/system_note_metadata.rb
  app/services/merge_requests/base_service.rb
  app/services/merge_requests/update_service.rb
  app/services/system_note_service.rb
  app/services/system_notes/issuables_service.rb
  spec/services/merge_requests/update_service_spec.rb
  spec/services/system_note_service_spec.rb
  spec/services/system_notes/issuables_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  app/services/system_notes/issuables_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix broken specs after the text change
  spec/services/system_notes/issuables_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add reviewer icon mapping for SystemNote
  app/helpers/system_note_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Web IDE LFS limitation to docs
  doc/user/project/web_ide/index.md
Due: docs lint

Add severity and published sorting for incidents
  app/graphql/types/issue_sort_enum.rb
  app/models/issue.rb
  ee/app/graphql/ee/types/issue_sort_enum.rb
  ee/app/models/ee/issue.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Associate project releases with group milestones
  ee/changelogs/unreleased/235387-allow-for-project-releases-to-be-associated-with-group-mileston.yml
  ee/spec/models/milestone_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fixed FE EpicNode definition
  ee/app/assets/javascripts/boards/queries/board_epic.fragment.graphql
  ee/app/assets/javascripts/boards/queries/epics_swimlanes.query.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use namespaced strings & shallowMount
  ee/app/assets/javascripts/test_case_create/components/test_case_create_root.vue
  ee/app/assets/javascripts/test_case_list/components/test_case_list_root.vue
  ee/app/assets/javascripts/test_case_list/constants.js
  ee/spec/frontend/test_case_create/components/test_case_create_root_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate triggers settings table to Vue
  app/assets/javascripts/ci_settings_pipeline_triggers/components/triggers_list.vue
  app/assets/javascripts/ci_settings_pipeline_triggers/index.js
  app/assets/javascripts/pages/projects/settings/ci_cd/show/index.js
  app/assets/stylesheets/pages/settings_ci_cd.scss
  app/controllers/projects/settings/ci_cd_controller.rb
  app/serializers/ci/trigger_entity.rb
  app/serializers/ci/trigger_serializer.rb
  app/views/projects/triggers/_index.html.haml
  app/views/projects/triggers/_trigger.html.haml
  locale/gitlab.pot
  spec/features/triggers_spec.rb
  spec/frontend/ci_settings_pipeline_triggers/components/triggers_list_spec.js
  spec/frontend/ci_settings_pipeline_triggers/mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor trigger entity and add some tests
  app/serializers/ci/trigger_entity.rb
  spec/fixtures/api/schemas/entities/trigger.json
  spec/serializers/ci/trigger_entity_spec.rb
  spec/serializers/ci/trigger_serializer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Optimise WikiPage spec
  app/models/wiki.rb
  spec/factories/wikis.rb
  spec/models/wiki_page_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Add rule about ending files with \n"
  doc/development/newlines_styleguide.md
Due: docs lint

Consolidate roulette reviewer weighting
  lib/gitlab/danger/roulette.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
