Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Rename exec to validate in ee
  ee/spec/lib/gitlab/checks/change_access_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update error messages
  spec/requests/git_http_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Move namespace checks to git_access_project
  lib/gitlab/git_access.rb
  lib/gitlab/git_access_project.rb
  spec/lib/gitlab/git_access_project_spec.rb
  spec/lib/gitlab/git_access_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Annotate incremental CI/CD traces code with TODOs
  app/models/ci/build_trace_chunk.rb
  app/models/ci/build_trace_chunks/redis.rb
  lib/api/runner.rb
  lib/gitlab/ci/trace.rb
  lib/gitlab/ci/trace/chunked_io.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make ServiceResponse more hashlike
  app/services/concerns/base_service_utility.rb
  app/services/service_response.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement []= and merge
  app/services/service_response.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Build jql with search and labels params
  app/services/jira/jql_builder_service.rb
  spec/services/jira/jql_builder_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update ee/app/assets/javascripts/threat_monitoring/components/threat_monitoring_section.vue
  ee/app/assets/javascripts/threat_monitoring/components/threat_monitoring_section.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor code related to fetching jira issues
  app/finders/projects/integrations/jira/issues_finder.rb
  app/services/jira/jql_builder_service.rb
  app/services/jira/requests/issues/list_service.rb
  lib/integrations/jira/jql_builder.rb
  spec/finders/projects/integrations/jira/issues_finder_spec.rb
  spec/lib/integrations/jira/jql_builder_service_spec.rb
  spec/services/jira/requests/issues/list_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test that pagination works with per_page 0
  spec/lib/gitlab/pagination/offset_pagination_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Treat per_page 0 as nil
  lib/gitlab/pagination/offset_pagination.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use default pagination size for group notifications (25)
  app/controllers/profiles/notifications_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: paginate group notifications
  app/controllers/profiles/notifications_controller.rb
  app/views/profiles/notifications/show.html.haml
  spec/controllers/profiles/notifications_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated deprecated button
  ee/app/assets/javascripts/feature_flags/components/feature_flags_table.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Introduce new vuex store for code quality widget
  app/assets/javascripts/reports/codequality_report/store/actions.js
  app/assets/javascripts/reports/codequality_report/store/getters.js
  app/assets/javascripts/reports/codequality_report/store/index.js
  app/assets/javascripts/reports/codequality_report/store/mutation_types.js
  app/assets/javascripts/reports/codequality_report/store/mutations.js
  app/assets/javascripts/reports/codequality_report/store/state.js
  app/assets/javascripts/reports/codequality_report/store/utils/codequality_comparison.js
  app/assets/javascripts/reports/codequality_report/store/utils/filter_by_key.js
  app/assets/javascripts/reports/codequality_report/workers/codequality_comparison_worker.js
  spec/frontend/reports/codequality_report/mock_data.js
  spec/frontend/reports/codequality_report/store/actions_spec.js
  spec/frontend/reports/codequality_report/store/getters_spec.js
  spec/frontend/reports/codequality_report/store/mutations_spec.js
  spec/frontend/reports/codequality_report/store/utils/codequality_comparison_spec.js
  spec/frontend/reports/codequality_report/store/utils/filter_by_key_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use new vuex store for code quality MR widget
  app/assets/javascripts/reports/codequality_report/components/codequality_issue_body.vue
  app/assets/javascripts/reports/codequality_report/grouped_codequality_reports_app.vue
  app/assets/javascripts/reports/components/issue_body.js
  app/assets/javascripts/vue_merge_request_widget/mr_widget_options.vue
  app/assets/javascripts/vue_merge_request_widget/stores/mr_widget_store.js
  app/views/projects/merge_requests/_widget.html.haml
  ee/app/assets/javascripts/codequality_report/store/actions.js
  ee/app/assets/javascripts/reports/components/issue_body.js
  ee/app/assets/javascripts/vue_merge_request_widget/mr_widget_options.vue
  ee/app/assets/javascripts/vue_merge_request_widget/stores/mr_widget_store.js
  ee/app/assets/javascripts/vue_merge_request_widget/workers/code_quality_comparison_worker.js
  ee/app/assets/javascripts/vue_shared/security_reports/store/utils/filter_by_key.js
  ee/app/views/projects/merge_requests/show.html.haml
  ee/spec/frontend/vue_mr_widget/ee_mr_widget_options_spec.js
  ee/spec/frontend/vue_mr_widget/mock_data.js
  ee/spec/frontend/vue_mr_widget/stores/mr_widget_store_spec.js
  spec/frontend/reports/codequality_report/components/codequality_issue_body_spec.js
  spec/frontend/reports/codequality_report/grouped_codequality_reports_app_spec.js
  spec/frontend/vue_mr_widget/mock_data.js
  spec/frontend/vue_mr_widget/mr_widget_options_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move codeclimate functions out of ee directory
  app/models/ci/job_artifact.rb
  app/models/ci/pipeline.rb
  app/presenters/ci/pipeline_presenter.rb
  app/serializers/merge_request_widget_entity.rb
  ee/app/models/ee/ci/pipeline.rb
  ee/app/presenters/ee/ci/pipeline_presenter.rb
  ee/app/serializers/ee/merge_request_widget_entity.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update docs: Code Quality MR widget now in Core
  doc/user/project/merge_requests/code_quality.md
  doc/user/project/merge_requests/testing_and_reports_in_merge_requests.md
Due: docs lint

Sentence case Learn More
  ee/app/assets/javascripts/threat_monitoring/components/threat_monitoring_section.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

POC for providing encrypted ldap passwords
  config/initializers/1_settings.rb
  config/settings.rb
  lib/gitlab/auth/ldap/config.rb
  lib/gitlab/encrypted_command.rb
  lib/gitlab/encrypted_configuration.rb
  lib/gitlab/encrypted_ldap_command.rb
  lib/tasks/gitlab/encrypted.rake
  lib/tasks/gitlab/ldap.rake
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added tests for the encrypted ldap secrets poc
  lib/gitlab/encrypted_command.rb
  spec/config/settings_spec.rb
  spec/lib/gitlab/encrypted_configuration_spec.rb
  spec/tasks/gitlab/encrypted_rake_spec.rb
  spec/tasks/gitlab/ldap_rake_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix rubocop failures in tests
  spec/config/settings_spec.rb
  spec/lib/gitlab/encrypted_configuration_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fxi yaml load failure
  spec/lib/gitlab/encrypted_configuration_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Fix doc anchoring"
  doc/user/group/clusters/index.md
  doc/user/project/clusters/index.md
Due: docs lint

Revert "Revert "Fix doc anchoring""
  doc/user/group/clusters/index.md
  doc/user/project/clusters/index.md
Due: docs lint

Reduce encrypted method signature
  config/settings.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change filepath to be configurable from anywhere
  config/initializers/1_settings.rb
  config/settings.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Cleanup encrypted config initializer
  lib/gitlab/encrypted_command.rb
  lib/gitlab/encrypted_configuration.rb
  lib/tasks/gitlab/encrypted.rake
  spec/tasks/gitlab/encrypted_rake_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add test to confirm provided key is being used
  spec/lib/gitlab/encrypted_configuration_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Provide a helper function for the ldap secrets
  config/settings.rb
  lib/gitlab/auth/ldap/config.rb
  lib/gitlab/encrypted_configuration.rb
  lib/gitlab/encrypted_ldap_command.rb
  spec/lib/gitlab/encrypted_configuration_spec.rb
  spec/tasks/gitlab/ldap_rake_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply MR review suggestions
  app/models/concerns/deployment_platform.rb
  app/presenters/clusterable_presenter.rb
  app/services/clusters/create_service.rb
  ee/changelogs/unreleased/212229-move-features-to-core-multiple-kubernetes-clusters.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply MR review suggestions to spec and doc
  changelogs/unreleased/212229-move-features-to-core-multiple-kubernetes-clusters.yml
  doc/user/project/clusters/index.md
  spec/features/projects/clusters_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Iterate on removing has multiple clusters
  app/helpers/clusters_helper.rb
  app/views/clusters/clusters/_gitlab_integration_form.html.haml
  app/views/clusters/clusters/gcp/_form.html.haml
  app/views/clusters/clusters/user/_form.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add _spec suffix to add_design_add_annotation
  qa/qa/specs/features/browser_ui/3_create/design_management/add_design_add_annotation_spec.rb
Due: graphql-reference-verify, pages, cache gems

Run against custom CNG branch
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Swap pa11y spec to spec_helper
  spec/lib/gitlab/ci/parsers/accessibility/pa11y_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fixes a bug with the pipeline test counter
  app/assets/javascripts/pipelines/pipeline_details_bundle.js
  changelogs/unreleased/test-badge-counter.yml
  spec/features/projects/pipelines/pipeline_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use the templates for the reports jobs
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Changelog
  changelogs/unreleased/add_requirements_visibility_access_project_settings.yml
Due: none
