Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

brakeman-sast:
  needs: []
  artifacts:
    paths:
    - gl-sast-report.json
    expire_in: 1 week
  variables:
    SAST_BRAKEMAN_LEVEL: 2
    SAST_EXCLUDED_PATHS: qa,spec,doc,ee/spec

eslint-sast:
  needs: []
  artifacts:
    paths:
    - gl-sast-report.json
    expire_in: 1 week
  variables:
    SAST_BRAKEMAN_LEVEL: 2
    SAST_EXCLUDED_PATHS: qa,spec,doc,ee/spec

secrets-sast:
  needs: []
  artifacts:
    paths:
    - gl-sast-report.json
    expire_in: 1 week
  variables:
    SAST_BRAKEMAN_LEVEL: 2
    SAST_EXCLUDED_PATHS: qa,spec,doc,ee/spec

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Rename total_count to count
  app/graphql/types/issue_connection_type.rb
  ee/app/assets/javascripts/iterations/components/iteration_report_tabs.vue
  ee/app/assets/javascripts/iterations/queries/iteration_issues.query.graphql
  ee/spec/frontend/iterations/components/iteration_report_tabs_spec.js
  spec/graphql/types/issue_connection_type_spec.rb
  spec/graphql/types/issue_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Move error-prone step 1 into the optional step
  doc/administration/pages/index.md
Due: docs lint

Update graphql schema
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Update rack to 2.1.4
  Gemfile
  Gemfile.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Include CE/EE hint in "version mismatch" error
  lib/backup/manager.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

GitLab UI: nfriend-prevent-clear-button-form-submit integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Run yarn script
  spec/frontend/vue_shared/components/__snapshots__/expand_button_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Fix typo
  lib/backup/manager.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Reword to clarify that version suffix is meant
  lib/backup/manager.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Correctly display version string above CE note
  lib/backup/manager.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Apply 2 suggestion(s) to 1 file(s)
  doc/administration/pages/index.md
Due: docs lint

Add SKIP options to backup restore task
  lib/tasks/gitlab/backup.rake
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Lint: Remove whitespace
  lib/tasks/gitlab/backup.rake
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Downstream pipeline ux improvements
  app/assets/javascripts/pipelines/components/graph/graph_component.vue
  app/assets/javascripts/pipelines/components/graph/linked_pipeline.vue
  app/assets/stylesheets/pages/pipelines.scss
  ee/app/assets/stylesheets/pages/pipelines.scss
  locale/gitlab.pot
  spec/frontend/pipelines/graph/linked_pipeline_spec.js
  spec/frontend/pipelines/graph/linked_pipelines_mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Added confluence svg
  app/assets/images/confluence.svg
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Adds a launch_type model to track deploy target usage
  app/models/launch_type.rb
  app/models/project.rb
  changelogs/unreleased/launch_type-model.yml
  db/migrate/20200710190831_create_launch_types.rb
  db/structure.sql
  spec/factories/launch_type.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/models/launch_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Adding 1 space to test something
  spec/frontend/reports/components/grouped_test_reports_app_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Backend review changes
  ee/app/finders/ee/issues_finder.rb
  ee/app/finders/ee/issues_finder/params.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Resolve Vale issues
  doc/administration/pages/index.md
Due: docs lint

Create state event when note would be created
  app/models/resource_state_event.rb
  app/models/state_note.rb
  app/models/synthetic_note.rb
  app/services/event_create_service.rb
  app/services/resource_events/change_state_service.rb
  app/services/system_notes/issuables_service.rb
  changelogs/unreleased/create-state-events-pd.yml
  db/migrate/20200524104346_add_source_to_resource_state_event.rb
  db/migrate/20200615141554_add_closed_by_fields_to_resource_state_events.rb
  db/migrate/20200623073431_add_source_merge_request_id_to_resource_state_events.rb
  db/structure.sql
  ee/spec/models/weight_note_spec.rb
  spec/models/milestone_note_spec.rb
  spec/models/resource_state_event_spec.rb
  spec/models/state_note_spec.rb
  spec/services/alert_management/process_prometheus_alert_service_spec.rb
  spec/services/event_create_service_spec.rb
  spec/services/resource_events/change_state_service_spec.rb
  spec/services/system_notes/issuables_service_spec.rb
  spec/support/shared_examples/models/synthetic_note_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/install/installation.md
Due: docs lint

Remove danger unapplicable comment
  lib/gitlab/danger/helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Remove translation for system note text
  app/models/state_note.rb
  app/services/system_notes/issuables_service.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Remove override for resource state event state
  app/models/resource_state_event.rb
  app/models/state_note.rb
  spec/models/resource_state_event_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Use memoized state event source properly
  app/models/state_note.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Surface container tag cleanup workaround
  doc/administration/packages/container_registry.md
  doc/administration/troubleshooting/gitlab_rails_cheat_sheet.md
Due: docs lint

Remove `discussion_id` override
  app/models/synthetic_note.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Simplify specs by removing conditionals
  spec/services/system_notes/issuables_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Implement a chart in the report page
  ee/app/assets/javascripts/analytics/reports/components/app.vue
  ee/app/assets/javascripts/analytics/reports/components/reports_chart.vue
  ee/app/assets/javascripts/analytics/reports/constants.js
  ee/app/assets/javascripts/analytics/reports/index.js
  ee/app/assets/javascripts/analytics/reports/store/index.js
  ee/app/assets/javascripts/analytics/reports/store/modules/chart/actions.js
  ee/app/assets/javascripts/analytics/reports/store/modules/chart/getters.js
  ee/app/assets/javascripts/analytics/reports/store/modules/chart/index.js
  ee/app/assets/javascripts/analytics/reports/store/modules/chart/mutation_types.js
  ee/app/assets/javascripts/analytics/reports/store/modules/chart/mutations.js
  ee/app/assets/javascripts/analytics/reports/store/modules/chart/state.js
  ee/app/assets/javascripts/analytics/reports/store/modules/page/actions.js
  ee/app/assets/javascripts/analytics/reports/store/modules/page/getters.js
  ee/app/assets/javascripts/analytics/reports/store/modules/page/mutations.js
  ee/app/assets/javascripts/analytics/reports/store/modules/page/state.js
  ee/app/views/analytics/reports/pages/show.html.haml
  ee/spec/frontend/analytics/reports/components/app_spec.js
  ee/spec/frontend/analytics/reports/components/reports_chart_spec.js
  ee/spec/frontend/analytics/reports/mock_data.js
  ee/spec/frontend/analytics/reports/store/modules/chart/actions_spec.js
  ee/spec/frontend/analytics/reports/store/modules/chart/getters_spec.js
  ee/spec/frontend/analytics/reports/store/modules/chart/mutations_spec.js
  ee/spec/frontend/analytics/reports/store/modules/page/getters_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Refactor vue clusters_list K8s usage displays
  app/assets/javascripts/clusters_list/components/cluster_cpu.vue
  app/assets/javascripts/clusters_list/components/cluster_memory.vue
  app/assets/javascripts/clusters_list/components/clusters.vue
  app/assets/javascripts/clusters_list/constants.js
  app/assets/javascripts/clusters_list/utils.js
  locale/gitlab.pot
  spec/frontend/clusters_list/components/cluster_cpu_spec.js
  spec/frontend/clusters_list/components/cluster_memory_spec.js
  spec/frontend/clusters_list/components/clusters_spec.js
  spec/frontend/clusters_list/utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Make SyntheticNote a non-abstract class
  app/models/synthetic_note.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add Incident link
  app/views/layouts/nav/sidebar/_project.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch 'sh-fix-delivery-job-deprecation' into 'master'"
  config/application.rb
  doc/administration/troubleshooting/navigating_gitlab_via_rails_console.md
  doc/administration/troubleshooting/sidekiq.md
  lib/gitlab/marginalia/comment.rb
  spec/support/helpers/notification_helpers.rb
  spec/workers/every_sidekiq_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add changelog
  changelogs/unreleased/incident-list-mvc.yml
Due: none

Update deprecated error list button
  app/assets/javascripts/error_tracking/components/error_tracking_list.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/user/project/merge_requests/code_quality.md
Due: docs lint

Regenerate translation files adding "Incidents"
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add new Incidents item to the navbar shared context
  spec/support/shared_contexts/navbar_structure_context.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add version to group membership functionality
  doc/administration/auth/ldap/index.md
Due: docs lint

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  brakeman-sast: any of: {package.json,yarn.lock}, babel.config.js, jest.config.{base,integration,unit}.js, .csscomb.json, Dockerfile.assets, vendor/assets/**/*, .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, *_VERSION, Gemfile{,.lock}, Rakefile, config.ru, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, .dockerignore, qa/**/*
  eslint-sast: any of: {package.json,yarn.lock}, babel.config.js, jest.config.{base,integration,unit}.js, .csscomb.json, Dockerfile.assets, vendor/assets/**/*, .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, *_VERSION, Gemfile{,.lock}, Rakefile, config.ru, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, .dockerignore, qa/**/*
  secrets-sast: any of: {package.json,yarn.lock}, babel.config.js, jest.config.{base,integration,unit}.js, .csscomb.json, Dockerfile.assets, vendor/assets/**/*, .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, *_VERSION, Gemfile{,.lock}, Rakefile, config.ru, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
