Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Add more facets of availability to the documentation
  doc/administration/availability/index.md
Due: docs lint

Handle nil results in NetworkPoliciesController#summary
  ee/app/controllers/projects/security/network_policies_controller.rb
  ee/changelogs/unreleased/network-stats-fix-nil-results.yml
  ee/spec/controllers/projects/security/network_policies_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Separate usage statistics
  app/views/admin/application_settings/_usage.html.haml
  app/views/instance_statistics/cohorts/index.html.haml
  app/views/instance_statistics/dev_ops_score/_disabled.html.haml
  app/views/shared/_ping_consent.html.haml
  doc/administration/index.md
  doc/development/README.md
  doc/telemetry/usage_ping.md
  doc/user/admin_area/settings/index.md
  doc/user/admin_area/settings/usage_statistics.md
  doc/user/admin_area/settings/version_check.md
  doc/user/instance_statistics/dev_ops_score.md
  doc/user/instance_statistics/index.md
  doc/user/instance_statistics/user_cohorts.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove GitLab FOSS from docs site diagram
  doc/development/documentation/site_architecture/index.md
Due: docs lint

Fix linting issues
  doc/administration/index.md
  doc/telemetry/usage_ping.md
  doc/user/admin_area/settings/index.md
  doc/user/admin_area/settings/usage_statistics.md
  doc/user/instance_statistics/index.md
Due: docs lint

Fix linting errors
  doc/user/admin_area/settings/usage_statistics.md
  doc/user/admin_area/settings/version_check.md
Due: docs lint

Add known issues to Elasticsearch integration
  doc/development/elasticsearch.md
  doc/integration/elasticsearch.md
Due: docs lint

Geo: Advise skipping GitLab 12.9.0-12.9.2
  doc/administration/geo/replication/version_specific_updates.md
Due: docs lint

Spam test refactor
  spec/services/issues/create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add link with additional CI minutes pricing
  doc/subscriptions/index.md
Due: docs lint

Fix call to Prometheus::CreateDefaultAlertsWorker
  app/models/project_services/prometheus_service.rb
  spec/models/project_services/prometheus_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add ide feature spec for user commits changes
  app/assets/javascripts/vue_shared/components/file_row.vue
  spec/features/ide/user_commits_changes_spec.rb
  spec/support/helpers/features/web_ide_spec_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add mention of auto alerts in autodevops docs
  doc/topics/autodevops/stages.md
Due: docs lint

Prevent false positives in Ci::Pipeline#all_merge_requests
  app/models/ci/pipeline.rb
  changelogs/unreleased/filter-pipeline-merge-requests-by-sha.yml
  ee/spec/serializers/pipeline_serializer_spec.rb
  spec/factories/ci/pipelines.rb
  spec/features/dashboard/projects_spec.rb
  spec/features/projects/pipelines/pipeline_spec.rb
  spec/graphql/resolvers/merge_request_pipelines_resolver_spec.rb
  spec/models/ci/pipeline_spec.rb
  spec/presenters/ci/pipeline_presenter_spec.rb
  spec/serializers/build_details_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add error logging for unlink failures
  lib/gitlab/set_cache.rb
  spec/lib/gitlab/repository_set_cache_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added warning on authenticated scans
  doc/user/application_security/dast/index.md
Due: docs lint

Add grab cursor for ops dashboard cards
  app/assets/stylesheets/components/dashboard_skeleton.scss
  changelogs/unreleased/37001.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve NOT_FOUND response handling on ThreatMonitoring page
  ee/app/assets/javascripts/threat_monitoring/store/modules/threat_monitoring_statistics/actions.js
  ee/app/assets/javascripts/threat_monitoring/store/modules/threat_monitoring_statistics/mutations.js
  ee/spec/frontend/threat_monitoring/store/modules/threat_monitoring_statistics/actions_spec.js
  ee/spec/frontend/threat_monitoring/store/modules/threat_monitoring_statistics/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix csv export file name
  ee/app/assets/javascripts/security_dashboard/components/csv_export_button.vue
  ee/spec/frontend/security_dashboard/components/csv_export_button_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add docs for shortcut fields
  doc/development/api_graphql_styleguide.md
Due: docs lint

Updated "GitLab for Education" program name
  doc/university/README.md
Due: docs lint

Added Enable instructions
  doc/api/merge_requests.md
  doc/ci/merge_request_pipelines/index.md
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/index.md
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/merge_trains/img/merge_train_immediate_merge_confirmation_dialog_v12_6.png
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/merge_trains/img/merge_train_immediate_merge_v12_6.png
  doc/ci/merge_request_pipelines/pipelines_for_merged_results/merge_trains/index.md
Due: docs lint

Move secure coding guidelines into GitLab docs
  doc/development/README.md
  doc/development/secure_coding_guidelines.md
Due: docs lint

Note that `:requires_admin` should be added
  doc/development/testing_guide/end_to_end/feature_flags.md
Due: docs lint

Refine empty state & loading animation
  ee/app/assets/javascripts/requirements/components/requirements_empty_state.vue
  ee/app/assets/javascripts/requirements/components/requirements_loading.vue
  ee/app/assets/javascripts/requirements/components/requirements_root.vue
  ee/app/assets/javascripts/requirements/requirements_bundle.js
  ee/app/views/projects/requirements/index.html.haml
  ee/spec/features/projects/requirements/requirements_list_spec.rb
  ee/spec/frontend/requirements/components/requirements_empty_state_spec.js
  ee/spec/frontend/requirements/components/requirements_loading_spec.js
  ee/spec/frontend/requirements/components/requirements_root_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replaces underscore with lodash
  app/assets/javascripts/alerts_service_settings/components/alerts_service_form.vue
  app/assets/javascripts/create_item_dropdown.js
  ee/app/assets/javascripts/packages/details/components/app.vue
  ee/app/assets/javascripts/related_items_tree/components/create_issue_form.vue
  ee/app/assets/javascripts/related_items_tree/components/tree_item_body.vue
  ee/app/assets/javascripts/related_items_tree/components/tree_item_remove_modal.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use mouseup event for new notes in Design Overlay
  ee/app/assets/javascripts/design_management/components/design_overlay.vue
  ee/app/assets/javascripts/design_management/components/design_presentation.vue
  ee/changelogs/unreleased/fix-design-overlay-commenting.yml
  ee/spec/frontend/design_management/components/design_overlay_spec.js
  ee/spec/frontend/design_management/components/design_presentation_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Removed loader from snippet blob view
  app/assets/javascripts/snippets/components/snippet_blob_view.vue
  locale/gitlab.pot
  spec/frontend/snippets/components/snippet_blob_view_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Optimize protected branches usage data
  db/migrate/20200408175424_add_index_on_creator_id_created_at_id_to_projects_table.rb
  db/structure.sql
  ee/changelogs/unreleased/213800-optimize-usage_activity_by_stage-create-protected_branches.yml
  ee/lib/ee/gitlab/usage_data.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Submit content changes service
  app/assets/javascripts/api.js
  app/assets/javascripts/static_site_editor/constants.js
  app/assets/javascripts/static_site_editor/services/generate_branch_name.js
  app/assets/javascripts/static_site_editor/services/submit_content_changes.js
  app/assets/javascripts/static_site_editor/store/state.js
  changelogs/unreleased/212561-saving-changes-rest-service.yml
  locale/gitlab.pot
  spec/frontend/api_spec.js
  spec/frontend/static_site_editor/mock_data.js
  spec/frontend/static_site_editor/services/generate_branch_name_spec.js
  spec/frontend/static_site_editor/services/submit_content_changes_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix regression with sse route clobbering projects
  config/routes/project.rb
  config/routes/repository.rb
  lib/gitlab/path_regex.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix merge request GraphQL resolver
  app/graphql/resolvers/merge_requests_resolver.rb
  changelogs/unreleased/34527-fix-graphql-endpoint-for-merge-requests.yml
  spec/requests/api/graphql/project/merge_request/diff_notes_spec.rb
  spec/requests/api/graphql/project/merge_request_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

PyPi package install support
  ee/app/models/packages/package.rb
  ee/app/presenters/packages/pypi/package_presenter.rb
  ee/changelogs/unreleased/208747-pypi-package-installation.yml
  ee/lib/api/pypi_packages.rb
  ee/spec/factories/packages.rb
  ee/spec/fixtures/pypi/sample-project.tar.gz
  ee/spec/presenters/packages/pypi/package_presenter_spec.rb
  ee/spec/requests/api/pypi_packages_spec.rb
  ee/spec/support/shared_examples/requests/api/pypi_packages_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Null safe access to import_state
  lib/api/entities/project_import_status.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Removed blob fetching from blob view
  app/assets/javascripts/snippets/components/snippet_blob_view.vue
  spec/frontend/snippets/components/snippet_blob_view_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move changelog in main app
  changelogs/unreleased/213800-optimize-usage_activity_by_stage-create-protected_branches.yml
Due: none

Added Blob info to Snippet query
  app/assets/javascripts/snippets/fragments/snippetBase.fragment.graphql
  app/assets/javascripts/snippets/queries/snippet.blob.query.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adjust permissions on jira import feature
  app/controllers/projects/import/jira_controller.rb
  app/graphql/resolvers/projects/jira_imports_resolver.rb
  app/services/jira_import/start_import_service.rb
  locale/gitlab.pot
  spec/controllers/projects/import/jira_controller_spec.rb
  spec/graphql/resolvers/projects/jira_imports_resolver_spec.rb
  spec/requests/api/graphql/mutations/jira_import/start_spec.rb
  spec/services/jira_import/start_import_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add documentation for Praefect SQL election strategy
  doc/administration/gitaly/praefect.md
Due: docs lint

Make Group Activity Analytics a beta feature
  ee/app/helpers/ee/groups_helper.rb
  ee/app/policies/ee/group_policy.rb
  ee/lib/api/analytics/group_activity_analytics.rb
  ee/spec/helpers/ee/groups_helper_spec.rb
  ee/spec/policies/group_policy_spec.rb
  ee/spec/requests/api/analytics/group_activity_analytics_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
