Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Add redis hll key format validation
  lib/gitlab/redis/hll.rb
  spec/lib/gitlab/redis/hll_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix regex for key name format
  lib/gitlab/redis/hll.rb
  spec/lib/gitlab/redis/hll_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add examples of Redis keys
  lib/gitlab/redis/hll.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move regex in constant
  lib/gitlab/redis/hll.rb
  spec/lib/gitlab/redis/hll_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Feat(Code Review): use general filter bar
  app/assets/javascripts/vue_shared/components/filtered_search_bar/filtered_search_bar_root.vue
  ee/app/assets/javascripts/analytics/code_review_analytics/code_review_analytics_bundle.js
  ee/app/assets/javascripts/analytics/code_review_analytics/components/app.vue
  ee/app/assets/javascripts/analytics/code_review_analytics/components/filter_bar.vue
  ee/app/views/projects/analytics/code_reviews/index.html.haml
  ee/spec/frontend/analytics/code_review_analytics/components/app_spec.js
  ee/spec/frontend/analytics/code_review_analytics/components/filter_bar_spec.js
  spec/frontend/vue_shared/components/filtered_search_bar/filtered_search_bar_root_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix closed icon shrinking
  app/assets/javascripts/incidents/components/incidents_list.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add non k8s single stat metrics dashboard template
  lib/gitlab/metrics/templates/single-stat.metrics-dashboard.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add expire_at to PipelineArtifact
  changelogs/unreleased/mo-add-expire-at-to-pipeline-artifact.yml
  db/migrate/20200810152043_add_expire_at_to_ci_pipeline_artifact.rb
  db/schema_migrations/20200810152043
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add mutation to update boards
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/graphql/ee/types/board_type.rb
  ee/app/graphql/ee/types/mutation_type.rb
  ee/app/graphql/mutations/boards/update.rb
  ee/changelogs/unreleased/issue_218031_be_add_mutation.yml
  ee/spec/graphql/mutations/boards/update_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add experiments and experiment_users tables
  app/controllers/registrations_controller.rb
  app/models/experiment.rb
  app/models/experiment_user.rb
  changelogs/unreleased/experiments-table.yml
  db/migrate/20200731085019_create_experiment.rb
  db/migrate/20200731090553_create_experiment_user.rb
  db/migrate/20200731201408_add_foreign_key_to_experiment_on_experiment_users.rb
  db/migrate/20200731201834_add_foreign_key_to_user_on_experiment_users.rb
  db/schema_migrations/20200731085019
  db/schema_migrations/20200731090553
  db/schema_migrations/20200731201408
  db/schema_migrations/20200731201834
  db/structure.sql
  ee/spec/controllers/registrations_controller_spec.rb
  lib/gitlab/experimentation.rb
  spec/factories/experiments.rb
  spec/lib/gitlab/experimentation_spec.rb
  spec/models/experiment_spec.rb
  spec/models/experiment_user_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update tag name field to be required
  app/assets/javascripts/releases/components/tag_field_new.vue
  app/assets/javascripts/releases/stores/modules/detail/getters.js
  locale/gitlab.pot
  spec/frontend/releases/components/tag_field_new_spec.js
  spec/frontend/releases/stores/modules/detail/getters_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add symlink indicator text to HAML blob header
  app/views/projects/blob/_header_content.html.haml
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog for new symlink text
  changelogs/unreleased/feature-symlink-blob-label.yml
Due: none

Define the symlink mode as a constant on the Blob model
  app/models/blob.rb
  app/views/projects/blob/_header_content.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add new file - new issue template
  .gitlab/issue_templates/actionable_insight.md
Due: none

Clarify Authenticating to the Container Registry with CI/CD details
  doc/user/packages/container_registry/index.md
  doc/user/profile/personal_access_tokens.md
Due: docs lint

Remove vulnerabilities summary & summary cache related logic
  ee/app/models/vulnerabilities/finding.rb
  ee/app/serializers/vulnerabilities/history_entity.rb
  ee/app/serializers/vulnerabilities/history_serializer.rb
  ee/app/serializers/vulnerability_summary_entity.rb
  ee/app/serializers/vulnerability_summary_serializer.rb
  ee/app/services/security/store_reports_service.rb
  ee/lib/gitlab/vulnerabilities/history.rb
  ee/lib/gitlab/vulnerabilities/history_cache.rb
  ee/lib/gitlab/vulnerabilities/summary.rb
  ee/lib/gitlab/vulnerabilities/summary_cache.rb
  ee/spec/lib/gitlab/vulnerabilities/history_cache_spec.rb
  ee/spec/lib/gitlab/vulnerabilities/history_spec.rb
  ee/spec/lib/gitlab/vulnerabilities/summary_cache_spec.rb
  ee/spec/lib/gitlab/vulnerabilities/summary_spec.rb
  ee/spec/models/vulnerabilities/finding_spec.rb
  ee/spec/serializers/vulnerabilities/history_entity_spec.rb
  ee/spec/services/security/store_reports_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update index.md to get rid of future tense
  doc/user/project/static_site_editor/index.md
Due: docs lint

Create subheading for API use
  doc/topics/autodevops/customize.md
  doc/topics/autodevops/index.md
Due: docs lint

Cleanup package code to remove license reference
  spec/features/projects/settings/packages_settings_spec.rb
  spec/requests/api/projects_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix lines generating a kramdown warning
  doc/administration/packages/container_registry.md
  doc/api/instance_level_ci_variables.md
  doc/development/dangerbot.md
Due: docs lint

Compress some images
  doc/administration/geo/replication/img/adding_a_secondary_node_v13_3.png
  doc/api/graphql/img/sample_issue_boards_v13_2.png
  doc/development/img/deployment_pipeline_v13_3.png
  doc/img/devops-stages-13_3.png
  doc/user/compliance/license_compliance/img/denied_licenses_v13_3.png
  doc/user/group/saml_sso/img/group_saml_settings_v13_3.png
  doc/user/group/saml_sso/img/scim_token_v13_3.png
Due: docs lint

Alphabetization for the Configuration Parameters table
  doc/ci/yaml/README.md
Due: docs lint

Add time picker to monitoring preview panel
  app/assets/javascripts/monitoring/components/dashboard_panel_builder.vue
  app/assets/javascripts/monitoring/requests/index.js
  app/assets/javascripts/monitoring/stores/actions.js
  app/assets/javascripts/monitoring/stores/mutation_types.js
  app/assets/javascripts/monitoring/stores/mutations.js
  app/assets/javascripts/monitoring/stores/state.js
  app/assets/stylesheets/pages/prometheus.scss
  spec/frontend/monitoring/components/dashboard_panel_builder_spec.js
  spec/frontend/monitoring/store/actions_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Clarify use of object identifiers in GraphQL API
  doc/api/graphql/audit_report.md
  doc/api/graphql/getting_started.md
  doc/development/api_graphql_styleguide.md
Due: docs lint

Add info for HA Postgres and Praefect
  doc/administration/gitaly/praefect.md
Due: docs lint

Compare Gitaly clusters and sharding
  doc/administration/gitaly/img/cluster_example_v13_3.png
  doc/administration/gitaly/img/shard_example_v13_3.png
  doc/administration/gitaly/praefect.md
Due: docs lint

Document copying Terraform state between backends
  doc/user/infrastructure/index.md
Due: docs lint

Add explanatory comment
  app/finders/design_management/designs_finder.rb
  app/graphql/resolvers/design_management/designs_resolver.rb
  app/services/design_management/move_designs_service.rb
  spec/requests/api/graphql/mutations/design_management/move_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable "new_release_page" feature flag by default
  app/controllers/projects/releases_controller.rb
  app/helpers/releases_helper.rb
  changelogs/unreleased/nfriend-enable-new_release_page-feature-flag.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Error tracking setting save button migration
  app/assets/javascripts/error_tracking_settings/components/app.vue
  changelogs/unreleased/err-tracking-save.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve git-lfs migrate steps
  doc/topics/git/lfs/migrate_to_git_lfs.md
Due: docs lint

Convert older => syntax to colon syntax
  app/views/groups/group_members/index.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Reorganize group member management into tabs
  app/assets/stylesheets/pages/users.scss
  app/views/groups/group_members/index.html.haml
  app/views/projects/project_members/_team.html.haml
  app/views/shared/members/_filter_2fa_dropdown.html.haml
  app/views/shared/members/_sort_dropdown.html.haml
  changelogs/unreleased/229830-move-groups-members-pending-in-to-tabs.yml
  doc/user/group/img/add_new_members.png
  locale/gitlab.pot
  spec/features/groups/members/manage_groups_spec.rb
  spec/features/groups/members/master_manages_access_requests_spec.rb
  spec/features/groups/members/tabs_spec.rb
  spec/features/projects/members/master_manages_access_requests_spec.rb
  spec/support/shared_examples/features/master_manages_access_requests_shared_example.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move repeated utility classes into partials
  app/views/groups/group_members/index.html.haml
  app/views/groups/group_members/tab_pane/_form_item.html.haml
  app/views/groups/group_members/tab_pane/_header.html.haml
  app/views/groups/group_members/tab_pane/_title.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move search field into a partial
  app/views/groups/group_members/index.html.haml
  app/views/shared/members/_search_field.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove unneeded HAML variable
  app/views/groups/group_members/index.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change "Pending" tab to "Invited"
  app/views/groups/group_members/index.html.haml
  doc/user/group/img/add_new_members.png
  locale/gitlab.pot
  spec/features/groups/members/manage_members_spec.rb
  spec/features/groups/members/tabs_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add `data-testid` selector to user search form
  app/views/groups/group_members/index.html.haml
  spec/features/groups/members/search_members_spec.rb
  spec/features/groups/members/tabs_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
