Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Update code_review.md
  doc/development/code_review.md
Due: docs lint

Docs added details
  doc/ci/pipelines/settings.md
Due: docs lint

Revert "Merge branch 'docs-justin-labels-why' into 'master'"
  doc/user/project/labels.md
Due: docs lint

Add Geo replication wait times to supported env vars
  docs/what_tests_can_be_run.md
  lib/gitlab/qa/runtime/env.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add fixture to generate burnrate events
  ee/spec/frontend/fixtures/burnrate_events.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add gon.licensed_features for checking EE features
  app/controllers/groups/boards_controller.rb
  app/controllers/projects/boards_controller.rb
  ee/app/assets/javascripts/boards/stores/boards_store_ee.js
  ee/app/helpers/ee/boards_helper.rb
  lib/gitlab/gon_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Example that fails the lint tests
  doc/user/todos.md
Due: docs lint

Fix typo in LM and LC files
  lib/gitlab/ci/templates/Security/License-Management.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/License-Scanning.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Vale sentence spacing rule
  doc/.vale/gitlab/SentenceSpacing.yml
Due: docs lint

Remove annotations feature flag
  app/assets/javascripts/monitoring/stores/actions.js
  app/controllers/projects/environments_controller.rb
  changelogs/unreleased/remove-annotations-feature-flag.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move Milestone methods to Timebox
  app/models/concerns/milestoneish.rb
  app/models/concerns/timebox.rb
  app/models/global_milestone.rb
  app/models/milestone.rb
  app/models/sprint.rb
  changelogs/unreleased/205570-sprint_timebox_concern.yml
  ee/app/views/shared/milestones/_burndown.html.haml
  locale/gitlab.pot
  spec/models/milestone_spec.rb
  spec/models/sprint_spec.rb
  spec/support/shared_examples/models/concerns/milestoneish_shared_examples.rb
  spec/support/shared_examples/models/concerns/timebox_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

save point
  ee/app/services/status_page/publish_base_service.rb
  ee/app/services/status_page/publish_details_service.rb
  ee/app/services/status_page/publish_list_service.rb
  ee/lib/status_page/storage.rb
  ee/spec/lib/status_page/storage_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Simplify authorization and add specs
  app/assets/javascripts/pages/projects/shared/permissions/components/settings_panel.vue
  app/controllers/projects/environments_controller.rb
  app/helpers/projects_helper.rb
  app/models/project.rb
  app/services/metrics/dashboard/base_service.rb
  spec/controllers/projects/environments_controller_spec.rb
  spec/frontend/pages/projects/shared/permissions/components/settings_panel_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP
  app/mailers/emails/merge_requests.rb
  app/mailers/previews/notify_preview.rb
  app/models/concerns/milestoneable.rb
  app/models/concerns/timebox.rb
  app/models/event.rb
  app/models/system_note_metadata.rb
  app/services/event_create_service.rb
  app/services/issuable/common_system_notes_service.rb
  app/services/issuable_base_service.rb
  app/services/issues/update_service.rb
  app/services/merge_requests/update_service.rb
  app/services/milestones/destroy_service.rb
  app/services/notification_service.rb
  app/services/system_note_service.rb
  app/services/system_notes/issuables_service.rb
  app/views/notify/changed_milestone_email.html.haml
  app/views/notify/changed_milestone_email.text.erb
  app/views/notify/removed_milestone_merge_request_email.html.haml
  app/views/notify/removed_timebox_merge_request_email.html.haml
  app/views/notify/removed_timebox_merge_request_email.text.erb
  ee/app/models/concerns/ee/milestoneable.rb
  ee/app/services/sprints/base_service.rb
  ee/app/services/sprints/create_service.rb
  ee/app/services/sprints/destroy_service.rb
  ee/spec/services/sprints/create_service_spec.rb
  ee/spec/services/sprints/destroy_service_spec.rb
  spec/services/merge_requests/update_service_spec.rb
  spec/services/notification_service_spec.rb
  spec/support/shared_examples/services/issuable_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Tutorial revisions from the TW team
  doc/development/testing_guide/end_to_end/beginners_guide.md
  doc/development/testing_guide/end_to_end/img/gl-devops-lifecycle-by-stage-numbers_V12_10.png
Due: docs lint

wip
  doc/development/README.md
  doc/development/integrations/sourcegraph.md
Due: docs lint

random stuff
  app/helpers/page_layout_helper.rb
  lib/gitlab/gon_helper.rb
  lib/gitlab/middleware/rails_queue_duration.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert variables usage to allow override
  lib/gitlab/ci/templates/Security/Dependency-Scanning.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/SAST.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update all JS design management imports to be CE
  ee/app/assets/javascripts/pages/projects/issues/show/index.js
  spec/frontend/design_management/components/delete_button_spec.js
  spec/frontend/design_management/components/design_note_pin_spec.js
  spec/frontend/design_management/components/design_notes/design_discussion_spec.js
  spec/frontend/design_management/components/design_notes/design_note_spec.js
  spec/frontend/design_management/components/design_notes/design_reply_form_spec.js
  spec/frontend/design_management/components/design_overlay_spec.js
  spec/frontend/design_management/components/design_presentation_spec.js
  spec/frontend/design_management/components/design_scaler_spec.js
  spec/frontend/design_management/components/image_spec.js
  spec/frontend/design_management/components/list/item_spec.js
  spec/frontend/design_management/components/toolbar/index_spec.js
  spec/frontend/design_management/components/toolbar/pagination_button_spec.js
  spec/frontend/design_management/components/toolbar/pagination_spec.js
  spec/frontend/design_management/components/upload/button_spec.js
  spec/frontend/design_management/components/upload/design_dropzone_spec.js
  spec/frontend/design_management/components/upload/design_version_dropdown_spec.js
  spec/frontend/design_management/pages/design/index_spec.js
  spec/frontend/design_management/pages/index_spec.js
  spec/frontend/design_management/router_spec.js
  spec/frontend/design_management/utils/cache_update_spec.js
  spec/frontend/design_management/utils/design_management_utils_spec.js
  spec/frontend/design_management/utils/error_messages_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix vue-require-i18n-strings violations
  app/assets/javascripts/boards/components/modal/header.vue
  app/assets/javascripts/issue_show/components/edit_actions.vue
  app/assets/javascripts/issue_show/components/fields/description_template.vue
  app/assets/javascripts/repository/components/table/row.vue
  ee/app/assets/javascripts/boards/components/milestone_select.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Document Gitaly scaling capabilities
  doc/administration/gitaly/scaling.md
Due: docs lint

Initialise design management assets in CE
  app/assets/javascripts/design_management/index.js
  ee/app/assets/javascripts/pages/projects/issues/show/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove echarts from main webpack bundle
  app/assets/javascripts/contributors/components/contributors.vue
  app/assets/javascripts/monitoring/components/charts/anomaly.vue
  app/assets/javascripts/monitoring/components/charts/bar.vue
  app/assets/javascripts/monitoring/components/charts/column.vue
  app/assets/javascripts/monitoring/components/charts/heatmap.vue
  app/assets/javascripts/monitoring/components/charts/single_stat.vue
  app/assets/javascripts/monitoring/components/charts/stacked_column.vue
  app/assets/javascripts/monitoring/components/charts/time_series.vue
  app/assets/javascripts/pages/projects/graphs/charts/index.js
  app/assets/javascripts/projects/pipelines/charts/components/app.vue
  app/assets/javascripts/projects/pipelines/charts/components/pipelines_area_chart.vue
  app/assets/javascripts/serverless/components/area.vue
  app/assets/javascripts/vue_shared/components/memory_graph.vue
  ee/app/assets/javascripts/analytics/contribution_analytics/components/column_chart.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/tasks_by_type/tasks_by_type_chart.vue
  ee/app/assets/javascripts/analytics/productivity_analytics/components/app.vue
  ee/app/assets/javascripts/analytics/shared/components/scatterplot.vue
  ee/app/assets/javascripts/burndown_chart/components/burndown_chart.vue
  ee/app/assets/javascripts/insights/components/insights_chart.vue
  ee/app/assets/javascripts/issues_analytics/components/issues_analytics.vue
  ee/app/assets/javascripts/security_dashboard/components/vulnerability_chart.vue
  ee/app/assets/javascripts/threat_monitoring/components/statistics_history.vue
  ee/app/assets/javascripts/threat_monitoring/components/statistics_summary.vue
  ee/spec/frontend/threat_monitoring/components/statistics_history_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor lib gitlab files
  lib/gitlab/patch/draw_route.rb
  lib/gitlab/prometheus/metric_group.rb
  lib/gitlab/prometheus/queries/query_additional_metrics.rb
  lib/gitlab/search/parsed_query.rb
  lib/gitlab/slash_commands/presenters/issue_base.rb
  lib/gitlab/tree_summary.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move prepend to the last line
  lib/gitlab/ci/status/build/failed.rb
  lib/gitlab/email/handler.rb
  lib/gitlab/github_import/parallel_importer.rb
  lib/gitlab/import_export/project/relation_factory.rb
  lib/gitlab/middleware/read_only/controller.rb
  lib/gitlab/omniauth_initializer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog
  changelogs/unreleased/lib-gitlab-refactoring.yml
Due: none

Move prepend to the last line
  lib/gitlab/auth/saml/config.rb
  lib/gitlab/auth/saml/user.rb
  lib/gitlab/checks/base_checker.rb
  lib/gitlab/checks/change_access.rb
  lib/gitlab/checks/diff_check.rb
  lib/gitlab/ci/parsers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog
  changelogs/unreleased/lib-gitlab-refactoring-3.yml
Due: none

Add changelog
  changelogs/unreleased/lib-gitlab-refactoring-2.yml
Due: none

Move prepend to the last line in lib gitlab files
  lib/gitlab/auth.rb
  lib/gitlab/auth/ldap/person.rb
  lib/gitlab/auth/ldap/user.rb
  lib/gitlab/auth/o_auth/auth_hash.rb
  lib/gitlab/auth/o_auth/user.rb
  lib/gitlab/auth/result.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog
  changelogs/unreleased/lib-gitlab-refactoring-4.yml
Due: none

Revert change in auth.rb
  lib/gitlab/auth.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog
  changelogs/unreleased/lib-gitlab-refactoring-5.yml
Due: none

move prepend to last line in import sources
  lib/gitlab/import_sources.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move prepend to the last line in lib gitlab files
  lib/gitlab/auth/auth_finders.rb
  lib/gitlab/auth/ldap/access.rb
  lib/gitlab/auth/ldap/adapter.rb
  lib/gitlab/auth/ldap/config.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert change in import_sources.rb
  lib/gitlab/import_sources.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch '38096-resource-state-events-pd' into 'master'"
  changelogs/unreleased/38096-resource-state-events-pd.yml
  db/migrate/20200406132529_add_resource_state_events_table.rb
  db/migrate/20200423075720_add_user_id_foreign_key_to_resource_state_events.rb
  db/migrate/20200423080334_add_issue_id_foreign_key_to_resource_state_events.rb
  db/migrate/20200423080607_add_merge_request_id_foreign_key_to_resource_state_events.rb
  db/migrate/20200423081409_add_constraint_to_resource_state_events_must_belong_to_issue_or_merge_request.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
