Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Update GitLab UI/SVG
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor validation of jira imports
  app/models/project.rb
  app/services/jira_import/start_import_service.rb
  lib/gitlab/jira_import/base_importer.rb
  spec/requests/api/graphql/mutations/jira_import/start_spec.rb
  spec/services/jira_import/start_import_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs - Update pg_hba example for tracking Geo database
  doc/administration/geo/replication/external_database.md
Due: docs lint

Move export issues feature to core
  app/controllers/projects/issues_controller.rb
  app/mailers/emails/issues.rb
  app/mailers/previews/notify_preview.rb
  app/models/concerns/issuable.rb
  app/services/issues/export_csv_service.rb
  app/views/notify/issues_csv_email.html.haml
  app/views/notify/issues_csv_email.text.erb
  app/views/projects/issues/_nav_btns.html.haml
  app/views/projects/issues/export_csv/_button.html.haml
  app/views/projects/issues/export_csv/_modal.html.haml
  app/workers/all_queues.yml
  app/workers/export_csv_worker.rb
  changelogs/unreleased/issue_212330_2.yml
  config/routes/issues.rb
  doc/user/project/issues/csv_export.md
  ee/app/controllers/ee/projects/issues_controller.rb
  ee/app/mailers/ee/notify.rb
  ee/app/mailers/ee/preview/notify_preview.rb
  ee/app/mailers/emails/csv_export.rb
  ee/app/models/concerns/ee/issuable.rb
  ee/app/services/ee/issues/export_csv_service.rb
  ee/app/views/shared/promotions/_promote_csv_export.html.haml
  ee/app/workers/all_queues.yml
  ee/config/routes/issues.rb
  ee/spec/controllers/projects/issues_controller_spec.rb
  ee/spec/mailers/emails/csv_export_spec.rb
  ee/spec/models/concerns/ee/issuable_spec.rb
  ee/spec/services/issues/export_csv_service_spec.rb
  lib/csv_builder.rb
  qa/qa/ee/page/project/issue/index.rb
  qa/qa/specs/features/browser_ui/2_plan/issue/export_as_csv_spec.rb
  spec/controllers/projects/issues_controller_spec.rb
  spec/features/issues/csv_spec.rb
  spec/lib/csv_builder_spec.rb
  spec/mailers/emails/issues_spec.rb
  spec/models/concerns/issuable_spec.rb
  spec/services/issues/export_csv_service_spec.rb
  spec/workers/export_csv_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs - Remove geo_secondary[] for tracking db
  doc/administration/geo/disaster_recovery/index.md
Due: docs lint

Replace img and move to correct dir
  doc/user/project/repository/img/file_ext_icons_repo_v12_10.png
  doc/user/project/repository/index.md
Due: docs lint

Refresh only existing MRs on push
  app/services/git/branch_push_service.rb
  app/services/git/process_ref_changes_service.rb
  app/services/merge_requests/pushed_branches_service.rb
  changelogs/unreleased/id-refresh-only-existing-mrs.yml
  spec/services/git/process_ref_changes_service_spec.rb
  spec/services/merge_requests/pushed_branches_service_spec.rb
  spec/workers/post_receive_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add documentation of new dependency scanning env vars
  doc/user/application_security/dependency_scanning/index.md
Due: docs lint

Fix new requirement button visibility
  ee/app/assets/javascripts/requirements/components/requirement_item.vue
  ee/app/views/projects/requirements/index.html.haml
  ee/spec/features/projects/requirements/requirements_list_spec.rb
  ee/spec/frontend/requirements/components/requirement_item_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve wording for image name
  doc/user/compliance/license_compliance/index.md
Due: docs lint

Update structure per request
  doc/ci/variables/README.md
Due: docs lint

Remove store_mentions! in Snippets::CreateService
  app/services/snippets/create_service.rb
  changelogs/unreleased/213557-remove-store_mentions.yml
  spec/services/snippets/create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

BUGFIX - decorated_subscription returns nil
  ee/app/helpers/ee/projects_helper.rb
  ee/app/views/layouts/header/_ee_subscribable_banner.html.haml
  ee/lib/gitlab/expiring_subscription_message.rb
  ee/spec/helpers/license_helper_spec.rb
  ee/spec/helpers/projects_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update changelog to point at new MR
  ee/changelogs/unreleased/jswain_update_reneawl_banner_dotcom.yml
Due: none

Revert "Revert "Merge branch '3326-fix-license_helper-memoization-issue' into 'master'""
  app/views/layouts/_page.html.haml
  app/views/projects/_flash_messages.html.haml
  ee/app/helpers/ee/dashboard_helper.rb
  ee/app/helpers/ee/gitlab_routing_helper.rb
  ee/app/helpers/ee/projects_helper.rb
  ee/app/helpers/license_helper.rb
  ee/app/models/ee/project.rb
  ee/app/presenters/subscription_presenter.rb
  ee/app/views/admin/licenses/_breakdown.html.haml
  ee/app/views/admin/licenses/show.html.haml
  ee/app/views/layouts/header/_ee_subscribable_banner.html.haml
  ee/app/views/shared/promotions/_promotion_link_project.html.haml
  ee/changelogs/unreleased/jswain_update_reneawl_banner_dotcom.yml
  ee/lib/gitlab/expiring_subscription_message.rb
  ee/spec/helpers/ee/dashboard_helper_spec.rb
  ee/spec/helpers/ee/gitlab_routing_helper_spec.rb
  ee/spec/helpers/license_helper_spec.rb
  ee/spec/helpers/projects_helper_spec.rb
  ee/spec/lib/gitlab/expiring_subscription_message_spec.rb
  ee/spec/models/project_spec.rb
  ee/spec/presenters/subscription_presenter_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Display notes based on line_codes and positions props
  app/assets/javascripts/diffs/components/diff_table_cell.vue
  app/assets/javascripts/diffs/store/mutations.js
  app/assets/javascripts/diffs/store/utils.js
  app/controllers/projects/merge_requests_controller.rb
  spec/frontend/diffs/components/diff_table_cell_spec.js
  spec/frontend/diffs/store/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move vuex content to duration_chart module
  ee/app/assets/javascripts/analytics/cycle_analytics/components/base.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/duration_chart.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/store/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/getters.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/index.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/duration_chart/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/duration_chart/getters.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/duration_chart/index.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/duration_chart/mutation_types.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/duration_chart/mutations.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/duration_chart/state.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/mutation_types.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/mutations.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/state.js
  ee/spec/frontend/analytics/cycle_analytics/components/base_spec.js
  ee/spec/frontend/analytics/cycle_analytics/components/duration_chart_spec.js
  ee/spec/frontend/analytics/cycle_analytics/mock_data.js
  ee/spec/frontend/analytics/cycle_analytics/store/actions_spec.js
  ee/spec/frontend/analytics/cycle_analytics/store/getters_spec.js
  ee/spec/frontend/analytics/cycle_analytics/store/modules/duration_chart/actions_spec.js
  ee/spec/frontend/analytics/cycle_analytics/store/modules/duration_chart/getters_spec.js
  ee/spec/frontend/analytics/cycle_analytics/store/modules/duration_chart/mutations_spec.js
  ee/spec/frontend/analytics/cycle_analytics/store/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove "Add metric" button from custom dashboards
  app/assets/javascripts/monitoring/components/dashboard.vue
  ee/changelogs/unreleased/211648-remove-add-metric-button-from-custom-dashboard.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add feature flag for easy toggling
  app/views/layouts/_page.html.haml
  app/views/projects/_flash_messages.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add offline documentation for DS
  doc/user/application_security/dependency_scanning/index.md
Due: docs lint

Add changelog entry
  ee/changelogs/unreleased/213363-better-node-errors.yml
Due: none

Better Geo Node Error Messages
  ee/app/assets/javascripts/geo_node_form/store/actions.js
  ee/spec/features/admin/geo/admin_geo_nodes_spec.rb
  ee/spec/frontend/geo_node_form/mock_data.js
  ee/spec/frontend/geo_node_form/store/actions_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

RSpec: Remove extra definitions not_change matcher
  ee/spec/requests/api/epics_spec.rb
  ee/spec/requests/api/merge_request_approvals_spec.rb
  ee/spec/services/feature_flags/update_service_spec.rb
  spec/requests/api/markdown_spec.rb
  spec/services/x509_certificate_revoke_service_spec.rb
  spec/support/matchers/exclude_matcher.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Restrict recovery regular check callout only to gitlab.com
  ee/app/helpers/ee/user_callouts_helper.rb
  ee/changelogs/unreleased/xanf-recovery-settings-only-for-gitlab-com.yml
  ee/spec/features/account_recovery_regular_check_spec.rb
  ee/spec/helpers/ee/user_callouts_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update annotations fetch graphql query
  app/assets/javascripts/monitoring/components/charts/annotations.js
  app/assets/javascripts/monitoring/constants.js
  app/assets/javascripts/monitoring/queries/getAnnotations.query.graphql
  app/assets/javascripts/monitoring/stores/actions.js
  app/assets/javascripts/monitoring/stores/utils.js
  spec/frontend/monitoring/mock_data.js
  spec/frontend/monitoring/store/actions_spec.js
  spec/frontend/monitoring/store/utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update CHANGELOG-EE.md for 12.9.4-ee
  CHANGELOG-EE.md
  ee/changelogs/unreleased/213265-fix-search-for-complex-queries.yml
  ee/changelogs/unreleased/27789-sha-prefix-search.yml
  ee/changelogs/unreleased/mk-fix-primary-verification.yml
Due: none

Replace odd JSON usage with standard parser
  spec/support/import_export/configuration_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix tillerless helm command permissions
  lib/gitlab/kubernetes/helm/base_command.rb
  lib/gitlab/kubernetes/helm/init_command.rb
  spec/lib/gitlab/kubernetes/helm/base_command_spec.rb
  spec/lib/gitlab/kubernetes/helm/init_command_spec.rb
  spec/lib/gitlab/kubernetes/helm/install_command_spec.rb
  spec/lib/gitlab/kubernetes/helm/patch_command_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update CHANGELOG.md for 12.9.4
  CHANGELOG.md
  changelogs/unreleased/209059-fix-project-show-file-upload-not-working.yml
  changelogs/unreleased/209940-geo-fails-to-sync-file-uploads-with-improper-formatted-path.yml
  changelogs/unreleased/211452-rollback_to_legacy-causes-repos-to-404.yml
  changelogs/unreleased/212073-slack-notifications-stop-working-after-updating-gitlab.yml
  changelogs/unreleased/ab-keyset-ambig-bug.yml
Due: none

Split CI minutes resets into different workers
  config/sidekiq_queues.yml
  ee/app/models/ee/namespace.rb
  ee/app/workers/all_queues.yml
  ee/app/workers/ci/batch_reset_minutes_worker.rb
  ee/app/workers/clear_shared_runners_minutes_worker.rb
  ee/changelogs/unreleased/split-clear-shared-runners-minutes.worker.yml
  ee/spec/models/ee/namespace_spec.rb
  ee/spec/workers/ci/batch_reset_minutes_worker_spec.rb
  ee/spec/workers/clear_shared_runners_minutes_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Allow subclasses of BasePipeline to resolved
  app/models/resource_label_event.rb
  lib/banzai/pipeline.rb
  spec/lib/banzai/pipeline_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Decouple presentation of note_awards_list
  app/assets/javascripts/notes/components/note_awards_list.vue
  app/assets/javascripts/vue_shared/components/awards_list.vue
  spec/frontend/vue_shared/components/__snapshots__/awards_list_spec.js.snap
  spec/frontend/vue_shared/components/awards_list_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use with_lock_retries when adding concurrent FK
  lib/gitlab/database/migration_helpers.rb
  spec/lib/gitlab/database/migration_helpers_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update project_daily_statistics synchronally
  app/controllers/repositories/git_http_controller.rb
  app/models/project.rb
  app/workers/project_daily_statistics_worker.rb
  lib/api/project_statistics.rb
  spec/controllers/repositories/git_http_controller_spec.rb
  spec/models/project_spec.rb
  spec/requests/api/project_statistics_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add project_features to large table blacklist
  db/migrate/20180423204600_add_pages_access_level_to_project_feature.rb
  rubocop/migration_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Alerting is now available in GitLab Core
  doc/user/incident_management/index.md
  doc/user/project/integrations/prometheus.md
Due: docs lint

Add name_regex_keep to ContainerExpirationPolicy
  changelogs/unreleased/207267-retain-image-policy.yml
  db/migrate/20200415192656_add_name_regex_keep_to_container_expiration_policies.rb
  db/structure.sql
  lib/api/entities/container_expiration_policy.rb
  lib/api/helpers/projects_helpers.rb
  spec/lib/gitlab/import_export/safe_model_attributes.yml
  spec/requests/api/projects_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update auto-build-image to v0.2.2
  changelogs/unreleased/update-auto-build-image-to-0-2-2.yml
  lib/gitlab/ci/templates/Jobs/Build.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add missing docs for merg-ref-diffs
  doc/user/project/merge_requests/img/versions_compare_head_v12_10.png
  doc/user/project/merge_requests/versions.md
Due: docs lint

Gzip diffs for better redis storage
  lib/gitlab/diff/highlight_cache.rb
  spec/lib/gitlab/diff/highlight_cache_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
