Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Graphql Issues - Fix N+1 for Labels
  app/graphql/resolvers/concerns/looks_ahead.rb
  app/graphql/resolvers/issues_resolver.rb
  app/graphql/types/issue_type.rb
  spec/requests/api/graphql/project/issues_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Swimlanes - Reorder lists
  app/assets/javascripts/boards/components/board_list_header.vue
  app/assets/javascripts/boards/models/list.js
  app/assets/javascripts/boards/queries/board_list_shared.fragment.graphql
  app/assets/javascripts/boards/queries/board_list_update.mutation.graphql
  app/assets/javascripts/boards/stores/actions.js
  app/assets/javascripts/boards/stores/boards_store.js
  app/assets/javascripts/boards/stores/mutation_types.js
  app/assets/javascripts/boards/stores/mutations.js
  app/assets/javascripts/boards/stores/state.js
  ee/app/assets/javascripts/boards/components/epics_swimlanes.vue
  ee/app/assets/javascripts/boards/constants.js
  ee/app/assets/javascripts/boards/models/list.js
  ee/app/assets/javascripts/boards/queries/board_list.fragment.graphql
  ee/spec/frontend/boards/components/epics_swimlanes_spec.js
  ee/spec/frontend/boards/mock_data.js
  locale/gitlab.pot
  spec/frontend/boards/stores/actions_spec.js
  spec/frontend/boards/stores/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Swimlanes - Reorder lists
  app/assets/javascripts/boards/components/board_list_header.vue
  app/assets/javascripts/boards/stores/actions.js
  app/assets/javascripts/boards/stores/mutations.js
  app/assets/javascripts/boards/stores/state.js
  app/assets/stylesheets/pages/boards.scss
  ee/app/assets/javascripts/boards/components/epics_swimlanes.vue
  ee/app/assets/javascripts/boards/constants.js
  ee/spec/frontend/boards/components/epics_swimlanes_spec.js
  spec/frontend/boards/stores/actions_spec.js
  spec/frontend/boards/stores/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Drop one of duplicated limit-container-width classname
  app/views/groups/show.html.haml
  changelogs/unreleased/drop-limit-container-width-classname.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Align pipeline icon to center
  app/assets/javascripts/pipelines/components/pipelines_list/pipelines_table_row.vue
  app/assets/javascripts/vue_shared/components/ci_badge_link.vue
  changelogs/unreleased/pipeline-icon-center.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add type selector for issues
  app/views/shared/issuable/_form.html.haml
  app/views/shared/issuable/form/_metadata.html.haml
  app/views/shared/issuable/form/_type_selector.html.haml
  changelogs/unreleased/230857-incident-type-selector.yml
  ee/app/views/shared/issuable/form/_epic.html.haml
  ee/app/views/shared/issuable/form/_weight.html.haml
  locale/gitlab.pot
  spec/features/issues/user_creates_issue_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Resolve "Migrate '.fa-spinner' to '.spinner' for 'app/views/projects/services/prometheus'"
  app/views/projects/services/prometheus/_custom_metrics.html.haml
  app/views/projects/services/prometheus/_metrics.html.haml
  changelogs/unreleased/202607-migrate-spinner-for-app-views-projects-services-prometheus.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add tooltips for security approval rules
  app/controllers/projects_controller.rb
  ee/app/assets/javascripts/approvals/components/project_settings/project_rules.vue
  ee/app/assets/javascripts/approvals/components/rule_name.vue
  ee/app/assets/javascripts/approvals/components/security_configuration/unconfigured_security_rule.vue
  ee/app/assets/javascripts/approvals/constants.js
  ee/changelogs/unreleased/229828-security-approval-tooltips.yml
  ee/spec/frontend/approvals/components/project_settings/project_rules_spec.js
  ee/spec/frontend/approvals/components/rule_name_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add styles specific to "What's New" items
  app/assets/javascripts/whats_new/components/app.vue
  app/assets/stylesheets/components/whats_new.scss
  data/whats_new/202008180001_12_10.yml
  data/whats_new/202008180002_13_0.yml
  data/whats_new/202008180003_13_01.yml
  data/whats_new/202008210001_13_02.yml
  lib/gitlab/danger/helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Removing unnecessary imports from the test file
  ee/app/assets/javascripts/vue_shared/security_reports/components/modal_footer.vue
  ee/changelogs/unreleased/229210-replace-loadingbutton-with-gitlab-ui-s-glbutton-in-ee-app-asset.yml
  ee/spec/frontend/vue_shared/security_reports/components/modal_footer_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add DAST Scanner Profiles Form
  app/assets/javascripts/lib/utils/forms.js
  ee/app/assets/javascripts/dast_scanner_profiles/components/dast_scanner_profile_form.vue
  ee/app/assets/javascripts/dast_scanner_profiles/dast_scanner_profiles_bundle.js
  ee/app/assets/javascripts/dast_scanner_profiles/graphql/dast_scanner_profile_create.mutation.graphql
  ee/app/views/projects/dast_scanner_profiles/new.html.haml
  ee/spec/frontend/dast_scanner_profiles_form/components/dast_scanner_profiles_form_spec.js
  ee/spec/views/projects/dast_scanner_profiles/new.html.haml_spec.rb
  locale/gitlab.pot
  spec/frontend/lib/utils/forms_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move initialization of Awards Handler to pages
  app/assets/javascripts/main.js
  app/assets/javascripts/pages/projects/commit/show/index.js
  app/assets/javascripts/pages/projects/issues/show.js
  app/assets/javascripts/pages/projects/merge_requests/init_merge_request_show.js
  app/assets/javascripts/snippet/snippet_show.js
  ee/app/assets/javascripts/pages/groups/epics/show/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove code_navigation_references feature flag
  app/services/ci/create_job_artifacts_service.rb
  doc/user/project/code_intelligence.md
  doc/user/project/img/code_intelligence_v13_1.png
  doc/user/project/img/code_intelligence_v13_4.png
  spec/requests/api/ci/runner/jobs_artifacts_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename config_processor to yaml_processor_result
  lib/gitlab/ci/pipeline/chain/command.rb
  lib/gitlab/ci/pipeline/chain/config/process.rb
  lib/gitlab/ci/pipeline/chain/evaluate_workflow_rules.rb
  lib/gitlab/ci/pipeline/chain/remove_unwanted_chat_jobs.rb
  lib/gitlab/ci/pipeline/chain/seed.rb
  lib/gitlab/ci/pipeline/chain/validate/external.rb
  spec/lib/gitlab/ci/pipeline/chain/remove_unwanted_chat_jobs_spec.rb
  spec/lib/gitlab/ci/pipeline/chain/validate/external_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix positional note specs
  spec/models/diff_note_spec.rb
  spec/models/draft_note_spec.rb
  spec/support/shared_examples/models/diff_positionable_note_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Defer snowplow loading until rest of dom is loaded
  app/assets/javascripts/main.js
  app/assets/javascripts/tracking.js
  changelogs/unreleased/223855-performance-defer-certain-parts-of-setting-up-snowplow-telemetry.yml
  spec/frontend/tracking_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove group_push_rules Feature flag
  doc/user/group/index.md
  ee/app/policies/ee/group_policy.rb
  ee/app/policies/ee/project_policy.rb
  ee/app/services/ee/groups/create_service.rb
  ee/app/services/ee/projects/create_service.rb
  ee/changelogs/unreleased/deprecate_group_push_rules_flag.yml
  ee/spec/features/groups/navbar_spec.rb
  ee/spec/services/groups/create_service_spec.rb
  ee/spec/services/projects/create_service_spec.rb
  spec/features/groups/navbar_spec.rb
  spec/support/helpers/navbar_structure_helper.rb
  spec/support/shared_contexts/navbar_structure_context.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add ability to fetch DastSiteProfile via GraphQL
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/graphql/ee/types/project_type.rb
  ee/changelogs/unreleased/dast-site-profile-graphql-query.yml
  ee/spec/requests/api/graphql/project/dast_site_profile_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add DAST Profiles to Security Configuration page
  ee/app/assets/javascripts/security_configuration/components/app.vue
  ee/app/assets/javascripts/security_configuration/components/manage_feature.vue
  ee/app/presenters/projects/security/configuration_presenter.rb
  ee/changelogs/unreleased/241263-dast-ondemand-configure-link.yml
  ee/spec/controllers/projects/security/configuration_controller_spec.rb
  ee/spec/frontend/security_configuration/components/app_spec.js
  ee/spec/frontend/security_configuration/components/helpers.js
  ee/spec/frontend/security_configuration/components/manage_feature_spec.js
  ee/spec/presenters/projects/security/configuration_presenter_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix x509 certificate spec
  spec/models/x509_certificate_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix Rails/SaveBang offenses for ee/spec/lib/gitlab/geo/*
  .rubocop_todo.yml
  changelogs/unreleased/rails-save-bang-26.yml
  ee/spec/lib/gitlab/geo/cron_manager_spec.rb
  ee/spec/lib/gitlab/geo/jwt_request_decoder_spec.rb
  ee/spec/lib/gitlab/geo/oauth/session_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix event spec
  spec/models/event_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove the async pages feature flags
  app/models/concerns/storage/legacy_namespace.rb
  app/services/pages/delete_service.rb
  app/services/projects/after_rename_service.rb
  app/services/projects/transfer_service.rb
  changelogs/unreleased/bvl-remove-async-pages-ff.yml
  config/feature_flags/development/async_pages_move_namespace_rename.yml
  config/feature_flags/development/async_pages_move_namespace_transfer.yml
  config/feature_flags/development/async_pages_move_project_rename.yml
  config/feature_flags/development/async_pages_move_project_transfer.yml
  config/feature_flags/development/async_pages_removal.yml
  spec/models/namespace_spec.rb
  spec/services/pages/delete_services_spec.rb
  spec/services/projects/after_rename_service_spec.rb
  spec/services/projects/transfer_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move chart specs into a separate file
  ee/spec/features/analytics/cycle_analytics/cycle_analytics_spec.rb
  ee/spec/features/groups/analytics/cycle_analytics/charts_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Abstract mocking Apollo client to helper method
  spec/frontend/design_management/pages/index_apollo_spec.js
  spec/frontend/helpers/mock_apollo_helper.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix project badge spec
  spec/models/badges/project_badge_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix package spec
  spec/models/packages/package_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fixes the styling of the resolve thread button
  app/assets/javascripts/notes/components/discussion_resolve_button.vue
  spec/frontend/notes/components/discussion_resolve_button_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve style guide info
  doc/development/fe_guide/style/index.md
Due: docs lint

Add tooltips to dast profile form
  ee/app/assets/javascripts/dast_scanner_profiles/components/dast_scanner_profile_form.vue
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Dangerfile: Fix undefined method
  danger/database/Dangerfile
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Change capitalization of "Key" to "key"
  doc/api/users.md
Due: docs lint

Rephrase question as sentence
  doc/install/installation.md
Due: docs lint

Fix Rails/SaveBang offenses for */spec/models/project_services/*
  .rubocop_todo.yml
  changelogs/unreleased/rails-save-bang-21.yml
  ee/spec/models/project_services/github_service_spec.rb
  ee/spec/models/project_services/jenkins_service_spec.rb
  spec/models/project_services/bamboo_service_spec.rb
  spec/models/project_services/buildkite_service_spec.rb
  spec/models/project_services/jira_service_spec.rb
  spec/models/project_services/packagist_service_spec.rb
  spec/models/project_services/pipelines_email_service_spec.rb
  spec/models/project_services/teamcity_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Allow image resizing if `current_user=nil`
  app/controllers/concerns/send_file_upload.rb
  spec/controllers/concerns/send_file_upload_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Store security findings in the database
  ee/app/models/security/scan.rb
  ee/app/services/security/store_findings_metadata_service.rb
  ee/app/services/security/store_scans_service.rb
  ee/lib/gitlab/ci/reports/security/reports.rb
  ee/spec/factories/security/findings.rb
  ee/spec/models/security/scan_spec.rb
  ee/spec/services/security/store_findings_metadata_service_spec.rb
  ee/spec/services/security/store_scans_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use `let_it_be` to speed up the specs
  ee/spec/services/security/store_findings_metadata_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Do not hold long transaction
  ee/app/services/security/store_scans_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Memoize the existing_scanners method
  ee/app/services/security/store_findings_metadata_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
