Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Apply 1 suggestion(s) to 1 file(s)
  config/application.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change black text to correct grey color scale
  app/assets/stylesheets/page_bundles/cycle_analytics.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove check for usage ping enabled
  app/controllers/concerns/redis_tracking.rb
  app/helpers/analytics/unique_visits_helper.rb
  lib/api/helpers.rb
  lib/gitlab/utils/usage_data.rb
  spec/controllers/concerns/redis_tracking_spec.rb
  spec/helpers/analytics/unique_visits_helper_spec.rb
  spec/lib/api/helpers_spec.rb
  spec/lib/gitlab/utils/usage_data_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add `help_page_documentation_url` to `application_settings` table
  db/migrate/20200917121650_add_help_page_documentation_url_to_application_settings.rb
  db/schema_migrations/20200917121650
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add missing locales and refreshed schema
  doc/api/graphql/reference/gitlab_schema.json
  locale/ml_IN/gitlab.po
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Documentation URL option to Admin area
  app/helpers/application_settings_helper.rb
  app/models/application_setting.rb
  app/models/application_setting_implementation.rb
  app/views/admin/application_settings/_help_page.html.haml
  lib/api/settings.rb
  spec/features/admin/admin_settings_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/requests/api/settings_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Group Import V2 user authentication (backend)
  app/controllers/import/v2/gitlab_groups_controller.rb
  app/views/groups/_import_group_pane.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add condition for different reports
  ee/lib/gitlab/ci/parsers/security/formatters/dependency_list.rb
  ee/spec/lib/gitlab/ci/parsers/security/formatters/dependency_list_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve and limit audit event date filter
  app/assets/javascripts/lib/utils/datetime_utility.js
  ee/app/assets/javascripts/audit_events/components/audit_events_app.vue
  ee/app/assets/javascripts/audit_events/components/date_range_field.vue
  spec/frontend/lib/utils/datetime_utility_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Minor review updates
  ee/spec/features/groups/analytics/cycle_analytics/filters_and_data_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add mutation to update epic user preferences
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/graphql/ee/types/mutation_type.rb
  ee/app/graphql/mutations/boards/update_epic_user_preferences.rb
  ee/app/services/boards/epic_user_preferences/update_service.rb
  ee/spec/graphql/mutations/boards/update_epic_user_preferences_spec.rb
  ee/spec/requests/api/graphql/mutations/boards/update_epic_user_preferences_spec.rb
  ee/spec/services/boards/epic_user_preferences/update_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fully implement SSE config file handling
  app/controllers/projects/static_site_editor_controller.rb
  app/services/static_site_editor/config_service.rb
  lib/gitlab/static_site_editor/config/file_config.rb
  lib/gitlab/static_site_editor/config/file_config/entry/global.rb
  lib/gitlab/static_site_editor/config/file_config/entry/static_site_generator.rb
  spec/controllers/projects/static_site_editor_controller_spec.rb
  spec/lib/gitlab/static_site_editor/config/file_config/entry/global_spec.rb
  spec/lib/gitlab/static_site_editor/config/file_config/entry/static_site_generator_spec.rb
  spec/lib/gitlab/static_site_editor/config/file_config_spec.rb
  spec/services/static_site_editor/config_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add a helper for embedding graphql queries in the page
  app/helpers/startupjs_helper.rb
  app/views/projects/tree/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename pathLastCommit file location
  app/assets/javascripts/repository/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

fixup! Refactor: Remove Instance level VSA
  ee/app/assets/javascripts/analytics/cycle_analytics/components/base.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Split sign in and sign up page
  app/assets/stylesheets/_page_specific_files.scss
  app/assets/stylesheets/pages/signup.scss
  app/controllers/registrations_controller.rb
  app/helpers/notes_helper.rb
  app/views/devise/registrations/new.html.haml
  app/views/devise/sessions/new.html.haml
  app/views/devise/shared/_experimental_separate_sign_up_flow_box.html.haml
  app/views/devise/shared/_experimental_separate_sign_up_flow_omniauth_box.haml
  app/views/devise/shared/_signin_box.html.haml
  app/views/devise/shared/_signup_box.html.haml
  app/views/devise/shared/_tabs_ldap.html.haml
  app/views/layouts/_head.html.haml
  app/views/layouts/onboarding.html.haml
  app/views/registrations/welcome.html.haml
  app/views/shared/notes/_notes_with_form.html.haml
  changelogs/unreleased/nicolasdular-split-signin-and-signup.yml
  doc/subscriptions/gitlab_com/index.md
  ee/app/controllers/ee/registrations_controller.rb
  ee/spec/controllers/registrations_controller_spec.rb
  locale/gitlab.pot
  spec/controllers/registrations_controller_spec.rb
  spec/frontend/notes/mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated header buttons to be in a group
  app/assets/javascripts/diffs/components/diff_file_header.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add agent list to cluster list page
  app/assets/javascripts/clusters_list/index.js
  app/assets/javascripts/clusters_list/load_agents.js
  app/assets/javascripts/clusters_list/load_clusters.js
  app/helpers/clusters_helper.rb
  app/views/clusters/clusters/_buttons.html.haml
  app/views/clusters/clusters/_cluster_list.html.haml
  app/views/clusters/clusters/_empty_state.html.haml
  app/views/clusters/clusters/index.html.haml
  ee/app/assets/javascripts/clusters_list/components/agent_empty_state.vue
  ee/app/assets/javascripts/clusters_list/components/agent_table.vue
  ee/app/assets/javascripts/clusters_list/components/agents.vue
  ee/app/assets/javascripts/clusters_list/graphql/queries/get_agents.query.graphql
  ee/app/assets/javascripts/clusters_list/load_agents.js
  ee/app/helpers/ee/clusters_helper.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Background migration for jira deployment type
  changelogs/unreleased/229223-store-jira-server-type-post-migration.yml
  db/post_migrate/20200910155617_backfill_jira_tracker_deployment_type.rb
  db/schema_migrations/20200910155617
  lib/gitlab/background_migration/backfill_jira_tracker_deployment_type.rb
  spec/lib/gitlab/background_migration/backfill_jira_tracker_deployment_type_spec.rb
  spec/migrations/20200910155617_backfill_jira_tracker_deployment_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Changes based on review comments
  lib/gitlab/background_migration/backfill_jira_tracker_deployment_type.rb
  spec/lib/gitlab/background_migration/backfill_jira_tracker_deployment_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip
  db/post_migrate/20200910155617_backfill_jira_tracker_deployment_type.rb
  spec/migrations/20200910155617_backfill_jira_tracker_deployment_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update qa selectors for clusters list tests
  app/views/clusters/clusters/_cluster_list.html.haml
  app/views/clusters/clusters/_empty_state.html.haml
  qa/qa/page/project/operations/kubernetes/index.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add wait_until to find_element
  qa/qa/page/base.rb
Due: graphql-reference-verify, pages, cache gems

Add SAST UI Config telemetry
  ee/app/services/security/ci_configuration/sast_create_service.rb
  ee/changelogs/unreleased/rf-sast-config-telemetry.yml
  ee/lib/security/ci_configuration/sast_build_actions.rb
  ee/spec/lib/security/ci_configuration/sast_build_actions_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Propagate integrations using batching and queues
  app/models/concerns/integration.rb
  app/models/group.rb
  app/models/project.rb
  app/services/admin/propagate_integration_service.rb
  app/services/admin/propagate_service_template.rb
  app/services/bulk_create_integration_service.rb
  app/services/concerns/admin/propagate_service.rb
  app/workers/all_queues.yml
  app/workers/propagate_integration_group_worker.rb
  app/workers/propagate_integration_project_worker.rb
  config/sidekiq_queues.yml
  spec/models/group_spec.rb
  spec/models/integration_spec.rb
  spec/services/admin/propagate_integration_service_spec.rb
  spec/services/admin/propagate_service_template_spec.rb
  spec/services/bulk_create_integration_service_spec.rb
  spec/workers/propagate_integration_group_worker_spec.rb
  spec/workers/propagate_integration_project_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update "to do item" wording
  doc/user/todos.md
Due: docs lint

Update index on namespaces for type and id
  changelogs/unreleased/209831-propagate-integrations-using-batching-and-queues.yml
  db/post_migrate/20200917165525_update_index_on_namespaces_for_type_and_id.rb
  db/schema_migrations/20200917165525
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update integrations using batching and queue
  app/models/service.rb
  app/services/admin/propagate_integration_service.rb
  app/services/bulk_update_integration_service.rb
  app/workers/all_queues.yml
  app/workers/propagate_integration_inherit_worker.rb
  config/sidekiq_queues.yml
  spec/services/admin/propagate_integration_service_spec.rb
  spec/services/bulk_update_integration_service_spec.rb
  spec/workers/propagate_integration_inherit_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update prettier yarn file
  ee/app/assets/javascripts/vue_shared/license_compliance/components/admin_license_management_row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use wiki as repository container instead of project/group
  app/models/project_wiki.rb
  app/models/repository.rb
  app/models/wiki.rb
  app/policies/wiki_policy.rb
  app/workers/post_receive.rb
  ee/app/models/group_wiki.rb
  ee/lib/ee/gitlab/geo_git_access.rb
  ee/lib/ee/gitlab/git_access.rb
  ee/lib/ee/gitlab/git_access_wiki.rb
  ee/lib/ee/gitlab/gl_repository/repo_type.rb
  ee/spec/factories/group_wikis.rb
  ee/spec/lib/gitlab/git_access_wiki_spec.rb
  ee/spec/lib/gitlab/gl_repository/identifier_spec.rb
  ee/spec/lib/gitlab/gl_repository/repo_type_spec.rb
  ee/spec/lib/gitlab/gl_repository_spec.rb
  ee/spec/services/geo/repository_verification_primary_service_spec.rb
  ee/spec/workers/post_receive_spec.rb
  lib/gitlab/checks/post_push_message.rb
  lib/gitlab/git_access.rb
  lib/gitlab/git_access_snippet.rb
  lib/gitlab/git_access_wiki.rb
  lib/gitlab/gl_repository.rb
  lib/gitlab/gl_repository/identifier.rb
  lib/gitlab/gl_repository/repo_type.rb
  lib/gitlab/repo_path.rb
  spec/lib/gitlab/git_access_spec.rb
  spec/lib/gitlab/git_access_wiki_spec.rb
  spec/lib/gitlab/gl_repository/identifier_spec.rb
  spec/lib/gitlab/gl_repository/repo_type_spec.rb
  spec/lib/gitlab/gl_repository_spec.rb
  spec/lib/gitlab/repo_path_spec.rb
  spec/models/project_spec.rb
  spec/models/repository_spec.rb
  spec/requests/api/internal/base_spec.rb
  spec/support/shared_examples/models/wiki_shared_examples.rb
  spec/workers/post_receive_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove accept terms checkbox for signup
  app/controllers/registrations_controller.rb
  app/views/devise/shared/_experimental_separate_sign_up_flow_box.html.haml
  app/views/devise/shared/_signup_box.html.haml
  app/views/devise/shared/_terms_of_service_notice.html.haml
  changelogs/unreleased/nicolasdular-remove-tos-checkobx.yml
  ee/app/views/trial_registrations/_signup_box.html.haml
  ee/spec/features/trial_registrations/signup_spec.rb
  lib/gitlab/experimentation.rb
  locale/gitlab.pot
  qa/qa/page/main/sign_up.rb
  spec/controllers/registrations_controller_spec.rb
  spec/features/users/signup_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add limited capacity worker concern
  app/workers/concerns/limited_capacity/worker.rb
  spec/workers/concerns/limited_capacity/worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add documentation for limited capacity worker concern
  app/workers/concerns/limited_capacity/worker.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename local variable to emphasize that it's a number
  app/workers/concerns/limited_capacity/worker.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename remaining_work to remaining_work_count
  app/workers/concerns/limited_capacity/worker.rb
  spec/workers/concerns/limited_capacity/worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Disable Rubocop inline
  app/workers/concerns/limited_capacity/worker.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Document running jobs gauge
  app/workers/concerns/limited_capacity/worker.rb
  doc/administration/monitoring/prometheus/gitlab_metrics.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add specs for can_re_enqueue?
  spec/workers/concerns/limited_capacity/worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add more specs for capacity
  spec/workers/concerns/limited_capacity/worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Rename running_jobs to running_jobs_count
  app/workers/concerns/limited_capacity/worker.rb
  spec/workers/concerns/limited_capacity/worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
