Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Apply suggestions from review
  doc/administration/pages/index.md
Due: docs lint

Rename flag to disable-gitlab-api-config-source
  doc/administration/pages/index.md
Due: docs lint

Fix index example
  ee/spec/workers/elastic_indexer_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add test for nested objects
  ee/spec/workers/elastic_indexer_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

update link title for better clarity
  doc/administration/high_availability/README.md
Due: docs lint

Wrap non-words in code tags
  doc/user/admin_area/settings/usage_statistics.md
Due: docs lint

Fix spelling errors and add spelling exceptions
  doc/.vale/gitlab/spelling-exceptions.txt
  doc/development/testing_guide/frontend_testing.md
Due: docs lint

Wrap only non-words in code tags
  doc/user/admin_area/settings/usage_statistics.md
Due: docs lint

Move some code from let to before block
  ee/spec/workers/elastic_indexer_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add faster login mechanism for end-to-end tests
  app/controllers/qa_sessions_controller.rb
  config/routes/user.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to app/controllers/qa_sessions_controller.rb
  app/controllers/qa_sessions_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Accept user param on formless_login method
  qa/qa/page/main/formless_login.rb
Due: graphql-reference-verify, pages, cache gems

Update variable name due to latest changes
  qa/qa/runtime/env.rb
Due: graphql-reference-verify, pages, cache gems

Better name env var and param
  app/controllers/qa_sessions_controller.rb
  qa/qa/page/main/formless_login.rb
  spec/controllers/qa_sessions_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add formless login flow and test it out
  qa/qa.rb
  qa/qa/flow/login.rb
  qa/qa/page/main/formless_login.rb
  qa/qa/runtime/env.rb
  qa/qa/specs/features/browser_ui/2_plan/issue/mentions_spec.rb
Due: graphql-reference-verify, pages, cache gems

Add controller tests
  spec/controllers/qa_sessions_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add unit tests for new controller
  spec/controllers/qa_sessions_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Work around qa:selectors CI job
  qa/qa/page/main/formless_login.rb
Due: graphql-reference-verify, pages, cache gems

Apply suggestion to config/routes/user.rb
  config/routes/user.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix indentation and remove empty line
  qa/qa/page/main/formless_login.rb
Due: graphql-reference-verify, pages, cache gems

Apply suggestion to qa/qa/page/main/formless_login.rb
  qa/qa/page/main/formless_login.rb
Due: graphql-reference-verify, pages, cache gems

Fix static analysis issue
  qa/qa/page/main/formless_login.rb
Due: graphql-reference-verify, pages, cache gems

Remove trailing whitespace from page object
  qa/qa/page/main/formless_login.rb
Due: graphql-reference-verify, pages, cache gems

Update new route to fix rspec tests
  config/routes/user.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch 'sh-revert-codeowners-check' into 'master'"
  changelogs/unreleased/sh-revert-codeowners-check.yml
  ee/lib/ee/gitlab/checks/diff_check.rb
  ee/spec/lib/gitlab/checks/diff_check_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Audit event test debugging
  qa/qa/specs/features/ee/browser_ui/1_manage/group/group_audit_logs_1_spec.rb
Due: graphql-reference-verify, pages, cache gems

Expose $CI_MERGE_REQUEST_MODIFIED_PATHS in CI config
  app/models/ci/pipeline.rb
  spec/models/ci/pipeline_spec.rb
  spec/services/ci/create_pipeline_service/rules_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add CI_MERGE_REQUEST_MODIFIED_PATHS to predefined CI variables reference
  changelogs/unreleased/ci-var-mr-modified-paths.yml
  doc/ci/variables/predefined_variables.md
Due: docs lint

Revert "Merge branch 'sy-fix-schema-order' into 'master'"
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Set default omnibus config in Praefect scenario
  lib/gitlab/qa/component/gitlab.rb
  lib/gitlab/qa/scenario/test/integration/praefect.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove initialScope, as we add events from before start_date
  ee/app/assets/javascripts/burndown_chart/burndown_chart_data.js
  ee/app/assets/javascripts/burndown_chart/components/burnup_chart.vue
  ee/app/assets/javascripts/burndown_chart/index.js
  ee/spec/frontend/burndown_chart/burndown_chart_data_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Construct a Gitaly HA setup
  lib/gitlab/qa.rb
  lib/gitlab/qa/component/gitlab.rb
  lib/gitlab/qa/component/postgresql.rb
  lib/gitlab/qa/scenario/test/integration/gitaly_ha.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Bump version to 5.10.0
  lib/gitlab/qa/version.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add a WIP graphql integration for the detail page
  app/assets/javascripts/alert_management/components/alert_details.vue
  app/assets/javascripts/alert_management/details.js
  app/assets/javascripts/alert_management/graphql/queries/details.query.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add empty state spec
  app/assets/javascripts/alert_management/components/alert_details.vue
  spec/frontend/alert_management/components/alert_management_detail_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add spec to check assigned value
  spec/controllers/projects/alert_management_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Move console.log statement
  app/assets/javascripts/alert_management/components/alert_details.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to app/assets/javascripts/alert_management/components/alert_details.vue
  app/assets/javascripts/alert_management/components/alert_details.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
