Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Modify controller files
  app/controllers/projects/logs_controller.rb
  app/controllers/projects/product_analytics_controller.rb
  app/controllers/projects_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Modify GraphQL files
  app/graphql/gitlab_schema.rb
  app/graphql/mutations/award_emojis/base.rb
  app/graphql/mutations/discussions/toggle_resolve.rb
  app/graphql/mutations/metrics/dashboard/annotations/create.rb
  app/graphql/mutations/metrics/dashboard/annotations/delete.rb
  app/graphql/mutations/notes/create/base.rb
  app/graphql/mutations/notes/create/note.rb
  app/graphql/mutations/notes/destroy.rb
  app/graphql/mutations/notes/update/base.rb
  app/graphql/mutations/snippets/destroy.rb
  app/graphql/mutations/snippets/mark_as_spam.rb
  app/graphql/mutations/snippets/update.rb
  app/graphql/mutations/todos/mark_done.rb
  app/graphql/mutations/todos/restore.rb
  app/graphql/resolvers/concerns/resolves_snippets.rb
  app/graphql/resolvers/design_management/design_resolver.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/graphql/mutations/namespaces/base.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Modify finder files
  app/finders/alert_management/alerts_finder.rb
  app/finders/milestones_finder.rb
  app/finders/user_finder.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Modify spec files
  spec/graphql/gitlab_schema_spec.rb
  spec/requests/api/graphql/gitlab_schema_spec.rb
  spec/tasks/gitlab/praefect_rake_spec.rb
  spec/tasks/gitlab/snippets_rake_spec.rb
  spec/tasks/gitlab/storage_rake_spec.rb
  spec/views/import/gitlab_projects/new.html.haml_spec.rb
  spec/views/shared/runners/show.html.haml_spec.rb
  spec/workers/deployments/finished_worker_spec.rb
  spec/workers/design_management/new_version_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update gitlab.pot file
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add "ID" to the spelling test
  .markdownlint.json
Due: docs lint

Update ID in API schema
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Edit some more spec files
  spec/graphql/mutations/discussions/toggle_resolve_spec.rb
  spec/requests/api/graphql/mutations/metrics/dashboard/annotations/create_spec.rb
  spec/requests/api/graphql/mutations/metrics/dashboard/annotations/delete_spec.rb
  spec/requests/api/graphql/mutations/todos/mark_done_spec.rb
  spec/requests/api/graphql/mutations/todos/restore_spec.rb
  spec/tasks/gitlab/snippets_rake_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Lint docs for ID
  doc/administration/auth/cognito.md
  doc/api/feature_flags.md
  doc/api/services.md
  doc/development/elasticsearch.md
  doc/integration/salesforce.md
Due: docs lint

Regenerate the pot file
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update GraphQL schema
  doc/api/graphql/reference/gitlab_schema.json
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix some tests
  ee/spec/frontend/related_issues/components/related_issuable_input_spec.js
  spec/lib/gitlab/i18n/po_linter_spec.rb
  spec/requests/api/graphql/project/issue_spec.rb
  spec/requests/api/graphql/user_spec.rb
  spec/tasks/gitlab/snippets_rake_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

WIP
  COMMAND_PALETTE.md
  app/assets/javascripts/command_palette/components/app.vue
  app/assets/javascripts/command_palette/components/command_token.vue
  app/assets/javascripts/command_palette/index.js
  app/assets/javascripts/main.js
  app/assets/stylesheets/framework.scss
  app/assets/stylesheets/framework/command_palette.scss
  app/views/layouts/_page.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Cleanup query, fill in sparse timeseries data
  ee/app/assets/javascripts/burndown_chart/components/burn_charts_graphql.vue
  ee/app/assets/javascripts/burndown_chart/queries/burnup.query.graphql
  ee/spec/frontend/burndown_chart/components/burn_chart_graphql_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix spec failures due to ID case change
  lib/gitlab/i18n/html_todo.yml
  lib/tasks/gitlab/snippets.rake
  spec/lib/gitlab/i18n/po_linter_spec.rb
  spec/requests/api/graphql/project/issue_spec.rb
  spec/requests/api/pypi_packages_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move pipelines from widget.json to cached_widget.json
  app/serializers/merge_request_poll_cached_widget_entity.rb
  app/serializers/merge_request_poll_widget_entity.rb
  app/services/ci/expire_pipeline_cache_service.rb
  spec/serializers/merge_request_poll_cached_widget_entity_spec.rb
  spec/serializers/merge_request_poll_widget_entity_spec.rb
  spec/services/ci/expire_pipeline_cache_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove LegacyGitHubClient usage from Gitea Importer
  app/controllers/import/gitea_controller.rb
  app/controllers/import/github_controller.rb
  app/workers/gitlab/github_import/stage/import_issues_and_diff_notes_worker.rb
  lib/gitlab/github_import.rb
  lib/gitlab/github_import/client.rb
  lib/gitlab/github_import/importer/issue_importer.rb
  lib/gitlab/github_import/representation/issue.rb
  lib/gitlab/github_import/representation/note.rb
  lib/gitlab/import_sources.rb
  spec/lib/gitlab/github_import/client_spec.rb
  spec/lib/gitlab/github_import/importer/issue_importer_spec.rb
  spec/lib/gitlab/github_import/representation/issue_spec.rb
  spec/lib/gitlab/github_import/representation/note_spec.rb
  spec/lib/gitlab/github_import/sequential_importer_spec.rb
  spec/lib/gitlab/github_import_spec.rb
  spec/lib/gitlab/import_sources_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Display usernames as part of searching
  app/assets/javascripts/command_palette/components/app.vue
  app/assets/javascripts/command_palette/components/command_token.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace legacy github client in CreateGithubWebhookWorker
  ee/app/workers/create_github_webhook_worker.rb
  ee/spec/workers/create_github_webhook_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add CI_HAS_OPEN_MERGE_REQUEST
  app/models/ci/pipeline.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Ensure suggestions are key'd by index for smoother keyboard navigation
  app/assets/javascripts/command_palette/components/app.vue
  app/assets/javascripts/command_palette/components/command_token.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update predefined_variables.md
  doc/ci/variables/predefined_variables.md
Due: docs lint

Migrate GDK database
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use HTML entities for angle brackets
  ee/app/assets/javascripts/related_issues/constants.js
  ee/spec/frontend/related_issues/components/related_issuable_input_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Iterate over submitted actions and callback one by one
  app/assets/javascripts/command_palette/components/app.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Sanitize brackets in strings, maybe
  ee/app/assets/javascripts/related_issues/constants.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added CI_AWS_VARAIBLES in ECS template
  lib/gitlab/ci/templates/Jobs/Deploy/ECS.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose runbook in alert graphql api
  app/graphql/types/alert_management/alert_type.rb
  app/models/alert_management/alert.rb
  app/presenters/alert_management/alert_presenter.rb
  changelogs/unreleased/sy-firing-alert-runbook-be.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  lib/gitlab/alerting/alert.rb
  spec/graphql/types/alert_management/alert_type_spec.rb
  spec/lib/gitlab/alerting/alert_spec.rb
  spec/models/alert_management/alert_spec.rb
  spec/presenters/alert_management/alert_presenter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add new file
  test
Due: none

Expose relative_position in issue_basic API response
  lib/api/entities/issue_basic.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Changelog entry for relative_position in API response
  changelogs/unreleased/jl-add-ordering-to-issues-api.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  changelogs/unreleased/jl-add-ordering-to-issues-api.yml
Due: none

Prefer alert-type specific logic
  app/presenters/alert_management/alert_presenter.rb
  app/presenters/alert_management/prometheus_alert_presenter.rb
  lib/gitlab/alerting/alert.rb
  spec/lib/gitlab/alerting/alert_spec.rb
  spec/models/alert_management/alert_spec.rb
  spec/presenters/alert_management/alert_presenter_spec.rb
  spec/presenters/alert_management/prometheus_alert_presenter_spec.rb
  spec/requests/api/graphql/project/alert_management/alerts_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Appease rubocop rules
  spec/presenters/alert_management/prometheus_alert_presenter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Adds platform and provider deployment bookkeeping
  app/models/clusters/cluster.rb
  app/models/deployment.rb
  db/migrate/20200727211822_add_provider_type_to_deployments.rb
  db/migrate/20200727212652_add_platform_type_to_deployments.rb
  db/schema_migrations/20200727211822
  db/schema_migrations/20200727212652
  db/structure.sql
  lib/gitlab/ci/config/entry/environment.rb
  lib/gitlab/ci/pipeline/seed/deployment.rb
  lib/gitlab/ci/templates/Jobs/Deploy.gitlab-ci.yml
  lib/gitlab/ci/templates/Jobs/Deploy/ECS.gitlab-ci.yml
  spec/models/clusters/cluster_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Switch embed group button
  app/assets/javascripts/monitoring/components/embeds/embed_group.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

GitLab UI: mrincon/fix-no-wrap-test-dropdown-items integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add initial implementation of the network policy model and preview
  ee/app/assets/javascripts/threat_monitoring/components/policy_editor/policy_editor.vue
  ee/app/assets/javascripts/threat_monitoring/components/policy_editor/policy_preview.vue
  ee/app/assets/javascripts/threat_monitoring/lib/network_policy.js
  ee/app/assets/javascripts/threat_monitoring/policy_editor.js
  ee/app/views/projects/threat_monitoring/new.html.haml
  ee/spec/frontend/threat_monitoring/components/policy_editor/__snapshots__/policy_editor_spec.js.snap
  ee/spec/frontend/threat_monitoring/components/policy_editor/__snapshots__/policy_preview_spec.js.snap
  ee/spec/frontend/threat_monitoring/components/policy_editor/policy_editor_spec.js
  ee/spec/frontend/threat_monitoring/components/policy_editor/policy_preview_spec.js
  ee/spec/frontend/threat_monitoring/lib/network_policy_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated version to 1.22.1, ignored 10003
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
