Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Mv sidebar_assignees to jest
  spec/frontend/sidebar/sidebar_assignees_spec.js
  spec/javascripts/sidebar/sidebar_assignees_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Adds documentation about installing Knative via CI/CD
  doc/user/clusters/applications.md
Due: docs lint

Add search by id
  doc/user/search/img/issue_search_by_id.png
  doc/user/search/index.md
Due: docs lint

Fix capitalization of DevOps
  .markdownlint.json
  doc/development/contributing/issue_workflow.md
  doc/topics/airgap/index.md
Due: docs lint

Remove GlNewButton in select summary component
  ee/app/assets/javascripts/security_dashboard/components/selection_summary.vue
  ee/spec/frontend/security_dashboard/components/selection_summary_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Minor Azure wording fix
  doc/user/group/saml_sso/index.md
Due: docs lint

Rebase branch, fix mis-capitalized words
  .markdownlint.json
  doc/topics/autodevops/stages.md
  doc/topics/web_application_firewall/quick_start_guide.md
Due: docs lint

Prepare `...Group::TreeRestorer` to ndjson
  app/services/groups/import_export/import_service.rb
  ee/spec/lib/ee/gitlab/import_export/group/legacy_tree_restorer_spec.rb
  lib/gitlab/import_export/group/legacy_tree_restorer.rb
  spec/lib/gitlab/import_export/group/legacy_tree_restorer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add project field to VulnerabilityType
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/graphql/types/vulnerability_type.rb
  ee/spec/graphql/types/vulnerability_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove Ci::PipelineDelegator in favor of Ci:Processable
  app/models/ci/bridge.rb
  app/models/ci/build.rb
  app/models/ci/processable.rb
  app/models/concerns/ci/has_ref.rb
  app/models/concerns/ci/pipeline_delegator.rb
  ee/spec/models/ci/processable_spec.rb
  spec/models/ci/bridge_spec.rb
  spec/models/ci/build_spec.rb
  spec/models/ci/processable_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make use of dashboard fixtures to remove mock data
  ee/spec/frontend/monitoring/components/dashboard_spec.js
  spec/frontend/monitoring/components/charts/time_series_spec.js
  spec/frontend/monitoring/components/dashboard_spec.js
  spec/frontend/monitoring/components/dashboard_template_spec.js
  spec/frontend/monitoring/components/dashboard_url_time_spec.js
  spec/frontend/monitoring/fixture_data.js
  spec/frontend/monitoring/init_utils.js
  spec/frontend/monitoring/mock_data.js
  spec/frontend/monitoring/store/actions_spec.js
  spec/frontend/monitoring/store/getters_spec.js
  spec/frontend/monitoring/store/mutations_spec.js
  spec/frontend/monitoring/store_utils.js
  spec/frontend/monitoring/utils_spec.js
  spec/javascripts/monitoring/components/dashboard_resize_spec.js
  spec/javascripts/monitoring/fixture_data.js
  spec/javascripts/monitoring/store_utils.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Have danger pass for new non-spec karma files
  danger/karma/Dangerfile
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update Ci::Build#merge_request spec contexts
  spec/models/ci/build_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Properly mention DOCKER_DRIVER in the docs
  doc/ci/docker/using_docker_build.md
Due: docs lint

Use Ci::Pipeline#merge_request as the merge request for all builds
  app/models/ci/build.rb
  changelogs/unreleased/update-ci-build-merge-request.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Explicitly order Ci::Build merge requests for consistency
  app/models/ci/build.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix prettier lint
  spec/frontend/monitoring/store/actions_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix annotations actions and feature flag
  app/assets/javascripts/monitoring/stores/actions.js
  app/assets/javascripts/monitoring/stores/mutation_types.js
  spec/frontend/monitoring/store/actions_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Support PAT authentication for visual reviews
  doc/ci/review_apps/index.md
  ee/app/services/notes/create_visual_review_service.rb
  ee/changelogs/unreleased/eb-visual-review-tools-pat.yml
  ee/lib/api/visual_review_discussions.rb
  ee/lib/ee/api/helpers/notes_helpers.rb
  ee/spec/requests/api/visual_review_discussions_spec.rb
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Do not link to branch tree explorer
  app/assets/javascripts/static_site_editor/components/saved_changes_message.vue
  changelogs/unreleased/do-not-display-branch-link.yml
  spec/frontend/static_site_editor/components/saved_changes_message_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add missing ON DELETE FK constraints referencing users table
  changelogs/unreleased/dblessing-add-missing-on-delete-fk-constraints.yml
  db/migrate/20200407171133_add_protected_tag_create_access_levels_user_id_foreign_key.rb
  db/migrate/20200407171417_validate_protected_tag_create_access_levels_user_id_foreign_key.rb
  db/migrate/20200408154331_add_protected_branch_merge_access_levels_user_id_foreign_key.rb
  db/migrate/20200408154349_validate_protected_branch_merge_access_levels_user_id_foreign_key.rb
  db/migrate/20200408154411_add_path_locks_user_id_foreign_key.rb
  db/migrate/20200408154428_validate_path_locks_user_id_foreign_key.rb
  db/migrate/20200408154455_add_protected_branch_push_access_levels_user_id_foreign_key.rb
  db/migrate/20200408154533_validate_protected_branch_push_access_levels_user_id_foreign_key.rb
  db/migrate/20200408154604_add_u2f_registrations_user_id_foreign_key.rb
  db/migrate/20200408154624_validate_u2f_registrations_user_id_foreign_key.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Display submit changes error alert with retry btn
  app/assets/javascripts/static_site_editor/components/static_site_editor.vue
  app/assets/javascripts/static_site_editor/components/submit_changes_error.vue
  app/assets/javascripts/static_site_editor/store/actions.js
  app/assets/javascripts/static_site_editor/store/mutation_types.js
  app/assets/javascripts/static_site_editor/store/mutations.js
  app/assets/javascripts/static_site_editor/store/state.js
  changelogs/unreleased/display-retry-button-in-error-message.yml
  locale/gitlab.pot
  spec/frontend/static_site_editor/components/static_site_editor_spec.js
  spec/frontend/static_site_editor/components/submit_changes_error_spec.js
  spec/frontend/static_site_editor/store/actions_spec.js
  spec/frontend/static_site_editor/store/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add secret scanning to security report
  ee/app/assets/javascripts/reports/components/issue_body.js
  ee/app/assets/javascripts/vue_merge_request_widget/mr_widget_options.vue
  ee/app/assets/javascripts/vue_merge_request_widget/stores/mr_widget_store.js
  ee/app/assets/javascripts/vue_shared/security_reports/components/secret_scanning_issue_body.vue
  ee/app/assets/javascripts/vue_shared/security_reports/grouped_security_reports_app.vue
  ee/app/assets/javascripts/vue_shared/security_reports/mixins/security_report_mixin.js
  ee/app/assets/javascripts/vue_shared/security_reports/store/actions.js
  ee/app/assets/javascripts/vue_shared/security_reports/store/getters.js
  ee/app/assets/javascripts/vue_shared/security_reports/store/mediator.js
  ee/app/assets/javascripts/vue_shared/security_reports/store/messages.js
  ee/app/assets/javascripts/vue_shared/security_reports/store/mutation_types.js
  ee/app/assets/javascripts/vue_shared/security_reports/store/mutations.js
  ee/app/assets/javascripts/vue_shared/security_reports/store/state.js
  ee/app/views/projects/merge_requests/show.html.haml
  ee/spec/frontend/vue_mr_widget/mock_data.js
  ee/spec/frontend/vue_shared/security_reports/components/__snapshots__/secret_scanning_issue_body_spec.js.snap
  ee/spec/frontend/vue_shared/security_reports/components/secret_scanning_issue_body_spec.js
  ee/spec/frontend/vue_shared/security_reports/grouped_security_reports_app_spec.js
  ee/spec/frontend/vue_shared/security_reports/mock_data.js
  ee/spec/frontend/vue_shared/security_reports/store/actions_spec.js
  ee/spec/frontend/vue_shared/security_reports/store/getters_spec.js
  ee/spec/frontend/vue_shared/security_reports/store/mutations_spec.js
  ee/spec/javascripts/vue_mr_widget/ee_mr_widget_options_spec.js
  ee/spec/javascripts/vue_shared/components/reports/report_issues_spec.js
  ee/spec/javascripts/vue_shared/components/reports/report_item_spec.js
  ee/spec/javascripts/vue_shared/security_reports/mock_data.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Users can preview payload from Seat Link toggle
  app/assets/javascripts/admin/application_settings/setup_metrics_and_profiling.js
  app/assets/javascripts/pages/admin/application_settings/metrics_and_profiling/index.js
  app/assets/javascripts/pages/admin/application_settings/payload_previewer.js
  doc/subscriptions/index.md
  ee/app/assets/javascripts/admin/application_settings/setup_metrics_and_profiling.js
  ee/app/controllers/ee/admin/application_settings_controller.rb
  ee/app/models/gitlab/seat_link_data.rb
  ee/app/views/admin/application_settings/_seat_link_form.html.haml
  ee/app/workers/sync_seat_link_request_worker.rb
  ee/app/workers/sync_seat_link_worker.rb
  ee/changelogs/unreleased/212493-preview-seat-link-payload.yml
  ee/config/routes/admin.rb
  ee/spec/controllers/admin/application_settings_controller_spec.rb
  ee/spec/features/admin/admin_settings_spec.rb
  ee/spec/models/gitlab/seat_link_data_spec.rb
  ee/spec/support/helpers/ee/license_helpers.rb
  ee/spec/workers/sync_seat_link_worker_spec.rb
  locale/gitlab.pot
  spec/features/admin/admin_settings_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add line range to diff note position
  app/assets/javascripts/diffs/store/utils.js
  app/models/diff_note_position.rb
  changelogs/unreleased/multi-line-notes-take-3.yml
  doc/api/discussions.md
  lib/api/discussions.rb
  lib/gitlab/diff/formatters/text_formatter.rb
  spec/factories/diff_position.rb
  spec/frontend/diffs/store/actions_spec.js
  spec/lib/gitlab/diff/formatters/text_formatter_spec.rb
  spec/lib/gitlab/diff/position_spec.rb
  spec/models/diff_note_position_spec.rb
  spec/support/shared_examples/models/diff_positionable_note_shared_examples.rb
  spec/support/shared_examples/requests/api/diff_discussions_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add sort_by filter to licenses controller
  ee/app/controllers/projects/licenses_controller.rb
  ee/app/models/sca/license_compliance.rb
  ee/app/models/sca/license_policy.rb
  ee/changelogs/unreleased/213592-sort-by-classifications.yml
  ee/spec/controllers/projects/licenses_controller_spec.rb
  ee/spec/models/sca/license_compliance_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Setup local timezone in logs
  app/assets/javascripts/logs/constants.js
  changelogs/unreleased/214108-log-explorer-timestamp-in-the-logs-presented-in-utc-and-should-be-.yml
  spec/features/projects/environments_pod_logs_spec.rb
  spec/frontend/logs/mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Runners don't just run tests
  doc/development/architecture.md
Due: docs lint

Bumps cluster-applications minor version to 0.15.0
  lib/gitlab/ci/templates/Managed-Cluster-Applications.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix undefined epic issue path in epic tree
  ee/app/assets/javascripts/related_items_tree/components/tree_item_body.vue
  ee/spec/frontend/related_items_tree/components/tree_item_body_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds Changelog file
  changelogs/unreleased/feature-bump-cluster-applications-to-0-15.yml
Due: none

Remove design_management_resize_images flag
  ee/app/workers/design_management/new_version_worker.rb
  ee/changelogs/unreleased/207351-remove-design_management_resize_images-feature-flag.yml
  ee/spec/workers/design_management/new_version_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix wrong file type for source uploads
  ee/app/finders/geo/attachment_registry_finder.rb
  ee/spec/finders/geo/attachment_registry_finder_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add new env vars to Dependency Scanning orchestrator
  changelogs/unreleased/205058-add-env-vars-to-ds.yml
  lib/gitlab/ci/templates/Security/Dependency-Scanning.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Post process status page incidents and comments
  ee/app/serializers/status_page/incident_comment_entity.rb
  ee/app/serializers/status_page/incident_entity.rb
  ee/app/serializers/status_page/renderer.rb
  ee/spec/serializers/status_page/incident_comment_entity_spec.rb
  ee/spec/serializers/status_page/incident_entity_spec.rb
  ee/spec/serializers/status_page/renderer_spec.rb
  ee/spec/support/shared_examples/status_page/reference_links_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix constraints for the Static Site Editor route
  config/routes/project.rb
  config/routes/repository.rb
  config/routes/repository_scoped.rb
  spec/features/static_site_editor_spec.rb
  spec/routing/project_routing_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Do not override #editable? in PrometheusService
  app/models/project_services/prometheus_service.rb
  app/views/projects/services/_form.html.haml
  app/views/projects/services/prometheus/_help.html.haml
  app/views/projects/settings/operations/_prometheus.html.haml
  changelogs/unreleased/207233-k8s-cluster-blocks-project-manual-prometheus-configuration.yml
  locale/gitlab.pot
  spec/lib/gitlab/prometheus/adapter_spec.rb
  spec/models/project_services/prometheus_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Address review comment
  app/views/projects/commits/_commits.html.haml
  changelogs/unreleased/14984-add-text-for-empty-commit-list.yml
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Introduce Project bot users
  app/models/user.rb
  app/models/user_type_enums.rb
  app/policies/global_policy.rb
  ee/app/models/ee/user.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/models/user_type_enums_spec.rb
  spec/policies/global_policy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Prevent assigning untranslatable texts to constant
  .rubocop.yml
  app/helpers/preferences_helper.rb
  app/models/concerns/notification_branch_selection.rb
  app/models/project_services/chat_notification_service.rb
  app/models/project_services/discord_service.rb
  app/models/project_services/emails_on_push_service.rb
  app/models/project_services/hangouts_chat_service.rb
  app/models/project_services/microsoft_teams_service.rb
  app/models/project_services/pipelines_email_service.rb
  app/models/project_services/unify_circuit_service.rb
  app/presenters/ci/pipeline_presenter.rb
  app/services/groups/transfer_service.rb
  doc/development/i18n/externalization.md
  ee/app/presenters/projects/security/configuration_presenter.rb
  ee/app/services/ee/groups/transfer_service.rb
  ee/lib/ee/gitlab/project_template.rb
  ee/spec/features/projects/new_project_spec.rb
  ee/spec/presenters/projects/security/configuration_presenter_spec.rb
  lib/gitlab/project_template.rb
  rubocop/cop/static_translation_definition.rb
  spec/rubocop/cop/static_translation_definition_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
