Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

brakeman-sast:
  needs: []
  artifacts:
    paths:
    - gl-sast-report.json
    expire_in: 1 week
  variables:
    SAST_BRAKEMAN_LEVEL: 2
    SAST_EXCLUDED_PATHS: qa,spec,doc,ee/spec

eslint-sast:
  needs: []
  artifacts:
    paths:
    - gl-sast-report.json
    expire_in: 1 week
  variables:
    SAST_BRAKEMAN_LEVEL: 2
    SAST_EXCLUDED_PATHS: qa,spec,doc,ee/spec

secrets-sast:
  needs: []
  artifacts:
    paths:
    - gl-sast-report.json
    expire_in: 1 week
  variables:
    SAST_BRAKEMAN_LEVEL: 2
    SAST_EXCLUDED_PATHS: qa,spec,doc,ee/spec

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Adds types for group, job, stage
  app/graphql/types/ci/group_type.rb
  app/graphql/types/ci/job_type.rb
  app/graphql/types/ci/pipeline_type.rb
  app/graphql/types/ci/stage_type.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

GitLab UI: nfriend-fix-flashing-clear-button-tooltip integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Update introduction to Jira integration
  doc/user/project/integrations/jira.md
Due: docs lint

Swimlanes - Backend integration - issues
  app/assets/javascripts/boards/components/board_content.vue
  app/assets/javascripts/boards/queries/group_lists_issues.query.graphql
  app/assets/javascripts/boards/queries/issue.fragment.graphql
  app/assets/javascripts/boards/queries/project_lists_issues.query.graphql
  app/assets/javascripts/boards/stores/actions.js
  app/assets/javascripts/boards/stores/boards_store.js
  app/assets/javascripts/boards/stores/mutation_types.js
  app/assets/javascripts/boards/stores/mutations.js
  app/assets/javascripts/boards/stores/state.js
  ee/app/assets/javascripts/boards/components/epic_lane.vue
  ee/app/assets/javascripts/boards/components/epics_swimlanes.vue
  ee/app/assets/javascripts/boards/components/issues_lane_list.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Uncomment exisiting DAST config
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Revert "Disable workflow rules"
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Disable workflow rules
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Clean up query using fragments
  app/assets/javascripts/graphql_shared/fragments/user.fragment.graphql
  ee/app/assets/javascripts/iterations/components/iteration_report_tabs.vue
  ee/app/assets/javascripts/iterations/queries/iteration_issues.query.graphql
  ee/spec/frontend/iterations/components/iteration_report_tabs_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Remove the mention of SSH in project access tokens
  doc/user/project/settings/project_access_tokens.md
Due: docs lint

Add MR fixes
  ee/app/assets/javascripts/feature_flags/components/form.vue
  ee/app/assets/javascripts/related_issues/components/add_issuable_form.vue
  ee/app/assets/javascripts/related_issues/components/related_issues_block.vue
  ee/app/assets/javascripts/related_issues/components/related_issues_root.vue
  ee/app/assets/javascripts/related_issues/index.js
  ee/spec/frontend/issuable/related_issues/components/add_issuable_form_spec.js
  ee/spec/frontend/issuable/related_issues/components/related_issues_block_spec.js
  ee/spec/frontend/issuable/related_issues/components/related_issues_root_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Make related issues component more extendable
  ee/app/assets/javascripts/related_issues/components/related_issues_block.vue
  ee/app/assets/javascripts/related_issues/components/related_issues_root.vue
  ee/app/assets/javascripts/related_issues/services/related_issues_service.js
  ee/app/assets/javascripts/related_issues/stores/related_issues_store.js
  ee/spec/frontend/issuable/related_issues/components/related_issues_block_spec.js
  ee/spec/frontend/issuable/related_issues/components/related_issues_root_spec.js
  ee/spec/frontend/issuable/related_issues/stores/related_issues_store_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Use clear and add methods for pending references
  ee/app/assets/javascripts/related_issues/components/related_issues_root.vue
  ee/app/assets/javascripts/related_issues/services/related_issues_service.js
  ee/app/assets/javascripts/related_issues/stores/related_issues_store.js
  ee/spec/frontend/issuable/related_issues/stores/related_issues_store_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Remove use of unionBy in store
  ee/app/assets/javascripts/related_issues/stores/related_issues_store.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Rename showIssueTypeSelector to showCategorizedIssues
  ee/app/assets/javascripts/feature_flags/components/form.vue
  ee/app/assets/javascripts/related_issues/components/add_issuable_form.vue
  ee/app/assets/javascripts/related_issues/components/related_issues_block.vue
  ee/app/assets/javascripts/related_issues/components/related_issues_root.vue
  ee/app/assets/javascripts/related_issues/index.js
  ee/spec/frontend/issuable/related_issues/components/add_issuable_form_spec.js
  ee/spec/frontend/issuable/related_issues/components/related_issues_block_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Remove custom service
  ee/app/assets/javascripts/related_issues/components/related_issues_block.vue
  ee/app/assets/javascripts/related_issues/components/related_issues_root.vue
  ee/app/assets/javascripts/related_issues/index.js
  ee/spec/frontend/issuable/related_issues/components/related_issues_block_spec.js
  ee/spec/frontend/issuable/related_issues/components/related_issues_root_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Move store creation to created function
  ee/app/assets/javascripts/related_issues/components/related_issues_root.vue
  ee/app/assets/javascripts/related_issues/stores/related_issues_store.js
  ee/spec/frontend/issuable/related_issues/stores/related_issues_store_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add test for serviceClass property
  ee/spec/frontend/issuable/related_issues/components/related_issues_root_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add vulnerability related issues component
  ee/app/assets/javascripts/api.js
  ee/app/assets/javascripts/pages/projects/security/vulnerabilities/show/index.js
  ee/app/assets/javascripts/vulnerabilities/components/footer.vue
  ee/app/assets/javascripts/vulnerabilities/components/related_issues.vue
  ee/app/helpers/vulnerabilities_helper.rb
  ee/app/views/projects/security/vulnerabilities/show.html.haml
  ee/changelogs/unreleased/9424-add-related-issues-component-to-sav-page.yml
  ee/spec/frontend/vulnerabilities/footer_spec.js
  ee/spec/frontend/vulnerabilities/related_issues_spec.js
  ee/spec/helpers/vulnerabilities_helper_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Avoid "NoMethodError" without reordering steps
  doc/administration/pages/index.md
Due: docs lint

Fix N+1 /search issues
  app/controllers/search_controller.rb
  app/models/issue.rb
  changelogs/unreleased/fix-search-issues-n-plus-1.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add vulnerability related issues documentation
  doc/user/application_security/img/vulnerability_related_issues_add_button_v13_2.png
  doc/user/application_security/img/vulnerability_related_issues_remove_v13_2.gif
  doc/user/application_security/img/vulnerability_related_issues_text_box_autocomplete_13_2.gif
  doc/user/application_security/img/vulnerability_related_issues_text_box_tags_v13_2.gif
  doc/user/application_security/img/vulnerablity_related_issues_text_box_add_v13_2.gif
  doc/user/application_security/index.md
  ee/app/assets/javascripts/pages/projects/security/vulnerabilities/show/index.js
  ee/app/assets/javascripts/related_issues/components/related_issues_block.vue
  ee/app/assets/javascripts/vulnerabilities/components/footer.vue
  ee/app/helpers/vulnerabilities_helper.rb
  ee/spec/frontend/vulnerabilities/footer_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Update Advanced Global Search availability
  doc/user/search/advanced_global_search.md
Due: docs lint

Apply reviewer suggestions
  ee/app/assets/javascripts/analytics/reports/components/reports_chart.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

WIP
  app/services/labels/batch_find_or_create_service.rb
  app/services/labels/transfer_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Use iteration_iid for loading issue list
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/assets/javascripts/iterations/components/iteration_report_tabs.vue
  ee/app/assets/javascripts/iterations/queries/iteration_issues.query.graphql
  ee/app/finders/ee/issues_finder/params.rb
  ee/app/graphql/ee/resolvers/issues_resolver.rb
  ee/spec/finders/issues_finder_spec.rb
  ee/spec/graphql/ee/resolvers/issues_resolver_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Monitor dependencies for malicious behavior
  scripts/dep-monitor-client.sh
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Use sequence from dashboard service when cloning
  app/services/metrics/dashboard/clone_dashboard_service.rb
  app/services/metrics/dashboard/cluster_dashboard_service.rb
  app/services/metrics/dashboard/self_monitoring_dashboard_service.rb
  app/services/metrics/dashboard/system_dashboard_service.rb
  spec/services/metrics/dashboard/clone_dashboard_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

wip
  app/controllers/groups_controller.rb
  app/models/concerns/routable.rb
  app/models/namespace.rb
  app/views/groups/settings/_inheritance.html.haml
  app/views/groups/settings/_permissions.html.haml
  db/migrate/20200715024224_add_pibling_id_to_namespace.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Check if auth var is set
  .gitlab/ci/dep-monitor.gitlab-ci.yml
  scripts/dep-monitor-client.sh
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Rename mr_author to team_mr_author
  danger/roulette/Dangerfile
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Update chrome and chromedriver versions
  qa/Dockerfile
Due: graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems

Disable package file replication by default
  ee/app/assets/javascripts/geo_nodes/components/node_detail_sections/node_details_section_sync.vue
  ee/app/assets/javascripts/geo_nodes/store/geo_nodes_store.js
  ee/app/models/concerns/geo/blob_replicator_strategy.rb
  ee/app/models/concerns/geo/replicable_registry.rb
  ee/app/replicators/geo/package_file_replicator.rb
  ee/changelogs/unreleased/208470_04-package-file-graphql-pagination.yml
  ee/changelogs/unreleased/219921-package-file-status.yml
  ee/changelogs/unreleased/mk-enable-package-file-replication.yml
  ee/changelogs/unreleased/mk-geo-fix-package-file-count.yml
  ee/lib/gitlab/geo/replicator.rb
  ee/spec/lib/gitlab/geo/replicator_spec.rb
  ee/spec/support/shared_examples/models/concerns/blob_replicator_strategy_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Added GroupAuthorizations concern
  app/controllers/concerns/group_authorizations.rb
  app/controllers/groups/application_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/administration/troubleshooting/gitlab_rails_cheat_sheet.md
Due: docs lint

wip
  .test
Due: none

[ci-skip] Add some more feature specs for iterations
  ee/spec/features/groups/iterations/user_adds_issues_to_iteration.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Unquarantine first_class_project_security_dashboard_spec end to end test
  qa/qa/specs/features/ee/browser_ui/secure/first_class_project_security_dashboard_spec.rb
Due: graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems

Commit to rebase
  .gitlab-ci.yml
  .gitlab/ci/docs.gitlab-ci.yml
  .gitlab/ci/frontend.gitlab-ci.yml
  .gitlab/ci/rails.gitlab-ci.yml
  .gitlab/ci/reports.gitlab-ci.yml
  .gitlab/ci/review.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  doc/ci/environments/index.md
  doc/ci/yaml/README.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Attribute third-party brand assets in the license
  LICENSE
Due: none

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  brakeman-sast: any of: {package.json,yarn.lock}, babel.config.js, jest.config.{base,integration,unit}.js, .csscomb.json, Dockerfile.assets, vendor/assets/**/*, .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, *_VERSION, Gemfile{,.lock}, Rakefile, config.ru, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, .dockerignore, qa/**/*
  eslint-sast: any of: {package.json,yarn.lock}, babel.config.js, jest.config.{base,integration,unit}.js, .csscomb.json, Dockerfile.assets, vendor/assets/**/*, .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, *_VERSION, Gemfile{,.lock}, Rakefile, config.ru, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, .dockerignore, qa/**/*
  secrets-sast: any of: {package.json,yarn.lock}, babel.config.js, jest.config.{base,integration,unit}.js, .csscomb.json, Dockerfile.assets, vendor/assets/**/*, .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, *_VERSION, Gemfile{,.lock}, Rakefile, config.ru, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
