Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

WIP add before hook and Geo example
  qa/qa/specs/features/browser_ui/3_create/repository/push_over_http_spec.rb
Due: graphql-reference-verify, pages, cache gems

Revert "Merge branch '34296-fix_notification_settings_N+1' into 'master'"
  app/controllers/profiles/notifications_controller.rb
  app/finders/user_group_notification_settings_finder.rb
  app/models/user.rb
  spec/controllers/profiles/notifications_controller_spec.rb
  spec/finders/user_group_notification_settings_finder_spec.rb
  spec/models/user_spec.rb
  spec/requests/profiles/notifications_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Removes commented-out code in migration
  db/migrate/20200816133024_add_cve_id_request_project_setting.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  app/helpers/issuables_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename policy to better reflect what it does
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/graphql/mutations/dast_on_demand_scans/create.rb
  ee/app/graphql/mutations/dast_scanner_profiles/create.rb
  ee/app/graphql/mutations/dast_scanner_profiles/delete.rb
  ee/app/graphql/mutations/dast_scanner_profiles/update.rb
  ee/app/graphql/mutations/dast_site_profiles/create.rb
  ee/app/graphql/mutations/dast_site_profiles/delete.rb
  ee/app/graphql/mutations/dast_site_profiles/update.rb
  ee/app/graphql/mutations/pipelines/run_dast_scan.rb
  ee/app/graphql/types/dast_scanner_profile_type.rb
  ee/app/graphql/types/dast_site_profile_type.rb
  ee/app/graphql/types/permission_types/dast_site_profile.rb
  ee/app/policies/ee/project_policy.rb
  ee/app/services/ci/run_dast_scan_service.rb
  ee/app/services/dast_scanner_profiles/create_service.rb
  ee/app/services/dast_scanner_profiles/destroy_service.rb
  ee/app/services/dast_scanner_profiles/update_service.rb
  ee/app/services/dast_site_profiles/create_service.rb
  ee/app/services/dast_site_profiles/update_service.rb
  ee/app/services/dast_sites/find_or_create_service.rb
  ee/spec/graphql/types/dast_scanner_profile_type_spec.rb
  ee/spec/graphql/types/dast_site_profile_type_spec.rb
  ee/spec/policies/dast_site_profile_policy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Changes new column to the security_setting table
  db/migrate/20200816133024_add_cve_id_request_project_setting.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add pajamas to local_rules
  lib/gitlab_danger.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Markdown section with specifics
  danger/pajamas/Dangerfile
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add Danger rule for deprecated components
  danger/pajamas/Dangerfile
  danger/pajamas/patterns.txt
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

More deprecated components
  danger/pajamas/patterns.txt
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update failing gitlab_danger_spec
  spec/lib/gitlab_danger_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

File patterns.txt converted to array
  danger/pajamas/Dangerfile
  danger/pajamas/patterns.txt
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Rename the method to get_added_lines
  danger/pajamas/Dangerfile
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use dast_scanner_profiles in DAST on-demand scans
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/graphql/mutations/dast_on_demand_scans/create.rb
  ee/app/services/ci/run_dast_scan_service.rb
  ee/changelogs/unreleased/use-existing-scanner-profile-for-scans-238448.yml
  ee/spec/graphql/mutations/dast_on_demand_scans/create_spec.rb
  ee/spec/requests/api/graphql/mutations/dast_on_demand_scans/create_spec.rb
  ee/spec/services/ci/run_dast_scan_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixes diff view cookie being set on wrong endpoint
  app/controllers/projects/merge_requests/diffs_controller.rb
  app/controllers/projects/merge_requests_controller.rb
  spec/controllers/projects/merge_requests/diffs_controller_spec.rb
  spec/controllers/projects/merge_requests_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update FF nav section using GitLab UI Utilities
  ee/app/assets/javascripts/feature_flags/components/feature_flags.vue
  ee/changelogs/unreleased/232947-follow-up-from-remove-page-heading-in-feature-flags-empty-state.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Allow search issues scope to filter by status
  app/assets/javascripts/pages/search/show/index.js
  app/assets/javascripts/search/state_filter/components/state_filter.vue
  app/assets/javascripts/search/state_filter/constants.js
  app/assets/javascripts/search/state_filter/index.js
  app/finders/issues_finder.rb
  app/helpers/search_helper.rb
  app/services/search/global_service.rb
  app/services/search/group_service.rb
  app/services/search/project_service.rb
  app/views/search/_results.html.haml
  changelogs/unreleased/237932-search-ui-implement-issue-scope-results-filter-by-state.yml
  ee/app/services/ee/search/global_service.rb
  ee/app/services/ee/search/group_service.rb
  ee/app/services/ee/search/project_service.rb
  ee/lib/elastic/latest/issue_class_proxy.rb
  ee/lib/elastic/latest/issue_instance_proxy.rb
  ee/lib/gitlab/elastic/group_search_results.rb
  ee/lib/gitlab/elastic/project_search_results.rb
  ee/lib/gitlab/elastic/search_results.rb
  ee/spec/lib/gitlab/elastic/group_search_results_spec.rb
  ee/spec/lib/gitlab/elastic/project_search_results_spec.rb
  ee/spec/lib/gitlab/elastic/search_results_spec.rb
  lib/gitlab/group_search_results.rb
  lib/gitlab/project_search_results.rb
  lib/gitlab/search_results.rb
  locale/gitlab.pot
  spec/frontend/search/components/state_filter_spec.js
  spec/lib/gitlab/group_search_results_spec.rb
  spec/lib/gitlab/project_search_results_spec.rb
  spec/lib/gitlab/search_results_spec.rb
  spec/support/shared_examples/lib/gitlab/search_issue_state_filter_shared_examples.rb
  spec/views/search/_results.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update mousetrap from 1.4.6 to 1.6.5
  app/assets/javascripts/behaviors/shortcuts/shortcuts.js
  app/assets/javascripts/behaviors/shortcuts/shortcuts_find_file.js
  app/assets/javascripts/vue_shared/components/file_finder/index.vue
  config/dependency_decisions.yml
  package.json
  spec/frontend/vue_shared/components/file_finder/index_spec.js
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update Browser Performance Testing templates to use SiteSpeed 14.1.0
  doc/user/project/merge_requests/browser_performance_testing.md
  doc/user/project/merge_requests/img/browser_performance_testing.png
  ee/changelogs/unreleased/gy-update-browser-perf-sitespeed.yml
  lib/gitlab/ci/templates/Jobs/Browser-Performance-Testing.gitlab-ci.yml
  lib/gitlab/ci/templates/Verify/Browser-Performance.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

API to delete group push rule
  doc/api/groups.md
  ee/changelogs/unreleased/delete_group_push_rule.yml
  ee/lib/api/group_push_rule.rb
  ee/spec/requests/api/group_push_rule_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add cache for elasticsearch_indexes_namespace?
  ee/app/models/concerns/elasticsearch_indexed_container.rb
  ee/app/models/ee/application_setting.rb
  ee/app/models/elasticsearch_indexed_namespace.rb
  ee/changelogs/unreleased/244846-add-es-namespaces-enabled-cache.yml
  ee/config/feature_flags/development/elasticsearch_indexes_namespace_cache.yml
  ee/spec/models/application_setting_spec.rb
  ee/spec/models/elasticsearch_indexed_namespace_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve multipart middleware
  lib/gitlab/middleware/multipart.rb
  lib/uploaded_file.rb
  spec/lib/gitlab/middleware/multipart/handler_spec.rb
  spec/lib/gitlab/middleware/multipart_spec.rb
  spec/lib/uploaded_file_spec.rb
  spec/support/helpers/multipart_helpers.rb
  spec/support/shared_contexts/lib/gitlab/middleware/multipart_shared_contexts.rb
  spec/support/shared_examples/lib/gitlab/middleware/multipart_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix error tracking list projects service spec
  spec/services/error_tracking/list_projects_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Update alert box text"
  doc/development/documentation/feature_flags.md
Due: docs lint

Update dependency @gitlab/ui to v20.18.1
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated ephemeral heading sentence
  doc/development/documentation/styleguide.md
Due: docs lint

Fix resource label event spec
  spec/models/resource_label_event_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix notes create service spec
  spec/services/notes/create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Migration helper to finish partitioning migration
  lib/gitlab/database/background_migration_job.rb
  lib/gitlab/database/partitioning_migration_helpers/table_management_helpers.rb
  spec/lib/gitlab/database/background_migration_job_spec.rb
  spec/lib/gitlab/database/partitioning_migration_helpers/backfill_partitioned_table_spec.rb
  spec/lib/gitlab/database/partitioning_migration_helpers/table_management_helpers_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Record terms opt in experiment users
  app/controllers/registrations_controller.rb
  spec/controllers/registrations_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Reduce queries for service spec
  spec/models/service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix proper name capitalization
  doc/development/secure_coding_guidelines.md
Due: docs lint

Fix package API N^2 query
  app/finders/packages/group_packages_finder.rb
  app/finders/packages/package_finder.rb
  app/finders/packages/packages_finder.rb
  app/models/packages/package.rb
  changelogs/unreleased/219171-package-n2-bug.yml
  lib/api/entities/package.rb
  spec/fixtures/api/schemas/public_api/v4/packages/collection_package.json
  spec/fixtures/api/schemas/public_api/v4/packages/packages.json
  spec/requests/api/group_packages_spec.rb
  spec/requests/api/project_packages_spec.rb
  spec/support/shared_examples/requests/api/packages_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix a typo in the secure coding guidelines document
  doc/development/secure_coding_guidelines.md
Due: docs lint

Document regex matching with DAST_AUTH_EXCLUDE_URLS
  doc/user/application_security/dast/index.md
Due: docs lint

Fix capitalization of words
  doc/user/project/repository/gpg_signed_commits/index.md
Due: docs lint

Add missing period
  doc/development/secure_coding_guidelines.md
Due: docs lint

Add space after comma
  doc/development/experiment_guide/index.md
Due: docs lint

Remove stub_feature_flags for TF replication
  ee/spec/lib/gitlab/geo/geo_node_status_check_spec.rb
  ee/spec/tasks/geo_rake_spec.rb
  ee/spec/tasks/gitlab/geo_rake_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add missing commas
  doc/install/installation.md
Due: docs lint
