Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

This is a fix for a bug on nightly pipelines
  qa/qa.rb
  qa/qa/ee/page/component/issue_board/show.rb
  qa/qa/page/component/issue_board/show.rb
  qa/qa/specs/features/browser_ui/2_plan/issue_boards/focus_mode_spec.rb
  qa/qa/specs/features/browser_ui/8_monitor/all_monitor_core_features_spec.rb
  qa/qa/specs/features/ee/browser_ui/2_plan/issue_boards/configurable_issue_board_spec.rb
  qa/qa/specs/features/ee/browser_ui/2_plan/issue_boards/configure_issue_board_by_label_spec.rb
  qa/qa/specs/features/ee/browser_ui/2_plan/issue_boards/create_group_issue_board_spec.rb
  qa/qa/specs/features/ee/browser_ui/2_plan/issue_boards/group_issue_boards_spec.rb
  qa/qa/specs/features/ee/browser_ui/2_plan/issue_boards/project_issue_boards_spec.rb
  qa/qa/specs/features/ee/browser_ui/2_plan/issue_boards/read_only_board_configuration_spec.rb
  qa/qa/specs/features/ee/browser_ui/2_plan/issue_boards/sum_of_issues_weights_spec.rb
Due: graphql-reference-verify, pages, cache gems

First Commit to reorder snippets
  app/finders/snippets_finder.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Initial commit
  app/finders/snippets_finder.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use a memoized Flipper engine in tests
  doc/development/feature_flags/development.md
  doc/development/testing_guide/best_practices.md
  ee/app/helpers/ee/onboarding_experiment_helper.rb
  ee/app/helpers/ee/recaptcha_experiment_helper.rb
  ee/lib/gitlab/vulnerabilities/summary.rb
  ee/spec/helpers/ee/onboarding_experiment_helper_spec.rb
  ee/spec/helpers/ee/recaptcha_experiment_helper_spec.rb
  ee/spec/lib/ee/gitlab/background_migration/migrate_approver_to_approval_rules_check_progress_spec.rb
  ee/spec/lib/ee/gitlab/import_export/project/tree_saver_spec.rb
  ee/spec/models/application_setting_spec.rb
  lib/feature.rb
  lib/gitlab/git/rugged_impl/use_rugged.rb
  spec/controllers/concerns/sourcegraph_decorator_spec.rb
  spec/graphql/types/base_field_spec.rb
  spec/helpers/recaptcha_experiment_helper_spec.rb
  spec/lib/constraints/feature_constrainer_spec.rb
  spec/lib/feature/gitaly_spec.rb
  spec/lib/feature_spec.rb
  spec/lib/gitlab/background_migration/merge_request_assignees_migration_progress_check_spec.rb
  spec/lib/gitlab/chat_spec.rb
  spec/lib/gitlab/experimentation_spec.rb
  spec/lib/gitlab/git/rugged_impl/use_rugged_spec.rb
  spec/lib/gitlab/gon_helper_spec.rb
  spec/lib/gitlab/import_export/project/tree_restorer_spec.rb
  spec/lib/gitlab/import_export/project/tree_saver_spec.rb
  spec/lib/gitlab/sourcegraph_spec.rb
  spec/lib/gitlab/tracking_spec.rb
  spec/lib/gitlab/wiki_pages/front_matter_parser_spec.rb
  spec/models/project_spec.rb
  spec/requests/api/features_spec.rb
  spec/requests/api/files_spec.rb
  spec/requests/api/internal/base_spec.rb
  spec/requests/api/repositories_spec.rb
  spec/services/namespaces/check_storage_size_service_spec.rb
  spec/spec_helper.rb
  spec/support/helpers/stub_feature_flags.rb
  spec/support_specs/helpers/stub_feature_flags_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add `AvoidFeatureGet` RuboCop rule
  .rubocop.yml
  app/helpers/auto_devops_helper.rb
  doc/development/testing_guide/best_practices.md
  doc/topics/autodevops/customize.md
  doc/topics/autodevops/index.md
  ee/app/models/ee/user.rb
  ee/lib/ee/feature.rb
  ee/spec/helpers/ee/onboarding_experiment_helper_spec.rb
  ee/spec/helpers/ee/recaptcha_experiment_helper_spec.rb
  ee/spec/models/user_spec.rb
  lib/api/features.rb
  lib/feature.rb
  lib/gitlab/experimentation.rb
  lib/gitlab/metrics/methods.rb
  lib/gitlab/sourcegraph.rb
  lib/tasks/gitlab/features.rake
  rubocop/cop/avoid_feature_get.rb
  spec/controllers/concerns/sourcegraph_decorator_spec.rb
  spec/helpers/auto_devops_helper_spec.rb
  spec/lib/feature_spec.rb
  spec/lib/gitlab/experimentation_spec.rb
  spec/lib/gitlab/git/rugged_impl/use_rugged_spec.rb
  spec/lib/gitlab/metrics/method_call_spec.rb
  spec/lib/gitlab/metrics/methods_spec.rb
  spec/models/project_spec.rb
  spec/requests/api/features_spec.rb
  spec/requests/api/settings_spec.rb
  spec/support/helpers/stub_feature_flags.rb
  spec/views/profiles/preferences/show.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move quick Danger jobs to start of pipeline
  .gitlab/ci/review.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update stage
  .gitlab/ci/review.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix syntax for danger
  .gitlab/ci/review.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix file paths
  .gitlab/ci/review.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

AsciiDoc: Add support for built-in alignment roles
  app/assets/stylesheets/framework/typography.scss
  changelogs/unreleased/asciidoc-alignment-roles.yml
  lib/banzai/filter/ascii_doc_sanitization_filter.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to asciidoc-alignment-roles.yml
  changelogs/unreleased/asciidoc-alignment-roles.yml
Due: none

AsciiDoc: Avoid collision with Bootstrap classes
   
  app/assets/stylesheets/framework/typography.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Delete git-log less history file
   
Due: none

Add eslint-plugin-graphql to lint .graphql files
  .eslintrc.yml
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add metrics_data to fixture
  spec/frontend/fixtures/metrics_dashboard.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add a project policy to limit PAT to them
  app/models/project_access_token.rb
  app/policies/project_policy.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add project access token
  app/models/personal_access_token.rb
  app/models/project_access_token.rb
  db/migrate/20200430123614_create_project_access_tokens.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Inject current PAT to current user
  lib/gitlab/auth/auth_finders.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add project lookup to access token validation
  app/models/personal_access_token.rb
  app/models/user.rb
  app/services/access_token_validation_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Include CI_MERGE_REQUEST_IID check in Code Quality rules
  changelogs/unreleased/eb-update-code-quality-ci-config-rules.yml
  lib/gitlab/ci/templates/Jobs/Code-Quality.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update spec to ensure code quality job is created for MRs
  spec/lib/gitlab/ci/templates/Jobs/code_quality_gitlab_ci_yaml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove duplication after acronym
  doc/install/requirements.md
Due: docs lint

Update old and informative links
  doc/.vale/gitlab/Acronyms.yml
  doc/install/requirements.md
Due: docs lint

Resolve some Vale warnings and notes
  doc/install/requirements.md
Due: docs lint

Expand 1st GCP screenshot while deleting the 2nd
  doc/install/google_cloud_platform/img/boot_disk.png
  doc/install/google_cloud_platform/img/vm_details.png
  doc/install/google_cloud_platform/index.md
Due: docs lint

Reword and reorder database requirements to focus on PostgreSQL
  doc/install/requirements.md
Due: docs lint

Pluralise "support" after "cores"
  doc/install/requirements.md
Due: docs lint

Reword IE11 & Postgres notes to post-13.0
  doc/install/requirements.md
Due: docs lint

Reference requirements sections in GCP install instructions
  doc/install/google_cloud_platform/index.md
Due: docs lint

Link to hardware and PostgreSQL requirements from HA admin
  doc/administration/high_availability/database.md
Due: docs lint

Remove column state from resource_milestone_events (Release M)
  app/models/resource_milestone_event.rb
  app/services/issuable/clone/attributes_rewriter.rb
  app/services/resource_events/change_milestone_service.rb
  db/migrate/20200528141825_change_resource_milestone_events_state_default_to_null.rb
  db/structure.sql
  spec/factories/resource_milestone_event.rb
  spec/models/resource_milestone_event_spec.rb
  spec/services/issuable/clone/attributes_rewriter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix empty JSON API responses
  changelogs/unreleased/fix-json-api-empty-responses.yml
  ee/spec/requests/api/geo_spec.rb
  lib/api/helpers.rb
  spec/requests/api/runner_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix merge train spec to stub CI yaml properly
  ee/spec/services/merge_trains/create_pipeline_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Display expiring subscription banner on more pages
  app/views/groups/show.html.haml
  app/views/layouts/_page.html.haml
  app/views/layouts/group.html.haml
  app/views/layouts/project.html.haml
  app/views/projects/_flash_messages.html.haml
  ee/app/helpers/subscribable_banner_helper.rb
  ee/app/helpers/subscriptions_helper.rb
  ee/app/presenters/subscription_presenter.rb
  ee/app/views/layouts/header/_ee_subscribable_banner.html.haml
  ee/changelogs/unreleased/jswain_add_subscribable_banner_to_all_group_pages.yml
  ee/spec/helpers/subscribable_banner_helper_spec.rb
  ee/spec/helpers/subscriptions_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Consume bootstrap source
  app/assets/javascripts/commons/bootstrap.js
  config/webpack.config.js
  jest.config.base.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds a smoke test for closing an issue
  qa/qa/page/project/issue/show.rb
  qa/qa/specs/features/browser_ui/2_plan/issue/create_issue_spec.rb
Due: graphql-reference-verify, pages, cache gems

Remove global emitter
  app/assets/javascripts/users_select/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace global emitter with sidebar eventhub
  app/assets/javascripts/users_select/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Convert event bus to mitt in javascripts/sidebar
  app/assets/javascripts/sidebar/event_hub.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
