Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

brakeman-sast:
  needs: []
  artifacts:
    paths:
    - gl-sast-report.json
    expire_in: 1 week
  variables:
    SAST_BRAKEMAN_LEVEL: 2
    SAST_EXCLUDED_PATHS: qa,spec,doc,ee/spec

eslint-sast:
  needs: []
  artifacts:
    paths:
    - gl-sast-report.json
    expire_in: 1 week
  variables:
    SAST_BRAKEMAN_LEVEL: 2
    SAST_EXCLUDED_PATHS: qa,spec,doc,ee/spec

secrets-sast:
  needs: []
  artifacts:
    paths:
    - gl-sast-report.json
    expire_in: 1 week
  variables:
    SAST_BRAKEMAN_LEVEL: 2
    SAST_EXCLUDED_PATHS: qa,spec,doc,ee/spec

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Change VueApollo use to per Vue app
  app/assets/javascripts/issue_show/index.js
  app/assets/javascripts/pages/projects/issues/show.js
  app/assets/javascripts/related_merge_requests/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

fixup! Fix N+1 /search issues
  ee/spec/requests/search_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Migrate tree root button
  ee/app/assets/javascripts/related_items_tree/components/tree_root.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add qa selector for CICD variable key
  app/assets/javascripts/ci_variable_list/components/ci_variable_modal.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Update tree root spec js
  ee/spec/frontend/related_items_tree/components/tree_root_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add support for Mermaid diagram in AsciiDoc
  lib/banzai/filter/ascii_doc_post_processing_filter.rb
  lib/banzai/filter/base_sanitization_filter.rb
  lib/banzai/filter/syntax_highlight_filter.rb
  lib/gitlab/asciidoc.rb
  lib/gitlab/asciidoc/mermaid_block_processor.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Apply 2 suggestion(s) to 2 file(s)
  lib/banzai/filter/ascii_doc_post_processing_filter.rb
  lib/gitlab/asciidoc/mermaid_block_processor.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add documentation about colors, STEM (math) and diagrams support in AsciiDoc
  doc/user/asciidoc.md
Due: docs lint

Adds tests
  spec/lib/banzai/filter/ascii_doc_post_processing_filter_spec.rb
  spec/lib/banzai/filter/syntax_highlight_filter_spec.rb
  spec/lib/gitlab/asciidoc_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Remove trailing spaces in doc
  doc/user/asciidoc.md
Due: docs lint

Fix test > are escaped
  spec/lib/gitlab/asciidoc_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Fix assertion
  spec/lib/gitlab/asciidoc_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Wrap line at 100 in documentation
  doc/user/asciidoc.md
Due: docs lint

Remove trailing space
  doc/user/asciidoc.md
Due: docs lint

Allow parse_gid to accept an array of types
  app/graphql/gitlab_schema.rb
  spec/graphql/gitlab_schema_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

First pass at create scanner profile
  db/migrate/20200720011719_add_dast_scanner_profile.rb
  db/structure.sql
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/graphql/ee/types/mutation_type.rb
  ee/app/graphql/mutations/dast_scanner_profiles/create.rb
  ee/app/models/dast_scanner_profile.rb
  ee/app/services/dast_scanner_profiles/create_service.rb
  ee/app/services/dast_scanners/find_or_create_service.rb
  ee/spec/requests/api/graphql/mutations/dast_scanner_profiles/create_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Remove references to timeouts, add them in a later MR
  db/migrate/20200720011719_add_dast_scanner_profile.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/graphql/mutations/dast_scanner_profiles/create.rb
  ee/spec/requests/api/graphql/mutations/dast_scanner_profiles/create_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add lib/utils/finite_state_machine to clusters state machine
  app/assets/javascripts/clusters/services/application_state_machine.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Fix sast issues
  db/migrate/20200720011719_add_dast_scanner_profile.rb
  ee/app/graphql/mutations/dast_scanner_profiles/create.rb
  ee/app/models/dast_scanner_profile.rb
  ee/spec/requests/api/graphql/mutations/dast_scanner_profiles/create_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Fix indentation
  ee/app/graphql/mutations/dast_scanner_profiles/create.rb
  ee/app/services/dast_scanners/find_or_create_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add limit
  db/migrate/20200720011719_add_dast_scanner_profile.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Change migration name and add limit
  db/migrate/20200720011719_add_dast_scanner_profile.rb
  db/migrate/20200720011719_create_dast_scanner_profile.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Swimlanes - Drag & Drop issue
  app/assets/javascripts/boards/components/board_card.vue
  app/assets/javascripts/boards/models/issue.js
  app/assets/javascripts/boards/stores/actions.js
  app/assets/javascripts/boards/stores/boards_store.js
  ee/app/assets/javascripts/boards/components/epic_lane.vue
  ee/app/assets/javascripts/boards/components/epics_swimlanes.vue
  ee/app/assets/javascripts/boards/components/issues_lane_list.vue
  ee/app/assets/javascripts/boards/queries/group_epics_swimlanes.query.graphql
  ee/app/assets/javascripts/boards/stores/actions.js
  ee/app/assets/javascripts/boards/stores/mutation_types.js
  ee/app/assets/javascripts/boards/stores/mutations.js
  ee/app/assets/javascripts/boards/stores/state.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Fix whitespace
  ee/app/services/dast_scanners/find_or_create_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add lib/utils/finite_state_machine to renamed diff viewer
  app/assets/javascripts/diffs/constants.js
  app/assets/javascripts/vue_shared/components/diff_viewer/constants.js
  app/assets/javascripts/vue_shared/components/diff_viewer/viewers/renamed.vue
  app/assets/javascripts/vue_shared/components/diff_viewer/viewers/renamed/state_machine.js
  spec/frontend/vue_shared/components/diff_viewer/viewers/renamed/state_machine_spec.js
  spec/frontend/vue_shared/components/diff_viewer/viewers/renamed_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Do not run refresh_markdown_cache when importing a project
  app/models/concerns/issuable.rb
  app/models/note.rb
  app/models/snippet.rb
  lib/gitlab/markdown_cache/active_record/extension.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add comment that each thread uses 1 connection
  config/initializers/database_config.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Add details around /git_process endpoint for Omnibus
  doc/administration/monitoring/prometheus/gitlab_exporter.md
Due: docs lint

Add metrics dashboard yaml lint to web ide
  app/assets/javascripts/ide/lib/schemas/yaml/index.js
  app/assets/javascripts/ide/lib/schemas/yaml/metrics_dashboard.js
  spec/frontend/ide/lib/editor_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

WIP: Remove the feature flag for tracking action active monthly users
  lib/gitlab/usage_data.rb
  lib/gitlab/usage_data_counters/track_unique_actions.rb
  spec/lib/gitlab/usage_data_spec.rb
  spec/services/event_create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Fix multi-metric embed width
  app/assets/javascripts/monitoring/components/embeds/embed_group.vue
  app/assets/javascripts/monitoring/stores/embed_group/getters.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Fix N+1 when castig Group to Namespace
  app/views/search/results/_issue.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Provide default in memory Value Stream record
  ee/app/controllers/groups/analytics/cycle_analytics/value_streams_controller.rb
  ee/app/serializers/analytics/cycle_analytics/group_value_stream_entity.rb
  ee/spec/controllers/groups/analytics/cycle_analytics/value_streams_controller_spec.rb
  ee/spec/fixtures/api/schemas/analytics/cycle_analytics/value_stream.json
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Adding instrumentation examples
  doc/operations/metrics/index.md
Due: docs lint

Added tag prm to the dast job
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Enable dast default settings
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Corrected intendation in dast
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Enable danger review, remove comments, rebase
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Refine debug output
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Remove the linting error
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, brakeman-sast, eslint-sast, secrets-sast, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  brakeman-sast: any of: {package.json,yarn.lock}, babel.config.js, jest.config.{base,integration,unit}.js, .csscomb.json, Dockerfile.assets, vendor/assets/**/*, .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, *_VERSION, Gemfile{,.lock}, Rakefile, config.ru, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, .dockerignore, qa/**/*
  eslint-sast: any of: {package.json,yarn.lock}, babel.config.js, jest.config.{base,integration,unit}.js, .csscomb.json, Dockerfile.assets, vendor/assets/**/*, .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, *_VERSION, Gemfile{,.lock}, Rakefile, config.ru, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, .dockerignore, qa/**/*
  secrets-sast: any of: {package.json,yarn.lock}, babel.config.js, jest.config.{base,integration,unit}.js, .csscomb.json, Dockerfile.assets, vendor/assets/**/*, .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, *_VERSION, Gemfile{,.lock}, Rakefile, config.ru, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
