Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Restore nodejs-scan as part of project CI
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update doc/user/gitlab_com/index.md
  doc/user/gitlab_com/index.md
Due: docs lint

Convert graphql id to database id
  app/assets/javascripts/helpers/graphql_helper.js
  app/assets/javascripts/vue_shared/components/identicon.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Quarantine error tracking index page shared example
  spec/support/shared_examples/features/error_tracking_shared_example.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update Epic Tree doc screenshot for 13.0
  doc/user/group/epics/img/epic_view_v13.0.png
Due: docs lint

Add shared project selector module
  ee/app/assets/javascripts/operations/components/dashboard/dashboard.vue
  ee/app/assets/javascripts/operations/components/dashboard/project.vue
  ee/app/assets/javascripts/security_dashboard/store/plugins/project_selector.js
  ee/app/assets/javascripts/vue_shared/dashboards/store/actions.js
  ee/app/assets/javascripts/vue_shared/dashboards/store/index.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/actions.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/getters.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/index.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/mutation_types.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/mutations.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/state.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/utils/add_page_info.js
  ee/spec/frontend/security_dashboard/components/project_manager_spec.js
  ee/spec/frontend/security_dashboard/store/modules/project_selector/actions_spec.js
  ee/spec/frontend/security_dashboard/store/modules/project_selector/getters_spec.js
  ee/spec/frontend/security_dashboard/store/modules/project_selector/mutations_spec.js
  ee/spec/frontend/security_dashboard/store/modules/project_selector/state_spec.js
  ee/spec/frontend/security_dashboard/store/modules/project_selector/utils/add_page_info_spec.js
  ee/spec/frontend/security_dashboard/store/modules/vulnerable_projects/mutations_spec.js
  ee/spec/frontend/security_dashboard/store/plugins/project_selector_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP - add folder for shared project selector vuex
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/actions.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/index.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/mutation_types.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/mutations.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/state.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP - move actions for project search away
  ee/app/assets/javascripts/security_dashboard/components/project_manager.vue
  ee/app/assets/javascripts/security_dashboard/store/plugins/project_selector.js
  ee/app/assets/javascripts/vuex_shared/modules/project_search/actions.js
  ee/app/assets/javascripts/vuex_shared/modules/project_search/getters.js
  ee/app/assets/javascripts/vuex_shared/modules/project_search/index.js
  ee/app/assets/javascripts/vuex_shared/modules/project_search/mutation_types.js
  ee/app/assets/javascripts/vuex_shared/modules/project_search/mutations.js
  ee/app/assets/javascripts/vuex_shared/modules/project_search/state.js
  ee/app/assets/javascripts/vuex_shared/modules/project_search/utils/add_page_info.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/mutation_types.js
  ee/app/assets/javascripts/vuex_shared/modules/project_selector/mutations.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP - test plugin namespacing
  ee/app/assets/javascripts/security_dashboard/components/project_manager.vue
  ee/app/assets/javascripts/security_dashboard/instance_init.js
  ee/app/assets/javascripts/security_dashboard/store/plugins/project_selector.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove issue tracker scopes
  app/models/project.rb
  app/models/project_services/issue_tracker_service.rb
  app/models/service.rb
  ee/lib/ee/gitlab/usage_data.rb
  spec/models/project_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test case for external issues
  app/services/system_notes/issuables_service.rb
  spec/services/system_notes/issuables_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove GitLabIssueTrackerService class
  app/helpers/issues_helper.rb
  app/models/project.rb
  app/models/project_services/gitlab_issue_tracker_service.rb
  app/models/service.rb
  app/services/system_notes/issuables_service.rb
  ee/spec/services/epic_issues/create_service_spec.rb
  lib/banzai/filter/external_issue_reference_filter.rb
  lib/banzai/filter/issue_reference_filter.rb
  locale/gitlab.pot
  spec/factories/services.rb
  spec/helpers/issues_helper_spec.rb
  spec/lib/banzai/filter/external_issue_reference_filter_spec.rb
  spec/lib/banzai/filter/issue_reference_filter_spec.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/models/project_services/gitlab_issue_tracker_service_spec.rb
  spec/models/project_spec.rb
  spec/models/service_spec.rb
  spec/requests/api/markdown_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  changelogs/unreleased/remove_gitlab_issue_tracker_service.yml
Due: none

Improved SAST docs per feedback
  doc/user/application_security/sast/index.md
Due: docs lint

Fix possible bug with legacy stages
  app/models/ci/group.rb
  spec/serializers/ci/dag_pipeline_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to app/views/users/calendar_activities.html.haml
  app/views/users/calendar_activities.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move custom metrics docs to its own folder
  doc/user/project/integrations/prometheus.md
  doc/user/project/metrics/custom_metrics.md
  doc/user/project/metrics/img/prometheus_add_metric.png
  doc/user/project/metrics/index.md
Due: docs lint

Regenerate gitlab.pot file
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Clarify where to find impersonation events
  doc/administration/audit_events.md
Due: docs lint

Remove the Premium badge from deploy boards
  doc/README.md
  doc/ci/README.md
  doc/ci/environments.md
  doc/ci/introduction/index.md
  doc/user/project/clusters/index.md
  doc/user/project/deploy_boards.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to doc/user/application_security/sast/index.md
  doc/user/application_security/sast/index.md
Due: docs lint

Rename changelog to avoid a merge conflict
  changelogs/unreleased/update-deprecated-slot-syntax-in---assets-javascripts-pages-milestone-pro.yml
Due: none

Remove Premium badges from deploy boards
  doc/README.md
  doc/ci/environments/index.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Test docs change for pipeline graph
  doc/ssh/README.md
Due: docs lint

Add iteration title/value to Issue sidebar
  app/assets/stylesheets/pages/issuable.scss
  app/views/shared/issuable/_sidebar.html.haml
  ee/app/assets/javascripts/sidebar/components/iteration_select.vue
  ee/app/assets/javascripts/sidebar/mount_sidebar.js
  ee/spec/features/issues/issue_sidebar_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP
  app/views/shared/issuable/_sidebar.html.haml
  ee/app/assets/javascripts/sidebar/components/iteration_select.vue
  ee/app/assets/javascripts/sidebar/mount_sidebar.js
  ee/app/assets/javascripts/sidebar/queries/group_iterations.query.graphql
  ee/app/assets/javascripts/sidebar/queries/issue_sprint.query.graphql
  ee/app/assets/javascripts/sidebar/queries/set_iteration_on_issue.mutation.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change sprint to iteration;
  ee/app/assets/javascripts/sidebar/components/iteration_select.vue
  ee/app/assets/javascripts/sidebar/queries/group_iterations.query.graphql
  ee/app/assets/javascripts/sidebar/queries/issue_iteration.query.graphql
  ee/app/assets/javascripts/sidebar/queries/set_iteration_on_issue.mutation.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Specs
  ee/app/assets/javascripts/sidebar/components/iteration_select.vue
  ee/spec/frontend/sidebar/components/iteration_select_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update changelog type to other
  changelogs/unreleased/update-deprecated-slot-syntax-in---assets-javascripts-pages-milestone-pro.yml
Due: none

#212848 Removed UltraAuth link from admin doc
  doc/administration/auth/README.md
Due: docs lint

#212848 Removed UltraAuth integration for OmniAuth
  Gemfile
  Gemfile.lock
  app/controllers/concerns/enforces_two_factor_authentication.rb
  app/models/user.rb
  changelogs/unreleased/212848.yml
  doc/integration/img/ultra_auth_credentials.png
  doc/integration/img/ultra_auth_edit_callback_url.png
  doc/integration/img/ultra_auth_edit_callback_url_highlighted.png
  doc/integration/omniauth.md
  doc/integration/ultra_auth.md
  lib/gitlab/auth/o_auth/provider.rb
  spec/controllers/application_controller_spec.rb
  spec/models/user_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migration to delete existing UltraAuth identities
  db/migrate/20200503092713_remove_ultraauth_provider_from_identities.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added and removed index as per the review
  db/migrate/20200508021128_remove_ultraauth_provider_from_identities.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Made changes to the migration as per the review
  db/migrate/20200503092713_remove_ultraauth_provider_from_identities.rb
  db/migrate/20200508021128_remove_ultraauth_provider_from_identities.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update test
  config/webpack.config.js
  package.json
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update test
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

GOTCHA
  config/webpack.config.js
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove link to video on Migrating from Jenkins to GitLab.
  doc/integration/jenkins.md
Due: docs lint

Remove extra line space
  doc/integration/jenkins.md
Due: docs lint
