Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Add changelog to MR
  changelogs/unreleased/ss-share-vuex-state-confidential.yml
Due: none

Fix specs and snapshots for introing vuex in component
  app/assets/javascripts/sidebar/components/confidential/confidential_issue_sidebar.vue
  spec/frontend/sidebar/__snapshots__/confidential_issue_sidebar_spec.js.snap
  spec/frontend/sidebar/confidential_issue_sidebar_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove redirect from web url
  qa/qa/resource/api_fabricator.rb
Due: graphql-reference-verify, pages, cache gems

A couple more updates
  doc/ssh/ssh_use_case.md
Due: docs lint

Rename store export
  app/assets/javascripts/notes/index.js
  app/assets/javascripts/notes/stores/index.js
  app/assets/javascripts/sidebar/mount_sidebar.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Bypass redirects for repo url
  qa/qa/git/repository.rb
Due: graphql-reference-verify, pages, cache gems

a big ol change
  random_text_1.txt
  random_text_10.txt
  random_text_2.txt
  random_text_3.txt
  random_text_4.txt
  random_text_5.txt
  random_text_6.txt
  random_text_7.txt
  random_text_8.txt
  random_text_9.txt
Due: none

Add docs for DAST_ZAP_DELAY_PASSIVE_SCAN_SECONDS env variable
  doc/user/application_security/dast/index.md
Due: docs lint

Add basic feature spec for license
  ee/app/assets/javascripts/burndown_chart/components/burnup_chart.vue
  ee/spec/features/burnup_charts_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix heading size and remove redundant class
  ee/app/assets/javascripts/burndown_chart/components/burnup_chart.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add early warning stage and draft CI config
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

whitespace change
  doc/user/application_security/index.md
Due: docs lint

PoC Canary Ingress
  lib/gitlab/ci/templates/Jobs/Deploy.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor how data attributes are being merged
  ee/app/views/projects/security/configuration/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds unleash log documentation
  doc/administration/logs.md
Due: docs lint

Use the new License Scanning template in ADO
  lib/gitlab/ci/templates/Auto-DevOps.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rm changelog
  changelogs/unreleased/ss-share-vuex-state-confidential.yml
Due: none

Update Geo Uploads Filter Nav
  ee/app/models/geo/upload_registry.rb
  ee/app/views/admin/geo/projects/index.html.haml
  ee/app/views/admin/geo/shared/_filter_nav.html.haml
  ee/app/views/admin/geo/uploads/index.html.haml
  ee/spec/controllers/admin/geo/uploads_controller_spec.rb
  ee/spec/models/geo/upload_registry_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replicate current json gem behaviour in wrapper
  lib/gitlab/json.rb
  spec/lib/gitlab/json_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Tags using the same image ID as latest are not deleted
  doc/user/packages/container_registry/index.md
Due: docs lint

Add system note support for publishing issues
  ee/app/helpers/ee/system_note_helper.rb
  ee/app/models/ee/system_note_metadata.rb
  ee/app/services/ee/system_note_service.rb
  ee/app/services/ee/system_notes/issuables_service.rb
  ee/spec/services/ee/system_notes/issuables_service_spec.rb
  ee/spec/services/system_note_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor snippet repo path error handling
  app/models/snippet_repository.rb
  lib/gitlab/background_migration/backfill_snippet_repositories.rb
  spec/models/snippet_repository_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update Jira comment to include more information
  app/assets/javascripts/integrations/edit/components/integration_form.vue
  app/assets/javascripts/integrations/edit/components/jira_trigger_fields.vue
  app/assets/javascripts/integrations/edit/index.js
  app/models/project_services/jira_service.rb
  app/views/shared/_service_settings.html.haml
  changelogs/unreleased/195887-jira-comment-details-include-branch-name.yml
  locale/gitlab.pot
  spec/frontend/integrations/edit/components/active_toggle_spec.js
  spec/frontend/integrations/edit/components/integration_form_spec.js
  spec/frontend/integrations/edit/components/jira_trigger_fields_spec.js
  spec/models/project_services/jira_service_spec.rb
  spec/services/system_note_service_spec.rb
  spec/views/projects/services/_form.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix 500 error loading environments index
  changelogs/unreleased/sh-handle-deployments-no-pods.yml
  ee/app/models/ee/clusters/platforms/kubernetes.rb
  ee/spec/models/ee/clusters/platforms/kubernetes_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Some improvements to json wrapper
  lib/gitlab/json.rb
  spec/lib/gitlab/json_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix project insights with projects.only parameter
  ee/app/assets/javascripts/insights/components/insights.vue
  ee/app/assets/javascripts/insights/index.js
  ee/app/controllers/projects/insights_controller.rb
  ee/app/views/projects/insights/show.html.haml
  ee/app/views/shared/_insights.html.haml
  ee/changelogs/unreleased/212688-fix-insights-error-on-excluded-projects.yml
  ee/lib/gitlab/insights/finders/issuable_finder.rb
  ee/lib/gitlab/insights/project_insights_config.rb
  ee/spec/frontend/insights/components/insights_spec.js
  ee/spec/lib/gitlab/insights/finders/issuable_finder_spec.rb
  ee/spec/lib/gitlab/insights/project_insights_config_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Switch ThreadMemoryCache to ProcessMemoryCache
  app/controllers/admin/application_settings_controller.rb
  app/models/application_setting.rb
  changelogs/unreleased/switch-thread-to-process-memory-cache.yml
  config/environments/test.rb
  config/initializers/0_thread_cache.rb
  ee/lib/gitlab/geo.rb
  ee/spec/lib/gitlab/geo_spec.rb
  ee/spec/requests/projects/audit_events_spec.rb
  lib/feature.rb
  lib/gitlab/performance_bar.rb
  lib/gitlab/testing/clear_process_memory_cache_middleware.rb
  lib/gitlab/thread_memory_cache.rb
  spec/lib/feature_spec.rb
  spec/lib/gitlab/performance_bar_spec.rb
  spec/models/concerns/cacheable_attributes_spec.rb
  spec/spec_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Display x509 signed tags
  app/helpers/x509_helper.rb
  app/models/x509_commit_signature.rb
  app/views/projects/commit/_signature.html.haml
  app/views/projects/commit/_signature_badge.html.haml
  app/views/projects/commit/x509/_signature_badge_user.html.haml
  app/views/projects/tags/_tag.html.haml
  app/views/projects/tags/show.html.haml
  changelogs/unreleased/feat-x509-tag.yml
  doc/user/project/repository/x509_signed_commits/index.md
  lib/gitlab/git/tag.rb
  lib/gitlab/x509/signature.rb
  lib/gitlab/x509/tag.rb
  locale/gitlab.pot
  spec/helpers/x509_helper_spec.rb
  spec/lib/gitlab/git/tag_spec.rb
  spec/lib/gitlab/x509/signature_spec.rb
  spec/lib/gitlab/x509/tag_spec.rb
  spec/models/x509_commit_signature_spec.rb
  spec/support/helpers/x509_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add customer critical merge request process
  doc/development/code_review.md
Due: docs lint

Change default legacy_mode state to off
  lib/gitlab/json.rb
  spec/lib/gitlab/json_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add `Group Name` & `Project Name` into vulnerability export csv
  doc/api/vulnerability_exports.md
  ee/app/models/vulnerabilities/occurrence.rb
  ee/app/models/vulnerability.rb
  ee/app/services/vulnerability_exports/exporters/csv_service.rb
  ee/changelogs/unreleased/213014_instance_level_exportable_security_reports_export_file_template.yml
  ee/spec/fixtures/vulnerabilities/exports/root-security-reports_vulnerabilities_2020-03-12T1235.csv
  ee/spec/models/vulnerabilities/occurrence_spec.rb
  ee/spec/models/vulnerability_spec.rb
  ee/spec/services/vulnerability_exports/exporters/csv_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Set MergeRequestDiff#external_diff_store in more cases
  app/models/merge_request_diff.rb
  changelogs/unreleased/216216-fix-mr-diffs-external-diffs-store-bug.yml
  spec/models/merge_request_diff_spec.rb
  spec/support/helpers/stub_object_storage.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix capitalization of ID in GraphQL types
  app/graphql/types/snippet_type.rb
  app/graphql/types/todo_type.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix capitalization of URL in field labels
  .markdownlint.json
  app/models/project_services/youtrack_service.rb
  doc/user/project/integrations/youtrack.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply shared integrations view to project level
  app/helpers/services_helper.rb
  app/views/projects/services/_index.html.haml
  app/views/projects/settings/integrations/show.html.haml
  app/views/shared/integrations/_integrations.html.haml
  changelogs/unreleased/195889-integrations-list-views-should-use-recommended-page-layout.yml
  locale/gitlab.pot
  qa/qa/ee/page/project/settings/integrations.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve docs about certificates when enabling TLS for Gitaly nodes
  doc/administration/gitaly/index.md
Due: docs lint

Rename integrations collection partial
  app/assets/stylesheets/utilities.scss
  app/views/admin/application_settings/integrations.html.haml
  app/views/groups/settings/integrations/index.html.haml
  app/views/projects/settings/integrations/show.html.haml
  app/views/shared/integrations/_index.html.haml
  qa/qa/ee/page/project/settings/integrations.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add settings for toggling auto-fix feature
  ee/app/assets/javascripts/security_configuration/components/app.vue
  ee/app/assets/javascripts/security_configuration/components/auto_fix_settings.vue
  ee/app/assets/javascripts/security_configuration/index.js
  ee/app/controllers/projects/security/configuration_controller.rb
  ee/app/presenters/projects/security/configuration_presenter.rb
  ee/app/views/projects/security/configuration/show.html.haml
  ee/spec/frontend/security_configuration/components/app_spec.js
  ee/spec/frontend/security_configuration/components/auto_fix_settings_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add basic Release data to GraphQL endpoint
  app/finders/releases_finder.rb
  app/graphql/resolvers/release_resolver.rb
  app/graphql/resolvers/releases_resolver.rb
  app/graphql/types/project_type.rb
  app/graphql/types/release_type.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  spec/finders/releases_finder_spec.rb
  spec/graphql/resolvers/release_resolver_spec.rb
  spec/graphql/resolvers/releases_resolver_spec.rb
  spec/graphql/types/project_type_spec.rb
  spec/graphql/types/release_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
