Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Add developer doc for multi-version awareness
  doc/development/README.md
  doc/development/multi_version_compatibility.md
Due: docs lint

QA Selectors added for new Vue components
  app/assets/javascripts/blob/components/blob_header_filepath.vue
  app/assets/javascripts/vue_shared/components/blob_viewers/simple_viewer.vue
  app/views/shared/snippets/_header.html.haml
  qa/qa/page/dashboard/snippet/new.rb
  qa/qa/page/dashboard/snippet/show.rb
  spec/frontend/blob/components/__snapshots__/blob_header_filepath_spec.js.snap
  spec/frontend/vue_shared/components/blob_viewers/__snapshots__/simple_viewer_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change tab-activation to use tabIndex model
  ee/app/assets/javascripts/license_compliance/components/app.vue
  ee/spec/frontend/license_compliance/components/app_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update all JS design management imports to be CE
  ee/app/assets/javascripts/pages/projects/issues/show/index.js
  ee/spec/frontend/design_management/components/delete_button_spec.js
  ee/spec/frontend/design_management/components/design_note_pin_spec.js
  ee/spec/frontend/design_management/components/design_notes/design_discussion_spec.js
  ee/spec/frontend/design_management/components/design_notes/design_note_spec.js
  ee/spec/frontend/design_management/components/design_notes/design_reply_form_spec.js
  ee/spec/frontend/design_management/components/design_overlay_spec.js
  ee/spec/frontend/design_management/components/design_presentation_spec.js
  ee/spec/frontend/design_management/components/design_scaler_spec.js
  ee/spec/frontend/design_management/components/image_spec.js
  ee/spec/frontend/design_management/components/list/item_spec.js
  ee/spec/frontend/design_management/components/toolbar/index_spec.js
  ee/spec/frontend/design_management/components/toolbar/pagination_button_spec.js
  ee/spec/frontend/design_management/components/toolbar/pagination_spec.js
  ee/spec/frontend/design_management/components/upload/button_spec.js
  ee/spec/frontend/design_management/components/upload/design_dropzone_spec.js
  ee/spec/frontend/design_management/components/upload/design_version_dropdown_spec.js
  ee/spec/frontend/design_management/pages/design/index_spec.js
  ee/spec/frontend/design_management/pages/index_spec.js
  ee/spec/frontend/design_management/router_spec.js
  ee/spec/frontend/design_management/utils/cache_update_spec.js
  ee/spec/frontend/design_management/utils/design_management_utils_spec.js
  ee/spec/frontend/design_management/utils/error_messages_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  ee/changelogs/unreleased/199066-add-correct-anchor-link-to-new-policy-tab.yml
Due: none

Maintainer feedback: Spec helper tests
  spec/frontend/helpers/set_window_location_helper_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove terminal prompts to allow easy copying
  doc/administration/lfs/index.md
Due: docs lint

Fix alert management splash page title
  app/assets/javascripts/alert_management/components/alert_management_list.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add documentation about Versioned Snippets
  doc/user/img/gitlab_snippet.png
  doc/user/img/gitlab_snippet_v13_0.png
  doc/user/img/snippet_clone_button_v13_0.png
  doc/user/snippets.md
Due: docs lint

Backend review: Add specs for route helper
  ee/spec/helpers/ee/gitlab_routing_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Change some `it do` to `specify do`
  ee/spec/controllers/admin/credentials_controller_spec.rb
  ee/spec/controllers/ee/profiles/preferences_controller_spec.rb
  ee/spec/controllers/groups/roadmap_controller_spec.rb
  ee/spec/graphql/types/permission_types/epic_spec.rb
  ee/spec/lib/ee/gitlab/application_context_spec.rb
  ee/spec/lib/gitlab/cidr_spec.rb
  ee/spec/lib/gitlab/geo_spec.rb
  ee/spec/models/application_setting_spec.rb
  ee/spec/models/project_spec.rb
  ee/spec/policies/group_policy_spec.rb
  ee/spec/policies/project_policy_spec.rb
  ee/spec/requests/api/groups_spec.rb
  ee/spec/requests/api/todos_spec.rb
  ee/spec/requests/git_http_spec.rb
  ee/spec/services/ee/git/branch_push_service_spec.rb
  ee/spec/services/ee/members/destroy_service_spec.rb
  ee/spec/services/ee/members/update_service_spec.rb
  ee/spec/services/ee/notification_service_spec.rb
  ee/spec/services/merge_trains/create_pipeline_service_spec.rb
  ee/spec/services/merge_trains/refresh_merge_request_service_spec.rb
  ee/spec/support/shared_examples/requests/api/vulnerabilities_shared_examples.rb
  spec/controllers/projects/service_hook_logs_controller_spec.rb
  spec/requests/api/graphql/mutations/award_emojis/add_spec.rb
  spec/requests/api/graphql/mutations/award_emojis/remove_spec.rb
  spec/requests/api/graphql/mutations/award_emojis/toggle_spec.rb
  spec/requests/api/graphql/mutations/snippets/mark_as_spam_spec.rb
  spec/requests/api/graphql/project/grafana_integration_spec.rb
  spec/support/shared_examples/requests/api/award_emoji_todo_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add new message to Geo troubleshooting doc
  doc/administration/geo/replication/troubleshooting.md
Due: docs lint

Remove FF ci_limit_test_reports_size
  app/serializers/test_suite_comparer_entity.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move Design Management-related model code to FOSS
  app/models/concerns/noteable.rb
  app/models/event.rb
  app/models/project.rb
  app/models/system_note_metadata.rb
  app/models/todo.rb
  ee/app/models/concerns/ee/noteable.rb
  ee/app/models/ee/event.rb
  ee/app/models/ee/project.rb
  ee/app/models/ee/system_note_metadata.rb
  ee/app/models/ee/todo.rb
  ee/spec/models/concerns/ee/noteable_spec.rb
  ee/spec/models/ee/event_spec.rb
  ee/spec/models/ee/system_note_metadata_spec.rb
  ee/spec/models/ee/todo_spec.rb
  ee/spec/models/project_spec.rb
  spec/factories/notes.rb
  spec/models/concerns/noteable_spec.rb
  spec/models/event_spec.rb
  spec/models/project_spec.rb
  spec/models/todo_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Reviewer feedback: Test description fixes
  ee/spec/frontend/license_compliance/components/app_spec.js
  spec/frontend/helpers/set_window_location_helper_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add upgrade guidance to database HA docs
  doc/administration/high_availability/gitlab.md
  doc/administration/high_availability/sidekiq.md
Due: docs lint

Resolve duplicate api call
  app/assets/javascripts/member_expiration_date.js
  spec/features/groups/members/master_adds_member_with_expiration_date_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Maintainer feedback: Refactor tests
  ee/app/assets/javascripts/license_compliance/components/app.vue
  ee/spec/frontend/license_compliance/components/app_spec.js
  spec/frontend/helpers/set_window_location_helper.js
  spec/frontend/helpers/set_window_location_helper_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve error handling of squash and rebase
  app/services/concerns/git/logger.rb
  app/services/merge_requests/base_service.rb
  app/services/merge_requests/rebase_service.rb
  app/services/merge_requests/squash_service.rb
  changelogs/unreleased/sh-fix-squash-error-handling.yml
  locale/gitlab.pot
  spec/services/merge_requests/rebase_service_spec.rb
  spec/services/merge_requests/squash_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated to use new utility classes
  ee/app/assets/javascripts/packages/details/components/package_title.vue
  ee/spec/frontend/packages/details/components/__snapshots__/package_title_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Cleanup PopulateUserHighestRoles bg migration
  changelogs/unreleased/cleanup_user_highest_roles_background_migration.yml
  db/post_migrate/20200506125731_cleanup_user_highest_roles_population.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds pipeline project to package title
  ee/app/assets/javascripts/packages/details/components/package_title.vue
  ee/app/presenters/packages/detail/package_presenter.rb
  ee/changelogs/unreleased/210551-add-pipeline-project-to-package-title.yml
  ee/spec/frontend/packages/details/components/__snapshots__/package_title_spec.js.snap
  ee/spec/frontend/packages/details/components/package_title_spec.js
  ee/spec/frontend/packages/mock_data.js
  ee/spec/presenters/packages/detail/package_presenter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update vue file for snippet_description_field
  qa/qa/page/dashboard/snippet/show.rb
Due: graphql-reference-verify, pages, cache gems

Remove unneeded has_attribute guard for MR external diff storage
  app/models/merge_request_diff.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose a portion of users to new purchase flow
  app/models/namespace.rb
  ee/app/assets/javascripts/subscriptions/new/store/state.js
  ee/app/helpers/billing_plans_helper.rb
  ee/app/helpers/subscriptions_helper.rb
  ee/app/views/shared/billings/_billing_plan.html.haml
  ee/spec/frontend/subscriptions/new/components/checkout/order_summary_spec.js
  ee/spec/frontend/subscriptions/new/components/checkout/subscription_details_spec.js
  ee/spec/frontend/subscriptions/new/store/state_spec.js
  ee/spec/helpers/billing_plans_helper_spec.rb
  ee/spec/helpers/subscriptions_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Alerts list status tab filter (no BE integration)
  app/assets/javascripts/alert_management/components/alert_management_list.vue
  app/assets/javascripts/alert_management/constants.js
  app/assets/stylesheets/pages/alerts_list.scss
  app/controllers/projects/alert_management_controller.rb
  locale/gitlab.pot
  spec/frontend/alert_management/components/alert_management_list_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Converting mixin to a component
  app/assets/javascripts/snippets/components/snippet_description_view.vue
  app/assets/javascripts/vue_shared/components/blob_viewers/rich_viewer.vue
  app/assets/javascripts/vue_shared/components/markdown/field_view.vue
  spec/frontend/snippets/components/__snapshots__/snippet_description_view_spec.js.snap
  spec/frontend/snippets/components/snippet_description_view_spec.js
  spec/frontend/vue_shared/components/blob_viewers/rich_viewer_spec.js
  spec/frontend/vue_shared/components/markdown/field_view_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove FF environments_dashboard
  ee/app/controllers/operations_controller.rb
  ee/app/helpers/ee/dashboard_helper.rb
  ee/spec/controllers/operations_controller_spec.rb
  ee/spec/features/operations_nav_link_spec.rb
  ee/spec/helpers/ee/dashboard_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Anonymize GitLab user/group names on Status Pages
  ee/changelogs/unreleased/208993-anonymize-gitlab-user-names-on-status-detail-pages.yml
  ee/lib/status_page/filter/mention_anonymization_filter.rb
  ee/lib/status_page/pipeline/post_process_pipeline.rb
  ee/spec/lib/status_page/filter/mention_anonymization_filter_spec.rb
  ee/spec/lib/status_page/pipeline/post_process_pipeline_spec.rb
  ee/spec/support/shared_examples/status_page/reference_links_examples.rb
  spec/factories/groups.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate some IDE component specs to Jest
  spec/frontend/ide/components/commit_sidebar/radio_group_spec.js
  spec/frontend/ide/components/file_row_extra_spec.js
  spec/frontend/ide/components/ide_review_spec.js
  spec/frontend/ide/components/ide_status_bar_spec.js
  spec/frontend/ide/components/merge_requests/item_spec.js
  spec/frontend/ide/components/new_dropdown/upload_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Changing link color to black
  ee/app/assets/javascripts/packages/details/components/package_title.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Revert "Report USS+PSS from ruby_sampler""
  lib/gitlab/metrics/samplers/ruby_sampler.rb
  lib/gitlab/metrics/system.rb
  spec/lib/gitlab/metrics/samplers/ruby_sampler_spec.rb
  spec/lib/gitlab/metrics/system_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create feature flag user lists controller
  ee/app/controllers/projects/feature_flags_user_lists_controller.rb
  ee/app/views/projects/feature_flags_user_lists/edit.html.haml
  ee/app/views/projects/feature_flags_user_lists/new.html.haml
  ee/app/views/projects/feature_flags_user_lists/show.html.haml
  ee/config/routes/project.rb
  ee/spec/controllers/projects/feature_flags_user_lists_controller_spec.rb
  ee/spec/features/projects/feature_flag_user_lists/user_edits_feature_flag_user_list_spec.rb
  ee/spec/features/projects/feature_flag_user_lists/user_sees_feature_flag_user_list_details_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable GFM for snippet's blob and desc rendering
  app/assets/javascripts/snippets/components/snippet_description_view.vue
  app/assets/javascripts/snippets/components/snippet_title.vue
  app/assets/javascripts/vue_shared/components/blob_viewers/rich_viewer.vue
  app/assets/javascripts/vue_shared/mixins/markdown_field_mixin.js
  spec/frontend/snippets/components/__snapshots__/snippet_description_view_spec.js.snap
  spec/frontend/snippets/components/snippet_description_view_spec.js
  spec/frontend/snippets/components/snippet_title_spec.js
  spec/frontend/vue_shared/components/blob_viewers/rich_viewer_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate filtered_search files to Jest
  spec/frontend/filtered_search/dropdown_utils_spec.js
  spec/frontend/filtered_search/filtered_search_tokenizer_spec.js
  spec/frontend/filtered_search/issues_filtered_search_token_keys_spec.js
  spec/frontend/filtered_search/services/recent_searches_service_spec.js
  spec/frontend/filtered_search/visual_token_value_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add weights to burnup chart data
  app/models/concerns/issue_resource_event.rb
  app/models/concerns/merge_request_resource_event.rb
  app/models/resource_label_event.rb
  app/models/resource_milestone_event.rb
  app/models/resource_weight_event.rb
  ee/app/services/burnup_chart_service.rb
  ee/spec/fixtures/api/schemas/burnup_event.json
  ee/spec/services/burnup_chart_service_spec.rb
  ee/spec/support/shared_examples/requests/api/milestone_burnup_shared_examples.rb
  spec/models/resource_label_event_spec.rb
  spec/support/shared_examples/resource_events.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Resolve "Design Comment: Edit Comment text"
  app/assets/javascripts/design_management/components/design_notes/design_discussion.vue
  app/assets/javascripts/design_management/components/design_notes/design_note.vue
  app/assets/javascripts/design_management/components/design_notes/design_reply_form.vue
  app/assets/javascripts/design_management/graphql/mutations/update_note.mutation.graphql
  app/assets/javascripts/design_management/pages/design/index.vue
  app/assets/javascripts/design_management/utils/cache_update.js
  app/assets/javascripts/design_management/utils/error_messages.js
  changelogs/unreleased/118609-design-comment-edit-comment-text.yml
  locale/gitlab.pot
  spec/frontend/design_management/components/design_notes/__snapshots__/design_note_spec.js.snap
  spec/frontend/design_management/components/design_notes/__snapshots__/design_reply_form_spec.js.snap
  spec/frontend/design_management/components/design_notes/design_note_spec.js
  spec/frontend/design_management/components/design_notes/design_reply_form_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Combined avoidance rules for Style Guide
  doc/development/documentation/styleguide.md
Due: docs lint
