Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Improve alert list spacing
  app/assets/javascripts/alert_management/components/alert_management_list.vue
  app/assets/javascripts/alert_management/graphql/fragments/detail_item.fragment.graphql
  app/assets/javascripts/alert_management/graphql/fragments/list_item.fragment.graphql
  app/assets/stylesheets/pages/alert_management/list.scss
  changelogs/unreleased/tr-alert-column-spacing.yml
  locale/gitlab.pot
  spec/frontend/alert_management/components/alert_management_list_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve specs for feature flag issues controller
  ee/app/services/feature_flag_issues/create_service.rb
  ee/app/views/projects/feature_flags/edit.html.haml
  ee/spec/controllers/projects/feature_flag_issues_controller_spec.rb
  ee/spec/features/projects/feature_flags/feature_flag_issues_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch 'remove_gitlab_issue_tracker_service_class' into 'master'"
  app/models/project.rb
  app/models/project_services/gitlab_issue_tracker_service.rb
  app/models/service.rb
  ee/lib/ee/gitlab/usage_data.rb
  lib/banzai/filter/issue_reference_filter.rb
  locale/gitlab.pot
  spec/factories/services.rb
  spec/lib/gitlab/import_export/all_models.yml
  spec/models/project_services/gitlab_issue_tracker_service_spec.rb
  spec/models/project_spec.rb
  spec/models/service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Keep NaN values in data series
  app/assets/javascripts/helpers/monitor_helper.js
  changelogs/unreleased/223790-nan-or-null-values-should-not-be-removed.yml
  spec/frontend/helpers/monitor_helper_spec.js
  spec/frontend/monitoring/store/utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Log name of class that failed to obtain exclusive lease
  app/services/concerns/exclusive_lease_guard.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Upgrade Pages to 1.20.0
  GITLAB_PAGES_VERSION
  changelogs/unreleased/osw-update-gitlab-pages-to-1-20.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Drop partitions_dynamic schema if it exists
  changelogs/unreleased/ab-revert-schema-create.yml
  db/migrate/20200626130220_drop_partitions_dynamic_schema_if_exists.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated logged message test to handle text with class-name
  spec/services/concerns/exclusive_lease_guard_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update UI links to docs in core features
  app/views/admin/application_settings/_account_and_limit.html.haml
  app/views/admin/application_settings/_ci_cd.html.haml
  app/views/admin/application_settings/ci/_header.html.haml
  app/views/ci/variables/_content.html.haml
  app/views/ci/variables/_header.html.haml
  app/views/ci/variables/_variable_row.html.haml
  app/views/clusters/clusters/gcp/_form.html.haml
  app/views/projects/services/prometheus/_metrics.html.haml
  app/views/projects/settings/ci_cd/_autodevops_form.html.haml
  changelogs/unreleased/docs-links-from-ui.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated two remaining tests for for message with class name
  spec/services/projects/git_deduplication_service_spec.rb
  spec/workers/repository_remove_remote_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove read_cluster_health permission
  doc/ci/variables/README.md
  ee/app/controllers/ee/clusters/clusters_controller.rb
  ee/app/helpers/ee/clusters_helper.rb
  ee/app/models/license.rb
  ee/app/policies/ee/clusters/instance_policy.rb
  ee/app/policies/ee/group_policy.rb
  ee/app/policies/ee/project_policy.rb
  ee/changelogs/unreleased/mwaw-208224-move-cluster-health-to-core-BE-policies.yml
  ee/lib/ee/banzai/filter/inline_metrics_redactor_filter.rb
  ee/spec/controllers/admin/clusters_controller_spec.rb
  ee/spec/controllers/groups/clusters_controller_spec.rb
  ee/spec/controllers/projects/clusters_controller_spec.rb
  ee/spec/features/clusters/cluster_health_dashboard_spec.rb
  ee/spec/features/markdown/metrics_spec.rb
  ee/spec/helpers/ee/clusters_helper_spec.rb
  ee/spec/lib/banzai/filter/inline_metrics_redactor_filter_spec.rb
  ee/spec/policies/clusters/instance_policy_spec.rb
  ee/spec/policies/group_policy_spec.rb
  ee/spec/policies/project_policy_spec.rb
  ee/spec/views/clusters/clusters/show.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added changelog for !35228
  changelogs/unreleased/hpaluch-master.yml
Due: none

Support quick actions when editing descriptions
  app/assets/javascripts/gfm_auto_complete.js
  app/assets/javascripts/issue_show/components/fields/description.vue
  app/controllers/projects/merge_requests_controller.rb
  app/services/issuable_base_service.rb
  app/services/merge_requests/base_service.rb
  app/services/merge_requests/create_service.rb
  app/services/merge_requests/update_service.rb
  app/views/shared/form_elements/_description.html.haml
  changelogs/unreleased/16877-quick-actions-on-description-edit.yml
  doc/user/project/quick_actions.md
  ee/spec/features/epics/gfm_autocomplete_spec.rb
  ee/spec/services/epics/update_service_spec.rb
  spec/features/issues/gfm_autocomplete_spec.rb
  spec/services/issues/create_service_spec.rb
  spec/services/issues/update_service_spec.rb
  spec/services/merge_requests/create_service_spec.rb
  spec/services/merge_requests/update_service_spec.rb
  spec/support/services/issuable_description_quick_actions_shared_examples.rb
  spec/support/shared_examples/features/editable_merge_request_shared_examples.rb
  spec/support/shared_examples/quick_actions/merge_request/merge_quick_action_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Break out some Geo registry basics into a concern
  doc/development/geo/framework.md
  ee/app/models/concerns/geo/replicable_registry.rb
  ee/app/models/geo/package_file_registry.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add CHANGELOG entry
  ee/changelogs/unreleased/223272-geo-project-removal-leaves-orphaned-data-on-disk.yml
Due: none

Fixed codestyle errors reported by rubocop
  spec/services/concerns/exclusive_lease_guard_spec.rb
  spec/services/projects/git_deduplication_service_spec.rb
  spec/workers/repository_remove_remote_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Typo fix for docs repo links
  doc/development/documentation/index.md
Due: docs lint

Schedule the repositories deletion
  app/services/repositories/destroy_service.rb
  ee/spec/services/geo/repository_destroy_service_spec.rb
  spec/services/repositories/destroy_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Explicitly give `override`. Details:
  ee/app/models/ee/project.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add note suggesting best practice for address used
  doc/administration/incoming_email.md
Due: docs lint

Docs: switch order to match AWS IAM setup
  doc/user/project/status_page/index.md
Due: docs lint

Remove prepend-top-16 CSS class
  app/assets/javascripts/environments/components/environments_table.vue
  app/assets/javascripts/notes/components/comment_form.vue
  app/assets/stylesheets/framework/common.scss
  app/views/projects/issues/_new_branch.html.haml
  app/views/users/_overview.html.haml
  ee/app/views/projects/issues/_alert_blocked.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove append-right-2 CSS class
  app/assets/stylesheets/framework/common.scss
  ee/app/assets/javascripts/roadmap/components/epic_item_timeline.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove unused StuckImportJobsWorker
  app/workers/all_queues.yml
  app/workers/stuck_import_jobs_worker.rb
  spec/workers/stuck_import_jobs_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update GitLab UI/SVG
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Auto close related alert issue on recovery
  app/services/alert_management/process_prometheus_alert_service.rb
  changelogs/unreleased/222253-close-issue-on-resolved-alert.yml
  spec/factories/alert_management/alerts.rb
  spec/requests/api/graphql/project/alert_management/alerts_spec.rb
  spec/services/alert_management/process_prometheus_alert_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add empty state to DAG graph
  app/assets/javascripts/pipelines/components/dag/dag.vue
  app/assets/javascripts/pipelines/pipeline_details_bundle.js
  app/views/projects/pipelines/_with_tabs.html.haml
  changelogs/unreleased/217648-add-no-graph-empty-state-for-dag.yml
  locale/gitlab.pot
  spec/frontend/pipelines/components/dag/dag_spec.js
  spec/frontend/pipelines/components/dag/mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Initial identifier custom renderer
  app/assets/javascripts/vue_shared/components/rich_content_editor/services/build_custom_renderer.js
  app/assets/javascripts/vue_shared/components/rich_content_editor/services/renderers/build_uneditable_token.js
  app/assets/javascripts/vue_shared/components/rich_content_editor/services/renderers/render_identifier_text.js
  app/assets/javascripts/vue_shared/components/rich_content_editor/services/renderers/render_kramdown_list.js
  app/assets/javascripts/vue_shared/components/rich_content_editor/services/renderers/render_kramdown_text.js
  changelogs/unreleased/35077-custom-renderer-identifiers.yml
  spec/frontend/vue_shared/components/rich_content_editor/mock_data.js
  spec/frontend/vue_shared/components/rich_content_editor/services/renderers/build_uneditable_token_spec.js
  spec/frontend/vue_shared/components/rich_content_editor/services/renderers/render_identifier_text_spec.js
  spec/frontend/vue_shared/components/rich_content_editor/services/renderers/render_kramdown_list_spec.js
  spec/frontend/vue_shared/components/rich_content_editor/services/renderers/render_kramdown_text_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Ensure .git/config is updated for forks
  app/models/project.rb
  changelogs/unreleased/sh-update-git-config-for-forks.yml
  spec/models/project_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update Terraform docs, fix multiple typos
  doc/user/infrastructure/index.md
Due: docs lint

Defer updating .git/config for imported projects
  app/services/projects/create_service.rb
  changelogs/unreleased/sh-disable-gitconfig-write-on-imports-and-forks.yml
  spec/services/projects/create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Forward correlation ID to Elasticsearch X-Opaque-Id
  doc/development/elasticsearch.md
  ee/spec/lib/gitlab/elastic/client_spec.rb
  ee/spec/lib/gitlab/instrumentation/elasticsearch_transport_spec.rb
  lib/gitlab/instrumentation/elasticsearch_transport.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve docs related to LDAP membership lock
  doc/administration/auth/ldap/index.md
Due: docs lint

Corrected link to Vuln Export report
  doc/administration/geo/replication/datatypes.md
Due: docs lint

Fix VSA code stage query
  ee/lib/gitlab/analytics/cycle_analytics/stage_events/label_based_stage_event.rb
  ee/spec/lib/gitlab/analytics/cycle_analytics/data_collector_spec.rb
  lib/gitlab/analytics/cycle_analytics/stage_events/code_stage_start.rb
  lib/gitlab/analytics/cycle_analytics/stage_events/issue_stage_end.rb
  lib/gitlab/analytics/cycle_analytics/stage_events/metrics_based_stage_event.rb
  lib/gitlab/analytics/cycle_analytics/stage_events/plan_stage_start.rb
  lib/gitlab/analytics/cycle_analytics/stage_events/production_stage_end.rb
  lib/gitlab/analytics/cycle_analytics/stage_events/stage_event.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add subgroups support for Static Site Editor
  changelogs/unreleased/fix-open-sse-on-subgroups.yml
  lib/gitlab/static_site_editor/config.rb
  spec/lib/gitlab/static_site_editor/config_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix spelling mistakes
  doc/ci/examples/authenticating-with-hashicorp-vault/index.md
  doc/user/admin_area/activating_deactivating_users.md
  doc/user/clusters/applications.md
Due: docs lint

Add group wikis api documentation to API resources
  doc/api/api_resources.md
Due: docs lint

Add GlTable and pagination
  ee/app/assets/javascripts/iterations/components/iteration_report_tabs.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add current scope to Vulnerability::Statistic model
  ee/app/models/ee/project.rb
  ee/app/models/vulnerabilities/statistic.rb
  ee/spec/factories/vulnerabilities/statistics.rb
  ee/spec/models/vulnerabilities/statistic_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
