Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Apply suggestion to doc/user/application_security/dependency_scanning/index.md
  doc/user/application_security/dependency_scanning/index.md
Due: docs lint

Apply suggestion to doc/user/application_security/sast/index.md
  doc/user/application_security/sast/index.md
Due: docs lint

Remove unnecessary presence validation in Vulnerabilities:Export model
  ee/app/models/vulnerabilities/export.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to ee/lib/ee/api/validations.rb
  ee/lib/ee/api/validations.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Load source page content Vuex workflow
  app/assets/javascripts/static_site_editor/components/static_site_editor.vue
  app/assets/javascripts/static_site_editor/constants.js
  app/assets/javascripts/static_site_editor/index.js
  app/assets/javascripts/static_site_editor/store/actions.js
  app/assets/javascripts/static_site_editor/store/getters.js
  app/assets/javascripts/static_site_editor/store/index.js
  app/assets/javascripts/static_site_editor/store/mutation_types.js
  app/assets/javascripts/static_site_editor/store/mutations.js
  app/assets/javascripts/static_site_editor/store/state.js
  locale/gitlab.pot
  spec/frontend/static_site_editor/components/static_site_editor_spec.js
  spec/frontend/static_site_editor/store/actions_spec.js
  spec/frontend/static_site_editor/store/getters_spec.js
  spec/frontend/static_site_editor/store/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Document Release asset link editing
  app/assets/javascripts/releases/components/app_edit.vue
  doc/user/project/releases/img/edit_release_page_v12_10.png
  doc/user/project/releases/index.md
  spec/features/projects/releases/user_views_edit_release_spec.rb
  spec/frontend/releases/components/app_edit_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Set up page JS loader
  app/assets/javascripts/pages/projects/static_site_editor/show/index.js
  app/views/projects/static_site_editor/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add ElasticsearchIndex model
  db/migrate/20190916000000_create_elasticsearch_indices.rb
  db/migrate/20191120115531_fill_elasticsearch_indices.rb
  ee/app/models/elasticsearch_index.rb
  ee/spec/factories/elasticsearch_indices.rb
  ee/spec/migrations/fill_elasticsearch_indices_spec.rb
  ee/spec/models/elasticsearch_index_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add API for Elasticsearch indices
  doc/api/elasticsearch_indices.md
  ee/app/models/elasticsearch_index.rb
  ee/app/services/elastic/create_index_service.rb
  ee/app/services/elastic/destroy_index_service.rb
  ee/lib/api/elasticsearch_indices.rb
  ee/lib/ee/api/api.rb
  ee/lib/ee/api/entities/elasticsearch_index.rb
  ee/spec/factories/elasticsearch_indices.rb
  ee/spec/models/elasticsearch_index_spec.rb
  ee/spec/requests/api/elasticsearch_indices_spec.rb
  ee/spec/services/elastic/create_index_service_spec.rb
  ee/spec/services/elastic/destroy_index_service_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Track ES indexing status per index
  db/migrate/20191120155750_add_index_status_elasticsearch_index_id.rb
  db/migrate/20191120155751_extend_index_status_unique_index_to_elasticsearch_index_id.rb
  db/schema.rb
  doc/administration/troubleshooting/gitlab_rails_cheat_sheet.md
  ee/app/models/concerns/elastic/repositories_search.rb
  ee/app/models/ee/project.rb
  ee/app/models/ee/project_import_state.rb
  ee/app/models/index_status.rb
  ee/app/services/ee/git/branch_push_service.rb
  ee/app/workers/elastic_batch_project_indexer_worker.rb
  ee/app/workers/elastic_commit_indexer_worker.rb
  ee/lib/gitlab/elastic/indexer.rb
  ee/lib/tasks/gitlab/elastic.rake
  ee/spec/elastic_integration/repository_index_spec.rb
  ee/spec/factories/index_statuses.rb
  ee/spec/lib/gitlab/elastic/indexer_spec.rb
  ee/spec/migrations/add_index_status_elasticsearch_index_id_spec.rb
  ee/spec/models/concerns/elastic/project_wiki_spec.rb
  ee/spec/models/concerns/elastic/repository_spec.rb
  ee/spec/models/index_status_spec.rb
  ee/spec/models/project_import_state_spec.rb
  ee/spec/services/ee/git/branch_push_service_spec.rb
  ee/spec/workers/elastic_batch_project_indexer_worker_spec.rb
  ee/spec/workers/elastic_commit_indexer_worker_spec.rb
  spec/lib/gitlab/import_export/all_models.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Generalisation of Geo nodes components
  app/assets/javascripts/vue_shared/components/section_reveal_button.vue
  ee/app/assets/javascripts/geo_nodes/components/node_detail_sections/node_details_section_other.vue
  ee/app/assets/javascripts/geo_nodes/components/node_detail_sections/node_details_section_sync.vue
  ee/app/assets/javascripts/geo_nodes/components/node_detail_sections/node_details_section_verification.vue
  spec/javascripts/vue_shared/components/section_reveal_button_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Add feature specs for new ES administration
  ee/spec/features/admin/admin_elasticsearch_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Add docs for new ES administration
  doc/integration/elasticsearch.md
Due: docs lint

Fix ArgumentError in admin/elasticsearch/settings
  ee/app/views/admin/elasticsearch/settings.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove guard index method & fix index_exists?
  ee/app/services/ee/application_settings/update_service.rb
  ee/lib/gitlab/elastic/helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Allow 0 replicas in validation
  ee/app/assets/javascripts/elasticsearch/components/es_new_index.vue
  ee/app/models/elasticsearch_index.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix application settings columns inconsistency
  db/schema.rb
  db/structure.sql
  ee/app/helpers/ee/application_settings_helper.rb
  ee/app/models/ee/application_setting.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix application_settings spec failure
  app/views/admin/application_settings/general.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix elasticsearch feature entry href
  ee/app/views/admin/dashboard/_elastic_and_geo.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix spec rubocop offences
  ee/spec/lib/ee/gitlab/elastic/helper_spec.rb
  ee/spec/lib/gitlab/elastic/helper_spec.rb
  ee/spec/models/application_setting_spec.rb
  ee/spec/requests/api/elasticsearch_indices_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix elastic rspec config
  ee/spec/support/elastic.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to doc/user/compliance/license_compliance/index.md
  doc/user/compliance/license_compliance/index.md
Due: docs lint

Got rid of slashes
  doc/development/documentation/structure.md
Due: docs lint

Show banner for namespace limit
  app/helpers/namespace_storage_limit_helper.rb
  app/models/namespace.rb
  app/views/projects/_flash_messages.html.haml
  app/views/shared/_namespace_storage_limit.html.haml
  lib/gitlab/namespace_size_error_message.rb
  lib/namespace_size_checker.rb
  spec/lib/gitlab/namespace_size_checker_spec.rb
  spec/lib/gitlab/namespace_size_error_message_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Prevent gl-new-dropdown rule override
  app/assets/stylesheets/framework/dropdowns.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to doc/user/group/saml_sso/index.md
  doc/user/group/saml_sso/index.md
Due: docs lint

Apply suggestion to doc/user/group/saml_sso/scim_setup.md
  doc/user/group/saml_sso/scim_setup.md
Due: docs lint

Apply suggestion to spec/gitlab/qa/report/results_in_issues_spec.rb
  spec/gitlab/qa/report/results_in_issues_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use a wrapper method instead of monkey patching
  lib/gitlab/qa/report/results_in_issues.rb
  spec/gitlab/qa/report/results_in_issues_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Bump version to 5.4.3
  lib/gitlab/qa/version.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Terms intermediary page
  app/views/layouts/terms.html.haml
  app/views/users/terms/index.html.haml
  qa/qa.rb
  qa/qa/flow/login.rb
  qa/qa/page/base.rb
  qa/qa/page/main/login.rb
  qa/qa/page/main/terms.rb
  qa/qa/page/validatable.rb
  qa/qa/specs/features/browser_ui/non_devops/terms_spec.rb
  qa/spec/page/base_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Extra logging on set_application_settings failure
  qa/qa/runtime/application_settings.rb
Due: graphql-reference-verify, pages, cache gems

Update docs.gitlab-ci.yml
  .gitlab/ci/docs.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
