Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Update version text for approval rules
  doc/user/project/merge_requests/merge_request_approvals.md
Due: docs lint

Resize the dast jobs
  .gitlab-ci.yml
  .gitlab/ci/dast.gitlab-ci.yml
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename service_desk_reply_to column
  app/mailers/emails/service_desk.rb
  app/services/notification_service.rb
  db/migrate/20200819071909_rename_service_desk_reply_to.rb
  db/post_migrate/20200819073628_cleanup_service_desk_reply_to_rename.rb
  db/schema_migrations/20200819071909
  db/schema_migrations/20200819073628
  db/structure.sql
  lib/gitlab/email/handler/service_desk_handler.rb
  spec/fixtures/lib/gitlab/import_export/designs/project.json
  spec/lib/gitlab/email/handler/service_desk_handler_spec.rb
  spec/lib/gitlab/import_export/safe_model_attributes.yml
  spec/mailers/notify_spec.rb
  spec/services/notification_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove extra newline
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Flush snowplow in dashboard tracking spec
  spec/lib/gitlab/metrics/dashboard/stages/track_panel_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Let AlertPresenter return specific presenter for generic or prometheus
  app/graphql/types/alert_management/alert_type.rb
  app/models/alert_management/alert.rb
  app/presenters/alert_management/alert_presenter.rb
  app/presenters/alert_management/generic_alert_presenter.rb
  app/presenters/alert_management/prometheus_alert_presenter.rb
  spec/models/alert_management/alert_spec.rb
  spec/presenters/alert_management/alert_presenter_spec.rb
  spec/presenters/alert_management/generic_alert_presenter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make Elastic::ProcessBookkeepingService specs work on Redis 4
  ee/spec/services/elastic/process_bookkeeping_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Avoid Redis streams in interceptor specs
  spec/lib/gitlab/instrumentation/redis_interceptor_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add mutation granularity guidance
  doc/development/api_graphql_styleguide.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/development/api_graphql_styleguide.md
Due: docs lint

Add `canceling` state that is transition of `canceled`
  app/models/ci/build.rb
  app/models/commit_status.rb
  app/models/concerns/ci/has_status.rb
  lib/api/ci/runner.rb
  lib/api/helpers/runner.rb
  lib/gitlab/ci/status/build/factory.rb
  lib/gitlab/ci/status/canceling.rb
  lib/gitlab/ci/status/composite.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor YamlProcessor to return a result object
  app/controllers/projects/ci/lints_controller.rb
  ee/spec/lib/ee/gitlab/ci/templates/templates_spec.rb
  ee/spec/lib/gitlab/ci/yaml_processor_spec.rb
  lib/gitlab/ci/config.rb
  lib/gitlab/ci/pipeline/chain/config/process.rb
  lib/gitlab/ci/yaml_processor.rb
  lib/gitlab/ci/yaml_processor/result.rb
  spec/lib/gitlab/ci/config_spec.rb
  spec/lib/gitlab/ci/pipeline/chain/validate/external_spec.rb
  spec/lib/gitlab/ci/templates/templates_spec.rb
  spec/lib/gitlab/ci/yaml_processor/result_spec.rb
  spec/lib/gitlab/ci/yaml_processor_spec.rb
  spec/lib/gitlab/import_export/fast_hash_serializer_spec.rb
  spec/lib/gitlab/import_export/project/tree_saver_spec.rb
  spec/views/projects/ci/lints/show.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add CRUD permissions for metrics dashboard
  app/assets/javascripts/monitoring/stores/state.js
  app/helpers/environments_helper.rb
  app/policies/concerns/readonly_abilities.rb
  app/policies/project_policy.rb
  doc/user/permissions.md
  spec/helpers/environments_helper_spec.rb
  spec/policies/project_policy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Dev doc features flags per-project
  doc/development/documentation/feature_flags.md
Due: docs lint

Tag ff dev docs as dev
  doc/administration/feature_flags.md
  doc/development/feature_flags/controls.md
  doc/development/feature_flags/development.md
  doc/development/feature_flags/index.md
  doc/development/feature_flags/process.md
Due: docs lint

Add warning and reorder sections
  doc/development/documentation/feature_flags.md
Due: docs lint

Explain to user what FF means
  doc/development/documentation/feature_flags.md
  doc/user/feature_flags.md
  doc/user/img/feature_flags_history_note_info_v13_2.png
  doc/user/img/version_history_notes_collapsed_v13_2.png
  doc/user/index.md
Due: docs lint

Sort DAST_RULES ascendingly
  .gitlab/ci/dast.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Edits to intro and Using this guide
  doc/development/documentation/styleguide.md
Due: docs lint

Add link to style log
  doc/development/documentation/styleguide.md
Due: docs lint

Add a needed comma
  doc/development/documentation/styleguide.md
Due: docs lint

Address style team review
  doc/development/documentation/feature_flags.md
  doc/user/feature_flags.md
Due: docs lint

Fix linting error on list
  doc/development/documentation/styleguide.md
Due: docs lint

Update per-project to by project
  doc/development/documentation/feature_flags.md
Due: docs lint

Add regression test for `nil` primary_identifier of finding
  ee/spec/factories/ci/reports/security/findings.rb
  ee/spec/lib/gitlab/ci/reports/security/finding_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use safe navigator to access fingerprint of primary identifier
  ee/lib/gitlab/ci/reports/security/finding.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/development/documentation/feature_flags.md
Due: docs lint

Updated button type
  app/assets/javascripts/jobs/components/manual_variables_form.vue
  changelogs/unreleased/selhorn-manual-pipeline.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create test case table and model
  changelogs/unreleased/issue_233479_create_db_and_models.yml
  db/migrate/20200819140131_create_test_cases.rb
  db/schema_migrations/20200819140131
  db/structure.sql
  ee/app/models/ee/internal_id_enums.rb
  ee/app/models/ee/project.rb
  ee/app/models/quality.rb
  ee/app/models/quality/test_case.rb
  ee/spec/factories/quality/test_case.rb
  ee/spec/models/quality/test_case_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update Secure-Binaries.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/Secure-Binaries.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP
  app/assets/javascripts/pages/search/show/index.js
  app/assets/javascripts/search/status_filter/components/app.vue
  app/assets/javascripts/search/status_filter/index.js
  app/views/search/_results.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adjusted code as it was missing some detail
  app/assets/javascripts/ide/components/commit_sidebar/form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix doc for working from feature branches
  doc/topics/git/feature_branch_development.md
Due: docs lint

Revert bad commit
  doc/topics/git/feature_branch_development.md
Due: docs lint
