Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Correct some spelling mistakes in the project_delete_button component
  app/assets/javascripts/projects/components/project_delete_button.vue
  changelogs/unreleased/correct-project-delete-button-spelling-mistakes.yml
  locale/gitlab.pot
  spec/frontend/projects/components/__snapshots__/project_delete_button_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Ignore known restore from backup errors
  lib/backup/database.rb
  spec/lib/backup/database_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Only display downgraded message if on free plan
  ee/changelogs/unreleased/jswain_expiring_subscription_downgrade.yml
  ee/lib/gitlab/expiring_subscription_message.rb
  ee/spec/features/admin/licenses/admin_views_license_spec.rb
  ee/spec/lib/gitlab/expiring_subscription_message_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update interacting with vulns auto-remediation docs
  doc/user/application_security/vulnerabilities/index.md
Due: docs lint

Add todo_button to design sidebar
  app/assets/javascripts/design_management/components/design_sidebar.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Set is-todo prop for design todo-button
  app/assets/javascripts/design_management/components/design_sidebar.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add design_management_todo_button feature flag
  app/assets/javascripts/design_management/components/design_sidebar.vue
  app/controllers/projects/issues_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add tests for design sidebar To-Do button
  app/assets/javascripts/design_management/components/design_sidebar.vue
  spec/frontend/design_management/components/design_sidebar_spec.js
  spec/frontend/design_management/pages/design/__snapshots__/index_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add FF yml for design management todo btn
  config/feature_flags/development/design_management_todo_button.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use feature flag mixin
  app/assets/javascripts/design_management/components/design_sidebar.vue
  spec/frontend/design_management/components/design_sidebar_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move feature flag views to core
  app/views/projects/feature_flags/_errors.html.haml
  app/views/projects/feature_flags/edit.html.haml
  app/views/projects/feature_flags/index.html.haml
  app/views/projects/feature_flags/new.html.haml
  app/views/projects/feature_flags_user_lists/edit.html.haml
  app/views/projects/feature_flags_user_lists/new.html.haml
  app/views/projects/feature_flags_user_lists/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add backticks around "master" in "master branch"
  doc/ci/environments/deployment_safety.md
  doc/development/contributing/merge_request_workflow.md
Due: docs lint

Fix package row selector
  app/assets/javascripts/packages/shared/components/package_list_row.vue
  app/views/projects/packages/packages/_legacy_package_list.html.haml
  locale/gitlab.pot
  qa/qa/page/project/packages/index.rb
  spec/frontend/packages/shared/components/__snapshots__/package_list_row_spec.js.snap
  spec/support/shared_examples/features/packages_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add a new rubocop for `UploadedFile.from_params`
  .rubocop.yml
  rubocop/cop/gitlab/avoid_uploaded_file_from_params.rb
  spec/rubocop/cop/gitlab/avoid_uploaded_file_from_params_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply review feedback
  rubocop/cop/gitlab/avoid_uploaded_file_from_params.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add redis_chll_counters to usage data
  lib/gitlab/usage_data.rb
  lib/gitlab/usage_data_counters/hll_redis_counter.rb
  spec/lib/gitlab/usage_data_counters/hll_redis_counter_spec.rb
  spec/lib/gitlab/usage_data_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename totals to weekly monthly
  lib/gitlab/usage_data_counters/hll_redis_counter.rb
  spec/lib/gitlab/usage_data_counters/hll_redis_counter_spec.rb
  spec/lib/gitlab/usage_data_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Check original categories in tests
  spec/lib/gitlab/usage_data_counters/hll_redis_counter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update Secret-Detection template to use commits file
  changelogs/unreleased/secret-detection-commits-file.yml
  lib/gitlab/ci/templates/Security/Secret-Detection.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rollout security navbar to all created users
  ee/app/helpers/ee/groups_helper.rb
  ee/app/helpers/ee/projects_helper.rb
  ee/spec/helpers/ee/groups_helper_spec.rb
  ee/spec/helpers/projects_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove weight from sidebar for incidents
  app/models/concerns/issuable.rb
  app/views/shared/issuable/form/_metadata.html.haml
  ee/app/graphql/ee/types/issue_type.rb
  ee/app/models/concerns/ee/issuable.rb
  ee/app/models/ee/issue.rb
  ee/app/models/ee/milestone.rb
  ee/app/serializers/ee/issuable_sidebar_basic_entity.rb
  ee/app/serializers/ee/issue_board_entity.rb
  ee/app/serializers/ee/issue_entity.rb
  ee/app/serializers/ee/issue_sidebar_basic_entity.rb
  ee/app/services/ee/issuable_base_service.rb
  ee/app/views/shared/issuable/_sidebar_weight.html.haml
  ee/app/views/shared/issuable/form/_weight.html.haml
  ee/app/views/shared/milestones/_weight.html.haml
  ee/changelogs/unreleased/229971-remove-weight-incidents.yml
  ee/lib/ee/api/entities/issue_basic.rb
  ee/lib/ee/gitlab/quick_actions/issue_and_merge_request_actions.rb
  ee/spec/models/concerns/ee/issuable_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove invalid S3 Action and split bucket level actions
  doc/install/aws/index.md
Due: docs lint

Updated screenshots and improved content flow
  doc/user/application_security/img/adding_a_dismissal_reason_v13_0.png
  doc/user/application_security/img/adding_a_dismissal_reason_v13_4.png
  doc/user/application_security/img/create_issue_with_list_hover.png
  doc/user/application_security/img/create_mr_from_vulnerability_v13_4.png
  doc/user/application_security/index.md
Due: docs lint

Show multiple builds for coverage
  app/assets/javascripts/vue_merge_request_widget/components/mr_widget_pipeline.vue
  app/assets/javascripts/vue_merge_request_widget/components/mr_widget_pipeline_container.vue
  app/assets/javascripts/vue_merge_request_widget/stores/mr_widget_store.js
  changelogs/unreleased/15399-show-multiple-jobs-for-coverage.yml
  locale/gitlab.pot
  spec/frontend/vue_mr_widget/components/mr_widget_pipeline_spec.js
  spec/frontend/vue_mr_widget/mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Show Ongoing Alert for Environment
  app/assets/javascripts/environments/components/environments_table.vue
  app/assets/javascripts/environments/folder/environments_folder_bundle.js
  app/assets/javascripts/environments/folder/environments_folder_view.vue
  app/assets/javascripts/environments/index.js
  app/assets/javascripts/environments/mixins/canary_callout_mixin.js
  app/views/projects/environments/folder.html.haml
  app/views/projects/environments/index.html.haml
  ee/app/assets/javascripts/environments/components/environment_alert.vue
  ee/app/assets/javascripts/environments/graphql/queries/environment.query.graphql
  ee/changelogs/unreleased/show-alert-on-environments.yml
  ee/spec/frontend/environments/environment_alert_spec.js
  ee/spec/frontend/environments/environments_table_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Modify invalid Snippet response codes
  app/services/snippets/base_service.rb
  spec/services/snippets/create_service_spec.rb
  spec/services/snippets/update_service_spec.rb
  spec/support/shared_examples/services/snippets_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog for modifying snippet status codes
  changelogs/unreleased/vij-snippet-status-codes.yml
  spec/requests/api/snippets_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Drop DinD for SAST, DS
  changelogs/unreleased/220540-drop-ds-sast-dind.yml
  ee/spec/lib/gitlab/ci/templates/dependency_scanning_gitlab_ci_yaml_spec.rb
  ee/spec/lib/gitlab/ci/templates/sast_gitlab_ci_yaml_spec.rb
  lib/gitlab/ci/templates/Security/Dependency-Scanning.gitlab-ci.yml
  lib/gitlab/ci/templates/Security/SAST.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Resolve invite bug on inviting a user
  app/controllers/invites_controller.rb
  app/models/member.rb
  changelogs/unreleased/241359-nomethoderror-undefined-method-invite_email-for-actionview-outputb.yml
  spec/controllers/invites_controller_spec.rb
  spec/models/member_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create cluster agent graphql query
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/finders/clusters/agents_finder.rb
  ee/app/graphql/ee/types/project_type.rb
  ee/app/graphql/resolvers/clusters/agents_resolver.rb
  ee/changelogs/unreleased/emilyring-agent-graphql-query.yml
  ee/spec/finders/clusters/agents_finder_spec.rb
  ee/spec/graphql/resolvers/clusters/agents_resolver_spec.rb
  ee/spec/graphql/types/project_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Restricted visibility levels setting
  app/assets/javascripts/snippets/components/edit.vue
  app/assets/javascripts/snippets/components/snippet_visibility_edit.vue
  app/assets/javascripts/snippets/constants.js
  app/assets/javascripts/snippets/index.js
  app/assets/javascripts/snippets/queries/snippet_visibility.query.graphql
  app/assets/javascripts/snippets/utils/blob.js
  app/views/shared/snippets/_form.html.haml
  spec/frontend/snippets/components/__snapshots__/snippet_visibility_edit_spec.js.snap
  spec/frontend/snippets/components/edit_spec.js
  spec/frontend/snippets/components/snippet_visibility_edit_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update dependency @gitlab/ui to v20.18.3
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove keep_latest_artifacts_for_ref FF
  app/models/ci/ref.rb
  app/services/ci/destroy_expired_job_artifacts_service.rb
  changelogs/unreleased/mc-feature-remove-keep-latest-artifact-ff.yml
  db/migrate/20200826073745_add_default_to_ci_pipeline_locked.rb
  db/post_migrate/20200826121552_remove_ci_job_artifacts_locked.rb
  db/schema_migrations/20200826073745
  db/schema_migrations/20200826121552
  db/structure.sql
  doc/ci/yaml/README.md
  lib/gitlab/ci/features.rb
  lib/gitlab/ci/pipeline/chain/build.rb
  qa/qa/specs/features/ee/browser_ui/4_verify/locked_artifacts_spec.rb
  spec/models/ci/ref_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Touch merge request updated_at when assignees changed
  app/models/merge_request_assignee.rb
  changelogs/unreleased/pherlihy-master-patch-95213.yml
  spec/features/merge_request/user_assigns_themselves_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

NotificationsController - Handle mising parent notificationsetting
  app/finders/user_group_notification_settings_finder.rb
  changelogs/unreleased/fix_notificationsettings_page_nonexistent_parent.yml
  spec/finders/user_group_notification_settings_finder_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add similarity sorting for projects
  app/graphql/resolvers/namespace_projects_resolver.rb
  app/graphql/types/projects/namespace_project_sort_enum.rb
  app/models/project.rb
  changelogs/unreleased/similarity-sorting-of-projects-graphql-api.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/graphql/ee/resolvers/namespace_projects_resolver.rb
  ee/spec/graphql/ee/resolvers/namespace_projects_resolver_spec.rb
  lib/gitlab/graphql/pagination/keyset/conditions/base_condition.rb
  lib/gitlab/graphql/pagination/keyset/order_info.rb
  spec/graphql/resolvers/namespace_projects_resolver_spec.rb
  spec/lib/gitlab/graphql/pagination/keyset/connection_spec.rb
  spec/lib/gitlab/graphql/pagination/keyset/order_info_spec.rb
  spec/lib/gitlab/graphql/pagination/keyset/query_builder_spec.rb
  spec/requests/api/graphql/namespace/projects_spec.rb
  spec/support/shared_examples/graphql/sorted_paginated_query_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix path to runner API endpoints file
  doc/development/cicd/index.md
Due: docs lint

Replace v-html with v-safe-html in card_security_discover_app.vue
  ee/app/assets/javascripts/vue_shared/discover/card_security_discover_app.vue
  ee/changelogs/unreleased/241937-Replace-v-html.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use Applogger in lib/gitlab
  changelogs/unreleased/app-logger-17.yml
  lib/gitlab/auth/ldap/config.rb
  lib/gitlab/repository_cache_adapter.rb
  spec/lib/gitlab/auth/ldap/config_spec.rb
  spec/lib/gitlab/repository_cache_adapter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use applogger in update_mirror_worker, access.rb and group.rb
  changelogs/unreleased/app-logger-4.yml
  ee/app/workers/repository_update_mirror_worker.rb
  ee/lib/ee/gitlab/auth/ldap/access.rb
  ee/lib/ee/gitlab/auth/ldap/group.rb
  ee/spec/lib/ee/gitlab/auth/ldap/group_spec.rb
  lib/gitlab/auth/ldap/person.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
