Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Migrate haml button to our utility classes
  changelogs/unreleased/231166-migrate-haml-button.yml
  ee/app/views/shared/milestones/_burndown.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve Telemetry danger-bot
  danger/telemetry/Dangerfile
  lib/gitlab/danger/helper.rb
  spec/lib/gitlab/danger/helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix the links
  doc/topics/autodevops/customize.md
  doc/topics/autodevops/stages.md
  doc/topics/autodevops/upgrading_auto_deploy_dependencies.md
  doc/topics/autodevops/upgrading_chart.md
Due: docs lint

Update sort filter naming and structure
  app/assets/javascripts/packages/list/components/packages_sort.vue
  app/assets/javascripts/packages/list/constants.js
  app/assets/javascripts/packages/list/utils.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added some additional specs to check filters
  ee/app/assets/javascripts/analytics/cycle_analytics/components/duration_chart.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/stage_table.vue
  ee/spec/features/groups/analytics/cycle_analytics/filters_and_data_spec.rb
  ee/spec/frontend/analytics/cycle_analytics/components/__snapshots__/duration_chart_spec.js.snap
  ee/spec/frontend/analytics/cycle_analytics/components/duration_chart_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix `geo_package_file_replication` flag
  ee/config/feature_flags/development/geo_package_file_replication.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Only specs missing
  app/graphql/resolvers/snippets/blobs_resolver.rb
  app/graphql/types/snippet_type.rb
  spec/graphql/resolvers/snippets/blobs_resolver_spec.rb
  spec/graphql/types/snippet_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Hide apply batch suggestion button for single suggestions
  app/assets/javascripts/notes/components/note_body.vue
  app/assets/javascripts/notes/stores/getters.js
  app/assets/javascripts/vue_shared/components/markdown/suggestion_diff.vue
  app/assets/javascripts/vue_shared/components/markdown/suggestion_diff_header.vue
  app/assets/javascripts/vue_shared/components/markdown/suggestions.vue
  changelogs/unreleased/ph-224141-hideBatchSuggestionsWithOnlyOneSuggestion.yml
  spec/frontend/vue_shared/components/markdown/suggestion_diff_header_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update translation file
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add missing changelog
  changelogs/unreleased/225175-change-the-default-order-for-packages-in-the-package-registry-list.yml
Due: none

Fix graphql
  spec/graphql/features/feature_flag_spec.rb
  spec/graphql/types/base_field_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  changelogs/unreleased/display-contributor-and-author-badges-on-notes.yml
Due: none

Add merge feedback
  app/views/layouts/nav/sidebar/_project.html.haml
  spec/support/shared_contexts/navbar_structure_context.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix `license_compliance_denies_mr` feature flag
  ee/app/controllers/projects/licenses_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add `usage_data_i_source_code_code_intelligence` feature flag
  config/feature_flags/development/usage_data_i_source_code_code_intelligence.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add `graphql_releases_page` feature flag
  config/feature_flags/development/graphql_releases_page.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  ee/spec/helpers/projects_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add `approval_rule` feature flag
  spec/requests/api/usage_data_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add `approval_rule` feature flag
  ee/config/feature_flags/development/approval_rule.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Don't allow a default for reactive_cache_work_type
  app/models/clusters/platforms/kubernetes.rb
  app/models/concerns/reactive_caching.rb
  app/models/concerns/reactive_service.rb
  app/models/merge_request.rb
  doc/development/reactive_caching.md
  spec/models/concerns/reactive_caching_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

feat(GlButton): Refactor tests to default to mount
  spec/frontend/notes/components/note_form_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Make link local
  doc/user/project/issues/csv_import.md
Due: docs lint

Improve `bin/feature-flag` script
  bin/feature-flag
  lib/feature/shared.rb
  spec/bin/feature_flag_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add uploader for GitLab Pages deployments
  app/models/pages_deployment.rb
  app/uploaders/pages/deployment_uploader.rb
  config/gitlab.yml.example
  config/initializers/1_settings.rb
  spec/factories/pages_deployments.rb
  spec/support/helpers/stub_object_storage.rb
  spec/uploaders/pages/deployment_uploader_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update csv_import.md
  doc/user/project/issues/csv_import.md
Due: docs lint

Fix feature test and adjust costants
  app/assets/javascripts/packages/list/constants.js
  spec/support/shared_examples/features/packages_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Merge Request CSV export service
  spec/services/merge_requests/export_csv_service_spec.rb.orig
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update broken link
  doc/user/project/issues/csv_import.md
Due: docs lint

Update button icon
  ee/app/assets/javascripts/vue_shared/license_compliance/components/admin_license_management_row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add model specs
  spec/models/container_repository_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Change title in changelog
  ee/changelogs/unreleased/vs-send-email-to-ee-admin-user-count-threshold.yml
Due: none

Remove Rails/SaveBang offenses in project model specs
  .rubocop_todo.yml
  spec/models/project_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix spec for project_permissions_panel_data
  ee/spec/helpers/projects_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Rename Active Users to Billable Users
  app/views/admin/dashboard/stats.html.haml
  ee/app/views/admin/dashboard/_billable_users_text.html.haml
  ee/app/views/admin/licenses/_breakdown.html.haml
  ee/app/views/admin/licenses/_license_history.html.haml
  ee/changelogs/unreleased/vs-change-labels-to-billable-users.yml
  ee/spec/features/admin/admin_dashboard_spec.rb
  ee/spec/views/admin/dashboard/index.html.haml_spec.rb
  locale/gitlab.pot
  spec/features/admin/dashboard_spec.rb
  spec/views/admin/dashboard/index.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated suggestion diff snapshot
  spec/features/merge_request/user_suggests_changes_on_diff_spec.rb
  spec/frontend/vue_shared/components/markdown/__snapshots__/suggestion_diff_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Added dummy data to graphql startup calls
  app/views/layouts/_startup_js.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added and resolved the very first dummy call
  app/assets/javascripts/repository/index.js
  app/views/layouts/_startup_js.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixed a query
  app/assets/javascripts/repository/index.js
  app/views/layouts/_startup_js.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implemented startup query for last commit
  app/assets/javascripts/repository/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
