Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Apply 1 suggestion(s) to 1 file(s)
  doc/ci/cloud_deployment/index.md
Due: docs lint

Add cluster logs to protected environments
  db/migrate/20200803131900_create_protected_environment_clusters_logs_access_levels.rb
  db/structure.sql
  ee/app/models/ee/group.rb
  ee/app/models/ee/user.rb
  ee/app/models/protected_environment.rb
  ee/app/models/protected_environment/access_level.rb
  ee/app/models/protected_environment/clusters_logs_access_level.rb
  ee/app/models/protected_environment/deploy_access_level.rb
  ee/spec/models/protected_environment/clusters_logs_access_level_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix create incident selector
  app/assets/javascripts/incidents/components/incidents_list.vue
  qa/qa/page/project/operations/incidents/index.rb
  qa/qa/specs/features/ee/browser_ui/8_monitor/all_monitor_features_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Initial work on test report graphql
  app/assets/javascripts/pipelines/components/test_reports/test_reports.vue
  app/assets/javascripts/pipelines/graphql/fragments/test_report.fragment.graphql
  app/assets/javascripts/pipelines/graphql/fragments/test_suite_details.fragment.graphql
  app/assets/javascripts/pipelines/graphql/queries/get_test_report_summary.query.graphql
  app/assets/javascripts/pipelines/graphql/queries/get_test_suite_report.query.graphql
  app/assets/javascripts/pipelines/graphql/resolvers/test_report_resolvers.js
  app/assets/javascripts/pipelines/pipeline_details_test_report.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

More graphql work
  app/assets/javascripts/lib/graphql.js
  app/assets/javascripts/pipelines/components/test_reports/test_reports.vue
  app/assets/javascripts/pipelines/components/test_reports/test_suite_table.vue
  app/assets/javascripts/pipelines/components/test_reports/test_summary.vue
  app/assets/javascripts/pipelines/components/test_reports/test_summary_table.vue
  app/assets/javascripts/pipelines/graphql/fragments/test_report_summary.fragment.graphql
  app/assets/javascripts/pipelines/graphql/queries/get_test_report_summary.query.graphql
  app/assets/javascripts/pipelines/pipeline_details_bundle.js
  app/assets/javascripts/pipelines/pipeline_details_test_report.js
  app/views/projects/pipelines/_with_tabs.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Getting the resolvers to function
  app/assets/javascripts/pipelines/components/test_reports/test_reports.vue
  app/assets/javascripts/pipelines/components/test_reports/test_suite_table.vue
  app/assets/javascripts/pipelines/graphql/fragments/test_suite_details.fragment.graphql
  app/assets/javascripts/pipelines/graphql/queries/get_test_report_summary.query.graphql
  app/assets/javascripts/pipelines/graphql/queries/get_test_suite_report.query.graphql
  app/assets/javascripts/pipelines/graphql/queries/test_report.query.graphql
  app/assets/javascripts/pipelines/pipeline_details_test_report.js
  app/assets/javascripts/repository/graphql.js
  app/assets/javascripts/repository/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add test
  spec/services/suggestions/apply_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add label helps to epic API
  doc/api/epics.md
  ee/changelogs/unreleased/epic-add-labels.yml
  ee/lib/api/epics.rb
  ee/spec/requests/api/epics_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

fe wip
  ee/app/views/projects/protected_environments/_form.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Add project import steps
  app/services/import_export/callback/import_project_service.rb
  app/services/import_export/callback/import_service.rb
  app/services/import_export/gitlab_client.rb
  app/workers/import_export/callback/import_worker.rb
  lib/api/bulk_export.rb
  lib/gitlab/import_export/after_export_strategies/export_callback_strategy.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Show welcome page after sign up
  app/controllers/application_controller.rb
  app/controllers/registrations_controller.rb
  app/models/user.rb
  app/views/registrations/welcome.html.haml
  changelogs/unreleased/nicolasdular-welcome-step.yml
  ee/app/views/registrations/welcome.html.haml
  ee/app/views/registrations/welcome/_button.html.haml
  ee/app/views/registrations/welcome/_progress_bar.html.haml
  ee/app/views/registrations/welcome/_setup_for_company.html.haml
  ee/spec/features/registrations/welcome_spec.rb
  ee/spec/features/signup_spec.rb
  ee/spec/features/trial_registrations/signup_spec.rb
  ee/spec/views/registrations/welcome.html.haml_spec.rb
  locale/gitlab.pot
  spec/controllers/application_controller_spec.rb
  spec/controllers/registrations_controller_spec.rb
  spec/features/invites_spec.rb
  spec/features/users/signup_spec.rb
  spec/views/registrations/welcome_html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add ability to set reviewers on MRs
  app/controllers/projects/merge_requests/application_controller.rb
  app/models/concerns/issuable.rb
  app/services/issuable_base_service.rb
  ee/app/helpers/ee/form_helper.rb
  ee/app/models/ee/merge_request.rb
  ee/app/models/license.rb
  ee/app/services/ee/issuable_base_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Synchronously persist build trace chunks upon final update
  app/models/ci/build.rb
  app/models/ci/build_trace_chunk.rb
  lib/api/ci/runner.rb
  lib/gitlab/ci/trace.rb
  spec/lib/gitlab/ci/trace_spec.rb
  spec/models/ci/build_trace_chunk_spec.rb
  spec/requests/api/ci/runner/jobs_put_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

... wip
  ee/app/assets/javascripts/vue_shared/user_callouts/mixins/user_callouts_mixin.js
  ee/app/assets/javascripts/vue_shared/user_callouts/store/actions.js
  ee/app/assets/javascripts/vue_shared/user_callouts/store/index.js
  ee/app/assets/javascripts/vue_shared/user_callouts/store/mutations.js
  ee/app/assets/javascripts/vue_shared/user_callouts/store/mutations_types.js
  ee/app/assets/javascripts/vue_shared/user_callouts/store/state.js
  ee/spec/frontend/vue_shared/user_callouts/mixins/user_callouts_spec.js
  ee/spec/frontend/vue_shared/user_callouts/store/actions_spec.js
  ee/spec/frontend/vue_shared/user_callouts/store/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update vue-virtual-scroll-list dependency
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix failing rspec test
  spec/lib/api/helpers/packages/dependency_proxy_helpers_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Refactor the graphql changes
  app/assets/javascripts/pipelines/components/test_reports/test_reports.vue
  app/assets/javascripts/pipelines/components/test_reports/test_suite_table.vue
  app/assets/javascripts/pipelines/components/test_reports/test_summary.vue
  app/assets/javascripts/pipelines/components/test_reports/utils.js
  app/assets/javascripts/pipelines/graphql/queries/test_report.query.graphql
  app/assets/javascripts/pipelines/graphql/resolvers/test_report_resolvers.js
  app/assets/javascripts/pipelines/pipeline_details_test_report.js
  app/assets/javascripts/pipelines/stores/test_reports/actions.js
  app/assets/javascripts/pipelines/stores/test_reports/getters.js
  app/assets/javascripts/pipelines/stores/test_reports/index.js
  app/assets/javascripts/pipelines/stores/test_reports/mutation_types.js
  app/assets/javascripts/pipelines/stores/test_reports/mutations.js
  app/assets/javascripts/pipelines/stores/test_reports/state.js
  app/assets/javascripts/pipelines/stores/test_reports/utils.js
  app/views/projects/pipelines/_with_tabs.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adding a changelog
  changelogs/unreleased/vue-virtual-scroll-update.yml
Due: none

Update 1k_users.md Google Cloud allows for a link that stores your configs and calculates the cost. Should we add this to all of the reference architectures?
  doc/administration/reference_architectures/1k_users.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  changelogs/unreleased/update-mr-draft-regex.yml
Due: none

Draft: Align Draft Regex behavior for FE and BE
  app/assets/javascripts/issuable_form.js
  changelogs/unreleased/update-mr-draft-regex.yml
  doc/user/project/merge_requests/work_in_progress_merge_requests.md
  lib/gitlab/regex.rb
  spec/frontend/issuable_form_spec.js
  spec/models/commit_spec.rb
  spec/models/merge_request_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Allow managed cluster namespace customization
  app/finders/clusters/kubernetes_namespace_finder.rb
  app/models/ci/bridge.rb
  app/models/clusters/cluster.rb
  app/models/clusters/platforms/kubernetes.rb
  app/models/concerns/ci/contextable.rb
  app/models/project.rb
  app/services/clusters/build_kubernetes_namespace_service.rb
  lib/gitlab/ci/build/prerequisite/kubernetes_namespace.rb
  lib/gitlab/kubernetes/default_namespace.rb
  spec/finders/clusters/kubernetes_namespace_finder_spec.rb
  spec/lib/gitlab/kubernetes/default_namespace_spec.rb
  spec/models/project_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Tweak regex and tests so they align
  app/assets/javascripts/issuable_form.js
  doc/user/project/merge_requests/work_in_progress_merge_requests.md
  lib/gitlab/regex.rb
  spec/frontend/issuable_form_spec.js
  spec/models/commit_spec.rb
  spec/models/merge_request_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/ci/yaml/README.md
Due: docs lint

Add reviewers to serializers
  app/serializers/merge_request_basic_entity.rb
  app/serializers/merge_request_reviewer_entity.rb
  app/serializers/merge_request_sidebar_extras_entity.rb
  ee/app/serializers/ee/merge_request_reviewer_entity.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use let_it_be on users
  spec/services/notification_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Split migration into three and replace validation with unique index
  app/models/merge_request_reviewer.rb
  db/migrate/20200825071735_create_merge_request_reviewers.rb
  db/migrate/20200827060911_add_merge_request_foreign_key_to_merge_request_reviewers.rb
  db/migrate/20200827060932_add_user_foreign_key_to_merge_request_reviewers.rb
  db/schema_migrations/20200827060911
  db/schema_migrations/20200827060932
  db/structure.sql
  spec/models/merge_request_reviewer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Dast test pipline
  .gitlab-ci.yml
  .gitlab/ci/dast.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Dast test pipline2
  .gitlab/ci/dast.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove rule to seperate rules
  .gitlab/ci/review.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable Ruby JIT for the test suite
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

docs(project-settings): correct project access token docs
  doc/user/project/settings/project_access_tokens.md
Due: docs lint

Use ruby2.7 defaults for jit-max-cache and jit-min-calls
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add group importer usage ping
  app/models/group_import_state.rb
  app/services/groups/import_export/import_service.rb
  db/migrate/20200826154949_add_group_import_states_index_on_group_id_status_created_at.rb
  db/migrate/20200827094621_add_user_id_to_group_import_states.rb
  db/migrate/20200827152022_update_group_import_state_user_id.rb
  db/schema_migrations/20200826154949
  db/schema_migrations/20200827094621
  db/schema_migrations/20200827152022
  db/structure.sql
  lib/gitlab/usage_data.rb
  spec/lib/gitlab/usage_data_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch 'security-add-presence-validation-to-oauth-applications' into 'master'"
  app/services/applications/create_service.rb
  ee/changelogs/unreleased/security-add-presence-validation-to-oauth-applications.yml
  ee/spec/controllers/admin/applications_controller_spec.rb
  ee/spec/controllers/oauth/applications_controller_spec.rb
  ee/spec/services/applications/create_service_spec.rb
  lib/gitlab/auth.rb
  spec/controllers/admin/applications_controller_spec.rb
  spec/controllers/oauth/applications_controller_spec.rb
  spec/controllers/oauth/authorizations_controller_spec.rb
  spec/features/admin/admin_manage_applications_spec.rb
  spec/features/profiles/user_manages_applications_spec.rb
  spec/lib/gitlab/auth_spec.rb
  spec/requests/openid_connect_spec.rb
  spec/services/applications/create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add helper for snowplow tests
  spec/lib/gitlab/metrics/dashboard/stages/track_panel_type_spec.rb
  spec/support/snowplow.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check
