Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Update supported languages for Dependency scanning
  doc/user/application_security/dependency_scanning/index.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  lib/api/helpers/packages/dependency_proxy_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

experimenting with ideas
  lib/gitlab/i18n.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test new Danger rule
  ee/app/assets/javascripts/epic/components/epic_create.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert 9c12039f
  app/assets/javascripts/close_reopen_report_toggle.js
  app/assets/javascripts/issue.js
  app/assets/javascripts/merge_request.js
  app/assets/javascripts/notes/components/comment_form.vue
  app/assets/javascripts/notes/stores/actions.js
  app/helpers/issuables_helper.rb
  app/views/shared/issuable/_close_reopen_button.html.haml
  app/views/shared/issuable/_close_reopen_report_toggle.html.haml
  ee/app/views/projects/issues/_alert_blocked.html.haml
  ee/spec/features/merge_request/user_selects_branches_for_new_mr_spec.rb
  ee/spec/frontend/issue_spec.js
  locale/gitlab.pot
  spec/features/issuables/close_reopen_report_toggle_spec.rb
  spec/features/merge_request/user_closes_merge_request_spec.rb
  spec/features/merge_request/user_reopens_merge_request_spec.rb
  spec/features/task_lists_spec.rb
  spec/frontend/close_reopen_report_toggle_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add latest changes to files
  app/views/shared/issuable/_close_reopen_report_toggle.html.haml
  ee/spec/features/issues/issue_sidebar_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add navbar link, page, and button
  ee/app/controllers/groups/repositories_analytics_controller.rb
  ee/app/helpers/ee/analytics/navbar_helper.rb
  ee/app/helpers/ee/groups_helper.rb
  ee/app/views/groups/repositories_analytics/show.html.haml
  ee/config/routes/group.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add license check for sidebar link
  ee/app/helpers/ee/groups_helper.rb
  ee/app/models/license.rb
  ee/app/policies/ee/group_policy.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add documentation and changelog
  doc/user/group/index.md
  doc/user/group/repositories_analytics/index.md
  ee/changelogs/unreleased/mf-group-coverage-data-download-frontend.yml
Due: docs lint

Rename to group repository (singular) analytics
  ee/app/controllers/groups/analytics/repository_analytics_controller.rb
  ee/app/controllers/groups/repositories_analytics_controller.rb
  ee/app/helpers/ee/analytics/navbar_helper.rb
  ee/app/models/license.rb
  ee/app/policies/ee/group_policy.rb
  ee/app/views/groups/analytics/repository_analytics/show.html.haml
  ee/config/routes/group.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refine based on review feedback
  doc/user/group/index.md
  doc/user/group/repositories_analytics/index.md
  ee/app/controllers/groups/analytics/repository_analytics_controller.rb
  ee/app/helpers/ee/groups_helper.rb
  ee/app/views/groups/analytics/repository_analytics/show.html.haml
  ee/spec/controllers/groups/analytics/repository_analytics_controller_spec.rb
  ee/spec/policies/group_policy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Also check for group coverage reports feature flag
  ee/app/controllers/groups/analytics/repository_analytics_controller.rb
  ee/app/helpers/ee/analytics/navbar_helper.rb
  ee/config/routes/group.rb
  ee/spec/controllers/groups/analytics/repository_analytics_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refine controller spec according to feedback
  ee/spec/controllers/groups/analytics/repository_analytics_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Adds plan to namespaces in user membership API
  lib/api/entities/membership.rb
  spec/fixtures/api/schemas/public_api/v4/membership.json
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move foss test file detection to prepare stage
  .gitlab/ci/rails.gitlab-ci.yml
  .gitlab/ci/setup.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add test detection for changes to canonical codebase
  .gitignore
  .gitlab/ci/rails.gitlab-ci.yml
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/setup.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add "Testing Vue components" section to styleguide
  doc/development/fe_guide/style/vue.md
Due: docs lint

Define "mounting a component" steps more clearly
  doc/development/fe_guide/style/vue.md
Due: docs lint

Add link to vue testing style guide to main guide
  doc/development/fe_guide/vue.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/development/fe_guide/style/vue.md
Due: docs lint

Address reviewer feedback
  doc/development/fe_guide/style/vue.md
Due: docs lint

Add missing space
  doc/development/fe_guide/style/vue.md
Due: docs lint

Fix JavaScript capitilization
  doc/development/fe_guide/style/vue.md
Due: docs lint

Include child pipelines in latest sucessful build
  app/models/ci/pipeline.rb
  app/models/project.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

fixup! fixup! Enable usage ping on Geo secondaries
  ee/changelogs/unreleased/ag-add-usage-ping-for-secondary.yml
Due: none

apply review changes
  spec/models/merge_request_spec.rb
  spec/services/merge_requests/merge_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Prevent MR to be dropped from Merge Trains for open discussions
  app/assets/javascripts/vue_merge_request_widget/stores/get_state_key.js
  app/models/merge_request.rb
  app/services/merge_requests/merge_service.rb
  ee/app/models/ee/merge_request.rb
  ee/app/services/merge_trains/refresh_merge_request_service.rb
  ee/spec/services/merge_trains/refresh_merge_request_service_spec.rb
  spec/models/merge_request_spec.rb
  spec/services/merge_requests/merge_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix failing test
  spec/lib/api/helpers/packages/dependency_proxy_helpers_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Design-Management: use GlobalID scalar
  app/graphql/resolvers/design_management/design_at_version_resolver.rb
  app/graphql/resolvers/design_management/design_resolver.rb
  app/graphql/resolvers/design_management/designs_resolver.rb
  app/graphql/resolvers/design_management/version/design_at_version_resolver.rb
  app/graphql/resolvers/design_management/version/designs_at_version_resolver.rb
  app/graphql/resolvers/design_management/version_in_collection_resolver.rb
  app/graphql/resolvers/design_management/version_resolver.rb
  app/graphql/resolvers/design_management/versions_resolver.rb
  spec/graphql/resolvers/design_management/design_resolver_spec.rb
  spec/graphql/resolvers/design_management/designs_resolver_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Run prettier over graphql files
  app/assets/javascripts/design_management/graphql/queries/get_design.query.graphql
  app/assets/javascripts/design_management_legacy/graphql/queries/get_design.query.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update GraphQL documentation
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update error expectation
  spec/graphql/resolvers/design_management/design_resolver_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Design-Management: Update types in our graphql queries
  app/assets/javascripts/design_management/graphql/queries/get_design.query.graphql
  app/assets/javascripts/design_management/graphql/queries/get_design_list.query.graphql
  app/assets/javascripts/design_management_legacy/graphql/queries/get_design.query.graphql
  app/assets/javascripts/design_management_legacy/graphql/queries/get_design_list.query.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update GraphQL documentation
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use GlobalID types in discussions
  app/graphql/mutations/discussions/toggle_resolve.rb
  app/graphql/types/notes/discussion_type.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use GlobalID in error tracking
  app/graphql/resolvers/error_tracking/sentry_detailed_error_resolver.rb
  app/graphql/resolvers/error_tracking/sentry_error_stack_trace_resolver.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Geo: use GlobalID scalar
  ee/app/graphql/resolvers/geo/registries_resolver.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use GlobalID in metrics
  app/graphql/mutations/metrics/dashboard/annotations/create.rb
  app/graphql/mutations/metrics/dashboard/annotations/delete.rb
  spec/requests/api/graphql/mutations/metrics/dashboard/annotations/create_spec.rb
  spec/requests/api/graphql/mutations/metrics/dashboard/annotations/delete_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
