Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Remove duplicate index on cluster_agents
  changelogs/unreleased/244484-remove-redundant-cluster-agents-index.yml
  db/migrate/20200921203231_remove_duplicate_cluster_agents_index.rb
  db/schema_migrations/20200921203231
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update failing specs and show
  app/controllers/projects/incidents_controller.rb
  app/views/projects/incidents/show.html.haml
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Minor spacing edits
  doc/development/documentation/styleguide.md
Due: docs lint

Move feature flag serializers into core
  app/serializers/feature_flag_entity.rb
  app/serializers/feature_flag_scope_entity.rb
  app/serializers/feature_flag_serializer.rb
  app/serializers/feature_flag_summary_entity.rb
  app/serializers/feature_flag_summary_serializer.rb
  app/serializers/feature_flags/scope_entity.rb
  app/serializers/feature_flags/strategy_entity.rb
  app/serializers/feature_flags/user_list_entity.rb
  app/serializers/feature_flags_client_entity.rb
  app/serializers/feature_flags_client_serializer.rb
  spec/serializers/feature_flag_entity_spec.rb
  spec/serializers/feature_flag_serializer_spec.rb
  spec/serializers/feature_flag_summary_entity_spec.rb
  spec/serializers/feature_flag_summary_serializer_spec.rb
  spec/serializers/feature_flags_client_serializer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

DAST site profiles: support validation path
  ee/app/assets/javascripts/dast_site_profiles_form/components/dast_site_validation.vue
  ee/app/assets/javascripts/dast_site_profiles_form/graphql/dast_site_validation_create.mutation.graphql
  ee/spec/frontend/dast_site_profiles_form/components/dast_site_validation_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/development/telemetry/snowplow.md
Due: docs lint

Disable Sidekiq on Rails nodes
  doc/administration/reference_architectures/50k_users.md
Due: docs lint

feat: add method to detect of policy is for a detected license
  ee/app/models/sca/license_policy.rb
  ee/spec/factories/ci/reports/license_scanning/license.rb
  ee/spec/models/sca/license_policy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/user/project/repository/repository_mirroring.md
Due: docs lint

refactor: update diff to return license policies instead of reported licenses
  ee/app/models/sca/license_compliance.rb
  ee/spec/models/sca/license_compliance_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Count merged MRs using approval rules
  ee/app/models/approval_merge_request_rule.rb
  lib/gitlab/usage_data.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Clarify that kubernetes is a button under a group sidebar tab
  doc/user/group/clusters/index.md
Due: docs lint

Tidy tone and style on Kubernetes integrations
  doc/development/kubernetes.md
Due: docs lint

Add Security section to GitLab Pages documentation
  doc/user/project/pages/index.md
Due: docs lint

Docs: Fix links with here in them
  doc/administration/object_storage.md
  doc/administration/troubleshooting/kubernetes_cheat_sheet.md
  doc/ci/runners/README.md
  doc/ci/variables/README.md
  doc/raketasks/backup_restore.md
  doc/user/packages/container_registry/index.md
  doc/user/snippets.md
Due: docs lint

Fix inaccurate gitlab_employee? tests
  ee/spec/models/user_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update pypi install command
  app/assets/javascripts/packages/details/store/getters.js
  spec/frontend/packages/details/store/getters_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog and update docs
  changelogs/unreleased/42916-pypi-install-command.yml
  doc/user/packages/pypi_repository/index.md
Due: docs lint

WIP
  app/assets/javascripts/whats_new/components/app.vue
  app/assets/javascripts/whats_new/index.js
  app/controllers/whats_new_controller.rb
  app/helpers/whats_new_helper.rb
  app/views/layouts/header/_default.html.haml
  config/routes.rb
  lib/gitlab/whats_new.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update vendor templates for Go
  vendor/Dockerfile/Golang-alpine.Dockerfile
  vendor/Dockerfile/Golang-scratch.Dockerfile
  vendor/Dockerfile/Golang.Dockerfile
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog
  changelogs/unreleased/42917_golang_vendor_templates.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  ee/lib/elastic/latest/issue_class_proxy.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  lib/gitlab/search_results.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

delete changelog
  changelogs/unreleased/238314-search-ui-implement-issue-scope-results-filter-by-confidentiality-.yml
Due: none

Apply 2 suggestion(s) to 2 file(s)
  qa/qa/resource/merge_request.rb
  qa/qa/specs/features/api/3_create/merge_request/push_options_labels_spec.rb
Due: graphql-reference-verify, pages, cache gems

Strip markdown from all og:description meta tags
  app/views/layouts/group.html.haml
  app/views/layouts/project.html.haml
  app/views/projects/issues/show.html.haml
  app/views/projects/merge_requests/show.html.haml
  app/views/projects/milestones/show.html.haml
  app/views/users/show.html.haml
  changelogs/unreleased/nfriend-strip-markdown-from-og-description.yml
  ee/app/views/groups/epics/show.html.haml
  ee/app/views/projects/security/vulnerabilities/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add specs for issue resolver sorting
  app/models/issue.rb
  ee/spec/graphql/ee/resolvers/issues_resolver_spec.rb
  ee/spec/graphql/ee/types/issue_sort_enum_spec.rb
  ee/spec/models/issue_spec.rb
  spec/graphql/resolvers/issues_resolver_spec.rb
  spec/graphql/types/issue_sort_enum_spec.rb
  spec/models/issue_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update graphql docs
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move feature flags client token schema
  spec/fixtures/api/schemas/feature_flags_client_token.json
  spec/serializers/feature_flags_client_serializer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Ignore rake task license check on geo secondaries
  changelogs/unreleased/ignore-geo-check-license-check-on-secondaries.yml
  ee/lib/system_check/geo/license_check.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Edit Gitaly timeouts documentation
  doc/administration/gitaly/index.md
  doc/user/admin_area/settings/gitaly_timeouts.md
  doc/user/admin_area/settings/img/gitaly_timeouts.png
Due: docs lint

Add reviewer feedback
  spec/factories/wikis.rb
  spec/models/wiki_page_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Convert milestone.scss into page specific bundle
  app/assets/stylesheets/_page_specific_files.scss
  app/assets/stylesheets/page_bundles/milestone.scss
  app/views/dashboard/milestones/index.html.haml
  app/views/groups/milestones/index.html.haml
  app/views/groups/milestones/show.html.haml
  app/views/projects/milestones/index.html.haml
  app/views/projects/milestones/show.html.haml
  config/application.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Allow scoped feature flag toggling
  qa/qa/runtime/feature.rb
  qa/qa/scenario/template.rb
  qa/spec/runtime/feature_spec.rb
Due: graphql-reference-verify, pages, cache gems

Remove redundant code from Project::JobsController#show
  app/controllers/projects/jobs_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add E2E for personal snippet with multiple files
  app/assets/javascripts/snippets/components/snippet_blob_actions_edit.vue
  app/assets/javascripts/snippets/components/snippet_blob_edit.vue
  qa/qa/page/component/new_snippet.rb
  qa/qa/page/component/snippet.rb
  qa/qa/resource/snippet.rb
  qa/qa/specs/features/browser_ui/3_create/snippet/create_personal_snippet_with_multiple_files_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

--wip-- [skip ci]
  app/controllers/projects/tags_controller.rb
  app/views/projects/tags/_tag.html.haml
  app/views/projects/tags/destroy.js.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add projects_creating_incidents to usage ping
  lib/gitlab/usage_data.rb
  spec/lib/gitlab/usage_data_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog file
  changelogs/unreleased/233719-project-creating-incidents-usage-ping.yml
Due: none

Allow designs to mutate when issue is moved/locked
  app/policies/issue_policy.rb
  spec/policies/design_management/design_policy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
