Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Add revoke button to managed groups credentials inventory
  ee/app/controllers/admin/credentials_controller.rb
  ee/app/controllers/groups/security/credentials_controller.rb
  ee/app/helpers/credentials_inventory_helper.rb
  ee/app/views/shared/credentials_inventory/personal_access_tokens/_personal_access_token.html.haml
  ee/changelogs/unreleased/214811-add-revoke-buttons-to-the-pat-tab-of-the-group-credential-inventory.yml
  ee/config/routes/group.rb
  ee/spec/controllers/groups/security/credentials_controller_spec.rb
  ee/spec/views/shared/credentials_inventory/personal_access_tokens/_personal_access_token.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add email notifications for merge request reviewers
  app/mailers/emails/merge_requests.rb
  app/models/merge_request.rb
  app/models/notification_reason.rb
  app/models/notification_setting.rb
  app/services/issuable_base_service.rb
  app/services/merge_requests/update_service.rb
  app/services/notification_recipients/builder/default.rb
  app/services/notification_service.rb
  app/views/notify/changed_reviewer_merge_request_email.html.haml
  app/views/notify/changed_reviewer_merge_request_email.text.erb
  db/migrate/20200909083339_add_change_reviewer_merge_request_to_notification_settings.rb
  db/schema_migrations/20200909083339
  db/structure.sql
  ee/spec/models/ee/notification_setting_spec.rb
  locale/gitlab.pot
  spec/models/merge_request_spec.rb
  spec/models/notification_setting_spec.rb
  spec/services/merge_requests/update_service_spec.rb
  spec/services/notification_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Object storage for job artifacts with or without incremental logging
  doc/administration/job_artifacts.md
Due: docs lint

Update object_storage.md
  doc/administration/object_storage.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/administration/object_storage.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  danger/roulette/Dangerfile
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Move keyboard shortcut help modal to Vue
  .haml-lint_todo.yml
  app/assets/javascripts/behaviors/shortcuts/shortcuts.js
  app/assets/javascripts/behaviors/shortcuts/shortcuts_help.vue
  app/views/help/_shortcuts.html.haml
  app/views/help/shortcuts.js.haml
  spec/features/projects/user_uses_shortcuts_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update button labels and introduce split dropdowns
  app/assets/javascripts/batch_comments/components/draft_note.vue
  app/assets/javascripts/batch_comments/components/preview_dropdown.vue
  app/assets/javascripts/batch_comments/components/publish_button.vue
  app/assets/javascripts/batch_comments/components/review_bar.vue
  app/assets/javascripts/notes/components/note_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Use temporary branch for Gitaly
  GITALY_SERVER_VERSION
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add CI_JOB_STATUS predefined variable to documentation
  doc/ci/variables/predefined_variables.md
Due: docs lint

Replace Authorize instrument with gem auth
  lib/gitlab/graphql/authorize/authorize_resource.rb
  spec/graphql/features/authorization_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add specs for new validation
  app/models/namespace_setting.rb
  spec/models/namespace_setting_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP
  ee/app/models/ee/merge_request_diff.rb
  ee/app/replicators/geo/merge_request_diff_replicator.rb
  ee/lib/gitlab/geo/replicator.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate to GlButton in "Update username"
  app/assets/javascripts/profile/account/components/update_username.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

fixing specs
  ee/app/assets/javascripts/on_demand_scans/components/on_demand_scans_form.vue
  ee/spec/frontend/on_demand_scans/components/on_demand_scans_form_spec.js
  ee/spec/frontend/on_demand_scans/components/on_demand_scans_profile_selector_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix chatbot replies not including job log
  lib/gitlab/chat/output.rb
  spec/lib/gitlab/chat/output_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

squash!
  changelogs/unreleased/ak-fix-chatbot-replies.yml
Due: none

Export tool to export group tree with projects
  changelogs/unreleased/kassio-restoration-export-tool.yml
  lib/gitlab/restore/export_task.rb
  lib/tasks/gitlab/restore/export.rake
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 4 suggestion(s) to 1 file(s)
  doc/administration/job_artifacts.md
Due: docs lint

Filter board issues by epic ids
  app/graphql/resolvers/board_list_issues_resolver.rb
  ee/app/services/ee/boards/issues/list_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix replication view for terraform
  ee/app/assets/javascripts/geo_replicable/graphql/replicable_type_query_builder.js
  ee/app/assets/javascripts/geo_replicable/store/actions.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds diff component, updates code to use user's theme
  app/assets/stylesheets/pages/reports.scss
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/code.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/diff.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Introduce association between Ci::Pipeline and Security::Finding
  ee/app/models/ee/ci/pipeline.rb
  ee/spec/models/ci/pipeline_spec.rb
  spec/lib/gitlab/import_export/all_models.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add `.by_scan_types` and `.has_dismissal_feedback` scopes
  ee/app/models/security/scan.rb
  ee/spec/models/security/scan_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add filtering & ordering scopes to Security::Finding model
  ee/app/models/security/finding.rb
  ee/spec/models/ci/pipeline_spec.rb
  ee/spec/models/security/finding_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds markdown field type
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/dyn_type.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/diff.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/markdown.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Extend Vulnerability & Finding model interfaces
  ee/app/models/security/finding.rb
  ee/app/models/vulnerabilities/finding.rb
  ee/app/models/vulnerability.rb
  ee/spec/models/security/finding_spec.rb
  ee/spec/models/vulnerability_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement Security::FindingsFinder class
  ee/app/finders/security/findings_finder.rb
  ee/app/finders/security/pipeline_vulnerabilities_finder.rb
  ee/app/models/ee/ci/pipeline.rb
  ee/lib/api/vulnerability_findings.rb
  ee/spec/finders/security/findings_finder_spec.rb
  ee/spec/finders/security/pipeline_vulnerabilities_finder_spec.rb
  ee/spec/models/ci/pipeline_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/user/gitlab_com/index.md
Due: docs lint

Add reviewer feature description
  doc/user/project/merge_requests/getting_started.md
Due: docs lint

Make it work
  app/controllers/graphql_controller.rb
  app/graphql/resolvers/ci/daily_build_group_report_result_resolver.rb
  app/graphql/types/ci/daily_build_group_report_result_type.rb
  app/graphql/types/project_type.rb
  doc/api/graphql/reference/index.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add labels selector to swimlanes sidebar
  app/assets/javascripts/vue_shared/components/sidebar/labels_select_vue/labels_select_root.vue
  ee/app/assets/javascripts/boards/components/board_content_sidebar.vue
  ee/app/assets/javascripts/boards/components/sidebar/board_sidebar_item.vue
  ee/app/assets/javascripts/boards/components/sidebar/labels_selector.vue
  ee/app/assets/javascripts/boards/queries/search_group_labels.query.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add group level delete api to packages
  doc/api/packages.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/api/packages.md
Due: docs lint

Global Search - Bold Issue Search Term
  app/assets/stylesheets/pages/search.scss
  app/helpers/search_helper.rb
  app/views/search/results/_issue.html.haml
  changelogs/unreleased/244427-bold-search-term-issues.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP
  app/assets/stylesheets/pages/search.scss
  app/helpers/search_helper.rb
  app/views/search/results/_issue.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP Remove delete step in package specs for testing
  qa/qa/specs/features/browser_ui/5_package/maven_repository_spec.rb
  qa/qa/specs/features/browser_ui/5_package/npm_registry_spec.rb
Due: graphql-reference-verify, pages, cache gems
