Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Add clean structure.sql
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update specs and pot file
  config/routes/profile.rb
  ee/spec/features/users/login_spec.rb
  locale/gitlab.pot
  spec/db/schema_spec.rb
  spec/factories/u2f_registrations.rb
  spec/factories/users.rb
  spec/features/u2f_spec.rb
  spec/models/user_spec.rb
  spec/support/helpers/login_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix linting and specs
  .haml-lint_todo.yml
  app/assets/javascripts/pages/ldap/omniauth_callbacks/index.js
  app/assets/javascripts/pages/omniauth_callbacks/index.js
  app/assets/stylesheets/pages/profile.scss
  app/controllers/concerns/authenticates_with_two_factor.rb
  app/controllers/sessions_controller.rb
  ee/app/assets/javascripts/pages/groups/omniauth_callbacks/index.js
  spec/controllers/sessions_controller_spec.rb
  spec/frontend/fixtures/u2f.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix karma test by switching key order in convertXResponse
  app/assets/javascripts/webauthn/util.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Prettify, regenerate locale
  app/assets/javascripts/webauthn/util.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor to reduce code-duplication between U2F and WebAuthn
  Gemfile
  app/assets/javascripts/pages/ldap/omniauth_callbacks/index.js
  app/assets/javascripts/pages/omniauth_callbacks/index.js
  app/assets/javascripts/pages/sessions/index.js
  app/assets/javascripts/shared/2fa/index.js
  app/assets/javascripts/shared/2fa/u2f.js
  app/assets/javascripts/shared/2fa/webauthn.js
  app/controllers/concerns/authenticates_with_two_factor.rb
  app/controllers/profiles/two_factor_auths_controller.rb
  app/controllers/profiles/webauthn_registrations_controller.rb
  app/models/user.rb
  app/models/webauthn_registration.rb
  app/services/webauthn/authenticate_service.rb
  ee/app/assets/javascripts/pages/groups/omniauth_callbacks/index.js
  locale/gitlab.pot
  spec/features/u2f_spec.rb
  spec/features/webauthn_spec.rb
  spec/models/user_spec.rb
  spec/support/helpers/features/two_factor_helpers.rb
  spec/support/shared_examples/features/2fa_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry [ci skip]
  changelogs/unreleased/22506-webauthn-step-1.yml
Due: none

Fix rubocop offense
  app/controllers/concerns/authenticates_with_two_factor.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to app/controllers/profiles/two_factor_auths_controller.rb
  app/controllers/profiles/two_factor_auths_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Reduce feature flag check in view, refactor webauthn init
  app/assets/javascripts/pages/ldap/omniauth_callbacks/index.js
  app/assets/javascripts/pages/omniauth_callbacks/index.js
  app/assets/javascripts/pages/sessions/index.js
  app/assets/javascripts/shared/sessions/index.js
  app/assets/javascripts/webauthn/error.js
  app/assets/javascripts/webauthn/util.js
  app/controllers/profiles/two_factor_auths_controller.rb
  app/views/devise/sessions/two_factor.html.haml
  app/views/profiles/two_factor_auths/show.html.haml
  changelogs/unreleased/22506-webauthn-step-1.yml
  ee/app/assets/javascripts/pages/groups/omniauth_callbacks/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix delete spec, refactor ternary
  app/services/webauthn/authenticate_service.rb
  spec/support/shared_examples/features/2fa_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Minor style fixes
  app/views/profiles/two_factor_auths/show.html.haml
  spec/features/webauthn_spec.rb
  spec/support/shared_examples/features/2fa_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix migration entry in db/structure.sql
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Preload application and run web-and-actioncable together
  bin/web_and_actioncable
  config/initializers/validate_puma.rb
  lib/gitlab/runtime.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix lints and translations
  ee/app/assets/javascripts/burndown_chart/index.js
  ee/spec/frontend/burndown_chart/burndown_chart_data_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

POC for VSA summary
  ee/app/graphql/ee/types/group_type.rb
  ee/app/graphql/resolvers/analytics/cycle_analytics/summary_resolver.rb
  ee/app/graphql/types/analytics/cycle_analytics/deployment_count_type.rb
  ee/app/graphql/types/analytics/cycle_analytics/deployment_frequency_type.rb
  ee/app/graphql/types/analytics/cycle_analytics/new_issue_count_type.rb
  ee/app/graphql/types/analytics/cycle_analytics/summary_type.rb
  lib/gitlab/cycle_analytics/group_stage_summary.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Import base scss vars from gitlab-ui
  app/assets/stylesheets/framework/variables.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Tweak wiki creation error handling
  app/models/concerns/has_wiki.rb
  app/services/projects/create_service.rb
  app/workers/repository_check/single_repository_worker.rb
  doc/administration/troubleshooting/gitlab_rails_cheat_sheet.md
  lib/gitlab/github_import/importer/repository_importer.rb
  locale/gitlab.pot
  spec/factories/groups.rb
  spec/factories/projects.rb
  spec/lib/gitlab/asciidoc_spec.rb
  spec/lib/gitlab/github_import/importer/repository_importer_spec.rb
  spec/services/projects/update_repository_storage_service_spec.rb
  spec/support/shared_examples/models/concerns/has_wiki_shared_examples.rb
  spec/workers/repository_check/single_repository_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix the lint
  ee/app/views/shared/milestones/_burndown.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix how events are called and propagated
  ee/app/models/concerns/geo/blob_replicator_strategy.rb
  ee/app/services/geo/event_service.rb
  ee/app/workers/geo/event_worker.rb
  ee/lib/api/geo.rb
  ee/lib/gitlab/geo/replication/blob_downloader.rb
  ee/lib/gitlab/geo/replicator.rb
  ee/spec/lib/gitlab/geo/log_cursor/events/event_spec.rb
  ee/spec/lib/gitlab/geo/replicator_spec.rb
  spec/support/shared_examples/models/concerns/blob_replicator_strategy_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Log parameters when saving invalid occurrence
  ee/app/services/security/store_report_service.rb
  ee/spec/services/security/store_report_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Sort DS analysers according to scanner id
  changelogs/unreleased/sort-according-to-scanners.yml
  ee/app/services/security/merge_reports_service.rb
  ee/spec/services/security/merge_reports_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update code_review.md
  doc/development/code_review.md
Due: docs lint

feat: add token prefix
  app/helpers/application_settings_helper.rb
  app/models/application_setting.rb
  app/models/application_setting_implementation.rb
  app/models/concerns/token_authenticatable_strategies/base.rb
  app/models/personal_access_token.rb
  app/views/admin/application_settings/_account_and_limit.html.haml
  db/migrate/20210415133701_add_personal_access_token_prefix_to_application_setting.rb
  db/structure.sql
  doc/api/settings.md
  lib/api/api_guard.rb
  lib/api/settings.rb
  lib/gitlab/auth/auth_finders.rb
  spec/lib/gitlab/auth/auth_finders_spec.rb
  spec/models/concerns/token_authenticatable_spec.rb
  spec/requests/api/helpers_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

update dates to past time
  db/migrate/20200415133701_add_personal_access_token_prefix_to_application_setting.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

add missing comma
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove dupe date
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: adding tests
  app/finders/releases_finder.rb
  app/graphql/resolvers/release_resolver.rb
  app/graphql/resolvers/releases_resolver.rb
  app/graphql/types/project_type.rb
  app/graphql/types/release_assets_type.rb
  app/graphql/types/release_link_type.rb
  app/graphql/types/release_source_type.rb
  app/graphql/types/release_type.rb
  app/policies/releases/link_policy.rb
  app/policies/releases/source_policy.rb
  app/presenters/release_presenter.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  spec/finders/releases_finder_spec.rb
  spec/graphql/types/release_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove test from quarantine
  qa/qa/specs/features/browser_ui/6_release/deploy_token/add_deploy_token_spec.rb
Due: graphql-reference-verify, pages, cache gems

Skip orchestrated tests in the Praefect jobs
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add documentation on using Helm to deploy your applications
  doc/user/project/clusters/add_remove_clusters.md
  doc/user/project/clusters/img/helm_tls_variables.png
  doc/user/project/clusters/index.md
Due: docs lint

Fix Replicator instantiation
  ee/app/services/geo/event_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Track PackageFile checksum statistics"
  doc/administration/monitoring/prometheus/gitlab_metrics.md
  doc/api/geo_nodes.md
  ee/app/models/geo_node_status.rb
  ee/spec/factories/geo_node_statuses.rb
  ee/spec/fixtures/api/schemas/public_api/v4/geo_node_status.json
  ee/spec/models/geo_node_status_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Checksum all new PackageFiles on the primary"
  db/migrate/20200213100530_add_verification_columns_to_packages.rb
  db/migrate/20200218113721_add_indexes_to_package_file.rb
  db/structure.sql
  ee/spec/factories/packages.rb
  ee/spec/models/packages/package_file_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Replicate new PackageFiles"
  ee/app/models/geo/package_file_registry.rb
  ee/app/models/packages/package_file.rb
  ee/app/replicators/geo/package_file_replicator.rb
  ee/db/geo/migrate/20200121194300_create_package_file_registry.rb
  ee/db/geo/schema.rb
  ee/spec/factories/geo/event.rb
  ee/spec/factories/geo/package_file_registry.rb
  ee/spec/models/geo/package_file_registry_spec.rb
  ee/spec/replicators/geo/package_file_replicator_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
