Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Once again use the CodeQuality CI template internally
  .gitlab/ci/reports.gitlab-ci.yml
  lib/gitlab/ci/templates/Jobs/Code-Quality.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Consolidate and generalize
  doc/user/application_security/security_dashboard/index.md
Due: docs lint

Added initializer for isApproved
  ee/app/assets/javascripts/vue_merge_request_widget/components/approvals/approvals.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixed initializer for isApproved
  ee/app/assets/javascripts/vue_merge_request_widget/components/approvals/approvals.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated test case for GlButton
  ee/spec/javascripts/vue_mr_widget/components/approvals/approvals_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Changed expected primary to info
  ee/spec/javascripts/vue_mr_widget/components/approvals/approvals_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add filtering issuables by a commenter
  app/assets/javascripts/filtered_search/available_dropdown_mappings.js
  app/assets/javascripts/filtered_search/constants.js
  app/assets/javascripts/filtered_search/issuable_filtered_search_token_keys.js
  app/finders/issuable_finder.rb
  app/finders/issuable_finder/by_commenters_finder.rb
  app/views/shared/issuable/_search_bar.html.haml
  locale/gitlab.pot
  spec/finders/issuable_finder/by_commenters_finder_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

initial commit
  app/assets/javascripts/vue_shared/components/gl_truncate.vue
  ee/app/assets/javascripts/vulnerabilities/components/vulnerability_list.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update GraphQL schema
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add specs and tests
  spec/controllers/concerns/checks_collaboration_spec.rb
  spec/features/merge_requests/user_views_open_merge_requests_spec.rb
  spec/features/projects/branches_spec.rb
  spec/features/projects/merge_request_button_spec.rb
  spec/features/projects/show/user_sees_collaboration_links_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Support Flipper API
  Gemfile
  Gemfile.lock
  ee/app/models/operations/feature_flag.rb
  ee/app/models/operations/feature_flag_scope.rb
  ee/lib/api/feature_flag_scopes.rb
  ee/lib/api/flipper.rb
  ee/lib/api/unleash.rb
  ee/lib/ee/api/api.rb
  ee/lib/ee/api/entities/flipper_feature.rb
  ee/lib/ee/api/entities/flipper_gate.rb
  ee/spec/requests/api/flipper_spec.rb
  lib/api/helpers.rb
  lib/feature.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove trailing spaces, lines 51, 57
  doc/administration/auth/cognito.md
Due: docs lint

Added gl-button to mr approvals footer
  ee/app/assets/javascripts/vue_merge_request_widget/components/approvals/approvals_footer.vue
  ee/spec/frontend/vue_mr_widget/components/approvals/approvals_footer_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replaced deprecated button
  ee/app/assets/javascripts/vue_merge_request_widget/components/approvals/approvals_footer.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Used Prettier to format file
  ee/app/assets/javascripts/vue_merge_request_widget/components/approvals/approvals_footer.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add note w/r/t future replacment of white and blacklist in query count limit doc
  doc/development/query_count_limits.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/development/documentation/styleguide.md
Due: docs lint

Set Filebeat to use daily indices
  vendor/elastic_stack/values.yaml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove report pipeline from GraphQL
  ee/app/graphql/types/requirements_management/test_report_type.rb
  ee/changelogs/unreleased/cablett-expose-build-id-requirement-report.yml
  ee/spec/graphql/types/requirements_management/test_report_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove report pipeline from GraphQL
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/changelogs/unreleased/cablett-expose-build-id-requirement-report.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Merge security report compare services
  app/models/merge_request.rb
  ee/app/models/ee/merge_request.rb
  ee/app/services/ci/compare_dast_reports_service.rb
  ee/app/services/ci/compare_dependency_scanning_reports_service.rb
  ee/app/services/ci/compare_sast_reports_service.rb
  ee/app/services/ci/compare_secret_detection_reports_service.rb
  ee/app/services/ci/compare_security_reports_service.rb
  ee/spec/controllers/projects/merge_requests_controller_spec.rb
  ee/spec/models/merge_request_spec.rb
  ee/spec/services/ci/compare_container_scanning_reports_service_spec.rb
  ee/spec/services/ci/compare_dast_reports_service_spec.rb
  ee/spec/services/ci/compare_dependency_scanning_reports_service_spec.rb
  ee/spec/services/ci/compare_sast_reports_service_spec.rb
  ee/spec/services/ci/compare_secret_detection_reports_service_spec.rb
  ee/spec/services/ci/compare_security_reports_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add bigkeys/memkeys Redis analyzer
  lib/gitlab/redis/big_keys.rb
  spec/lib/gitlab/redis/big_keys_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add ordered set example
  spec/lib/gitlab/redis/big_keys_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add version postfix to image url
  doc/user/application_security/img/vulnerability-check.png
  doc/user/application_security/img/vulnerability-check_v13_0.png
  doc/user/application_security/index.md
Due: docs lint

Reuse DAST CI template for on-demand DAST scan
  ee/app/services/ci/run_dast_scan_service.rb
  ee/spec/services/ci/run_dast_scan_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add basic iteration report view
  app/models/concerns/timebox.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/assets/javascripts/iterations/components/iteration_report.vue
  ee/app/assets/javascripts/iterations/index.js
  ee/app/assets/javascripts/iterations/queries/group_iteration.query.graphql
  ee/app/assets/javascripts/pages/groups/iterations/show/index.js
  ee/app/finders/iterations_finder.rb
  ee/app/graphql/resolvers/iterations_resolver.rb
  ee/app/views/groups/iterations/show.html.haml
  ee/spec/features/groups/iterations/user_views_iteration_spec.rb
  ee/spec/finders/iterations_finder_spec.rb
  ee/spec/frontend/iterations/components/iteration_report_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixed shortcuts spec
  app/assets/javascripts/behaviors/shortcuts/shortcuts_markdown.js
  spec/frontend/shortcuts/shortcuts_markdown_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Mixin Validatable in Entry::Secret
  ee/lib/gitlab/ci/config/entry/secrets.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement CI syntax for secrets
  ee/lib/ee/gitlab/ci/config/entry/job.rb
  ee/lib/gitlab/ci/config/entry/secret.rb
  ee/lib/gitlab/ci/config/entry/secrets.rb
  ee/lib/gitlab/ci/config/entry/vault/engine.rb
  ee/lib/gitlab/ci/config/entry/vault/secret.rb
  ee/spec/lib/gitlab/ci/config/entry/job_spec.rb
  ee/spec/lib/gitlab/ci/config/entry/secret_spec.rb
  ee/spec/lib/gitlab/ci/config/entry/secrets_spec.rb
  ee/spec/lib/gitlab/ci/config/entry/vault/engine_spec.rb
  ee/spec/lib/gitlab/ci/config/entry/vault/secret_spec.rb
  lib/gitlab/ci/config/entry/job.rb
  spec/lib/gitlab/ci/config/entry/job_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Simplify parsing Vault secret from string
  ee/lib/gitlab/ci/config/entry/vault/secret.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Tighten up requirements for Vault engine syntax
  ee/lib/gitlab/ci/config/entry/vault/engine.rb
  ee/spec/lib/gitlab/ci/config/entry/vault/engine_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement CI syntax for secrets
  ee/lib/gitlab/ci/config/entry/vault.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose secrets configuration if job has any
  app/presenters/ci/build_runner_presenter.rb
  ee/app/models/ee/ci/build.rb
  ee/app/models/license.rb
  ee/app/presenters/ee/ci/build_runner_presenter.rb
  ee/lib/ee/api/entities/job_request/response.rb
  ee/lib/ee/gitlab/ci/yaml_processor.rb
  ee/spec/lib/gitlab/ci/yaml_processor_spec.rb
  ee/spec/models/ci/build_spec.rb
  ee/spec/requests/api/runner_spec.rb
  lib/api/entities/job_request/response.rb
  lib/gitlab/ci/yaml_processor.rb
  spec/lib/gitlab/import_export/fast_hash_serializer_spec.rb
  spec/lib/gitlab/import_export/project/tree_saver_spec.rb
  spec/services/ci/register_job_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Persist secrets for CI build as metadata
  app/models/ci/build_metadata.rb
  app/models/concerns/ci/metadatable.rb
  app/presenters/ci/build_runner_presenter.rb
  app/validators/json_schemas/build_metadata_secrets.json
  db/migrate/20200604001128_add_secrets_to_ci_builds_metadata.rb
  db/structure.sql
  ee/app/models/concerns/ee/ci/metadatable.rb
  ee/app/models/ee/ci/build.rb
  ee/app/models/ee/ci/build_metadata.rb
  ee/app/presenters/ee/ci/build_runner_presenter.rb
  ee/lib/ee/api/entities/job_request/response.rb
  ee/lib/ee/gitlab/ci/yaml_processor.rb
  ee/spec/lib/gitlab/ci/yaml_processor_spec.rb
  ee/spec/models/ci/build_metadata_spec.rb
  ee/spec/models/ci/build_spec.rb
  ee/spec/requests/api/runner_spec.rb
  ee/spec/services/ci/create_pipeline_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move rspec command into rspec_helpers
  .gitlab/ci/rails.gitlab-ci.yml
  scripts/rspec_helpers.sh
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add the changelog
  changelogs/unreleased/psi-text-shortcuts.yml
Due: none

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
