Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Disable usage of csrf token in Rails
  app/assets/javascripts/lib/utils/rails_ujs.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update dependency vue-virtual-scroll-list to v2
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Ensure that leave_url pages have Rails initialized
  app/assets/javascripts/namespaces/leave_by_url.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix the user notifications spec
  spec/features/projects/show/user_manages_notifications_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/development/secure_coding_guidelines.md
Due: docs lint

GitLab UI: 983-update-the-style-of-sorting-component-to-match-designs integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

AjaxLoadingSpinner: Move away from jquery
  app/assets/javascripts/branches/ajax_loading_spinner.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove security_on_demand_scans_scanner_profiles feature flag
  ee/app/assets/javascripts/dast_profiles/settings/profiles.js
  ee/app/assets/javascripts/on_demand_scans/components/on_demand_scans_form.vue
  ee/app/controllers/projects/dast_profiles_controller.rb
  ee/app/controllers/projects/on_demand_scans_controller.rb
  ee/config/feature_flags/development/security_on_demand_scans_scanner_profiles.yml
  ee/spec/frontend/dast_profiles/components/dast_profiles_spec.js
  ee/spec/frontend/on_demand_scans/components/on_demand_scans_form_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move to jquery slim
  config/webpack.config.js
  jest.config.base.js
  vendor/assets/javascripts/jquery.scrollTo.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/user/project/repository/repository_mirroring.md
Due: docs lint

Apply 2 suggestion(s) to 1 file(s)
  doc/user/project/repository/repository_mirroring.md
Due: docs lint

Updated discard changes button in webIDE
  app/assets/javascripts/ide/components/commit_sidebar/editor_header.vue
  changelogs/unreleased/229330-update-discard-changes-button.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove assumption about public schema
  db/structure.sql
  lib/gitlab/database/schema_cleaner.rb
  spec/fixtures/gitlab/database/structure_example_cleaned.sql
  spec/lib/gitlab/database/schema_cleaner_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip
  ee/app/assets/javascripts/on_demand_scans/components/on_demand_scans_form.vue
  ee/app/assets/javascripts/on_demand_scans/components/on_demand_scans_profile_selector.vue
  ee/app/assets/javascripts/on_demand_scans/settings.js
  ee/spec/frontend/on_demand_scans/components/on_demand_scans_form_spec.js
  ee/spec/frontend/on_demand_scans/components/on_demand_scans_profile_selector_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add information on internal projects
  doc/user/permissions.md
Due: docs lint

Fix some of spec
  spec/frontend/notes/components/discussion_counter_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Expose code coverage to GraphQL
  app/graphql/resolvers/ci/daily_build_group_report_result_resolver.rb
  app/graphql/types/ci/daily_build_group_report_result_type.rb
  app/graphql/types/project_type.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add epic selector to swimlanes sidebar
  app/assets/javascripts/boards/queries/issue.fragment.graphql
  ee/app/assets/javascripts/boards/components/board_content_sidebar.vue
  ee/app/assets/javascripts/boards/components/sidebar/board_sidebar_item.vue
  ee/app/assets/javascripts/boards/components/sidebar/epic_selector.vue
  ee/app/assets/javascripts/boards/queries/issue_set_epic.mutation.graphql
  ee/app/assets/javascripts/boards/queries/search_group_epics.query.graphql
  ee/app/assets/javascripts/vue_shared/components/sidebar/epics_select/base.vue
  ee/app/assets/javascripts/vue_shared/components/sidebar/epics_select/dropdown_contents.vue
  ee/app/assets/javascripts/vue_shared/components/sidebar/epics_select/dropdown_search_input.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add documentation for Instance Statistics
  doc/user/admin_area/analytics/index.md
  doc/user/admin_area/analytics/instance_statistics.md
Due: docs lint

Creates failing spec
  spec/serializers/pipeline_serializer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Query for currentUserTodos in design_list
  app/assets/javascripts/design_management/graphql/fragments/design_list.fragment.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add cache update logic for design todos
  app/assets/javascripts/design_management/utils/cache_update.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Re-enable the docs lint job
  .gitlab/ci/docs.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make a docs improvement to trigger lint job
  doc/ci/yaml/README.md
Due: docs lint

Init mock-apollo-client in design-todo-button spec
  spec/frontend/design_management/components/design_todo_button_spec.js
  spec/frontend/design_management/mock_data/apollo_mock.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Adds security report details field rendering
  app/assets/stylesheets/pages/reports.scss
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/code.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/commit.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/details.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/dynamic_i8n.js
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/file_location.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/int.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/label.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/list.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/module_location.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/named_list.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/table.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/text.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/url.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/vulnerability_details.vue
  ee/app/assets/javascripts/vulnerabilities/components/details.vue
  ee/app/helpers/vulnerabilities_helper.rb
  ee/app/models/vulnerabilities/finding.rb
  ee/app/serializers/vulnerabilities/finding_entity.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Prettyfied vue components and js files
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/details.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/dyn_type.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/dynamic_i8n.js
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/label.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/list.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/named_list.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/table.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/code.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/commit.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/file_location.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/int.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/list.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/module_location.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/named_list.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/table.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/text.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/url.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/vulnerability_details.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adding diff type
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/dyn_type.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/report_items/types/diff.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update styling of design pin
  app/assets/javascripts/design_management/components/design_note_pin.vue
  app/assets/stylesheets/components/design_management/design.scss
  changelogs/unreleased/219951-improve-styling-of-design-pins.yml
  spec/frontend/design_management/components/__snapshots__/design_note_pin_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix two button submitting of merge request reviews
  app/assets/javascripts/batch_comments/components/draft_note.vue
  app/assets/javascripts/batch_comments/components/preview_dropdown.vue
  app/assets/javascripts/batch_comments/components/preview_item.vue
  app/assets/javascripts/batch_comments/components/publish_button.vue
  app/assets/javascripts/batch_comments/components/review_bar.vue
  app/assets/javascripts/batch_comments/stores/modules/batch_comments/actions.js
  app/assets/javascripts/batch_comments/stores/modules/batch_comments/mutation_types.js
  app/assets/javascripts/batch_comments/stores/modules/batch_comments/mutations.js
  app/assets/javascripts/batch_comments/stores/modules/batch_comments/state.js
  locale/gitlab.pot
  spec/frontend/batch_comments/components/publish_button_spec.js
  spec/frontend/batch_comments/components/publish_dropdown_spec.js
  spec/frontend/batch_comments/stores/modules/batch_comments/actions_spec.js
  spec/frontend/batch_comments/stores/modules/batch_comments/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change MR Review button order, label and style
  app/assets/javascripts/batch_comments/components/draft_note.vue
  app/assets/javascripts/batch_comments/components/preview_dropdown.vue
  app/assets/javascripts/batch_comments/components/publish_button.vue
  app/assets/javascripts/notes/components/note_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip
  ee/app/services/ee/users/create_service.rb
  ee/spec/services/ee/users/create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
