Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Added an issue link
  doc/user/group/index.md
Due: docs lint

Use proper prefix for event name
  lib/gitlab/tracking/test_cases_parsed.rb
  lib/gitlab/usage_data_counters/known_events.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Track unique number of test cases parsed
  app/services/ci/build_report_result_service.rb
  changelogs/unreleased/eb-unit-tests-parsed-usage-ping.yml
  lib/gitlab/ci/reports/test_suite.rb
  lib/gitlab/tracking/test_cases_parsed.rb
  lib/gitlab/usage_data_counters/known_events.yml
  spec/lib/gitlab/tracking/test_cases_parsed_spec.rb
  spec/lib/gitlab/usage_data_counters/hll_redis_counter_spec.rb
  spec/lib/gitlab/usage_data_spec.rb
  spec/services/ci/build_report_result_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add feature flag
  app/services/ci/build_report_result_service.rb
  config/feature_flags/ops/track_unique_test_cases_parsed.yml
  spec/services/ci/build_report_result_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor usage data util method to support multiple values
  app/services/ci/build_report_result_service.rb
  config/feature_flags/development/track_unique_test_cases_parsed.yml
  lib/gitlab/tracking/test_cases_parsed.rb
  lib/gitlab/usage_data_counters/known_events.yml
  lib/gitlab/utils/usage_data.rb
  spec/lib/gitlab/tracking/test_cases_parsed_spec.rb
  spec/services/ci/build_report_result_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate to GlButton in note_form
  app/assets/javascripts/notes/components/note_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add until_executed deduplication strategy
  lib/gitlab/sidekiq_middleware/duplicate_jobs/strategies.rb
  lib/gitlab/sidekiq_middleware/duplicate_jobs/strategies/until_executed.rb
  spec/lib/gitlab/sidekiq_middleware/duplicate_jobs/strategies/until_executed_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add docs about unassigned role
  doc/user/permissions.md
Due: docs lint

Add cr remarks
  doc/user/permissions.md
Due: docs lint

Add changelog entry
  changelogs/unreleased/241378_until_executed_deduplication_strategy.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  doc/administration/housekeeping.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/user/project/repository/reducing_the_repo_size_using_git.md
Due: docs lint

Add minor change
  doc/user/permissions.md
Due: docs lint

Remove notes for noteables from ETag caching
  changelogs/unreleased/209784-fix-notes-caching.yml
  ee/lib/ee/gitlab/etag_caching/router.rb
  ee/spec/lib/ee/gitlab/etag_caching/router_spec.rb
  lib/gitlab/etag_caching/router.rb
  spec/lib/gitlab/etag_caching/router_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

db/structure.sql should be in-sync with master now
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Reduce query time by filtering each branch of the union
  ee/app/workers/groups/remove_non_ldap_members_worker.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Handle project members
  ee/app/workers/groups/remove_non_ldap_members_worker.rb
  ee/spec/workers/groups/remove_non_ldap_members_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Handle members of subgroups
  ee/app/workers/groups/remove_non_ldap_members_worker.rb
  ee/spec/workers/groups/remove_non_ldap_members_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Cache Group Owners to avoid extra queries
  ee/app/workers/groups/remove_non_ldap_members_worker.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove non ldap users after the lock to ldap is set
  config/sidekiq_queues.yml
  ee/app/controllers/groups/ldap_settings_controller.rb
  ee/app/services/groups/ldap_membership_service.rb
  ee/app/workers/all_queues.yml
  ee/app/workers/groups/remove_non_ldap_members_worker.rb
  ee/spec/services/groups/ldap_membership_service_spec.rb
  ee/spec/workers/groups/remove_non_ldap_members_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename LdapMembershipService => RemoveNonLdapMembershipService
  ee/app/controllers/groups/ldap_settings_controller.rb
  ee/app/services/groups/remove_non_ldap_membership_service.rb
  ee/spec/services/groups/remove_non_ldap_membership_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestions to files
  ee/app/controllers/groups/ldap_settings_controller.rb
  ee/app/models/ee/group.rb
  ee/app/services/groups/schedule_non_ldap_membership_removal_service.rb
  ee/app/workers/all_queues.yml
  ee/app/workers/groups/remove_non_ldap_members_worker.rb
  ee/spec/models/group_spec.rb
  ee/spec/services/groups/schedule_non_ldap_membership_removal_service_spec.rb
  ee/spec/workers/groups/remove_non_ldap_members_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change approach for membership removal
  ee/app/services/groups/schedule_non_ldap_membership_removal_service.rb
  ee/app/views/groups/ldap_group_links/index.html.haml
  ee/app/views/groups/ldap_group_settings/_form.html.haml
  ee/spec/services/groups/schedule_non_ldap_membership_removal_service_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move query to group model
  ee/app/models/ee/group.rb
  ee/app/workers/groups/remove_non_ldap_members_worker.rb
  ee/spec/models/group_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add details about variable expansion precedence
  doc/ci/variables/where_variables_can_be_used.md
Due: docs lint

docs: Remove porting to go section for hooks
  doc/administration/server_hooks.md
Due: docs lint

Fix spec for executed strategy
  spec/lib/gitlab/sidekiq_middleware/duplicate_jobs/strategies/until_executed_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Adds a 'request_cve_enabled' boolean in ee issuable serializer
  ee/app/assets/javascripts/sidebar/components/cve_id_request/cve_id_request_sidebar.vue
  ee/app/serializers/ee/issuable_sidebar_basic_entity.rb
  ee/app/views/shared/issuable/_sidebar_cve_id_request.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use mocked date for all tests
  ee/spec/frontend/analytics/code_review_analytics/components/__snapshots__/merge_request_table_spec.js.snap
  ee/spec/frontend/analytics/code_review_analytics/components/merge_request_table_spec.js
  ee/spec/frontend/threat_monitoring/components/network_policy_list_spec.js
  package.json
  spec/frontend/helpers/fake_date.js
  spec/frontend/helpers/fake_date_spec.js
  spec/frontend/test_setup.js
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Run prettier to check formatting
  app/assets/javascripts/notes/components/note_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip - add value_stream_id request parameter
  app/controllers/concerns/cycle_analytics_params.rb
  ee/app/controllers/concerns/ee/cycle_analytics_params.rb
  ee/app/controllers/groups/analytics/application_controller.rb
  ee/app/controllers/groups/analytics/cycle_analytics_controller.rb
  ee/lib/gitlab/analytics/cycle_analytics/request_params.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Remove Instance level VSA
  ee/app/assets/javascripts/analytics/cycle_analytics/components/base.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/type_of_work_charts.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/index.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/getters.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/type_of_work/getters.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/mutation_types.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/mutations.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/state.js
  ee/app/assets/javascripts/pages/analytics/cycle_analytics/index.js
  ee/app/views/groups/analytics/cycle_analytics/show.html.haml
  ee/spec/frontend/analytics/cycle_analytics/components/base_spec.js
  ee/spec/frontend/analytics/cycle_analytics/mock_data.js
  ee/spec/frontend/analytics/cycle_analytics/store/actions_spec.js
  ee/spec/frontend/analytics/cycle_analytics/store/getters_spec.js
  ee/spec/frontend/analytics/cycle_analytics/store/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip - basic request params specs
  ee/lib/gitlab/analytics/cycle_analytics/request_params.rb
  ee/spec/lib/gitlab/analytics/cycle_analytics/request_params_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updates i8n, cleans up issuable helper changes
  app/serializers/issuable_sidebar_basic_entity.rb
  ee/app/serializers/ee/issuable_sidebar_basic_entity.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

--wip-- [skip ci]
  ee/spec/features/groups/analytics/cycle_analytics/filters_and_data_spec.rb
  ee/spec/lib/gitlab/analytics/cycle_analytics/request_params_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add limited capacity worker concern
  app/workers/concerns/limited_capacity/worker.rb
  spec/workers/concerns/limited_capacity/worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Set .gitlab-ci.yml to enable or configure SAST
  .gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Ci::DeletedObject model and workers
  app/models/ci/deleted_object.rb
  app/models/ci/job_artifact.rb
  app/services/ci/delete_objects_service.rb
  app/uploaders/deleted_object_uploader.rb
  app/workers/all_queues.yml
  app/workers/ci/delete_objects_worker.rb
  app/workers/ci/schedule_delete_objects_cron_worker.rb
  changelogs/unreleased/add-ci-deleted-objects-table.yml
  config/feature_flags/development/ci_delete_objects_high_concurrency.yml
  config/feature_flags/development/ci_delete_objects_low_concurrency.yml
  config/feature_flags/development/ci_delete_objects_medium_concurrency.yml
  config/gitlab.yml.example
  config/initializers/1_settings.rb
  config/sidekiq_queues.yml
  db/migrate/20200813135558_create_ci_deleted_objects.rb
  db/schema_migrations/20200813135558
  db/structure.sql
  spec/factories/ci/deleted_object.rb
  spec/models/ci/deleted_object_spec.rb
  spec/services/ci/delete_objects_service_spec.rb
  spec/workers/ci/delete_objects_worker_spec.rb
  spec/workers/ci/schedule_delete_objects_cron_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
