Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Allow K3s provider to generate name and port
  qa/qa/service/cluster_provider/k3s.rb
  qa/qa/service/docker_run/k3s.rb
  qa/qa/specs/features/browser_ui/7_configure/kubernetes/kubernetes_integration_spec.rb
Due: graphql-reference-verify, pages, cache gems

Docs style: Changed "click" to "select"
  doc/development/documentation/styleguide.md
Due: docs lint

Updated agent list tests
  app/views/clusters/clusters/_empty_state.html.haml
  ee/app/assets/javascripts/clusters_list/components/agent_table.vue
  qa/qa/page/project/operations/kubernetes/index.rb
  spec/features/projects/cluster_agents_spec.rb
  spec/features/projects/clusters_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/development/documentation/styleguide.md
Due: docs lint

Populate blocking issues count
  changelogs/unreleased/issue_237977.yml
  db/post_migrate/20200914185610_schedule_sync_blocking_issues_count.rb
  db/schema_migrations/20200914185610
  lib/gitlab/background_migration/sync_blocking_issues_count.rb
  spec/migrations/schedule_sync_blocking_issues_count_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/user/project/deploy_boards.md
Due: docs lint

Backend support for search issue filtering by confidential
  app/helpers/search_helper.rb
  app/services/search/global_service.rb
  app/services/search/group_service.rb
  app/services/search/project_service.rb
  ee/app/services/ee/search/global_service.rb
  ee/app/services/ee/search/group_service.rb
  ee/app/services/ee/search/project_service.rb
  ee/lib/elastic/latest/issue_class_proxy.rb
  ee/lib/gitlab/elastic/search_results.rb
  lib/gitlab/project_search_results.rb
  lib/gitlab/search_results.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

fixup! Backend support for search issue filtering by confidential
  changelogs/unreleased/238314-search-ui-implement-issue-scope-results-filter-by-confidentiality-.yml
  ee/lib/elastic/latest/issue_class_proxy.rb
  ee/spec/lib/gitlab/elastic/group_search_results_spec.rb
  ee/spec/lib/gitlab/elastic/search_results_spec.rb
  lib/gitlab/project_search_results.rb
  lib/gitlab/search_results.rb
  spec/lib/gitlab/group_search_results_spec.rb
  spec/lib/gitlab/project_search_results_spec.rb
  spec/lib/gitlab/search_results_spec.rb
  spec/support/shared_examples/lib/gitlab/search_issue_confidential_filter_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

fixup! Backend support for search issue filtering by confidential
  ee/spec/lib/gitlab/elastic/group_search_results_spec.rb
  ee/spec/lib/gitlab/elastic/project_search_results_spec.rb
  ee/spec/lib/gitlab/elastic/search_results_spec.rb
  spec/lib/gitlab/group_search_results_spec.rb
  spec/lib/gitlab/project_search_results_spec.rb
  spec/lib/gitlab/search_results_spec.rb
  spec/support/shared_examples/lib/gitlab/search_confidential_filter_shared_examples.rb
  spec/support/shared_examples/lib/gitlab/search_state_filter_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

fixup! Backend support for search issue filtering by confidential
  ee/lib/elastic/latest/issue_class_proxy.rb
  ee/spec/lib/gitlab/elastic/project_search_results_spec.rb
  lib/gitlab/search_results.rb
  spec/support/shared_examples/lib/gitlab/search_confidential_filter_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add a notification count to the whats new dropdown
  app/assets/javascripts/layout_nav.js
  app/assets/javascripts/whats_new/components/app.vue
  app/assets/javascripts/whats_new/index.js
  app/assets/javascripts/whats_new/store/actions.js
  app/assets/stylesheets/components/whats_new.scss
  app/helpers/whats_new_helper.rb
  app/views/layouts/header/_default.html.haml
  data/whats_new/202008180001_12_10.yml
  ee/app/views/layouts/header/_whats_new_dropdown_item.html.haml
  ee/spec/features/whats_new_spec.rb
  spec/frontend/whats_new/components/app_spec.js
  spec/frontend/whats_new/store/actions_spec.js
  spec/helpers/whats_new_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Exclude bots from current active users count query
  app/models/concerns/has_user_type.rb
  changelogs/unreleased/223695-exclude-bots-from-licensed-users.yml
  doc/administration/troubleshooting/gitlab_rails_cheat_sheet.md
  doc/subscriptions/self_managed/index.md
  doc/user/project/settings/project_access_tokens.md
  ee/app/helpers/license_helper.rb
  ee/app/models/license.rb
  ee/lib/ee/api/entities/gitlab_license_with_active_users.rb
  ee/spec/helpers/license_helper_spec.rb
  ee/spec/models/historical_data_spec.rb
  ee/spec/models/license_spec.rb
  spec/models/concerns/has_user_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Verify how many times the JobWaiter#wait has been called
  lib/gitlab/job_waiter.rb
  spec/support/helpers/memory_usage_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Cleanup unused view from group/labels destroy controller
  app/controllers/groups/labels_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove unused group label destroy HAML js
  app/views/groups/labels/destroy.js.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add section on testing backend snowplow events
  doc/development/telemetry/snowplow.md
Due: docs lint

fixup! Backend support for search issue filtering by confidential
  ee/spec/lib/gitlab/elastic/project_search_results_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

fixup! Backend support for search issue filtering by confidential
  changelogs/unreleased/238314-search-ui-implement-issue-scope-results-filter-by-confidentiality-.yml
Due: none

Add `_name` to ES queries to improve readability
  Gemfile
  Gemfile.lock
  ee/lib/elastic/latest/application_class_proxy.rb
  ee/lib/elastic/latest/git_class_proxy.rb
  ee/lib/elastic/latest/issue_class_proxy.rb
  ee/lib/elastic/latest/merge_request_class_proxy.rb
  ee/lib/elastic/latest/milestone_class_proxy.rb
  ee/lib/elastic/latest/note_class_proxy.rb
  ee/lib/elastic/latest/project_class_proxy.rb
  ee/lib/elastic/latest/query_factory.rb
  ee/lib/elastic/latest/snippet_class_proxy.rb
  ee/lib/elastic/latest/state_filter.rb
  ee/lib/gitlab/elastic/bool_expr.rb
  ee/lib/gitlab/elastic/client.rb
  ee/lib/gitlab/elastic/expr_name.rb
  ee/spec/lib/elastic/latest/git_class_proxy_spec.rb
  ee/spec/lib/elastic/latest/project_wiki_class_proxy_spec.rb
  ee/spec/models/concerns/elastic/issue_spec.rb
  ee/spec/models/concerns/elastic/merge_request_spec.rb
  ee/spec/models/concerns/elastic/note_spec.rb
  ee/spec/models/concerns/elastic/project_spec.rb
  ee/spec/models/concerns/elastic/repository_spec.rb
  ee/spec/models/concerns/elastic/snippet_spec.rb
  ee/spec/support/elastic.rb
  ee/spec/support/elastic_query_inspector_middleware.rb
  ee/spec/support/elastic_query_name_inspector.rb
  ee/spec/support/helpers/elasticsearch_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Mike's suggestion to improve the copy
  .gitlab/issue_templates/Design Suggestion.md
Due: none

Revert "fixup! Backend support for search issue filtering by confidential"
  changelogs/unreleased/238314-search-ui-implement-issue-scope-results-filter-by-confidentiality-.yml
Due: none

Global Search - Bold Issue Search Term
  app/assets/stylesheets/pages/search.scss
  app/helpers/search_helper.rb
  app/views/search/results/_issue.html.haml
  changelogs/unreleased/244427-bold-search-term-issues.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Changes based on @terrichu help
  app/assets/stylesheets/pages/search.scss
  app/controllers/search_controller.rb
  app/helpers/search_helper.rb
  app/services/search_service.rb
  app/views/search/results/_issue.html.haml
  ee/lib/elastic/latest/application_class_proxy.rb
  ee/lib/gitlab/elastic/search_results.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor highlight_map method and add specs
  app/controllers/search_controller.rb
  ee/lib/gitlab/elastic/search_results.rb
  ee/lib/gitlab/elastic/snippet_search_results.rb
  ee/spec/lib/gitlab/elastic/search_results_spec.rb
  ee/spec/lib/gitlab/elastic/snippet_search_results_spec.rb
  lib/gitlab/search_results.rb
  lib/gitlab/snippet_search_results.rb
  spec/lib/gitlab/search_results_spec.rb
  spec/lib/gitlab/snippet_search_results_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply feedback from MR review
  ee/lib/gitlab/elastic/search_results.rb
  ee/lib/gitlab/elastic/snippet_search_results.rb
  lib/gitlab/snippet_search_results.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Changes based on @nicolasdular feedback
  app/assets/stylesheets/pages/search.scss
  app/views/search/results/_issue.html.haml
  ee/lib/elastic/latest/application_class_proxy.rb
  ee/spec/lib/gitlab/elastic/search_results_spec.rb
  ee/spec/lib/gitlab/elastic/snippet_search_results_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove BlobHelper.highlight
  app/helpers/blob_helper.rb
  spec/helpers/blob_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update specs and use of highlight
  app/helpers/search_helper.rb
  app/views/projects/settings/ci_cd/_badge.html.haml
  ee/lib/elastic/latest/application_class_proxy.rb
  spec/features/projects/badges/list_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix for flakey spec
  spec/lib/gitlab/search_results_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Fix for flakey spec"
  spec/lib/gitlab/search_results_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add Jira server API authentication
  lib/gitlab/background_migration/backfill_jira_tracker_deployment_type.rb
  spec/lib/gitlab/background_migration/backfill_jira_tracker_deployment_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Global Search - Vue Init
  app/assets/javascripts/pages/search/show/index.js
  app/assets/javascripts/search/components/app.vue
  app/assets/javascripts/search/components/scope_selector.vue
  app/assets/javascripts/search/components/search_empty_state.vue
  app/assets/javascripts/search/components/search_filters.vue
  app/assets/javascripts/search/components/search_form.vue
  app/assets/javascripts/search/components/search_loading.vue
  app/assets/javascripts/search/components/search_results.vue
  app/assets/javascripts/search/index.js
  app/assets/javascripts/search/store/actions.js
  app/assets/javascripts/search/store/index.js
  app/assets/javascripts/search/store/mutation_types.js
  app/assets/javascripts/search/store/mutations.js
  app/assets/javascripts/search/store/state.js
  app/controllers/search_controller.rb
  app/views/search/show.html.haml
  locale/gitlab.pot
  spec/controllers/search_controller_spec.rb
  spec/frontend/search/components/app_spec.js
  spec/frontend/search/components/scope_selector_spec.js
  spec/frontend/search/components/search_empty_state_spec.js
  spec/frontend/search/components/search_filters_spec.js
  spec/frontend/search/components/search_form_spec.js
  spec/frontend/search/components/search_loading_spec.js
  spec/frontend/search/components/search_results_spec.js
  spec/frontend/search/mock_data.js
  spec/frontend/search/state_filter/state_filter_spec.js
  spec/frontend/search/store/actions_spec.js
  spec/frontend/search/store/mutations_spec.js
  spec/views/search/show.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate to GlTabs for Feature Flags Page
  ee/app/assets/javascripts/feature_flags/components/configure_feature_flags_modal.vue
  ee/app/assets/javascripts/feature_flags/components/feature_flags.vue
  ee/app/assets/javascripts/feature_flags/components/tab.vue
  ee/app/assets/javascripts/feature_flags/index.js
  ee/spec/frontend/feature_flags/components/configure_feature_flags_modal_spec.js
  ee/spec/frontend/feature_flags/components/feature_flags_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs: try out suggestion-level substitutions
  doc/.vale/gitlab/SubstitutionSuggestions.yml
Due: docs lint

Add more frontmatter to file
  doc/.vale/gitlab/SubstitutionSuggestions.yml
Due: docs lint

Update sort discussion to dropdown
  app/assets/javascripts/notes/components/discussion_filter.vue
  app/assets/javascripts/notes/components/sort_discussion.vue
  spec/frontend/notes/components/discussion_filter_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix quotation mark typo
  doc/operations/metrics/dashboards/panel_types.md
Due: docs lint

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
