Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Add seed data to detail page
  app/controllers/projects/alert_management_controller.rb
  app/helpers/projects/alert_management_helper.rb
  app/views/projects/alert_management/details.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Set alert data as instance property
  app/assets/javascripts/alert_management/components/alert_details.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove unnecessary options
  app/assets/javascripts/alert_management/components/alert_details.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to spec/frontend/alert_management/components/alert_management_detail_spec.js
  spec/frontend/alert_management/components/alert_management_detail_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Pass seed data as props
  app/assets/javascripts/alert_management/details.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use data-testid instead of ref
  app/assets/javascripts/alert_management/components/alert_details.vue
  spec/frontend/alert_management/components/alert_management_detail_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use graphql params from seed data
  app/assets/javascripts/alert_management/components/alert_details.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix ruby lint issue
  app/helpers/projects/alert_management_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use fetch policy helper
  app/assets/javascripts/alert_management/components/alert_details.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added docs on how to fix a corrupted repository
  doc/administration/repository_checks.md
Due: docs lint

Revert "Merge branch '216345-revert-revert-of-codeowners-applying-to-web-requests' into 'master'"
  changelogs/unreleased/sh-revert-codeowners-check.yml
  ee/lib/ee/gitlab/checks/diff_check.rb
  ee/spec/lib/gitlab/checks/diff_check_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add cache table and model
  app/models/project_services/settings/jira_settings.rb
  db/migrate/20200424125216_create_jira_settings.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update add_remove_clusters.md
  doc/user/project/clusters/add_remove_clusters.md
Due: docs lint

Align code block & note with list level
  doc/user/project/clusters/add_remove_clusters.md
Due: docs lint

Expand flag to self-document "kubectl get" command
  doc/user/project/clusters/add_remove_clusters.md
Due: docs lint

Introduce INVALID file_store
  app/uploaders/object_storage.rb
  db/migrate/20200429181335_add_default_value_for_file_store_to_lfs_objects.rb
  db/migrate/20200429181955_add_default_value_for_file_store_to_ci_job_artifacts.rb
  db/migrate/20200429182245_add_default_value_for_store_to_uploads.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update read permissions for nodejs-scan-sast
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

squash!
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

foo
  foo
Due: none

Support INVALID storage
  app/uploaders/object_storage.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add WikiPage#reload
  app/models/wiki_page.rb
  spec/models/wiki_page_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use annotation props in monitoring charts
  app/assets/javascripts/monitoring/components/charts/annotations.js
  app/assets/javascripts/monitoring/components/charts/time_series.vue
  app/assets/javascripts/monitoring/constants.js
  app/assets/javascripts/monitoring/stores/utils.js
  spec/frontend/monitoring/components/charts/annotations_spec.js
  spec/frontend/monitoring/mock_data.js
  spec/frontend/monitoring/store/actions_spec.js
  spec/frontend/monitoring/store/utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove links to old announcements from GitLab Pages docs
  doc/user/project/pages/index.md
Due: docs lint

Add description, hosts, payload, times to alert
  app/graphql/types/alert_management/alert_type.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  spec/factories/alert_management/alerts.rb
  spec/graphql/types/alert_management/alert_type_spec.rb
  spec/requests/api/graphql/project/alert_management/alerts_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog file
  changelogs/unreleased/sarnold-alert-management-fields-extra.yml
Due: none

WIP: Update @gitlab/ui for new badges
  app/assets/javascripts/clusters_list/components/clusters.vue
  app/assets/javascripts/error_tracking/components/constants.js
  app/assets/javascripts/error_tracking/components/error_details.vue
  app/assets/javascripts/monitoring/components/alert_widget.vue
  app/assets/javascripts/releases/components/release_block_milestone_info.vue
  app/assets/javascripts/repository/components/table/row.vue
  app/assets/stylesheets/bootstrap_migration.scss
  app/assets/stylesheets/framework/badges.scss
  ee/app/assets/javascripts/analytics/code_review_analytics/components/app.vue
  ee/app/assets/javascripts/dependencies/components/app.vue
  ee/app/assets/javascripts/dependencies/components/dependencies_table.vue
  ee/app/assets/javascripts/environments_dashboard/components/dashboard/environment.vue
  ee/app/assets/javascripts/environments_dashboard/components/dashboard/environment_header.vue
  ee/app/assets/javascripts/license_compliance/components/app.vue
  ee/app/assets/javascripts/license_compliance/components/licenses_table_row.vue
  ee/app/assets/javascripts/packages/shared/components/package_tags.vue
  ee/app/assets/javascripts/security_dashboard/components/project_list.vue
  ee/app/assets/javascripts/security_dashboard/components/unscanned_projects.vue
  ee/spec/frontend/environments_dashboard/components/__snapshots__/environment_header_spec.js.snap
  ee/spec/frontend/packages/shared/components/package_tags_spec.js
  package.json
  spec/frontend/monitoring/__snapshots__/alert_widget_spec.js.snap
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Tweak badge sizes (part of UX review)
  app/assets/javascripts/releases/components/release_block_milestone_info.vue
  ee/app/assets/javascripts/analytics/code_review_analytics/components/app.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

PoC for Alert notification
  app/models/prometheus_alert.rb
  app/presenters/projects/prometheus/alert_presenter.rb
  app/services/clusters/applications/prometheus_config_service.rb
  app/services/clusters/applications/prometheus_update_service.rb
  app/services/incident_management/cancel_deployment_jobs_service.rb
  app/services/incident_management/create_issue_service.rb
  app/workers/incident_management/process_prometheus_alert_worker.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

set gitaly version
  GITALY_SERVER_VERSION
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Dark Mode
  app/assets/stylesheets/application_dark.scss
  app/assets/stylesheets/framework/common.scss
  app/assets/stylesheets/framework/dropdowns.scss
  app/assets/stylesheets/framework/filters.scss
  app/assets/stylesheets/framework/gitlab_theme.scss
  app/assets/stylesheets/framework/selects.scss
  app/assets/stylesheets/framework/variables.scss
  app/assets/stylesheets/notify.scss
  app/assets/stylesheets/pages/issuable.scss
  app/assets/stylesheets/pages/profiles/preferences.scss
  app/assets/stylesheets/themes/_dark.scss
  app/views/layouts/_head.html.haml
  changelogs/unreleased/psi-dark-theme.yml
  config/application.rb
  lib/gitlab/themes.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wut
  lib/gitlab/json.rb
  spec/lib/gitlab/json_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Tweak more badge sizes/classes
  app/assets/javascripts/releases/components/release_block_milestone_info.vue
  app/assets/javascripts/repository/components/table/row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create pipeline/filter converting jira markdown
  Gemfile
  Gemfile.lock
  lib/banzai/filter/jira_markdown_to_commonmark_filter.rb
  lib/banzai/pipeline/jira_markdown_pipeline.rb
  spec/lib/banzai/filter/jira_markdown_to_commonmark_filter_spec.rb
  spec/lib/banzai/pipeline/jira_markdown_pipeline_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Document how to use different hostname for smartcard auth in Omnibus
  doc/administration/auth/smartcard.md
Due: docs lint

Change 'once' to 'after'
  doc/topics/autodevops/index.md
Due: docs lint

Use stronger assertion
  spec/frontend/error_tracking/components/error_details_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Reverse order of cluster types
  doc/user/project/clusters/add_remove_clusters.md
Due: docs lint

Replace directions with a different set
  doc/user/project/clusters/add_remove_clusters.md
Due: docs lint

Add named export with default export for notes
  app/assets/javascripts/notes/index.js
  app/assets/javascripts/notes/stores/index.js
  app/assets/javascripts/notes/stores/modules/index.js
  app/assets/javascripts/sidebar/mount_sidebar.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Connect confidential component to notes store
  app/assets/javascripts/notes/index.js
  app/assets/javascripts/notes/stores/index.js
  app/assets/javascripts/notes/stores/modules/index.js
  app/assets/javascripts/sidebar/components/confidential/confidential_issue_sidebar.vue
  app/assets/javascripts/sidebar/mount_sidebar.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
