Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Don't schedule retry worker if acme order present
  app/services/pages_domains/retry_acme_order_service.rb
  spec/services/pages_domains/retry_acme_order_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Don't retry acme orders if auto_ssl is not enabled or not failed yet
  app/services/pages_domains/retry_acme_order_service.rb
  spec/services/pages_domains/retry_acme_order_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Fluentd into cluster apps ci/cd docs
  doc/user/clusters/applications.md
Due: docs lint

Fix IDE not showing diff when opening commit tab
  app/assets/javascripts/ide/components/repo_commit_section.vue
  changelogs/unreleased/199195-ide-fix-diff-highlighting.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add spec for openPendingTab for repo_commit_section
  spec/frontend/ide/components/repo_commit_section_spec.js
  spec/javascripts/ide/components/repo_commit_section_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix stylistic comments
  app/controllers/projects/pages_controller.rb
  app/controllers/projects/pages_domains_controller.rb
  app/models/pages_domain.rb
  app/views/projects/pages/_list.html.haml
  app/views/projects/pages_domains/_lets_encrypt_callout.html.haml
  spec/features/projects/pages_lets_encrypt_spec.rb
  spec/views/projects/pages/show.html.haml_spec.rb
  spec/views/projects/pages_domains/show.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add feature spec for retrying Let's Encrypt
  app/views/projects/pages_domains/_lets_encrypt_callout.html.haml
  spec/features/projects/pages_lets_encrypt_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix keyboard shortcut to navigate to your groups
  app/views/layouts/nav/_dashboard.html.haml
  changelogs/unreleased/fix-keyboard-shortcut-nav-to-groups.yml
  spec/features/dashboard/shortcuts_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Removed sort_discussions feature flag
  app/controllers/projects/issues_controller.rb
  app/controllers/projects/merge_requests_controller.rb
  app/views/projects/issues/show.html.haml
  app/views/projects/merge_requests/_awards_block.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove jasmine syntax & update to use jest syntax
  ee/spec/frontend/approvals/stores/modules/base/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Added changelog for sort discussions
  changelogs/unreleased/214218-feature-flag-enable-sort_discussions.yml
Due: none

Add mutation to Dismiss Vulnerability GraphQL API
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/graphql/ee/types/mutation_type.rb
  ee/app/graphql/mutations/vulnerabilities/dismiss.rb
  ee/app/graphql/types/permission_types/vulnerability.rb
  ee/app/graphql/types/vulnerability_type.rb
  ee/app/services/vulnerabilities/dismiss_service.rb
  ee/changelogs/unreleased/213598-add-mutation-to-dismiss-vulnerability.yml
  ee/spec/graphql/mutations/vulnerabilities/dismiss_spec.rb
  ee/spec/graphql/types/permission_types/vulnerability_spec.rb
  ee/spec/graphql/types/vulnerability_type_spec.rb
  ee/spec/services/vulnerabilities/dismiss_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix broken HTML note
  doc/user/application_security/container_scanning/index.md
Due: docs lint

Add stub section for logging and blocking
  doc/user/clusters/applications.md
Due: docs lint

Ignore namespaces.plan_id because it's unused
  app/models/namespace.rb
  config/pseudonymizer.yml
  ee/app/models/ee/namespace.rb
  ee/app/models/ee/pages_domain.rb
  ee/app/models/plan.rb
  ee/spec/models/ee/namespace_spec.rb
  ee/spec/models/plan_spec.rb
  ee/spec/support/shared_examples/features/gold_trial_callout_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Used correct MR number in changelog
  changelogs/unreleased/214218-feature-flag-enable-sort_discussions.yml
Due: none

Docs: Including note about tasks by chart causing top label error
  doc/user/analytics/value_stream_analytics.md
Due: docs lint

Custom fingerprint frequent, non-actionable exceptions
  lib/gitlab/error_tracking.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add spec for vulnerability entity
  ee/lib/ee/api/entities/vulnerability.rb
  ee/spec/fixtures/api/schemas/public_api/v4/vulnerability.json
  ee/spec/lib/ee/api/entities/vulnerability_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update docker version in docs
  doc/ci/docker/using_docker_build.md
  doc/user/application_security/container_scanning/index.md
  doc/user/application_security/dependency_scanning/index.md
  doc/user/application_security/sast/index.md
  doc/user/packages/container_registry/index.md
Due: docs lint

Refresh ProjectAuthorization during Group deletion
  app/services/groups/destroy_service.rb
  changelogs/unreleased/213665-update_project_authorizations_on_group_delete.yml
  db/post_migrate/20200204113225_schedule_recalculate_project_authorizations_third_run.rb
  db/structure.sql
  spec/migrations/schedule_recalculate_project_authorizations_third_run_spec.rb
  spec/services/groups/destroy_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added new docs headings
  doc/ci/pipelines/index.md
Due: docs lint

Fix filename bypass when uploading NuGet packages
  ee/changelogs/unreleased/security-fix-issue-213040.yml
  ee/lib/api/nuget_packages.rb
  ee/spec/requests/api/nuget_packages_spec.rb
  ee/spec/support/shared_examples/requests/api/nuget_packages_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix: Use two dashes for curl arguments instead of three
  doc/integration/elasticsearch.md
Due: docs lint

Added urls scanned to DAST documentation
  doc/user/application_security/dast/img/dast_urls_scanned_v12_10.png
  doc/user/application_security/dast/index.md
Due: docs lint

Prevent filename bypass on artifact upload
  GITLAB_WORKHORSE_VERSION
  changelogs/unreleased/security-fix-issue-213139.yml
  ee/spec/lib/gitlab/middleware/multipart_spec.rb
  lib/api/runner.rb
  lib/gitlab/middleware/multipart.rb
  spec/lib/gitlab/middleware/multipart_spec.rb
  spec/requests/api/runner_spec.rb
  spec/support/helpers/workhorse_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update CHANGELOG-EE.md for 12.7.9-ee
  CHANGELOG-EE.md
  ee/changelogs/unreleased/security-fix-issue-213040.yml
Due: none

Update rack and related gems to 2.0.9
  Gemfile
  Gemfile.lock
  app/models/active_session.rb
  changelogs/unreleased/security-update-rack-2-0-9.yml
  spec/models/active_session_spec.rb
  spec/support/rails/test_case_patch.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update CHANGELOG.md for 12.9.3
  CHANGELOG.md
Due: none

Update CHANGELOG-EE.md for 12.9.3-ee
  CHANGELOG-EE.md
Due: none

Update CHANGELOG.md for 12.7.9
  CHANGELOG.md
  changelogs/unreleased/213665-update_project_authorizations_on_group_delete.yml
  changelogs/unreleased/security-fix-issue-213139.yml
  changelogs/unreleased/security-update-rack-2-0-9.yml
Due: none

Update CHANGELOG.md for 12.8.9
  CHANGELOG.md
Due: none

Update CHANGELOG-EE.md for 12.8.9-ee
  CHANGELOG-EE.md
Due: none

Add `Unable to select a buildpack` trace
  doc/topics/autodevops/index.md
Due: docs lint

Set success to false in Geo::JobArtifactRegistry.insert_for_model_ids
  ee/app/finders/geo/lfs_object_registry_finder.rb
  ee/app/models/geo/job_artifact_registry.rb
  ee/spec/models/geo/job_artifact_registry_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update landing page image
  doc/.vale/gitlab/spelling-exceptions.txt
  doc/topics/autodevops/img/guide_environments_metrics_v12_3.png
  doc/topics/autodevops/img/guide_project_landing_page_v12_10.png
  doc/topics/autodevops/img/guide_project_landing_page_v12_3.png
  doc/topics/autodevops/quick_start_guide.md
  doc/topics/web_application_firewall/quick_start_guide.md
Due: docs lint

Add note about helm chart for dind with TLS
  doc/ci/docker/using_docker_build.md
Due: docs lint

Fix reactive cache handling in NetworkPoliciesController#summary
  ee/app/controllers/projects/security/network_policies_controller.rb
  ee/lib/gitlab/prometheus/queries/packet_flow_query.rb
  ee/spec/controllers/projects/security/network_policies_controller_spec.rb
  ee/spec/lib/gitlab/prometheus/queries/packet_flow_query_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add disk space requirements to code quality doc
  doc/user/project/merge_requests/code_quality.md
Due: docs lint

Add front-matter support to wiki pages
  app/models/wiki_page.rb
  lib/banzai/filter/front_matter_filter.rb
  lib/gitlab/front_matter.rb
  lib/gitlab/wiki_pages.rb
  lib/gitlab/wiki_pages/front_matter_parser.rb
  spec/lib/gitlab/wiki_pages/front_matter_parser_spec.rb
  spec/models/wiki_page_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
