Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Fix style issue
  ee/lib/gitlab/ci/parsers/security/formatters/dependency_list.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Don't serialize iid
  ee/spec/factories/dependencies.rb
  ee/spec/serializers/dependency_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Passing new Role Region to authorize_role_service
  app/assets/javascripts/create_cluster/eks_cluster/components/service_credentials_form.vue
  app/assets/javascripts/create_cluster/eks_cluster/store/actions.js
  app/controllers/clusters/clusters_controller.rb
  app/services/clusters/aws/authorize_role_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/user/snippets.md
Due: docs lint

Relax Danger commit linter to allow values surrounded by backticks
  lib/gitlab/danger/commit_linter.rb
  spec/lib/gitlab/danger/commit_linter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Random checkpoint
  app/assets/javascripts/pipelines/components/graph/stage_column_component.vue
  app/assets/javascripts/pipelines/pipeline_details_graph.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add project scope CI lint API endpoint
  lib/api/projects.rb
  spec/requests/api/projects_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updates the rspec tests with the new selectors
  spec/features/admin/admin_groups_spec.rb
  spec/features/groups/members/leave_group_spec.rb
  spec/features/groups/members/manage_groups_spec.rb
  spec/features/projects/branches/user_deletes_branch_spec.rb
  spec/features/projects/branches_spec.rb
  spec/features/projects/environments/environment_spec.rb
  spec/features/projects/members/groups_with_access_list_spec.rb
  spec/features/projects/members/list_spec.rb
  spec/features/protected_branches_spec.rb
  spec/features/tags/developer_deletes_tag_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove periodic_project_authorization_recalculation feature flag
  app/workers/authorized_project_update/periodic_recalculate_worker.rb
  app/workers/authorized_project_update/user_refresh_over_user_range_worker.rb
  config/feature_flags/development/periodic_project_authorization_recalculation.yml
  spec/workers/authorized_project_update/periodic_recalculate_worker_spec.rb
  spec/workers/authorized_project_update/user_refresh_over_user_range_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip
  app/models/label.rb
  db/migrate/20200922094625_add_default_compliance_frameworks.rb
  ee/app/controllers/ee/projects_controller.rb
  ee/app/graphql/types/compliance_management/project_setting_enum.rb
  ee/app/helpers/compliance_management/compliance_framework/project_settings_helper.rb
  ee/app/models/compliance_management/compliance_framework/project_settings.rb
  ee/app/models/ee/project.rb
  ee/app/services/ee/projects/update_service.rb
  ee/app/views/compliance_management/compliance_framework/_compliance_framework_badge.html.haml
  ee/app/views/compliance_management/compliance_framework/_project_settings.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Removes a duplicated effort
  app/views/projects/blob/_remove.html.haml
  app/views/projects/hooks/edit.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update specialized_project_authorization_project_share_worker feature flags
  config/feature_flags/development/specialized_project_authorization_project_share_worker.yml
  config/feature_flags/development/specialized_project_authorization_workers.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

test: add tests when no changes exist
  ee/spec/models/sca/license_compliance_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

chore: remove LicenseDiff class
  ee/app/models/sca/license_diff.rb
  ee/spec/models/sca/license_diff_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Removed roleRegion from cluster state
  app/assets/javascripts/create_cluster/eks_cluster/components/service_credentials_form.vue
  app/assets/javascripts/create_cluster/eks_cluster/store/actions.js
  app/assets/javascripts/create_cluster/eks_cluster/store/state.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updating the minimum inactivty date to 90 days
  doc/user/admin_area/activating_deactivating_users.md
Due: docs lint

fixed doc reference that was missed
  doc/user/admin_area/activating_deactivating_users.md
Due: docs lint

Fix profile scoped labels CSS
  app/assets/stylesheets/pages/profile.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix group level package permissions
  app/policies/group_policy.rb
  spec/policies/group_policy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Pass role region to cluster create form
  app/assets/javascripts/create_cluster/eks_cluster/constants.js
  app/assets/javascripts/create_cluster/eks_cluster/services/aws_services_facade.js
  app/assets/javascripts/create_cluster/eks_cluster/store/actions.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix profile scoped labels CSS
  changelogs/unreleased/scoped-label-dashboard.yml
Due: none

Allow reporters to view packages
  app/policies/group_policy.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog for MR 43008
  changelogs/unreleased/43008_group_level_permissions_registry.yml
Due: none

Remove region dropdown
  app/assets/javascripts/create_cluster/eks_cluster/components/eks_cluster_configuration_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update link in empty state of packages UI
  app/helpers/packages_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/user/admin_area/analytics/index.md
Due: docs lint

Add changelog
  changelogs/unreleased/43009-update-docs-link-packages.yml
Due: none

Remove fetch region dropdown methods
  app/assets/javascripts/create_cluster/eks_cluster/components/eks_cluster_configuration_form.vue
  app/assets/javascripts/create_cluster/eks_cluster/services/aws_services_facade.js
  app/assets/javascripts/create_cluster/eks_cluster/store/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add member avatar component
  app/assets/javascripts/vue_shared/components/members/avatars/group_avatar.vue
  app/assets/javascripts/vue_shared/components/members/avatars/invite_avatar.vue
  app/assets/javascripts/vue_shared/components/members/avatars/user_avatar.vue
  app/assets/javascripts/vue_shared/components/members/constants.js
  app/assets/javascripts/vue_shared/components/members/table/member_avatar.vue
  app/assets/javascripts/vue_shared/components/members/table/members_table.vue
  app/assets/javascripts/vue_shared/components/members/table/members_table_cell.vue
  locale/gitlab.pot
  spec/frontend/vue_shared/components/members/avatars/group_avatar_spec.js
  spec/frontend/vue_shared/components/members/avatars/invite_avatar_spec.js
  spec/frontend/vue_shared/components/members/avatars/user_avatar_spec.js
  spec/frontend/vue_shared/components/members/mock_data.js
  spec/frontend/vue_shared/components/members/table/member_avatar_spec.js
  spec/frontend/vue_shared/components/members/table/member_table_cell_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated help text for aws auth input
  app/assets/javascripts/create_cluster/eks_cluster/components/service_credentials_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move created issues in the activity column
  ee/app/assets/javascripts/security_dashboard/components/issues_badge.vue
  ee/app/assets/javascripts/security_dashboard/components/vulnerability_list.vue
  ee/app/assets/javascripts/security_dashboard/graphql/vulnerability.fragment.graphql
  ee/app/assets/javascripts/vulnerabilities/components/issue_link.vue
  ee/spec/frontend/security_dashboard/components/issues_badge_spec.js
  ee/spec/frontend/security_dashboard/components/vulnerability_list_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Don't refresh all discussions for a new note on a diff
  app/assets/javascripts/notes/stores/actions.js
  app/assets/javascripts/notes/stores/mutations.js
  app/serializers/concerns/discussion_attributes.rb
  app/serializers/discussion_entity.rb
  app/serializers/note_entity.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

feat: map all unchanged reported licenses to license policies
  ee/app/models/sca/license_compliance.rb
  ee/spec/models/sca/license_compliance_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated help text for cluster region input
  app/assets/javascripts/create_cluster/eks_cluster/components/eks_cluster_configuration_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated input fields
  app/assets/javascripts/create_cluster/eks_cluster/components/eks_cluster_configuration_form.vue
  app/assets/javascripts/create_cluster/eks_cluster/components/service_credentials_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Embed variables with GraphQL queries
  app/helpers/startupjs_helper.rb
  app/views/layouts/_startup_js.html.haml
  app/views/projects/tree/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add reliable tag to create milestone e2e specs
  qa/qa/specs/features/browser_ui/2_plan/milestone/create_group_milestone_spec.rb
  qa/qa/specs/features/browser_ui/2_plan/milestone/create_project_milestone_spec.rb
Due: graphql-reference-verify, pages, cache gems

Fix changelog to pass linter
  changelogs/unreleased/43009-update-docs-link-packages.yml
Due: none

Add support for Alerts to display the environment link
  app/assets/javascripts/alert_management/components/alert_details.vue
  app/assets/javascripts/vue_shared/components/alert_details_table.vue
  locale/gitlab.pot
  spec/frontend/alert_management/components/alert_details_spec.js
  spec/frontend/vue_shared/components/alert_details_table_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve details around issue template naming
  doc/user/project/description_templates.md
Due: docs lint
