Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Add some expectations, and confounding issues
  spec/models/issue_relative_position_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add new lines property to diff files
  app/assets/javascripts/diffs/components/app.vue
  app/assets/javascripts/diffs/components/diff_content.vue
  app/assets/javascripts/diffs/components/diff_line_note_form.vue
  app/assets/javascripts/diffs/components/inline_diff_view.vue
  app/assets/javascripts/diffs/store/actions.js
  app/assets/javascripts/diffs/store/mutations.js
  app/assets/javascripts/diffs/store/utils.js
  app/controllers/projects/merge_requests_controller.rb
  lib/gitlab/diff/highlight.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement JSON response for project/pipelines create
  app/controllers/projects/pipelines_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use controller on new pipeline form
  app/assets/javascripts/pipeline_new/components/pipeline_new_form.vue
  spec/frontend/pipeline_new/components/pipeline_new_form_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Proof of concept
  app/assets/javascripts/lib/utils/text_markdown.js
  app/assets/javascripts/vue_shared/components/markdown/header.vue
  app/assets/javascripts/vue_shared/components/markdown/toolbar_button.vue
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test fe pipeline
  app/assets/stylesheets/application.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Missed a spec
  spec/helpers/preferences_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch..."
  scripts/trigger-build
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Validate existence of SHAs in diff refs
  app/models/concerns/diff_positionable_note.rb
  app/models/diff_note.rb
  config/feature_flags/development/validate_note_diff_refs.yml
  spec/factories/draft_note.rb
  spec/models/diff_note_spec.rb
  spec/support/shared_examples/models/diff_positionable_note_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fuzz base should let extender define stage
  lib/gitlab/ci/templates/Security/Coverage-Fuzzing.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test #to_ability_name changes
  app/models/application_record.rb
  app/models/commit.rb
  app/models/concerns/issuable.rb
  app/models/concerns/timebox.rb
  app/models/note.rb
  app/models/notification_recipient.rb
  app/models/project.rb
  app/services/search_service.rb
  app/services/todo_service.rb
  ee/app/models/vulnerability.rb
  lib/api/helpers/notes_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Unquarantine spec to reproduce failure
  spec/features/projects/branches_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add timing information to JS logs
  app/assets/javascripts/main.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove scss-lint
  .gitlab/ci/rules.gitlab-ci.yml
  .scss-lint.yml
  Gemfile
  Gemfile.lock
  lib/gitlab/danger/helper.rb
  lib/tasks/lint.rake
  lib/tasks/scss-lint.rake
  scripts/static-analysis
  tooling/overcommit/Gemfile
  tooling/overcommit/Gemfile.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove scss-lint directives
  app/assets/stylesheets/fontawesome_custom.scss
  app/assets/stylesheets/framework/layout.scss
  app/assets/stylesheets/framework/mixins.scss
  app/assets/stylesheets/framework/typography.scss
  app/assets/stylesheets/mailer_client_specific.scss
  app/assets/stylesheets/pages/diff.scss
  app/assets/stylesheets/pages/merge_conflicts.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix stylelint error
  app/assets/stylesheets/framework/layout.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add npm request forward to snowplow
  lib/api/helpers/packages/dependency_proxy_helpers.rb
  spec/lib/api/helpers/packages/dependency_proxy_helpers_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog for MR 40174
  changelogs/unreleased/40174-snowflake-npm-forward.yml
Due: none

Prefer Regexp#match?(String) over String =~ Regexp
  lib/banzai/color_parser.rb
  lib/banzai/filter/abstract_reference_filter.rb
  lib/banzai/filter/ascii_doc_sanitization_filter.rb
  lib/banzai/filter/external_issue_reference_filter.rb
  lib/banzai/filter/gollum_tags_filter.rb
  lib/banzai/filter/project_reference_filter.rb
  lib/banzai/filter/reference_filter.rb
  lib/banzai/filter/user_reference_filter.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Prefer Regexp#match?(String) over String#match(Regexp)
  lib/banzai/filter/autolink_filter.rb
  lib/banzai/filter/commit_trailers_filter.rb
  lib/banzai/filter/emoji_filter.rb
  lib/banzai/filter/spaced_link_filter.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix gollum filter
  lib/banzai/filter/gollum_tags_filter.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Convert sanitization filter
  lib/banzai/filter/sanitization_filter.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  doc/development/documentation/feature_flags.md
Due: docs lint

Update per-project to by project
  doc/development/documentation/feature_flags.md
Due: docs lint

Add method to pass paths to frontend
  app/assets/javascripts/commons/vue.js
  app/assets/javascripts/vue_shared/mixins/gl_paths_mixin.js
  app/assets/javascripts/vue_shared/plugins/gl_paths_plugin.js
  app/controllers/application_controller.rb
  lib/gitlab/gon_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add example usage of push_frontend_path
  app/assets/javascripts/environments/components/empty_state.vue
  app/assets/javascripts/environments/components/environments_app.vue
  app/assets/javascripts/environments/index.js
  app/views/projects/environments/index.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Avoid refreshing authorized projects for groups in factory
  spec/factories/projects.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Added Other cloud Deployment Targets
  doc/ci/cloud_deployment/index.md
Due: docs lint

Add quick action for applying the ~'Actionable Insight' label
  .gitlab/issue_templates/actionable_insight.md
Due: none

Fix failing specs
  ee/app/assets/javascripts/dast_profiles/components/dast_profiles.vue
  ee/spec/frontend/dast_profiles/components/dast_profiles_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add scanner query
  ee/app/assets/javascripts/dast_profiles/components/dast_profiles.vue
  ee/app/assets/javascripts/dast_profiles/graphql/cache_utils.js
  ee/app/assets/javascripts/dast_profiles/graphql/dast_scanner_profiles.query.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make profile list fields dynamic
  ee/app/assets/javascripts/dast_profiles/components/dast_profiles.vue
  ee/app/assets/javascripts/dast_profiles/components/dast_profiles_list.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Make queries dynamic
  ee/app/assets/javascripts/dast_profiles/components/dast_profiles.vue
  ee/app/assets/javascripts/dast_profiles/graphql/provider.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

More polish
  ee/app/assets/javascripts/dast_profiles/components/dast_profiles.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix small bug
  ee/app/assets/javascripts/dast_profiles/components/dast_profiles.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make results data dynamic
  ee/app/assets/javascripts/dast_profiles/components/dast_profiles.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Small polish
  ee/app/assets/javascripts/dast_profiles/components/dast_profiles.vue
  ee/app/assets/javascripts/dast_profiles/graphql/cache_utils.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make deletion dynamic
  ee/app/assets/javascripts/dast_profiles/components/dast_profiles.vue
  ee/app/assets/javascripts/dast_profiles/graphql/cache_utils.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add delete query and small refactor
  ee/app/assets/javascripts/dast_profiles/components/dast_profiles.vue
  ee/app/assets/javascripts/dast_profiles/graphql/cache_utils.js
  ee/app/assets/javascripts/dast_profiles/graphql/dast_scanner_profiles_delete.mutation.graphql
  ee/app/assets/javascripts/dast_profiles/graphql/dast_site_profiles_delete.mutation.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
