Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Use kaniko to build qa image
  .gitlab/ci/global.gitlab-ci.yml
  .gitlab/ci/review.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added changelog entry
  ee/changelogs/unreleased/210061-feature-flag-enable-value-stream-analytics-tasks-by-type-chart.yml
Due: none

Run sidekiq-server middleware in all specs
  spec/lib/gitlab/import_export/project/import_task_spec.rb
  spec/spec_helper.rb
  spec/support/sidekiq_middleware.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Move tasks by type chart into folder
  ee/app/assets/javascripts/analytics/cycle_analytics/components/base.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/tasks_by_type/tasks_by_type_chart.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/tasks_by_type/tasks_by_type_filters.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/type_of_work_charts.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/store/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/mutations.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/state.js
  ee/spec/frontend/analytics/cycle_analytics/components/__snapshots__/tasks_by_type_chart_spec.js.snap
  ee/spec/frontend/analytics/cycle_analytics/components/base_spec.js
  ee/spec/frontend/analytics/cycle_analytics/components/tasks_by_type/__snapshots__/tasks_by_type_chart_spec.js.snap
  ee/spec/frontend/analytics/cycle_analytics/components/tasks_by_type/tasks_by_type_chart_spec.js
  ee/spec/frontend/analytics/cycle_analytics/components/tasks_by_type/tasks_by_type_filters_spec.js
  ee/spec/frontend/analytics/cycle_analytics/components/type_of_work_charts_spec.js
  ee/spec/frontend/analytics/cycle_analytics/mock_data.js
  ee/spec/frontend/analytics/cycle_analytics/store/actions_spec.js
  ee/spec/frontend/analytics/cycle_analytics/store/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add cop for modifying Sidekiq middleware in specs
  rubocop/cop/rspec/modify_sidekiq_middleware.rb
  spec/rubocop/cop/rspec/modify_sidekiq_middleware_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Expose first_contribution for merge request API
  changelogs/unreleased/24742-1st-contribution.yml
  doc/api/merge_requests.md
  lib/api/entities/merge_request.rb
  lib/api/merge_requests.rb
  spec/requests/api/merge_requests_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Correctly validate if a middleware is not called
  spec/lib/gitlab/sidekiq_middleware_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add ability to initiate import of Jira project
  app/assets/javascripts/jira_import/components/jira_import_app.vue
  app/assets/javascripts/jira_import/components/jira_import_form.vue
  app/assets/javascripts/jira_import/components/jira_import_progress.vue
  app/assets/javascripts/jira_import/components/jira_import_setup.vue
  app/assets/javascripts/jira_import/index.js
  app/assets/javascripts/jira_import/queries/getJiraProjects.query.graphql
  app/assets/javascripts/jira_import/queries/get_jira_import_details.query.graphql
  app/assets/javascripts/jira_import/queries/initiate_jira_import.mutation.graphql
  app/assets/javascripts/jira_import/queries/jira_import.fragment.graphql
  app/assets/javascripts/jira_import/utils.js
  app/controllers/projects/import/jira_controller.rb
  app/views/projects/import/jira/show.html.haml
  locale/gitlab.pot
  spec/frontend/jira_import/components/jira_import_app_spec.js
  spec/frontend/jira_import/components/jira_import_form_spec.js
  spec/frontend/jira_import/components/jira_import_progress_spec.js
  spec/frontend/jira_import/components/jira_import_setup_spec.js
  spec/frontend/jira_import/utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add documentation for issues rate limit
  doc/security/rate_limits.md
  doc/user/admin_area/settings/img/rate_limit_on_issues_creation.png
  doc/user/admin_area/settings/rate_limit_on_issues_creation.md
Due: docs lint

Expose work information on User
  lib/api/entities/user.rb
  spec/lib/api/entities/user_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Display work information from API
  app/assets/javascripts/user_popovers.js
  app/assets/javascripts/vue_shared/components/user_popover/user_popover.vue
  spec/frontend/vue_shared/components/user_popover/user_popover_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable the Add metric button for CE users
  app/assets/javascripts/monitoring/components/dashboard.vue
  changelogs/unreleased/214768-add-metrics-button-is-missing-in-ce.yml
  ee/app/assets/javascripts/monitoring/components/dashboard.vue
  ee/spec/frontend/monitoring/components/dashboard_spec.js
  spec/frontend/monitoring/components/dashboard_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use helper to test sidekiq middleware in isolation
  spec/features/admin/admin_mode/workers_spec.rb
  spec/lib/gitlab/sidekiq_middleware/duplicate_jobs/server_spec.rb
  spec/lib/gitlab/sidekiq_middleware/worker_context/server_spec.rb
  spec/lib/gitlab/sidekiq_middleware_spec.rb
  spec/lib/marginalia_spec.rb
  spec/spec_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update rouge to v3.18.0
  Gemfile
  Gemfile.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add missing tier badge
  doc/user/project/issues/design_management.md
Due: docs lint

Prevent username overriding when creating a Deploy Token via the API
  changelogs/unreleased/28175-fix-username-override.yml
  lib/api/deploy_tokens.rb
  spec/requests/api/deploy_tokens_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add docs for praefect rake tasks
  doc/administration/raketasks/praefect.md
Due: docs lint

Add Secure Team specific style to Go guidelines
  doc/development/go_guide/index.md
Due: docs lint

Initialized Snippet Edit Vue app
  app/assets/javascripts/blob/components/blob_edit_content.vue
  app/assets/javascripts/snippet/snippet_edit.js
  app/assets/javascripts/snippets/components/edit.vue
  app/assets/javascripts/snippets/components/snippet_description_edit.vue
  app/assets/javascripts/snippets/index.js
  app/assets/javascripts/snippets/mutations/createSnippet.mutation.graphql
  app/assets/javascripts/snippets/mutations/updateSnippet.mutation.graphql
  app/assets/javascripts/vue_shared/components/form/title.vue
  app/views/shared/snippets/_form.html.haml
  changelogs/unreleased/207463-edit-form-connected.yml
  locale/gitlab.pot
  spec/features/projects/snippets/create_snippet_spec.rb
  spec/features/projects/snippets/user_updates_snippet_spec.rb
  spec/features/snippets/spam_snippets_spec.rb
  spec/features/snippets/user_creates_snippet_spec.rb
  spec/features/snippets/user_edits_snippet_spec.rb
  spec/frontend/blob/components/blob_edit_content_spec.js
  spec/frontend/helpers/dom_events_helper.js
  spec/frontend/snippet/snippet_edit_spec.js
  spec/frontend/snippets/components/__snapshots__/snippet_description_edit_spec.js.snap
  spec/frontend/snippets/components/edit_spec.js
  spec/frontend/vue_shared/components/form/__snapshots__/title_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Link to SSOT for package reg. in permissions.md
  doc/user/permissions.md
Due: docs lint

Sort move issue projects dropdown by star count
  app/finders/autocomplete/move_to_project_finder.rb
  app/models/project.rb
  changelogs/unreleased/sort-move-projects.yml
  spec/finders/autocomplete/move_to_project_finder_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Bypass 2FA check for smartcards
  app/controllers/concerns/enforces_two_factor_authentication.rb
  ee/app/controllers/concerns/ee/enforces_two_factor_authentication.rb
  ee/spec/features/users/login_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add pinning test docs
  doc/development/README.md
  doc/development/refactoring_guide/index.md
Due: docs lint

Docs: Mentions on comments on Designs will generate Todos
  doc/user/todos.md
Due: docs lint

Update dependency @gitlab/ui to v12.1.0
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  ee/changelogs/unreleased/34159-smarcards-as-2fa.yml
Due: none

Document backup retention with custom filenames
  doc/raketasks/backup_restore.md
Due: docs lint

Implement generating signed JWT to be used in CI
  \
  app/models/ci/build.rb
  changelogs/unreleased/207125-ci-jwt-auth.yml
  lib/gitlab/ci/jwt.rb
  spec/lib/gitlab/ci/jwt_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use build.id as subject for CI_JOB_JWT
  doc/ci/examples/authenticating-with-hashicorp-vault/index.md
  lib/gitlab/ci/jwt.rb
  spec/lib/gitlab/ci/jwt_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose failed_relations in REST API
  app/models/import_failure.rb
  app/models/project_import_state.rb
  changelogs/unreleased/210522-api-expose-import-failures.yml
  db/migrate/20200409085956_add_partial_index_on_import_failures_retry_count.rb
  db/structure.sql
  doc/api/project_import_export.md
  lib/api/entities/project_import_failed_relation.rb
  lib/api/entities/project_import_status.rb
  spec/factories/import_failures.rb
  spec/factories/projects.rb
  spec/lib/api/entities/project_import_failed_relation_spec.rb
  spec/lib/api/entities/project_import_status_spec.rb
  spec/models/import_failure_spec.rb
  spec/models/project_import_state_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Document usage of CI_JOB_JWT
  \
  doc/ci/examples/README.md
  doc/ci/examples/authenticating-with-hashicorp-vault/img/vault-read-secrets-production.png
  doc/ci/examples/authenticating-with-hashicorp-vault/img/vault-read-secrets-staging.png
  doc/ci/examples/authenticating-with-hashicorp-vault/index.md
  doc/ci/variables/predefined_variables.md
Due: docs lint

Fix Error 500 when inviting user to a few projects
  changelogs/unreleased/214691-error-500-when-inviting-user-to-a-few-projects.yml
  ee/lib/gitlab/auth/group_saml/gma_membership_enforcer.rb
  ee/spec/lib/gitlab/auth/group_saml/gma_membership_enforcer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

StatusPageSetting to StatusPage::ProjectSetting
  ee/app/models/ee/project.rb
  ee/app/models/status_page/project_setting.rb
  ee/lib/ee/gitlab/usage_data.rb
  ee/spec/controllers/projects/settings/operations_controller_spec.rb
  ee/spec/factories/status_page_settings.rb
  ee/spec/models/project_spec.rb
  ee/spec/models/status_page/project_setting_spec.rb
  ee/spec/services/status_page/unpublish_details_service_spec.rb
  ee/spec/support/shared_contexts/status_page/status_page_enabled_context.rb
  ee/spec/support/shared_examples/status_page/publish_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add new /-/jwks route used to validate CI_JOB_JWT
  config/routes.rb
  doc/ci/examples/authenticating-with-hashicorp-vault/index.md
  spec/routing/openid_connect_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Decouple Gitlab::Ci::JWT from JSONWebToken
  lib/gitlab/ci/jwt.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add warning to always restrict scope of Vault role
  doc/ci/examples/authenticating-with-hashicorp-vault/index.md
Due: docs lint

Add `group_owners_can_manage_default_branch_protection ` column
  changelogs/unreleased/211944-provide-instance-level-setting-to-enable-or-disable-default-branch.yml
  db/migrate/20200413072059_add_group_owners_can_manage_default_branch_protection_to_application_settings.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change default expire time for CI_JOB_JWT to 5 min
  doc/ci/examples/authenticating-with-hashicorp-vault/index.md
  lib/gitlab/ci/jwt.rb
  spec/lib/gitlab/ci/jwt_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change group_overview feature specs to use translated strings
  ee/spec/features/groups/group_overview_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fixed deploy token creation
  app/controllers/groups/settings/ci_cd_controller.rb
  app/services/concerns/deploy_token_methods.rb
  app/services/groups/deploy_tokens/create_service.rb
  app/services/projects/deploy_tokens/create_service.rb
  spec/support/shared_examples/controllers/deploy_token_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
