Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Connect status dropdown
  app/assets/javascripts/alert_management/components/alert_details.vue
  app/assets/javascripts/alert_management/constants.js
  app/assets/javascripts/alert_management/details.js
  app/assets/javascripts/alert_management/graphql/mutations/update_alert_status.graphql
  locale/gitlab.pot
  spec/frontend/alert_management/components/alert_management_detail_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix md lint
  doc/test.erb.md
Due: docs lint

Troubleshooting invalid group names
  doc/user/group/index.md
Due: docs lint

Geo: Remove snapshot flow
  doc/administration/geo/replication/datatypes.md
  ee/app/models/geo_node.rb
  ee/app/services/geo/repository_base_sync_service.rb
  ee/spec/models/geo_node_spec.rb
  ee/spec/services/geo/design_repository_sync_service_spec.rb
  ee/spec/services/geo/repository_sync_service_spec.rb
  ee/spec/services/geo/wiki_sync_service_spec.rb
  ee/spec/support/shared_examples/services/base_sync_service_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update POST request docs with deprecations and new attributes
  doc/api/feature_flags.md
Due: docs lint

Deprecate legacy feature flags api
  doc/api/feature_flag_specs.md
  doc/api/feature_flags.md
Due: docs lint

Add new instructions
  doc/user/project/operations/feature_flags.md
Due: docs lint

Update deprecation message
  doc/api/feature_flag_specs.md
Due: docs lint

Add new feature flags documentation
  doc/api/legacy_feature_flags.md
  doc/user/project/operations/legacy_feature_flags.md
Due: docs lint

Revert changes to feature flags api documentation
  doc/api/feature_flags.md
Due: docs lint

WIP: Stream the JSON array for the discussions endpoint
  app/controllers/concerns/issuable_actions.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

removed information on mapping metrics to a stage
  doc/user/admin_area/settings/usage_statistics.md
Due: docs lint

Update deprecated slot syntax
  app/assets/javascripts/pages/milestones/shared/components/promote_milestone_modal.vue
  changelogs/unreleased/update-deprecated-slot-syntax-in---app-assets-javascripts-pages-milestone.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update merge request number in the changelog
  changelogs/unreleased/update-deprecated-slot-syntax-in---app-assets-javascripts-pages-milestone.yml
Due: none

Update deprecated slot syntax
  app/assets/javascripts/diffs/components/diff_discussions.vue
  changelogs/unreleased/update-deprecated-slot-syntax-in---app-assets-javascripts-diffs-component.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update merge request number in the changelog
  changelogs/unreleased/update-deprecated-slot-syntax-in---app-assets-javascripts-diffs-component.yml
Due: none

Extract diff expansion cell guts
  app/assets/javascripts/diffs/components/diff_expansion_cell.vue
  app/assets/javascripts/diffs/components/inline_diff_expansion_row.vue
  app/assets/javascripts/diffs/components/parallel_diff_expansion_row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add datepicker component instead of due_date component
  ee/app/assets/javascripts/iterations/components/date_picker.vue
  ee/app/assets/javascripts/iterations/components/iteration_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Extract contents of diff_table_cell
  app/assets/javascripts/diffs/components/diff_table_cell.vue
  app/assets/javascripts/diffs/components/inline_diff_table_row.vue
  app/assets/javascripts/diffs/components/parallel_diff_table_row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Prettier file to pass static-analysis
  app/assets/javascripts/diffs/components/diff_discussions.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update add_gke_clusters.md
  doc/user/project/clusters/add_gke_clusters.md
Due: docs lint

Disable bundled PSQL on secondary node setup
  doc/administration/geo/replication/external_database.md
Due: docs lint

Fixed markup issues
  doc/user/admin_area/settings/usage_statistics.md
Due: docs lint

Remove trailing spaces
  doc/administration/geo/replication/external_database.md
Due: docs lint

Refactor `Projects::TransferService` spec
  spec/services/projects/transfer_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

quarantine 8_monitor failing tests
  qa/qa/specs/features/browser_ui/8_monitor/all_monitor_core_features_spec.rb
  qa/qa/specs/features/ee/browser_ui/8_monitor/all_monitor_features_spec.rb
Due: graphql-reference-verify, pages, cache gems

Replaced high availability with multi node
  doc/administration/geo/replication/geo_multi_node.md
Due: docs lint

Apply suggestion to doc/administration/geo/replication/geo_multi_node.md
  doc/administration/geo/replication/geo_multi_node.md
Due: docs lint

Add documentation for templating variables
  doc/user/project/integrations/prometheus.md
  doc/user/project/monitoring_dashboards/templating.md
Due: docs lint

Add documentation for templating variables
  doc/user/project/monitoring_dashboards/templating.md
Due: docs lint

Add documentation for templating variables
  doc/user/project/integrations/prometheus.md
Due: docs lint

Move docs about custom dashboards
  doc/user/project/index.md
  doc/user/project/integrations/prometheus.md
  doc/user/project/monitoring_dashboards/dashboard_actions.md
  doc/user/project/monitoring_dashboards/dashboard_yaml.md
  doc/user/project/monitoring_dashboards/defining_custom_dashboards.md
  doc/user/project/monitoring_dashboards/img/heatmap_panel_type.png
  doc/user/project/monitoring_dashboards/img/metrics_dashboard_annotations_ui_v13.0.png
  doc/user/project/monitoring_dashboards/img/panel_context_menu_v12_10.png
  doc/user/project/monitoring_dashboards/img/prometheus_alert.png
  doc/user/project/monitoring_dashboards/img/prometheus_dashboard_anomaly_panel_type.png
  doc/user/project/monitoring_dashboards/img/prometheus_dashboard_area_panel_type_v12_8.png
  doc/user/project/monitoring_dashboards/img/prometheus_dashboard_bar_chart_panel_type_v12.10.png
  doc/user/project/monitoring_dashboards/img/prometheus_dashboard_column_panel_type.png
  doc/user/project/monitoring_dashboards/img/prometheus_dashboard_edit_metric_link_v_12_9.png
  doc/user/project/monitoring_dashboards/img/prometheus_dashboard_label_variable_shorthand.png
  doc/user/project/monitoring_dashboards/img/prometheus_dashboard_label_variables.png
  doc/user/project/monitoring_dashboards/img/prometheus_dashboard_repeated_label.png
  doc/user/project/monitoring_dashboards/img/prometheus_dashboard_single_stat_panel_type.png
  doc/user/project/monitoring_dashboards/img/prometheus_dashboard_stacked_column_panel_type_v12_8.png
  doc/user/project/monitoring_dashboards/index.md
  doc/user/project/monitoring_dashboards/panel_types.md
  doc/user/project/monitoring_dashboards/troubleshooting.md
Due: docs lint

I18n: externalize strings from ./app/views/users/calendar_activities.html.haml
  app/views/users/calendar_activities.html.haml
  changelogs/unreleased/22691-i18n-externelize-strings-from---app-views-users-calendar_activities.yml
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update the changelog
  changelogs/unreleased/22691-i18n-externelize-strings-from---app-views-users-calendar_activities.yml
Due: none

Add callout for the number of nodes in cluster
  doc/user/project/clusters/add_gke_clusters.md
Due: docs lint

Externalize i18n strings from ./app/views/shared/milestones/_merge_requests_tab.haml
  app/views/shared/milestones/_merge_requests_tab.haml
  changelogs/unreleased/22691-externalize-i18n-strings-from---app-views-shared-milestones-_merge_.yml
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update changelog MR number
  changelogs/unreleased/22691-externalize-i18n-strings-from---app-views-shared-milestones-_merge_.yml
Due: none

Add trigger type to sync service logs
  ee/app/services/geo/repository_base_sync_service.rb
  ee/app/workers/geo/scheduler/scheduler_worker.rb
  ee/app/workers/geo/secondary/repository_backfill_worker.rb
  ee/lib/gitlab/geo/container_repository_log_helpers.rb
  ee/lib/gitlab/geo/log_helpers.rb
  ee/spec/services/geo/container_repository_sync_service_spec.rb
  ee/spec/services/geo/repository_base_sync_service_spec.rb
  ee/spec/support/shared_examples/models/geo_logs_trigger_info_shared_examples.rb
  ee/spec/workers/geo/container_repository_sync_dispatch_worker_spec.rb
  ee/spec/workers/geo/file_download_dispatch_worker_spec.rb
  ee/spec/workers/geo/repository_shard_sync_worker_spec.rb
  ee/spec/workers/geo/repository_verification/secondary/shard_worker_spec.rb
  ee/spec/workers/geo/secondary/repository_backfill_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
