Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Map feature flag userWithId strategy parameters between BE and FE
  ee/app/assets/javascripts/feature_flags/components/new_environments_dropdown.vue
  ee/app/assets/javascripts/feature_flags/store/modules/helpers.js
  ee/spec/features/projects/feature_flags/user_creates_feature_flag_spec.rb
  ee/spec/frontend/feature_flags/store/helpers_spec.js
  ee/spec/support/helpers/feature_flag_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Applying reviewer feedback
  ee/app/assets/javascripts/packages/list/components/packages_list.vue
  ee/app/assets/javascripts/packages/list/components/packages_list_row.vue
  ee/spec/frontend/packages/list/components/__snapshots__/packages_list_row_spec.js.snap
  ee/spec/frontend/packages/list/components/packages_list_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Applying maintainer feedback
  ee/app/assets/javascripts/packages/list/components/packages_list.vue
  ee/app/assets/javascripts/packages/list/components/packages_list_row.vue
  ee/spec/frontend/packages/list/components/__snapshots__/packages_list_row_spec.js.snap
  ee/spec/frontend/packages/list/stores/getters_spec.js
  ee/spec/frontend/packages/shared/utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Changed to use GlNewButton
  ee/app/assets/javascripts/packages/list/components/packages_list_row.vue
  ee/spec/frontend/packages/list/components/__snapshots__/packages_list_row_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Applying UX feedback
  ee/app/assets/javascripts/packages/list/components/packages_list_row.vue
  ee/spec/frontend/packages/list/components/__snapshots__/packages_list_row_spec.js.snap
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add deployment frequency to Group Summary
  ee/changelogs/unreleased/add-deployment-frequency-to-group-vsa-summary.yml
  ee/spec/features/analytics/cycle_analytics/cycle_analytics_spec.rb
  ee/spec/fixtures/api/schemas/analytics/cycle_analytics/summary.json
  ee/spec/frontend/analytics/cycle_analytics/components/__snapshots__/recent_activity_card_spec.js.snap
  lib/gitlab/cycle_analytics/group_stage_summary.rb
  lib/gitlab/cycle_analytics/summary/group/deployment_frequency.rb
  lib/gitlab/cycle_analytics/summary_helper.rb
  locale/gitlab.pot
  spec/lib/gitlab/cycle_analytics/group_stage_summary_spec.rb
  spec/models/cycle_analytics/group_level_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated as per new designs
  ee/app/assets/javascripts/packages/list/components/packages_list_row.vue
  ee/app/assets/javascripts/packages/list/components/publish_method.vue
  ee/spec/frontend/packages/list/components/__snapshots__/packages_list_row_spec.js.snap
  ee/spec/frontend/packages/list/components/__snapshots__/publish_method_spec.js.snap
  ee/spec/frontend/packages/list/components/packages_list_row_spec.js
  ee/spec/frontend/packages/list/components/publish_method_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add docs for GroupActivity Analytics feature
  doc/user/group/img/group_activity_analytics_v12_10.png
  doc/user/group/index.md
Due: docs lint

Document praefect dataloss subcommand
  doc/administration/gitaly/praefect.md
Due: docs lint

Remove under review warning
  doc/install/aws/index.md
Due: docs lint

Enable requirements by default
  ee/app/controllers/projects/requirements_controller.rb
  ee/app/graphql/ee/types/project_type.rb
  ee/app/graphql/mutations/requirements/create.rb
  ee/app/graphql/resolvers/requirements_resolver.rb
  ee/app/views/layouts/nav/_requirements_link.html.haml
  ee/changelogs/unreleased/requirements.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose positions and line_codes of a diff note
  app/models/diff_discussion.rb
  app/models/note.rb
  app/serializers/discussion_entity.rb
  spec/serializers/discussion_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update screenshot and instructions
  doc/user/clusters/applications.md
  doc/user/clusters/img/fluentd_v12_10.png
Due: docs lint

Add MVP pypi docs
  doc/administration/geo/replication/datatypes.md
  doc/administration/packages/index.md
  doc/api/packages.md
  doc/user/packages/index.md
  doc/user/packages/pypi_repository/index.md
Due: docs lint

Support single- or multiple-token deletion via backspace keyboard combinations in search inputs
  app/assets/javascripts/filtered_search/filtered_search_manager.js
  app/assets/javascripts/lib/utils/keycodes.js
  changelogs/unreleased/issue-211404.yml
  doc/user/search/index.md
  doc/user/shortcuts.md
  spec/javascripts/filtered_search/filtered_search_manager_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

License Compliance: Add note about exact name matching
  doc/user/compliance/license_compliance/index.md
Due: docs lint

Try to get the offline docs to be similar - Container Scanning
  doc/user/application_security/container_scanning/index.md
Due: docs lint

GitLab UI: 608-button-migration-rename-gl-new-button integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace access to container in internal API
  lib/api/helpers/internal_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Upgrade @gitlab/ui to v12
  app/assets/javascripts/jira_import/components/jira_import_form.vue
  app/assets/javascripts/releases/components/app_edit.vue
  app/assets/javascripts/releases/components/asset_links_form.vue
  app/assets/javascripts/snippets/components/snippet_header.vue
  app/assets/javascripts/static_site_editor/components/publish_toolbar.vue
  app/assets/javascripts/static_site_editor/components/saved_changes_message.vue
  app/assets/javascripts/vue_shared/components/clone_dropdown.vue
  ee/app/assets/javascripts/dependencies/components/dependencies_table.vue
  ee/app/assets/javascripts/roadmap/components/epic_item_details.vue
  ee/app/assets/javascripts/security_dashboard/components/csv_export_button.vue
  ee/app/assets/javascripts/security_dashboard/components/first_class_group_security_dashboard_vulnerabilities.vue
  ee/app/assets/javascripts/security_dashboard/components/first_class_instance_security_dashboard_vulnerabilities.vue
  ee/app/assets/javascripts/sidebar/components/status/status.vue
  ee/app/assets/javascripts/vue_shared/discover/card_security_discover_app.vue
  ee/app/assets/javascripts/vulnerabilities/components/history_comment.vue
  ee/app/assets/javascripts/vulnerabilities/components/history_comment_editor.vue
  ee/spec/frontend/dependencies/components/dependencies_table_spec.js
  ee/spec/frontend/roadmap/components/epic_item_details_spec.js
  package.json
  spec/frontend/jira_import/components/jira_import_form_spec.js
  spec/frontend/snippets/components/snippet_header_spec.js
  spec/frontend/static_site_editor/components/publish_toolbar_spec.js
  spec/frontend/vue_shared/components/__snapshots__/clone_dropdown_spec.js.snap
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove unused store module
  ee/app/assets/javascripts/dependencies/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Gather historical pod list from Elasticsearch
  app/services/pod_logs/base_service.rb
  app/services/pod_logs/elasticsearch_service.rb
  app/services/pod_logs/kubernetes_service.rb
  changelogs/unreleased/ak-historical-pods.yml
  lib/gitlab/elasticsearch/logs.rb
  lib/gitlab/elasticsearch/logs/lines.rb
  lib/gitlab/elasticsearch/logs/pods.rb
  spec/fixtures/lib/elasticsearch/pods_query.json
  spec/fixtures/lib/elasticsearch/pods_response.json
  spec/lib/gitlab/elasticsearch/logs/lines_spec.rb
  spec/lib/gitlab/elasticsearch/logs/pods_spec.rb
  spec/services/pod_logs/base_service_spec.rb
  spec/services/pod_logs/elasticsearch_service_spec.rb
  spec/services/pod_logs/kubernetes_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch '213382-use-not-valid-to-immediately-enforce-a-not-null-constraint' into 'master'"
  app/models/ci/job_artifact.rb
  app/models/lfs_object.rb
  app/uploaders/records_uploads.rb
  changelogs/unreleased/213382-use-not-valid-to-immediately-enforce-a-not-null-constraint.yml
  db/migrate/20200406165950_add_not_null_constraint_on_file_store_to_lfs_objects.rb
  db/migrate/20200406171857_add_not_null_constraint_on_file_store_to_ci_job_artifacts.rb
  db/migrate/20200406172135_add_not_null_constraint_on_file_store_to_uploads.rb
  db/migrate/20200415160722_remove_not_null_lfs_objects_constraint.rb
  db/migrate/20200415161021_remove_not_null_ci_job_artifacts_constraint.rb
  db/migrate/20200415161206_remove_not_null_uploads_constraint.rb
  db/structure.sql
  ee/spec/services/security/store_scans_service_spec.rb
  spec/factories/ci/job_artifacts.rb
  spec/models/ci/job_artifact_spec.rb
  spec/uploaders/records_uploads_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename pipeline section header
  doc/README.md
  doc/ci/pipelines/settings.md
  doc/user/application_security/security_dashboard/index.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add migration for the `Route.path` trigram index
  db/migrate/20200408133211_add_index_on_route_path_trigram.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

More stable fixture for commit_with_diff
  spec/frontend/diffs/components/commit_item_spec.js
  spec/frontend/fixtures/merge_requests_diffs.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Rename GlNewButton to GlButton
  app/assets/javascripts/static_site_editor/components/invalid_content_message.vue
  ee/app/assets/javascripts/packages/list/components/packages_list_row.vue
  ee/spec/frontend/packages/list/components/__snapshots__/packages_list_row_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve the ElasticSearch settings autocomplete
  app/finders/autocomplete/routes_finder.rb
  app/models/route.rb
  app/serializers/route_entity.rb
  app/serializers/route_serializer.rb
  config/routes.rb
  db/structure.sql
  ee/app/assets/javascripts/pages/admin/application_settings/integrations/index.js
  ee/app/controllers/ee/autocomplete_controller.rb
  ee/app/helpers/ee/application_settings_helper.rb
  ee/app/models/elasticsearch_indexed_namespace.rb
  ee/app/models/elasticsearch_indexed_project.rb
  ee/changelogs/unreleased/199089-sometimes-you-cannot-find-the-group-in-the-autofill-dropdown-fo.yml
  ee/spec/controllers/autocomplete_controller_spec.rb
  ee/spec/features/admin/admin_settings_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update selection summary to emit refetch/deselect
  ee/app/assets/javascripts/security_dashboard/components/selection_summary.vue
  ee/app/assets/javascripts/security_dashboard/graphql/dismissVulnerability.graphql
  ee/spec/frontend/security_dashboard/components/selection_summary_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update locale/gitlab.pot for with new messages
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Create new selection_summary component for GraphQL
  ee/app/assets/javascripts/security_dashboard/components/security_dashboard_table.vue
  ee/app/assets/javascripts/security_dashboard/components/selection_summary.vue
  ee/app/assets/javascripts/security_dashboard/components/selection_summary_vuex.vue
  ee/app/assets/javascripts/security_dashboard/graphql/dismissVulnerability.graphql
  ee/spec/frontend/security_dashboard/components/selection_summary_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add caller_id to the context for cron workers
  app/workers/concerns/cronjob_queue.rb
  lib/gitlab/application_context.rb
  spec/lib/gitlab/application_context_spec.rb
  spec/workers/concerns/cronjob_queue_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove project_search_by_full_path feature flag
  app/models/project.rb
  spec/models/project_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove default from custom Sentry fingerprinting
  lib/gitlab/error_tracking.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Find audit events based on audit level
  ee/app/controllers/admin/audit_logs_controller.rb
  ee/app/controllers/groups/audit_events_controller.rb
  ee/app/controllers/projects/audit_events_controller.rb
  ee/app/finders/audit_log_finder.rb
  ee/app/models/ee/audit_event.rb
  ee/app/views/shared/audit_events/_event_table.html.haml
  ee/lib/api/audit_events.rb
  ee/lib/ee/api/groups.rb
  ee/lib/gitlab/audit/levels/group.rb
  ee/lib/gitlab/audit/levels/instance.rb
  ee/lib/gitlab/audit/levels/project.rb
  ee/spec/controllers/groups/audit_events_controller_spec.rb
  ee/spec/controllers/projects/audit_events_controller_spec.rb
  ee/spec/finders/audit_log_finder_spec.rb
  ee/spec/lib/gitlab/audit/levels/group_spec.rb
  ee/spec/lib/gitlab/audit/levels/instance_spec.rb
  ee/spec/lib/gitlab/audit/levels/project_spec.rb
  ee/spec/models/audit_event_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Fluentd model for cluster apps
  app/assets/javascripts/clusters/services/application_state_machine.js
  app/controllers/clusters/applications_controller.rb
  app/models/clusters/applications/fluentd.rb
  app/models/clusters/cluster.rb
  app/serializers/cluster_application_entity.rb
  app/services/clusters/applications/base_service.rb
  changelogs/unreleased/add_fluentd_model_as_cluster_app.yml
  spec/factories/clusters/applications/helm.rb
  spec/fixtures/api/schemas/cluster_status.json
  spec/frontend/clusters/services/application_state_machine_spec.js
  spec/models/clusters/applications/fluentd_spec.rb
  spec/models/clusters/cluster_spec.rb
  vendor/fluentd/values.yaml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix ruby example for JUnit test
  doc/ci/junit_test_reports.md
Due: docs lint

Note forking public projects with private repo
  doc/user/project/repository/forking_workflow.md
Due: docs lint

Do not ignore database connection errors
  lib/gitlab/current_settings.rb
  spec/lib/gitlab/current_settings_spec.rb
  spec/support/helpers/migrations_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add scopes: before and after to annotation model
  app/finders/metrics/dashboards/annotations_finder.rb
  app/models/metrics/dashboard/annotation.rb
  spec/finders/metrics/dashboards/annotations_finder_spec.rb
  spec/models/metrics/dashboard/annotation_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
