Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Added package file replication verification
  doc/administration/geo/replication/datatypes.md
Due: docs lint

Bump json gem version
  Gemfile
  Gemfile.lock
  changelogs/unreleased/json-upgrade.yml
  lib/gitlab/json.rb
  spec/lib/gitlab/json_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add faster login mechanism for end-to-end tests
  app/controllers/qa_sessions_controller.rb
  config/routes/user.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to app/controllers/qa_sessions_controller.rb
  app/controllers/qa_sessions_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add inherit to services table
  db/migrate/20200406093806_add_inherit_to_services.rb
  db/structure.sql
  spec/lib/gitlab/import_export/safe_model_attributes.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add formless login flow and test it out
  qa/qa.rb
  qa/qa/flow/login.rb
  qa/qa/page/main/formless_login.rb
  qa/qa/runtime/env.rb
  qa/qa/specs/features/browser_ui/2_plan/issue/mentions_spec.rb
Due: graphql-reference-verify, pages, cache gems

Clarify purpose of dependency list report
  doc/user/application_security/dependency_list/index.md
Due: docs lint

Save feedback fingerprint data
  db/structure.sql
  ee/app/controllers/projects/vulnerability_feedback_controller.rb
  ee/app/models/vulnerabilities/feedback.rb
  ee/app/serializers/vulnerabilities/feedback_entity.rb
  ee/app/serializers/vulnerabilities/occurrence_entity.rb
  ee/lib/gitlab/ci/reports/security/occurrence.rb
  ee/spec/models/vulnerabilities/feedback_spec.rb
  ee/spec/services/vulnerability_feedback/create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Work around qa:selectors CI job
  qa/qa/page/main/formless_login.rb
Due: graphql-reference-verify, pages, cache gems

GitLab UI: charts-series-label-overflow integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add unit tests for new controller
  spec/controllers/qa_sessions_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Use the GlNewDropdown in metrics dashboard
  app/assets/javascripts/monitoring/components/dashboard.vue
  app/assets/javascripts/monitoring/components/dashboards_dropdown.vue
  app/assets/stylesheets/pages/prometheus.scss
  changelogs/unreleased/jivanvl-fix-dropdowns-active-classes.yml
  spec/frontend/monitoring/components/__snapshots__/dashboard_template_spec.js.snap
  spec/frontend/monitoring/components/dashboard_spec.js
  spec/frontend/monitoring/components/dashboards_dropdown_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Support ingestion of custom dashboard metrics
  app/models/prometheus_metric_enums.rb
  lib/gitlab/database_importers/project_dashboard/importer.rb
  lib/gitlab/database_importers/project_dashboard/prometheus_metric.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Import metrics on change of HEAD in repo
  app/workers/all_queues.yml
  app/workers/incident_management/ingest_custom_dashboards_worker.rb
  lib/gitlab/database_importers/custom_dashboard/importer.rb
  lib/gitlab/database_importers/custom_dashboard/prometheus_metric.rb
  lib/gitlab/metrics/dashboard/finder.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Support rendering, alerts, and embeds for project metrics
  app/models/prometheus_metric.rb
  app/services/metrics/dashboard/custom_dashboard_service.rb
  lib/gitlab/metrics/dashboard/stages/custom_metrics_inserter.rb
  lib/gitlab/metrics/dashboard/stages/project_dashboard_metrics_inserter.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename method and class for consistency
  lib/gitlab/metrics/dashboard/finder.rb
  lib/gitlab/metrics/dashboard/stages/custom_dashboard_metrics_inserter.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Cleanup orphaned metrics after import
  lib/gitlab/database_importers/custom_dashboard/importer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Alter uniqueness constraint on identifier
  app/models/prometheus_metric.rb
  app/services/metrics/dashboard/custom_dashboard_service.rb
  db/migrate/20200317194652_modify_uniq_index_on_metric_identifier.rb
  db/schema.rb
  lib/gitlab/metrics/dashboard/finder.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add validation and rearrange dashboard schemas
  lib/gitlab/database_importers/custom_dashboard/importer.rb
  lib/gitlab/metrics/dashboard/schemas/axis.json
  lib/gitlab/metrics/dashboard/schemas/embed/dashboard.json
  lib/gitlab/metrics/dashboard/schemas/embed/panel_groups.json
  lib/gitlab/metrics/dashboard/schemas/full/dashboard.json
  lib/gitlab/metrics/dashboard/schemas/full/panel_groups.json
  lib/gitlab/metrics/dashboard/schemas/metrics.json
  lib/gitlab/metrics/dashboard/schemas/panels.json
  lib/gitlab/metrics/dashboard/schemas/raw/dashboard.json
  lib/gitlab/metrics/dashboard/schemas/raw/metrics.json
  lib/gitlab/metrics/dashboard/schemas/raw/panel_groups.json
  lib/gitlab/metrics/dashboard/schemas/raw/panels.json
  spec/support/shared_examples/services/metrics/dashboard_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update DB structure with correct index
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement bridges API endpoint
  app/models/ci/pipeline.rb
  lib/api/entities/bridge.rb
  lib/api/jobs.rb
  spec/lib/gitlab/import_export/all_models.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add CHANGELOG entry
  changelogs/unreleased/mc-api-add-bridge-api-endpoint.yml
Due: none

Add specs for bridges API
  lib/api/jobs.rb
  spec/models/ci/pipeline_spec.rb
  spec/requests/api/jobs_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Set organization for GitLab employees
  app/models/user.rb
  ee/spec/services/ee/system_hooks_service_spec.rb
  lib/tasks/gitlab/set_organization_for_gitlab_employees.rake
  spec/models/user_spec.rb
  spec/tasks/gitlab/set_organization_for_gitlab_employees_rake_spec.rb
  spec/views/profiles/show.html.haml_spec.rb
  spec/views/projects/issues/show.html.haml_spec.rb
  spec/views/projects/merge_requests/show.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Opt 1 of alert removal; requires trigger from import
  app/controllers/projects/prometheus/alerts_controller.rb
  app/models/prometheus_alert.rb
  app/models/prometheus_metric.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Api basic files
  app/controllers/projects/settings/access_token_controller.rb
  config/routes/project.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Persist panel_xid attribute when creating an Annotation
  app/services/metrics/dashboard/annotations/create_service.rb
  spec/services/metrics/dashboard/annotations/create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  changelogs/unreleased/add-annotations-panel-xid.yml
Due: none

Create action
  app/controllers/projects/settings/access_token_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Save my work for the day to not lose it
  lib/gitlab/database_importers/custom_dashboard/importer.rb
  lib/gitlab/database_importers/custom_dashboard/panel_config/time_series.rb
  lib/gitlab/database_importers/custom_dashboard/reconciler.rb
  lib/gitlab/database_importers/custom_dashboard/validator.rb
  spec/lib/gitlab/database_importers/custom_dashboard/importer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Modularize Visibility and remove needless helpers
  qa/qa.rb
  qa/qa/resource/project.rb
  qa/qa/resource/visibility.rb
  qa/qa/specs/features/ee/api/enablement/elasticsearch/advanced_global_advanced_syntax_search_spec.rb
  qa/qa/specs/features/ee/api/enablement/elasticsearch/elasticsearch_api_spec.rb
Due: graphql-reference-verify, pages, cache gems

Add a Gitlab::Json wrapper
  changelogs/unreleased/json-wrapper-and-cop.yml
  lib/gitlab/json.rb
  spec/lib/gitlab/json_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add JSON wrapper cop
  .rubocop.yml
  rubocop/cop/gitlab/json.rb
  spec/rubocop/cop/gitlab/json_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add controller tests
  spec/controllers/qa_sessions_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

danger: Commits can start with lowercase letters
  lib/gitlab/danger/commit_linter.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to lib/tasks/gitlab/set_organization_for_gitlab_employees.rake
  lib/tasks/gitlab/set_organization_for_gitlab_employees.rake
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add endpoint to provide milestone burnup chart data
  ee/app/models/burnup.rb
  ee/changelogs/unreleased/213334-backend-chart-data-on-resource-events-pd.yml
  ee/spec/models/burnup_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
