Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Fix typos in comments of lib/utils/unit_format/index.js
  app/assets/javascripts/lib/utils/unit_format/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip - filter data spec
  ee/spec/features/analytics/cycle_analytics/cycle_analytics_spec.rb
  ee/spec/features/groups/analytics/cycle_analytics/filters_and_data_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove helper method change to move it to the frontend MR
  app/helpers/form_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add reviewers in MR Form
  app/assets/javascripts/issuable_form.js
  app/assets/javascripts/users_select/index.js
  app/helpers/form_helper.rb
  app/views/shared/issuable/form/_metadata.html.haml
  app/views/shared/issuable/form/_metadata_issuable_reviewer.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Simplify type checks in note mutations
  app/graphql/mutations/notes/base.rb
  app/graphql/mutations/notes/create/base.rb
  app/graphql/mutations/notes/destroy.rb
  app/graphql/mutations/notes/update/base.rb
  app/graphql/mutations/notes/update/image_diff_note.rb
  app/graphql/mutations/notes/update/note.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  spec/support/shared_examples/graphql/notes_creation_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Upgrade Elasticsearch CI image to v6.8.12
  .gitlab/ci/global.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Setup support for Reviewers in sidebar widget
  app/assets/javascripts/issuable_context.js
  app/assets/javascripts/sidebar/sidebar_mediator.js
  app/assets/javascripts/sidebar/stores/sidebar_store.js
  app/assets/javascripts/users_select/index.js
  app/helpers/issuables_helper.rb
  app/views/projects/merge_requests/show.html.haml
  app/views/shared/issuable/_sidebar.html.haml
  app/views/shared/issuable/_sidebar_reviewers.html.haml
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add vue components for reviewers in sidebar widget
  app/assets/javascripts/sidebar/components/reviewers/collapsed_reviewer.vue
  app/assets/javascripts/sidebar/components/reviewers/collapsed_reviewer_list.vue
  app/assets/javascripts/sidebar/components/reviewers/reviewer_avatar.vue
  app/assets/javascripts/sidebar/components/reviewers/reviewer_avatar_link.vue
  app/assets/javascripts/sidebar/components/reviewers/reviewer_title.vue
  app/assets/javascripts/sidebar/components/reviewers/reviewers.vue
  app/assets/javascripts/sidebar/components/reviewers/reviewers_realtime.vue
  app/assets/javascripts/sidebar/components/reviewers/sidebar_reviewers.vue
  app/assets/javascripts/sidebar/components/reviewers/uncollapsed_reviewer_list.vue
  app/assets/javascripts/sidebar/mount_sidebar.js
  app/assets/stylesheets/pages/issuable.scss
  locale/gitlab.pot
  spec/frontend/sidebar/reviewer_title_spec.js
  spec/frontend/sidebar/reviewers_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Status quo for the connect app
  app/assets/javascripts/jira_connect/.eslintrc.yml
  app/assets/javascripts/jira_connect/api.js
  app/assets/javascripts/jira_connect/components/app.vue
  app/assets/javascripts/jira_connect/components/namespace_table.vue
  app/assets/javascripts/jira_connect/components/subscription_table.vue
  app/assets/javascripts/jira_connect/index.js
  app/assets/stylesheets/page_bundles/jira_connect.scss
  app/controllers/jira_connect/events_controller.rb
  app/controllers/jira_connect/subscriptions_controller.rb
  app/helpers/jira_connect_helper.rb
  app/views/jira_connect/subscriptions/index.html.haml
  app/views/layouts/jira_connect.html.haml
  config/feature_flags/development/recent_items_search.yml
  config/webpack.config.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add troubleshooting info about elusive error
  doc/user/project/repository/repository_mirroring.md
Due: docs lint

Rewire unit test report test case list
  app/assets/javascripts/pipelines/components/test_reports/test_suite_table.vue
  app/assets/javascripts/pipelines/components/test_reports/test_suite_table_row.vue
  app/assets/javascripts/pipelines/stores/test_reports/getters.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update jest to major version 25
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Downgrade vue-jest dependency
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update to jest@26
  package.json
  spec/frontend/environment.js
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix generating junit report
  jest.config.base.js
Due: none

Try to workaround jest performance bug
  spec/frontend/environment.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix permission to modify project-level MR rules
  ee/app/controllers/ee/projects_controller.rb
  ee/app/policies/ee/project_policy.rb
  ee/app/views/projects/_merge_request_approvals_settings_form.html.haml
  ee/spec/policies/project_policy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix monitor specs and unquarantine them
  qa/qa/page/component/ci_badge_link.rb
  qa/qa/page/project/issue/show.rb
  qa/qa/page/project/job/show.rb
  qa/qa/page/project/operations/incidents/index.rb
  qa/qa/page/project/operations/metrics/show.rb
  qa/qa/specs/features/browser_ui/8_monitor/all_monitor_core_features_spec.rb
  qa/qa/specs/features/ee/browser_ui/8_monitor/all_monitor_features_spec.rb
Due: graphql-reference-verify, pages, cache gems

Update ar in as
  doc/user/application_security/index.md
Due: docs lint

Apply 1 suggestion(s) to 1 file(s)
  doc/user/application_security/index.md
Due: docs lint

Document negated arguments
  doc/development/api_graphql_styleguide.md
Due: docs lint

Update slot syntaxc in comment_form
  app/assets/javascripts/notes/components/comment_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add a default Lefthook configuration
  .gitignore
  .overcommit.yml.example
  doc/development/contributing/style_guides.md
  doc/development/documentation/index.md
  lefthook.yml
  lib/gitlab/danger/helper.rb
  spec/lib/gitlab/danger/helper_spec.rb
  tooling/overcommit/Gemfile
  tooling/overcommit/Gemfile.lock
  tooling/overcommit/Makefile
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add pendingTodo for some todoables in GraphQL
  app/graphql/resolvers/concerns/resolves_merge_requests.rb
  app/graphql/resolvers/issues_resolver.rb
  app/graphql/types/current_user_todos.rb
  app/graphql/types/design_management/design_type.rb
  app/graphql/types/issue_type.rb
  app/graphql/types/merge_request_type.rb
  app/graphql/types/todo_type.rb
  changelogs/unreleased/198439-expose-pending-todo-in-graphql.yml
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  ee/app/graphql/types/epic_type.rb
  ee/spec/graphql/types/epic_type_spec.rb
  spec/graphql/types/current_user_todos_type_spec.rb
  spec/graphql/types/design_management/design_type_spec.rb
  spec/graphql/types/issue_type_spec.rb
  spec/graphql/types/merge_request_type_spec.rb
  spec/requests/api/graphql/current_user_todos_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace deprecated button and update btn-text-field styles
  app/assets/javascripts/notes/components/discussion_reply_placeholder.vue
  app/assets/stylesheets/framework/buttons.scss
  changelogs/unreleased/241058-migrate-bootstrap-button-to-gitlab-ui-glbutton-in-app-assets-javas.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Spec for reviewers in MR
  spec/helpers/issuables_helper_spec.rb
  spec/support/shared_examples/features/editable_merge_request_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update lock form buttons to gl-button
  app/assets/javascripts/sidebar/components/lock/edit_form_buttons.vue
  changelogs/unreleased/229343-update-lock-form-buttons.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

E2E discussion not dropping merge trains MR
  qa/qa/specs/features/ee/browser_ui/4_verify/new_discussion_not_dropping_merge_trains_mr_spec.rb
Due: graphql-reference-verify, pages, cache gems

Add Danger rule for deprecated components
  danger/pajamas/Dangerfile
  danger/pajamas/patterns.txt
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add Markdown section with specifics
  danger/pajamas/Dangerfile
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add pajamas to local_rules
  lib/gitlab_danger.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

More deprecated components
  danger/pajamas/patterns.txt
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

File patterns.txt converted to array
  danger/pajamas/Dangerfile
  danger/pajamas/patterns.txt
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix Jest issues
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate jump to next button to GitLab UI
  app/assets/javascripts/notes/components/discussion_jump_to_next_button.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Address test failures
  app/assets/javascripts/notes/components/discussion_jump_to_next_button.vue
  locale/gitlab.pot
  spec/frontend/notes/components/discussion_jump_to_next_button_spec.js
  spec/frontend/notes/components/noteable_discussion_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Solve tag error
  app/assets/javascripts/notes/components/discussion_jump_to_next_button.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Commit language change to gitlab.pot
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update another file
  app/assets/javascripts/diff_notes/components/jump_to_discussion.js
  app/assets/javascripts/notes/components/discussion_counter.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
