Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Disable Sidekiq retry for limited capacity workers
  app/workers/concerns/limited_capacity/worker.rb
  spec/workers/concerns/limited_capacity/worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add an utility class to count the number of running jobs
  app/workers/concerns/limited_capacity/job_counter.rb
  spec/workers/concerns/limited_capacity/job_counter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement maintainer feedback
  app/workers/concerns/limited_capacity/worker.rb
  doc/administration/monitoring/prometheus/gitlab_metrics.md
  spec/workers/concerns/limited_capacity/worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use declarative apollo configuration
  ee/app/assets/javascripts/security_configuration/sast/components/app.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Speed up spec/controllers/groups_controller_spec.rb
  spec/controllers/groups_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add question mark informational tooltip
  ee/app/views/projects/protected_branches/ee/_code_owner_approval_table_head.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add support for multiple environments
  ee/spec/services/network_policies/resources_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Address first round of reviews
  ee/spec/services/network_policies/resources_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Address second round of the first reviewer
  ee/app/services/network_policies/resources_service.rb
  ee/spec/services/network_policies/resources_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add All Environments option for environments
  ee/app/assets/javascripts/threat_monitoring/components/network_policy_list.vue
  ee/app/services/network_policies/resources_service.rb
  ee/changelogs/unreleased/add_namespace_column_for_network_policies_ui.yml
  ee/spec/frontend/threat_monitoring/components/__snapshots__/network_policy_list_spec.js.snap
  ee/spec/frontend/threat_monitoring/components/network_policy_list_spec.js
  ee/spec/services/network_policies/resources_service_spec.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add feature flag to keep legacy header
  app/assets/javascripts/pipelines/components/legacy_header_component.vue
  app/assets/javascripts/pipelines/pipeline_details_bundle.js
  app/controllers/projects/pipelines_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Gitlab::Database::SetAll helper
  app/models/concerns/relative_positioning.rb
  ee/app/models/concerns/epic_tree_sorting.rb
  lib/gitlab/database/set_all.rb
  spec/lib/gitlab/database/set_all_spec.rb
  spec/lib/gitlab/relative_positioning/mover_spec.rb
  spec/support/shared_examples/models/relative_positioning_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix broken spec and update descriptions
  ee/spec/frontend/security_configuration/sast/components/analyzer_configuration_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Initial implementation with a new service
  app/models/container_expiration_policy.rb
  app/models/container_repository.rb
  app/services/container_expiration_policies/throttled_execution_service.rb
  app/workers/container_expiration_policy_worker.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add more tweaks to the service
  app/models/container_expiration_policy.rb
  app/services/container_expiration_policies/throttled_execution_service.rb
  app/workers/container_expiration_policy_worker.rb
  db/migrate/20200828134047_add_container_registry_settings_to_application_settings.rb
  db/schema_migrations/20200828134047
  db/structure.sql
  spec/services/container_expiration_policies/throttled_execution_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Complete specs for ThrottledExecutionService
  app/services/container_expiration_policies/throttled_execution_service.rb
  app/workers/container_expiration_policy_worker.rb
  spec/services/container_expiration_policies/throttled_execution_service_spec.rb
  spec/workers/container_expiration_policy_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Centralize mark policies as invalid
  app/services/container_expiration_policy_service.rb
  app/workers/container_expiration_policy_worker.rb
  spec/workers/container_expiration_policy_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor the approach
  app/models/container_repository.rb
  app/services/container_expiration_policies/start_on_container_repositories_service.rb
  app/services/container_expiration_policies/throttled_execution_service.rb
  app/services/container_expiration_policy_service.rb
  app/workers/cleanup_container_repository_worker.rb
  app/workers/concerns/application_worker.rb
  app/workers/container_expiration_policy_worker.rb
  db/migrate/20200828134047_add_container_registry_settings_to_application_settings.rb
  db/migrate/20200907143135_add_expiration_policy_started_at_to_container_repositories.rb
  db/schema_migrations/20200907143135
  db/structure.sql
  spec/factories/container_repositories.rb
  spec/models/container_repository_spec.rb
  spec/services/container_expiration_policies/start_on_container_repositories_service_spec.rb
  spec/services/container_expiration_policies/throttled_execution_service_spec.rb
  spec/services/container_expiration_policy_service_spec.rb
  spec/workers/cleanup_container_repository_worker_spec.rb
  spec/workers/concerns/application_worker_spec.rb
  spec/workers/container_expiration_policy_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Reset expiration_policy_started_at
  app/models/container_repository.rb
  app/workers/cleanup_container_repository_worker.rb
  spec/models/container_repository_spec.rb
  spec/workers/cleanup_container_repository_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Port changes of !40393
  app/workers/cleanup_container_repository_worker.rb
  spec/workers/cleanup_container_repository_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Document Geo PG12 upgrade test results
  doc/administration/geo/replication/geo_validation_tests.md
Due: docs lint

Cleanup migration files
  db/migrate/20200828134047_add_container_registry_settings_to_application_settings.rb
  db/migrate/20200907143135_add_expiration_policy_started_at_to_container_repositories.rb
  db/schema_migrations/20200907143135
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use a limited capacity worker
  app/models/container_repository.rb
  app/services/container_expiration_policies/start_on_container_repositories_service.rb
  app/services/container_expiration_policies/throttled_execution_service.rb
  app/services/container_expiration_policy_service.rb
  app/workers/cleanup_container_repository_limited_capacity_worker.rb
  app/workers/cleanup_container_repository_worker.rb
  app/workers/concerns/limited_capacity/worker.rb
  app/workers/container_expiration_policy_worker.rb
  spec/models/container_repository_spec.rb
  spec/services/container_expiration_policies/start_on_container_repositories_service_spec.rb
  spec/services/container_expiration_policies/throttled_execution_service_spec.rb
  spec/services/container_expiration_policy_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Send reminder emails for invitations
  app/assets/stylesheets/mailer.scss
  app/controllers/invites_controller.rb
  app/mailers/emails/members.rb
  app/models/member.rb
  app/models/members/group_member.rb
  app/services/members/invitation_reminder_email_service.rb
  app/services/notification_service.rb
  app/views/notify/member_invited_first_reminder_email.html.haml
  app/views/notify/member_invited_first_reminder_email.text.erb
  app/views/notify/member_invited_second_reminder_email.html.haml
  app/views/notify/member_invited_second_reminder_email.text.erb
  app/views/notify/member_invited_third_reminder_email.html.haml
  app/views/notify/member_invited_third_reminder_email.text.erb
  app/workers/all_queues.yml
  app/workers/member_invitation_reminder_emails_worker.rb
  config/initializers/1_settings.rb
  lib/gitlab/experimentation.rb
  locale/gitlab.pot
  spec/controllers/invites_controller_spec.rb
  spec/lib/gitlab/experimentation_spec.rb
  spec/mailers/notify_spec.rb
  spec/models/member_spec.rb
  spec/services/members/invitation_reminder_email_service_spec.rb
  spec/workers/member_invitation_reminder_emails_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Return each pod only once for deploy board with multiple deployments
  ee/spec/models/ee/clusters/platforms/kubernetes_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Return only the correct pods for a rollout status
  ee/lib/gitlab/kubernetes/rollout_status.rb
  ee/spec/lib/gitlab/kubernetes/rollout_status_spec.rb
  ee/spec/models/ee/clusters/platforms/kubernetes_spec.rb
  lib/gitlab/kubernetes/pod.rb
  spec/support/helpers/kubernetes_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add more specs for completion
  ee/spec/lib/gitlab/kubernetes/rollout_status_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Set default track value in kubernetes deployment specs
  ee/spec/lib/gitlab/kubernetes/deployment_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add spec for completion with one deployment with extra instances
  ee/spec/lib/gitlab/kubernetes/rollout_status_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Return the correct track for pending pods
  ee/lib/gitlab/kubernetes/rollout_status.rb
  ee/spec/models/ee/clusters/platforms/kubernetes_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move assumption about default track to rollout status
  ee/lib/gitlab/kubernetes/deployment.rb
  ee/lib/gitlab/kubernetes/rollout_status.rb
  lib/gitlab/kubernetes/pod.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor from deployments method
  ee/lib/gitlab/kubernetes/rollout_status.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add spec for completion with two deployments on different tracks
  ee/spec/lib/gitlab/kubernetes/rollout_status_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove extra line
  ee/lib/gitlab/kubernetes/rollout_status.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove note about multiple instances in deploy boards
  doc/user/project/deploy_boards.md
Due: docs lint

Add changelog entry
  ee/changelogs/unreleased/fix-deploy-board-multi-deployment-pods.yml
Due: none

Change default pods_attrs to empty array
  ee/lib/gitlab/kubernetes/rollout_status.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor rollout status from_deployments method
  ee/lib/gitlab/kubernetes/rollout_status.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename parameters to RolloutStatus.from_deployments
  ee/app/models/ee/clusters/platforms/kubernetes.rb
  ee/lib/gitlab/kubernetes/rollout_status.rb
  ee/spec/lib/gitlab/kubernetes/rollout_status_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply review feedback
  doc/api/container_registry.md
  lib/api/entities/container_registry.rb
  spec/fixtures/api/schemas/registry/repository.json
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
