Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Add EAV antipattern to database docs
  doc/development/README.md
  doc/development/avoid_entity_attribute_value_model.md
Due: docs lint

Apply code review feedback
  doc/development/README.md
  doc/development/avoid_entity_attribute_value_model.md
Due: docs lint

Add multiple checks to the Overcommit config
  .overcommit.yml.example
Due: none

Add sidebar for alert managament severity
  app/assets/javascripts/alert_management/components/alert_attribute_sidebar.vue
  app/assets/javascripts/alert_management/components/severity/severity_icon.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_severity.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_status.vue
  app/assets/javascripts/alert_management/graphql/mutations/update_alert_severity.graphql
  changelogs/unreleased/assign-alerts-sidebar-base-severity.yml
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add sidebar for alert managament severity
  app/assets/javascripts/alert_management/components/sidebar/sidebar_severity.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adding Gold/Ultimate integration requirements to the Onboarding page.
  doc/development/integrations/secure_partner_integration.md
Due: docs lint

Add sidebar for alert managament
  app/assets/javascripts/alert_management/components/sidebar/sidebar_status.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add migration helper to partitioned table by date
  lib/gitlab/database/partitioning_migration_helpers.rb
  lib/gitlab/database/partitioning_migration_helpers/foreign_key_helpers.rb
  lib/gitlab/database/partitioning_migration_helpers/table_management_helpers.rb
  lib/gitlab/database/schema_helpers.rb
  spec/lib/gitlab/database/partitioning_migration_helpers/foreign_key_helpers_spec.rb
  spec/lib/gitlab/database/partitioning_migration_helpers/table_management_helpers_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migration to partition audit events
  db/migrate/20200520103620_partition_audit_events_by_date.rb
  db/structure.sql
  lib/gitlab/database/partitioning_migration_helpers/table_management_helpers.rb
  spec/db/schema_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  changelogs/unreleased/partition-audit-events.yml
Due: none

Add sidebar for alert managament
  app/assets/javascripts/alert_management/components/alert_details.vue
  app/assets/javascripts/alert_management/components/alert_sidebar.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_header.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_status.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_todo.vue
  locale/gitlab.pot
  spec/frontend/alert_management/components/alert_attribute_sidebar_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add an E2E test of code owner approval and merge
  app/assets/javascripts/vue_shared/components/user_avatar/user_avatar_list.vue
  ee/app/assets/javascripts/approvals/components/mr_edit/rule_input.vue
  ee/app/assets/javascripts/vue_merge_request_widget/components/approvals/approvals_footer.vue
  ee/app/assets/javascripts/vue_merge_request_widget/components/approvals/approvals_list.vue
  ee/app/views/projects/_merge_request_approvals_settings.html.haml
  ee/app/views/projects/protected_branches/ee/_code_owner_approval_table.html.haml
  qa/qa.rb
  qa/qa/ee.rb
  qa/qa/ee/page/merge_request/show.rb
  qa/qa/ee/page/project/settings/main.rb
  qa/qa/ee/page/project/settings/merge_request_approvals.rb
  qa/qa/ee/page/project/settings/protected_branches.rb
  qa/qa/page/base.rb
  qa/qa/page/component/user_avatar_list.rb
  qa/qa/page/merge_request/show.rb
  qa/qa/page/project/settings/main.rb
  qa/qa/resource/group.rb
  qa/qa/resource/project.rb
  qa/qa/resource/protected_branch.rb
  qa/qa/resource/sandbox.rb
  qa/qa/runtime/feature.rb
  qa/qa/specs/features/ee/browser_ui/3_create/repository/merge_with_code_owner_in_root_group_spec.rb
  qa/qa/specs/features/ee/browser_ui/3_create/repository/merge_with_code_owner_in_subgroup_spec.rb
  qa/spec/runtime/feature_spec.rb
  qa/spec/support/shared_examples/merge_with_code_owner_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add ability to set a feature flag for a project
  qa/qa/runtime/feature.rb
Due: graphql-reference-verify, pages, cache gems

WIP more logging
  ee/lib/ee/gitlab/checks/diff_check.rb
  qa/qa/runtime/feature.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP debugging merge failure
  qa/qa/runtime/feature.rb
  qa/qa/specs/features/ee/browser_ui/3_create/repository/merge_with_code_owner_in_subgroup_spec.rb
  qa/spec/support/shared_examples/merge_with_code_owner_shared_examples.rb
Due: graphql-reference-verify, pages, cache gems

Extract all non-standard diff file finders to central function
  app/assets/javascripts/diffs/components/diff_expansion_cell.vue
  app/assets/javascripts/diffs/store/actions.js
  app/assets/javascripts/diffs/store/mutations.js
  spec/frontend/diffs/store/actions_spec.js
  spec/frontend/diffs/store/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove utils `findDiffFile`
  app/assets/javascripts/diffs/store/utils.js
  spec/frontend/diffs/store/utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add sidebar for alert managament
  app/assets/javascripts/alert_management/components/alert_details.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_status.vue
  app/assets/stylesheets/pages/alerts_list.scss
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add sidebar for alert managament severity
  app/assets/javascripts/alert_management/components/alert_sidebar.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_severity.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_status.vue
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove runner from spec and install kubernetes runner
  qa/qa/specs/features/browser_ui/8_monitor/all_monitor_core_features_spec.rb
Due: graphql-reference-verify, pages, cache gems

Add sidebar for alert amanagement
  app/assets/javascripts/alert_management/components/alert_sidebar.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_header.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_status.vue
  app/assets/javascripts/alert_management/components/sidebar/sidebar_todo.vue
  spec/frontend/alert_management/components/alert_sidebar_spec.js
  spec/frontend/alert_management/components/alert_sidebar_status_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add sidebar for alert amanagement
  app/assets/javascripts/alert_management/components/sidebar/sidebar_severity.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add best practice for actions
  doc/development/testing_guide/end_to_end/best_practices.md
Due: docs lint

Remove Package License
  ee/app/controllers/concerns/packages_access.rb
  ee/app/controllers/ee/admin/application_settings_controller.rb
  ee/app/helpers/ee/projects_helper.rb
  ee/app/models/ee/group.rb
  ee/app/models/ee/project.rb
  ee/app/models/license.rb
  ee/app/services/ee/projects/transfer_service.rb
  ee/lib/api/helpers/packages_helpers.rb
  ee/lib/ee/api/entities/application_setting.rb
  ee/lib/ee/api/entities/project.rb
  ee/lib/ee/api/settings.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove stub_licensed_features(packages... from all specs
  ee/app/helpers/ee/projects_helper.rb
  ee/spec/features/groups/packages_spec.rb
  ee/spec/features/projects/navbar_spec.rb
  ee/spec/features/projects/package_files_spec.rb
  ee/spec/features/projects/packages_spec.rb
  ee/spec/features/projects/settings/packages_settings_spec.rb
  ee/spec/models/project_spec.rb
  ee/spec/requests/api/composer_packages_spec.rb
  ee/spec/requests/api/conan_packages_spec.rb
  ee/spec/requests/api/group_packages_spec.rb
  ee/spec/requests/api/maven_packages_spec.rb
  ee/spec/requests/api/npm_packages_spec.rb
  ee/spec/requests/api/nuget_packages_spec.rb
  ee/spec/requests/api/package_files_spec.rb
  ee/spec/requests/api/project_packages_spec.rb
  ee/spec/requests/api/projects_spec.rb
  ee/spec/requests/api/pypi_packages_spec.rb
  ee/spec/services/groups/transfer_service_spec.rb
  ee/spec/services/groups/update_service_spec.rb
  ee/spec/services/projects/transfer_service_spec.rb
  ee/spec/support/shared_examples/requests/api/composer_packages_shared_examples.rb
  ee/spec/support/shared_examples/requests/api/nuget_packages_shared_examples.rb
  ee/spec/support/shared_examples/requests/api/pypi_packages_shared_examples.rb
  ee/spec/views/layouts/nav/sidebar/_project.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix npm forwarding license flag, add back feature_available? call
  ee/lib/api/helpers/packages_helpers.rb
  ee/spec/controllers/admin/application_settings_controller_spec.rb
  ee/spec/requests/api/settings_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update nav feature test structure to include package
  spec/support/shared_contexts/navbar_structure_context.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Extract finding a diff file to a dedicated module
  app/assets/javascripts/diffs/store/diff_file.js
  spec/frontend/diffs/store/diff_file_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to ee/lib/ee/gitlab/checks/diff_check.rb
  ee/lib/ee/gitlab/checks/diff_check.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test WIP for pipelines
  lib/gitlab/graphql/authorize/authorize_field_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

GitLab UI: re-safe-link integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add sidebar apollo cache
  app/assets/javascripts/alert_management/components/alert_details.vue
  app/assets/javascripts/alert_management/details.js
  app/assets/javascripts/alert_management/graphql/mutations/update_sidebar_collapsed.graphql
  app/assets/javascripts/alert_management/graphql/queries/sidebar_collapsed.query.graphql
  app/assets/javascripts/alert_management/services/index.js
  app/assets/stylesheets/pages/alerts_list.scss
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs: Update global server hook location in Omnibus install
  doc/administration/server_hooks.md
Due: docs lint

Test commit changes frontend patterns
  Dockerfile.assets
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test removing vulnerabilities data to find test coverage
  ee/app/views/projects/security/vulnerabilities/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add tier to Require authentication when approving a merge request feature
  doc/user/project/merge_requests/merge_request_approvals.md
Due: docs lint

Update PM-TW milestone work template
  .gitlab/issue_templates/PM-TW milestone work.md
Due: none

Add newline at end of file
  .gitlab/issue_templates/PM-TW milestone work.md
Due: none

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
