Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Dont disable recovery lgos
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update doc/user/packages/container_registry/index.md
  doc/user/packages/container_registry/index.md
Due: docs lint

Tweak GitLab CI GC settings
  .gitlab/ci/rails.gitlab-ci.yml
  spec/finders/autocomplete/move_to_project_finder_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix filter by releases at group issues and merge requests search bar
  app/controllers/groups/releases_controller.rb
  app/helpers/search_helper.rb
  changelogs/unreleased/208805-fix-filter-by-releases-in-groups-issue-and-merge-request-search-ba.yml
  config/routes/group.rb
  spec/controllers/groups/releases_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Commit commands to central store so we agree what is to be used
  COMMAND_PALETTE.md
  app/assets/javascripts/command_palette/commands.js
  app/assets/javascripts/command_palette/store/actions.js
  app/assets/javascripts/command_palette/store/index.js
  app/assets/javascripts/command_palette/store/mutation_types.js
  app/assets/javascripts/command_palette/store/mutations.js
  app/assets/javascripts/command_palette/store/state.js
  app/assets/javascripts/issue_show/components/app.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Validate service belongs to project or group
  app/models/service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove package name from other versions
  app/assets/javascripts/packages/details/components/app.vue
  app/assets/javascripts/packages/shared/components/package_list_row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update doc/user/project/repository/reducing_the_repo_size_using_git.md
  doc/user/project/repository/reducing_the_repo_size_using_git.md
Due: docs lint

Add GraphQL mutation to update board/board preferences
  ee/app/graphql/ee/types/board_type.rb
  ee/app/graphql/mutations/boards/update.rb
  ee/app/graphql/types/board_user_preference_type.rb
  ee/app/models/board_user_preference.rb
  ee/app/models/ee/board.rb
  ee/app/services/ee/boards/update_service.rb
  ee/spec/graphql/types/board_user_preference_type_spec.rb
  ee/spec/models/board_spec.rb
  ee/spec/models/board_user_preference_spec.rb
  ee/spec/requests/api/graphql/boards/boards_query_spec.rb
  ee/spec/services/boards/update_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixes for notes update service
  app/services/notes/update_service.rb
  spec/services/notes/update_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update notes API handler
  lib/api/entities/note.rb
  lib/api/notes.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Introduce ExecutionContext, and helper modules
  app/services/quick_actions/command_store.rb
  app/services/quick_actions/execution_context.rb
  app/services/quick_actions/interpret_service.rb
  ee/app/services/ee/quick_actions/interpret_service.rb
  ee/lib/ee/gitlab/quick_actions/epic_actions.rb
  ee/lib/ee/gitlab/quick_actions/issue_actions.rb
  ee/lib/ee/gitlab/quick_actions/issue_and_merge_request_actions.rb
  ee/lib/ee/gitlab/quick_actions/merge_request_actions.rb
  ee/lib/ee/gitlab/quick_actions/relate_actions.rb
  ee/spec/services/quick_actions/interpret_service_spec.rb
  lib/gitlab/quick_actions/command_definition.rb
  lib/gitlab/quick_actions/commit_actions.rb
  lib/gitlab/quick_actions/common_actions.rb
  lib/gitlab/quick_actions/dsl.rb
  lib/gitlab/quick_actions/issuable_actions.rb
  lib/gitlab/quick_actions/issue_actions.rb
  lib/gitlab/quick_actions/issue_and_merge_request_actions.rb
  lib/gitlab/quick_actions/merge_request_actions.rb
  spec/services/quick_actions/interpret_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Introduce CommandStore and ExecutionResponse
  app/services/notes/create_service.rb
  app/services/notes/quick_actions_service.rb
  app/services/quick_actions/command_store.rb
  app/services/quick_actions/execution_response.rb
  app/services/quick_actions/interpret_service.rb
  spec/services/notes/quick_actions_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Return vague warnings when needed
  app/services/notes/create_service.rb
  app/services/notes/quick_actions_service.rb
  app/services/quick_actions/execution_response.rb
  spec/services/notes/create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add concept of warnings to quick actions
  app/services/issuable_base_service.rb
  app/services/notes/create_service.rb
  app/services/notes/quick_actions_service.rb
  app/services/notes/update_service.rb
  app/services/preview_markdown_service.rb
  app/services/projects/autocomplete_service.rb
  app/services/quick_actions/interpret_service.rb
  ee/app/services/groups/autocomplete_service.rb
  ee/lib/ee/gitlab/quick_actions/epic_actions.rb
  ee/lib/ee/gitlab/quick_actions/issue_actions.rb
  ee/lib/ee/gitlab/quick_actions/issue_and_merge_request_actions.rb
  ee/lib/ee/gitlab/quick_actions/merge_request_actions.rb
  lib/api/notes.rb
  lib/gitlab/quick_actions/command_definition.rb
  lib/gitlab/quick_actions/issuable_actions.rb
  lib/gitlab/quick_actions/issue_actions.rb
  lib/gitlab/quick_actions/issue_and_merge_request_actions.rb
  lib/gitlab/quick_actions/merge_request_actions.rb
  spec/services/notes/create_service_spec.rb
  spec/services/quick_actions/interpret_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixes for preview markdown service
  app/services/preview_markdown_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update command definition specs
  lib/gitlab/quick_actions/command_definition.rb
  spec/lib/gitlab/quick_actions/command_definition_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Project notes controller: handle note creation
  app/controllers/concerns/notes_actions.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update email note handler
  lib/gitlab/email.rb
  lib/gitlab/email/handler/create_note_handler.rb
  spec/lib/gitlab/email/handler/create_note_handler_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make CommandStore single source of truth for cammands
  app/services/quick_actions/command_store.rb
  app/services/quick_actions/interpret_service.rb
  ee/app/services/ee/quick_actions/command_store.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

ExecutionResponse is responsible for detecting failure
  app/services/quick_actions/execution_response.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Big batch of test fixes
  app/services/notes/quick_actions_service.rb
  app/services/notes/update_service.rb
  app/services/quick_actions/execution_context.rb
  app/services/quick_actions/execution_response.rb
  ee/lib/ee/gitlab/quick_actions/merge_request_helpers.rb
  ee/spec/services/ee/notes/quick_actions_service_spec.rb
  ee/spec/services/quick_actions/interpret_service_spec.rb
  ee/spec/support/shared_examples/quick_actions/issuable/assign_shared_examples.rb
  ee/spec/support/shared_examples/quick_actions/issuable/unassign_shared_examples.rb
  lib/gitlab/quick_actions/command_definition.rb
  lib/gitlab/quick_actions/dsl.rb
  lib/gitlab/quick_actions/merge_request_actions.rb
  lib/gitlab/quick_actions/merge_request_helpers.rb
  spec/lib/gitlab/quick_actions/command_definition_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose full quick action response on note
  app/models/note.rb
  app/services/notes/create_service.rb
  app/services/notes/quick_actions_service.rb
  app/services/notes/update_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add tests for title on epic
  ee/spec/services/quick_actions/interpret_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add tests in notes controller spec for command application
  lib/api/entities/note.rb
  spec/controllers/projects/notes_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rubcop fixes
  ee/spec/services/quick_actions/interpret_service_spec.rb
  spec/services/quick_actions/interpret_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Every time we add_note, we need to wait for requests
  spec/support/shared_examples/quick_actions/issue/create_merge_request_quick_action_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update translation files
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

[FE] Update FE code to get the correct messages
  app/assets/javascripts/notes.js
  app/assets/javascripts/notes/stores/actions.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Detect name collisions
  app/services/quick_actions/command_store.rb
  ee/spec/services/quick_actions/interpret_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Cache argument parsing
  app/services/quick_actions/execution_context.rb
  app/services/quick_actions/interpret_service.rb
  lib/gitlab/quick_actions/command_context.rb
  lib/gitlab/quick_actions/command_definition.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix broken rebase
  lib/gitlab/quick_actions/merge_request_actions.rb
  spec/services/quick_actions/interpret_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix issue_actions and submit_review commands
  ee/spec/services/quick_actions/interpret_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix warning expectation
  ee/spec/services/quick_actions/interpret_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Enable gfm_form on new epic form
  ee/app/assets/javascripts/epic/components/epic_form.vue
  ee/app/controllers/groups/autocomplete_sources_controller.rb
  ee/app/views/groups/epics/new.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add verify step to uploads migration to object storage details
  doc/administration/uploads.md
Due: docs lint

Eager load always on CI
  config/initializers/zz_metrics.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor for baseline measurement
  config/initializers/zz_metrics.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add index of notes on author_id and created_at
  db/migrate/20200809192822_add_index_of_author_id_for_diff_notes.rb
  db/schema_migrations/20200809192822
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
