Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Remove unnecessary default argument
  spec/lib/gitlab/danger/roulette_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Assign reviews to hungry reviewers first
  lib/gitlab/danger/roulette.rb
  lib/gitlab/danger/teammate.rb
  spec/lib/gitlab/danger/roulette_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add missing closing parentheses
  lib/gitlab/danger/roulette.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add an empty line after let block
  spec/lib/gitlab/danger/roulette_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

app/assets/javascripts/behaviors/markdown/gfm_auto_complete.js
  app/helpers/notes_helper.rb
  app/models/concerns/mentionable/reference_regexes.rb
  ee/app/controllers/ee/projects/autocomplete_sources_controller.rb
  ee/app/controllers/groups/autocomplete_sources_controller.rb
  ee/app/helpers/ee/application_helper.rb
  ee/app/models/concerns/ee/mentionable/reference_regexes.rb
  ee/app/models/ee/vulnerability.rb
  ee/app/serializers/group_issuable_autocomplete_entity.rb
  ee/app/services/ee/projects/autocomplete_service.rb
  ee/app/services/groups/autocomplete_service.rb
  ee/config/routes/group.rb
  ee/config/routes/project.rb
  ee/lib/ee/banzai/filter/vulnerability_reference_filter.rb
  ee/lib/ee/banzai/issuable_extractor.rb
  ee/lib/ee/banzai/pipeline/gfm_pipeline.rb
  ee/lib/ee/banzai/pipeline/single_line_pipeline.rb
  ee/lib/ee/banzai/reference_parser/vulnerability_parser.rb
  lib/banzai/filter/reference_filter.rb
  lib/banzai/filter/vulnerability_reference_filter.rb
  lib/banzai/reference_parser/vulnerability_parser.rb
  lib/gitlab/reference_extractor.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add missing specs
  ee/app/controllers/ee/projects/autocomplete_sources_controller.rb
  ee/spec/lib/gitlab/reference_extractor_spec.rb
  lib/gitlab/reference_extractor.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve performance of autocomplete query
  app/assets/javascripts/gfm_auto_complete.js
  app/controllers/projects/autocomplete_sources_controller.rb
  ee/app/assets/javascripts/gfm_auto_complete.js
  ee/app/models/ee/vulnerability.rb
  ee/app/services/ee/projects/autocomplete_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add filtering by autocomplete search for groups
  ee/app/services/groups/autocomplete_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove partial
  app/views/projects/diffs/_file_header.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add new package_path component
  app/assets/javascripts/packages/shared/components/package_path.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Wire package_path in package_list_row
  app/assets/javascripts/packages/shared/components/package_list_row.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixed show comments text not updating
  app/assets/javascripts/diffs/store/getters.js
  spec/frontend/diffs/store/getters_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Edited failing feature specs
  app/assets/javascripts/diffs/components/diff_file_header.vue
  spec/features/merge_request/maintainer_edits_fork_spec.rb
  spec/features/merge_request/user_comments_on_diff_spec.rb
  spec/features/merge_request/user_sees_diff_spec.rb
  spec/features/merge_request/user_suggests_changes_on_diff_spec.rb
  spec/features/projects/blobs/edit_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add test for pacage_path component
  app/assets/javascripts/packages/shared/components/package_path.vue
  spec/frontend/packages/shared/components/package_path_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update package_list_row tests
  spec/frontend/packages/shared/components/__snapshots__/package_list_row_spec.js.snap
  spec/frontend/packages/shared/components/package_list_row_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add missing changelog
  changelogs/unreleased/225644-package-registry-in-the-group-registry-view-make-the-project-ui-mo.yml
Due: none

Add blob resolver to snippet GraphQL type
  app/graphql/resolvers/snippets/blobs_resolver.rb
  app/graphql/types/snippet_type.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  spec/graphql/resolvers/snippets/blobs_resolver_spec.rb
  spec/graphql/types/snippet_type_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Disable batching for GraphQL
  app/assets/javascripts/snippets/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

React to data structure update
  app/assets/javascripts/snippets/components/snippet_blob_view.vue
  app/assets/javascripts/snippets/fragments/snippetBase.fragment.graphql
  app/assets/javascripts/snippets/mixins/snippets.js
  app/assets/javascripts/snippets/queries/snippet.blob.content.query.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Query for one blob at a time
  app/assets/javascripts/snippets/components/snippet_blob_view.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated mock data for tests
  spec/frontend/blob/components/blob_content_spec.js
  spec/frontend/blob/components/mock_data.js
  spec/frontend/snippets/components/snippet_blob_view_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update tests to take in account tooltip
  spec/frontend/packages/shared/components/package_path_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Prevent assignment of groups using quick actions
  app/assets/javascripts/gfm_auto_complete.js
  app/assets/javascripts/vue_shared/components/gl_mentions.vue
  app/services/quick_actions/interpret_service.rb
  changelogs/unreleased/241738-prevent-assignment-to-groups.yml
  spec/services/quick_actions/interpret_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Show expanded YAML when linting CI config via API
  lib/api/lint.rb
  lib/gitlab/ci/yaml_processor/result.rb
  spec/lib/gitlab/ci/yaml_processor/result_spec.rb
  spec/requests/api/lint_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add CHANGELOG entry
  changelogs/unreleased/mc-feature-ci-config-render-api-endpoint.yml
Due: none

Apply reviewer suggestions
  ee/app/mailers/license_mailer.rb
  ee/app/mailers/previews/license_mailer_preview.rb
  ee/app/models/historical_data.rb
  ee/app/workers/historical_data_worker.rb
  ee/spec/mailers/license_mailer_spec.rb
  ee/spec/models/historical_data_spec.rb
  ee/spec/workers/historical_data_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use if_partial_exists? for EE version
  app/views/admin/dashboard/stats.html.haml
  ee/app/views/admin/dashboard/_billable_users_text.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove banner that suggests WedIDE gitlab-ci.yml
  app/assets/javascripts/blob/suggest_web_ide_ci/components/web_ide_alert.vue
  app/assets/javascripts/blob/suggest_web_ide_ci/index.js
  app/assets/javascripts/blob_edit/blob_bundle.js
  app/helpers/blob_helper.rb
  app/helpers/user_callouts_helper.rb
  app/presenters/project_presenter.rb
  app/views/projects/blob/edit.html.haml
  locale/gitlab.pot
  spec/features/projects/show/user_sees_setup_shortcut_buttons_spec.rb
  spec/frontend/blob/suggest_web_ide_ci/web_ide_alert_spec.js
  spec/helpers/blob_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Epics to search
  app/controllers/search_controller.rb
  app/helpers/projects_helper.rb
  app/helpers/search_helper.rb
  app/services/search/global_service.rb
  app/services/search_service.rb
  app/views/search/_category.html.haml
  app/views/search/results/_epic.html.haml
  config/feature_flags/development/epics_search.yml
  ee/app/helpers/ee/search_helper.rb
  ee/app/models/ee/epic.rb
  ee/app/services/ee/search/global_service.rb
  ee/app/services/ee/search_service.rb
  ee/changelogs/unreleased/4745-search-add-epics-scope.yml
  ee/lib/ee/gitlab/group_search_results.rb
  ee/lib/ee/gitlab/search_results.rb
  ee/lib/gitlab/elastic/group_search_results.rb
  lib/gitlab/group_search_results.rb
  lib/gitlab/search_results.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add incident token filter
  app/assets/javascripts/incidents/components/incidents_list.vue
  app/assets/javascripts/incidents/constants.js
  app/assets/javascripts/incidents/graphql/queries/get_count_by_status.query.graphql
  app/assets/javascripts/incidents/graphql/queries/get_incidents.query.graphql
  app/assets/javascripts/incidents/list.js
  app/graphql/resolvers/issue_status_counts_resolver.rb
  app/graphql/resolvers/issues_resolver.rb
  app/helpers/projects/incidents_helper.rb
  app/views/projects/incidents/index.html.haml
  changelogs/unreleased/229404-filter-capabilities.yml
  ee/app/helpers/ee/projects/incidents_helper.rb
  ee/spec/helpers/ee/projects/incidents_helper_spec.rb
  locale/gitlab.pot
  spec/frontend/incidents/components/incidents_list_spec.js
  spec/frontend/incidents/mocks/incidents_filter.json
  spec/helpers/projects/incidents_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply backend feedback
  app/graphql/resolvers/concerns/issue_resolver_arguments.rb
  app/graphql/resolvers/issues_resolver.rb
  ee/spec/helpers/ee/projects/incidents_helper_spec.rb
  spec/helpers/projects/incidents_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply backend feedback
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/spec/helpers/ee/projects/incidents_helper_spec.rb
  spec/helpers/projects/incidents_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply backend feedback
  app/assets/javascripts/incidents/components/incidents_list.vue
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply merge feedback
  app/assets/javascripts/incidents/components/incidents_list.vue
  spec/frontend/incidents/components/incidents_list_spec.js
  spec/frontend/incidents/mocks/incidents_filter.json
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix failing specs
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/spec/helpers/ee/projects/incidents_helper_spec.rb
  spec/helpers/projects/incidents_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply backend feedback
  app/assets/javascripts/incidents/components/incidents_list.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add merge feedback
  spec/frontend/incidents/components/incidents_list_spec.js
  spec/graphql/resolvers/issues_resolver_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add merge feedback
  app/assets/javascripts/incidents/components/incidents_list.vue
  app/assets/javascripts/incidents/constants.js
  app/assets/javascripts/incidents/graphql/queries/get_count_by_status.query.graphql
  app/assets/javascripts/incidents/graphql/queries/get_incidents.query.graphql
  app/graphql/resolvers/concerns/issue_resolver_arguments.rb
  app/graphql/resolvers/issue_status_counts_resolver.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  locale/gitlab.pot
  spec/frontend/incidents/components/incidents_list_spec.js
  spec/frontend/incidents/mocks/incidents_filter.json
  spec/graphql/resolvers/issues_resolver_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply merge feedback
  app/assets/javascripts/incidents/components/incidents_list.vue
  spec/frontend/incidents/components/incidents_list_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply merge feedback
  locale/gitlab.pot
  spec/frontend/incidents/components/incidents_list_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
