Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Avoid using non-essential frequently-changing command
  qa/qa/service/praefect_manager.rb
  qa/qa/specs/features/api/3_create/repository/backend_node_recovery_spec.rb
Due: graphql-reference-verify, pages, cache gems

Update gitaly to 7addf57d68a
  GITALY_SERVER_VERSION
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Alert To Do UI
  app/assets/javascripts/alert_management/components/sidebar/sidebar_todo.vue
  app/assets/javascripts/alert_management/graphql/fragments/detail_item.fragment.graphql
  app/assets/javascripts/alert_management/graphql/mutations/alert_todo_create.graphql
  app/assets/javascripts/alert_management/graphql/mutations/alert_todo_create.mutation.graphql
  app/assets/javascripts/alert_management/graphql/mutations/alert_todo_mark_done.mutation.graphql
  changelogs/unreleased/222359-alert-todo.yml
  spec/frontend/alert_management/components/alert_management_sidebar_todo_spec.js
  spec/frontend/alert_management/mocks/alerts.json
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update Toast UI to ^2.3.1
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update dependency @gitlab/ui to v18.6.0
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Note that orphan_job_artifact_files does not work on object storage
  doc/raketasks/cleanup.md
Due: docs lint

Enable sast_configuration_ui feature flag
  doc/user/application_security/configuration/index.md
  doc/user/application_security/index.md
  doc/user/application_security/sast/index.md
  ee/app/controllers/projects/security/configuration_controller.rb
  ee/app/controllers/projects/security/sast_configuration_controller.rb
  ee/changelogs/unreleased/231357-enable-sast_configuration_ui-feature-flag-by-default.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Stub feature flags before specs executes
  spec/controllers/groups/shared_projects_controller_spec.rb
  spec/spec_helper.rb
  spec/support/helpers/stub_feature_flags.rb
  spec/support/helpers/stubbed_feature.rb
  spec/support_specs/helpers/stub_feature_flags_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix presenter specs
  app/presenters/alert_management/alert_presenter.rb
  app/presenters/projects/prometheus/alert_presenter.rb
  spec/presenters/projects/prometheus/alert_presenter_spec.rb
  spec/workers/incident_management/process_alert_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add alert details into issue markdown
  app/presenters/alert_management/alert_presenter.rb
  app/presenters/projects/prometheus/alert_presenter.rb
  app/services/incident_management/create_issue_service.rb
  app/workers/incident_management/process_alert_worker.rb
  lib/gitlab/alerting/alert.rb
  spec/presenters/alert_management/alert_presenter_spec.rb
  spec/presenters/alert_management/prometheus_alert_presenter_spec.rb
  spec/services/incident_management/create_issue_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Tweaks to fix specs
  spec/presenters/alert_management/alert_presenter_spec.rb
  spec/presenters/alert_management/prometheus_alert_presenter_spec.rb
  spec/presenters/projects/prometheus/alert_presenter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update variables and specs
  app/presenters/alert_management/alert_presenter.rb
  app/presenters/projects/prometheus/alert_presenter.rb
  app/services/incident_management/create_issue_service.rb
  lib/gitlab/alerting/alert.rb
  spec/presenters/alert_management/alert_presenter_spec.rb
  spec/presenters/alert_management/prometheus_alert_presenter_spec.rb
  spec/presenters/projects/prometheus/alert_presenter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add change log
  changelogs/unreleased/215088-add-alert-url-to-issue-description.yml
Due: none

Fix presenter spec
  spec/presenters/alert_management/alert_presenter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add unfurl support for /search
  app/views/search/show.html.haml
  changelogs/unreleased/225213-unfurl-search-page.yml
  locale/gitlab.pot
  spec/views/search/show.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add k8s gauge metrics dashboard template
  lib/gitlab/metrics/templates/gauge.metrics-dashboard.yml
  lib/gitlab/metrics/templates/k8s_gauge.metrics-dashboard.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update page to add redirect
  doc/university/training/end-user/README.md
Due: docs lint

Audit failed login from OAuth provider
  app/controllers/omniauth_callbacks_controller.rb
  ee/app/controllers/ee/omniauth_callbacks_controller.rb
  ee/changelogs/unreleased/9470-audit-failed-ldap-logins.yml
  ee/spec/controllers/ee/omniauth_callbacks_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix a Gradle bug with snapshot versions
  app/services/packages/maven/find_or_create_package_service.rb
  changelogs/unreleased/38338-gradle-packages-group.yml
  spec/factories/packages.rb
  spec/services/packages/maven/find_or_create_package_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor Issuable::Clone::BaseService to services
  app/services/award_emojis/copy_service.rb
  app/services/issuable/clone/base_service.rb
  app/services/issuable/clone/content_rewriter.rb
  app/services/markdown_content_rewriter_service.rb
  app/services/notes/copy_service.rb
  spec/lib/gitlab/gfm/reference_rewriter_spec.rb
  spec/services/award_emojis/copy_service_spec.rb
  spec/services/issuable/clone/content_rewriter_spec.rb
  spec/services/issues/move_service_spec.rb
  spec/services/markdown_content_rewriter_service_spec.rb
  spec/services/notes/copy_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update gitaly to 6730c101d0b
  GITALY_SERVER_VERSION
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds graphql types
  app/graphql/resolvers/ci/pipeline_stages_resolver.rb
  app/graphql/types/ci/group_type.rb
  app/graphql/types/ci/job_type.rb
  app/graphql/types/ci/pipeline_type.rb
  app/graphql/types/ci/stage_type.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
  spec/graphql/types/ci/group_type_spec.rb
  spec/graphql/types/ci/job_type_spec.rb
  spec/graphql/types/ci/stage_type_spec.rb
  spec/requests/api/graphql/ci/groups_spec.rb
  spec/requests/api/graphql/ci/jobs_spec.rb
  spec/requests/api/graphql/ci/stages_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix edit_dashboard_enabled interaction on specs
  qa/qa/page/project/operations/metrics/show.rb
Due: graphql-reference-verify, pages, cache gems

Fix URL of issues in VSA dashboard
  changelogs/unreleased/bug-incorrect-issue-url-in-vsa.yml
  lib/gitlab/analytics/cycle_analytics/records_fetcher.rb
  spec/serializers/analytics_issue_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove old Jenkins details
  doc/integration/jenkins.md
Due: docs lint

Document the Cloud Native Buildpack launcher
  doc/topics/autodevops/stages.md
Due: docs lint

Revisions from technical writer
  doc/topics/cron/index.md
  doc/topics/index.md
Due: docs lint

Swap deprecated button in settings > operations
  app/assets/javascripts/operation_settings/components/metrics_settings.vue
  spec/frontend/operation_settings/components/metrics_settings_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Upgrade Workhorse to v8.38.0
  GITLAB_WORKHORSE_VERSION
  changelogs/unreleased/sh-bump-workhorse-8-38-0.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate all artifacts to be license scanning
  changelogs/unreleased/213571-migrate-lm-to-ls-artifacts.yml
  db/post_migrate/20200808221641_add_index_for_license_compliance_artifacts.rb
  db/post_migrate/20200809221641_migrate_license_management_artifacts_to_license_scanning.rb
  db/schema_migrations/20200808221641
  db/schema_migrations/20200809221641
  db/structure.sql
  ee/spec/migrations/migrate_license_management_artifacts_to_license_scanning_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change 'gauge-chart' to 'gauge' in YML panel configuration for gauge charts
  app/assets/javascripts/monitoring/constants.js
  changelogs/unreleased/astoicescu-gaugeChartToGaugeInYML.yml
  doc/operations/metrics/dashboards/panel_types.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable feature flag to raise CI warnings
  lib/gitlab/ci/features.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable FF ci_variables_api_filter_environment_scope by default
  changelogs/unreleased/enable-ci_variables_api_filter_environment_scope-by-default.yml
  doc/api/project_level_variables.md
  lib/gitlab/ci/features.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Consider artifact locking in build_details_entity
  app/controllers/projects/artifacts_controller.rb
  app/serializers/build_details_entity.rb
  spec/fixtures/api/schemas/job/artifact.json
  spec/serializers/build_details_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Swap RepositoryHashCache to UNLINK
  changelogs/unreleased/hash-cache-unlink.yml
  lib/gitlab/repository_cache_adapter.rb
  lib/gitlab/repository_hash_cache.rb
  spec/lib/gitlab/repository_cache_adapter_spec.rb
  spec/lib/gitlab/repository_hash_cache_spec.rb
  spec/models/repository_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Extract artifact existence check into method
  app/controllers/projects/artifacts_controller.rb
  app/models/ci/build.rb
  spec/models/ci/build_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove resolved cleanup policy tech debt comment
  app/services/projects/container_repository/cleanup_tags_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Only track schema versions with actual migrations
  lib/gitlab/database/schema_version_files.rb
  spec/lib/gitlab/database/schema_version_files_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add coverage fuzzing docs for offline env
  doc/user/application_security/coverage_fuzzing/index.md
Due: docs lint

Update suggest gitlab ci popover button
  app/assets/javascripts/blob/suggest_gitlab_ci_yml/components/popover.vue
  changelogs/unreleased/219888-suggest-gitlab-ci-popover.yml
  spec/frontend/blob/suggest_gitlab_ci_yml/components/popover_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
