Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Try private omnibus-gitlab
  scripts/trigger-build
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add static master option
  app/assets/javascripts/pipelines/components/tokens/pipeline_branch_name_token.vue
  changelogs/unreleased/place-default-branch-for-branch-filter-pipelines.yml
  locale/gitlab.pot
  spec/frontend/pipelines/tokens/pipeline_branch_name_token_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Unknown sign-in email styling
  app/controllers/concerns/known_sign_in.rb
  app/mailers/emails/profile.rb
  app/mailers/previews/notify_preview.rb
  app/services/notification_service.rb
  app/views/notify/unknown_sign_in_email.html.haml
  changelogs/unreleased/dblessing-new-sign-in-email-beautification.yml
  doc/user/profile/img/unknown_sign_in_email_v13_1.png
  doc/user/profile/unknown_sign_in_notification.md
  spec/mailers/emails/profile_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Further simplify fingerprinting on JIRA::HTTPError
  lib/gitlab/error_tracking.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added k8s debug
  vendor/prometheus/values.yaml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Clarify private registry support for .com runners
  doc/ci/docker/using_docker_images.md
  doc/user/gitlab_com/index.md
Due: docs lint

add vulnerability check and update link
  doc/user/application_security/img/vulnerability-check.png
  doc/user/application_security/index.md
Due: docs lint

Fix lint and danger
  doc/user/application_security/index.md
Due: docs lint

Add permission details
  doc/user/application_security/index.md
Due: docs lint

Test using external styles for email template
  app/assets/stylesheets/mailers/table_test_email.scss
  app/views/layouts/_mailer.html.haml
  app/views/notify/unknown_sign_in_email.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch 'remove-connection-pool-metrics-env-var' into 'master'"
  config/initializers/7_prometheus_metrics.rb
  doc/administration/monitoring/prometheus/gitlab_metrics.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

[PoC] Fix hasPreviouPage & hasNextPage in GraphQL pageInfo
  lib/gitlab/graphql/pagination/keyset/conditions/base_condition.rb
  lib/gitlab/graphql/pagination/keyset/connection.rb
  lib/gitlab/graphql/pagination/keyset/order_info.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Vue SSR POC!
  .gitignore
  Gemfile
  Gemfile.lock
  app/assets/javascripts/hypernova_vue.js
  app/assets/javascripts/lib/utils/common_utils.js
  app/assets/javascripts/related_merge_requests/components/related_merge_requests.vue
  app/assets/javascripts/related_merge_requests/index.js
  app/assets/javascripts/related_merge_requests/ssr.js
  app/assets/javascripts/related_merge_requests/store/actions.js
  app/assets/javascripts/vue_shared/components/icon.vue
  app/assets/javascripts/vue_shared/components/issue/related_issuable_item.vue
  app/controllers/projects/issues_controller.rb
  app/views/projects/issues/show.html.haml
  config/environments/development.rb
  config/initializers/hypernova_initializer.rb
  config/webpack.config.js
  config/webpack.hypernova.js
  hypernova.js
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor monitor tests to use k3s
  qa/qa/page/project/operations/kubernetes/add_existing.rb
  qa/qa/resource/kubernetes_cluster/project_cluster.rb
  qa/qa/runtime/env.rb
  qa/qa/specs/features/browser_ui/8_monitor/all_monitor_core_features_spec.rb
  qa/qa/specs/features/ee/browser_ui/8_monitor/all_monitor_features_spec.rb
Due: graphql-reference-verify, pages, cache gems

Refactor monitor tests to use k3s
  qa/qa/resource/kubernetes_cluster/project_cluster.rb
  qa/qa/service/cluster_provider/k3s.rb
  qa/qa/specs/features/browser_ui/8_monitor/all_monitor_core_features_spec.rb
  qa/qa/specs/features/ee/browser_ui/8_monitor/all_monitor_features_spec.rb
Due: graphql-reference-verify, pages, cache gems

Move markdown shortcuts to separate file
  app/assets/javascripts/behaviors/shortcuts/shortcuts.js
  app/assets/javascripts/behaviors/shortcuts/shortcuts_markdown.js
  spec/javascripts/shortcuts_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Ultimate trial button width fix
  ee/app/views/shared/promotions/_promotion_link_project.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update _promotion_link_project.html.haml
  ee/app/views/shared/promotions/_promotion_link_project.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add feature spec
  spec/features/markdown/markdown_keyboard_shortcuts_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove a sneaky space
  app/assets/javascripts/behaviors/shortcuts/shortcuts.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

GitLab UI: feat-important-utility-classes integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply suggestion to doc/development/avoid_entity_attribute_value_model.md
  doc/development/avoid_entity_attribute_value_model.md
Due: docs lint

Add caveat section for custom error pages
  doc/user/project/pages/introduction.md
Due: docs lint

Add slack alerts option to chat integration frontend
  app/models/project_services/chat_notification_service.rb
  app/models/service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix services query for instance and template level
  app/models/service.rb
  changelogs/unreleased/ab-services-query.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Dark SCSS theme for IDE
  app/assets/stylesheets/page_bundles/ide_dark.scss
  app/views/ide/_show.html.haml
  config/application.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Tag workers that do not depend on disk I/O
  app/workers/all_queues.yml
  app/workers/auto_merge_process_worker.rb
  app/workers/ci/build_schedule_worker.rb
  app/workers/ci/create_cross_project_pipeline_worker.rb
  app/workers/cluster_wait_for_app_installation_worker.rb
  app/workers/clusters/applications/wait_for_uninstall_app_worker.rb
  app/workers/deployments/finished_worker.rb
  app/workers/deployments/success_worker.rb
  app/workers/emails_on_push_worker.rb
  app/workers/export_csv_worker.rb
  app/workers/import_issues_csv_worker.rb
  app/workers/incident_management/process_prometheus_alert_worker.rb
  app/workers/namespaces/prune_aggregation_schedules_worker.rb
  app/workers/object_pool/join_worker.rb
  app/workers/pages_domain_removal_cron_worker.rb
  app/workers/pipeline_schedule_worker.rb
  app/workers/reactive_caching_worker.rb
  app/workers/remove_expired_members_worker.rb
  app/workers/stuck_ci_jobs_worker.rb
  app/workers/stuck_export_jobs_worker.rb
  app/workers/stuck_import_jobs_worker.rb
  ee/app/workers/all_queues.yml
  ee/app/workers/ci/trigger_downstream_subscriptions_worker.rb
  ee/app/workers/create_github_webhook_worker.rb
  ee/app/workers/new_epic_worker.rb
  ee/app/workers/update_max_seats_used_for_gitlab_com_subscriptions_worker.rb
  ee/app/workers/vulnerability_exports/export_worker.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update security.md
  doc/development/fe_guide/security.md
Due: docs lint

Bump version to 0.17.0
  lib/gitlab/ci/templates/Managed-Cluster-Applications.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds changelog file
  changelogs/unreleased/jcunha-bump-cluster-applications-to-0-17-0.yml
Due: none

Test change to validate package-and-qa
  app/controllers/admin/abuse_reports_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use generic k8s instructions, numbers only format
  doc/user/project/clusters/add_remove_clusters.md
Due: docs lint

Use numbers only instead of mix of numbers/bullets
  doc/user/project/clusters/add_remove_clusters.md
Due: docs lint

Fix doc/raketasks/README.md conflicts
  doc/raketasks/README.md
Due: docs lint

Fix git conflict error
  doc/raketasks/README.md
Due: docs lint

Test mr 32773
  bin/background_jobs_sk
  bin/background_jobs_sk_cluster
  doc/install/installation.md
  qa/qa/git/repository.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Reformatted content to pass linting
  doc/development/telemetry/usage_ping.md
Due: docs lint

Fixed table markup
  doc/development/telemetry/usage_ping.md
Due: docs lint

Fixed minor case issue
  doc/development/telemetry/usage_ping.md
Due: docs lint

Added trailing blank line
  doc/development/telemetry/usage_ping.md
Due: docs lint
