Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Render snippet blob filename in dashboard
  app/helpers/snippets_helper.rb
  app/views/shared/snippets/_snippet.html.haml
  spec/features/dashboard/snippets_spec.rb
  spec/helpers/snippets_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace deprecated GlLoadingIcon sizes in EE
  ee/app/assets/javascripts/approvals/components/app.vue
  ee/app/assets/javascripts/batch_comments/components/preview_dropdown.vue
  ee/app/assets/javascripts/billings/components/subscription_table.vue
  ee/app/assets/javascripts/clusters/components/environments.vue
  ee/app/assets/javascripts/ide/components/terminal/empty_state.vue
  ee/app/assets/javascripts/issues_analytics/components/issues_analytics.vue
  ee/spec/frontend/billings/components/__snapshots__/subscription_table_spec.js.snap
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable the `release_asset_link_editing` flag
  app/controllers/projects/releases_controller.rb
  changelogs/unreleased/nfriend-enable-release_asset_link_editing-fleature-flag.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Mark background migrations as throttled
  app/workers/all_queues.yml
  app/workers/background_migration_worker.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate legacy uploads out of deprecated paths
  db/post_migrate/20200409211607_migrate_legacy_attachments.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fallback to legacy_reader in specs
  spec/lib/gitlab/import_export/project/tree_restorer_spec.rb
  spec/support/import_export/common_util.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix treeSaver and treeRestorer specs
  lib/gitlab/import_export/project/relation_factory.rb
  spec/lib/gitlab/import_export/project/tree_restorer_spec.rb
  spec/lib/gitlab/import_export/project/tree_saver_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Hide Pipeline Security tab from reporters
  ee/app/presenters/ee/ci/pipeline_presenter.rb
  ee/changelogs/unreleased/212941-sec-tab-for-reporters.yml
  ee/spec/controllers/projects/pipelines_controller_spec.rb
  ee/spec/features/projects/pipelines/pipeline_spec.rb
  ee/spec/presenters/ci/pipeline_presenter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use note header component in event item
  app/assets/javascripts/notes/components/note_header.vue
  ee/app/assets/javascripts/vue_shared/security_reports/components/event_item.vue
  ee/app/assets/javascripts/vulnerabilities/components/footer.vue
  ee/app/assets/javascripts/vulnerabilities/components/history_entry.vue
  ee/spec/frontend/vue_shared/security_reports/components/event_item_spec.js
  ee/spec/frontend/vulnerabilities/footer_spec.js
  ee/spec/frontend/vulnerabilities/history_entry_spec.js
  spec/frontend/notes/components/note_header_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add CHANGELOG entry
  changelogs/unreleased/31015-migrate-legacy-attachments.yml
Due: none

Remove rake task to migrate all legacy attachments
  db/post_migrate/20200409211607_migrate_legacy_attachments.rb
  doc/administration/raketasks/uploads/migrate.md
  lib/tasks/gitlab/uploads/legacy.rake
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Handle unknown dashboard attributes
  app/models/performance_monitoring/prometheus_panel.rb
  changelogs/unreleased/214360-custom-metrics-dashboard-does-not-load-when-max_value-is-set.yml
  ee/spec/models/performance_monitoring/prometheus_panel_spec.rb
  lib/gitlab/metrics/dashboard/stages/panel_ids_inserter.rb
  spec/fixtures/lib/gitlab/metrics/dashboard/sample_dashboard.yml
  spec/fixtures/lib/gitlab/metrics/dashboard/schemas/panels.json
  spec/lib/gitlab/metrics/dashboard/processor_spec.rb
  spec/lib/gitlab/metrics/dashboard/stages/panel_ids_inserter_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Restrict access when restricted visibility level is public
  app/controllers/application_controller.rb
  app/controllers/explore/application_controller.rb
  app/controllers/help_controller.rb
  app/helpers/explore_helper.rb
  app/views/layouts/devise.html.haml
  app/views/layouts/devise_empty.html.haml
  doc/install/aws/index.md
  doc/public_access/public_access.md
  doc/user/admin_area/settings/visibility_and_access_controls.md
  ee/changelogs/unreleased/18165-add-access-control-for-restricted-public-level.yml
  ee/spec/features/users/login_spec.rb
  ee/spec/features/users/signup_spec.rb
  spec/controllers/explore/groups_controller_spec.rb
  spec/controllers/explore/projects_controller_spec.rb
  spec/controllers/help_controller_spec.rb
  spec/features/explore/groups_spec.rb
  spec/features/explore/user_explores_projects_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Correct Release evidence feature flag documentation
  doc/user/project/releases/index.md
Due: docs lint

Add ability to comment on vulnerability history
  ee/app/assets/javascripts/vulnerabilities/components/footer.vue
  ee/app/assets/javascripts/vulnerabilities/components/history_comment.vue
  ee/app/assets/javascripts/vulnerabilities/components/history_comment_editor.vue
  ee/app/assets/javascripts/vulnerabilities/components/history_entry.vue
  ee/spec/frontend/vulnerabilities/history_comment_editor_spec.js
  ee/spec/frontend/vulnerabilities/history_comment_spec.js
  ee/spec/frontend/vulnerabilities/history_entry_spec.js
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Deprecate "token" attribute from Runners API
  changelogs/unreleased/214320-deprecate-returning-token-from-runners-api.yml
  doc/api/runners.md
  lib/api/entities/runner_details.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor to re-use existing methods
  app/helpers/services_helper.rb
  app/views/projects/services/_form.html.haml
  app/views/projects/services/alerts/_help.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Protect sidekiq admin UI with admin mode
  changelogs/unreleased/fix-admin-mode-sidekiq-admin-ui.yml
  config/routes/sidekiq.rb
  lib/constraints/admin_constrainer.rb
  spec/lib/constraints/admin_constrainer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove project-specific elements from integrations
  app/models/project_services/alerts_service.rb
  app/views/projects/services/mattermost_slash_commands/_detailed_help.html.haml
  app/views/projects/services/slack_slash_commands/_help.html.haml
  changelogs/unreleased/210528-fix-broken-links-in-some-instance-level-integrations.yml
  ee/app/views/projects/services/gitlab_slack_application/_help.html.haml
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix Alerts integration on instance level
  app/helpers/services_helper.rb
  app/views/projects/services/_form.html.haml
  app/views/projects/services/alerts/_help.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update placeholder copy for integrations
  app/models/project_services/alerts_service.rb
  app/views/projects/services/alerts/_help.html.haml
  app/views/projects/services/mattermost_slash_commands/_detailed_help.html.haml
  app/views/projects/services/slack_slash_commands/_help.html.haml
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use lonely operator to simplify code
  app/views/projects/services/mattermost_slash_commands/_detailed_help.html.haml
  app/views/projects/services/slack_slash_commands/_help.html.haml
  changelogs/unreleased/210528-fix-broken-links-in-some-instance-level-integrations.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Convert reference links to standard links
  doc/development/changelog.md
  doc/development/code_review.md
  doc/development/contributing/issue_workflow.md
  doc/development/documentation/styleguide.md
  doc/development/ee_features.md
  doc/development/file_storage.md
  doc/development/interacting_components.md
  doc/development/performance.md
Due: docs lint

Introduce rate limit for creating issues via API
  changelogs/unreleased/55241-rate-limit-issue-creation-api.yml
  doc/api/issues.md
  lib/api/helpers/rate_limiter.rb
  lib/api/issues.rb
  lib/api/project_export.rb
  lib/api/project_import.rb
  spec/requests/api/issues/post_projects_issues_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update registry settings store with new state
  app/assets/javascripts/registry/settings/components/registry_settings_app.vue
  app/assets/javascripts/registry/settings/store/actions.js
  app/assets/javascripts/registry/settings/store/getters.js
  app/assets/javascripts/registry/settings/store/mutation_types.js
  app/assets/javascripts/registry/settings/store/mutations.js
  app/assets/javascripts/registry/settings/store/state.js
  app/views/projects/registry/settings/_index.haml
  locale/gitlab.pot
  spec/frontend/registry/settings/components/registry_settings_app_spec.js
  spec/frontend/registry/settings/store/actions_spec.js
  spec/frontend/registry/settings/store/getters_spec.js
  spec/frontend/registry/settings/store/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Use music icon for files with .ogg extension
  app/assets/javascripts/vue_shared/components/file_icon/file_icon_map.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs: Add repost for Support note
  .gitlab/issue_templates/Feature Flag Roll Out.md
  doc/development/feature_flags/controls.md
Due: docs lint

Properly apply the prerelease filtering
  ee/app/services/packages/nuget/search_service.rb
  ee/changelogs/unreleased/207213-fix-nuget-search.yml
  ee/spec/services/packages/nuget/search_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  changelogs/unreleased/winniehell-ogg-music.yml
Due: none

Add documetation on Jira issues import MVC
  doc/user/project/import/img/jira/import_issues_from_jira_button_v12_10.png
  doc/user/project/import/img/jira/import_issues_from_jira_form_v12_10.png
  doc/user/project/import/img/jira/import_issues_from_jira_projects_v12_10.png
  doc/user/project/import/index.md
  doc/user/project/import/jira.md
Due: docs lint

Notify new merge Request conflicts only once
  app/graphql/types/merge_request_type.rb
  app/models/merge_request.rb
  app/serializers/merge_request_basic_entity.rb
  app/serializers/merge_request_poll_cached_widget_entity.rb
  ee/lib/ee/api/entities/approval_state.rb
  ee/spec/requests/api/merge_request_approvals_spec.rb
  lib/api/entities/merge_request_basic.rb
  lib/gitlab/data_builder/pipeline.rb
  spec/lib/gitlab/data_builder/pipeline_spec.rb
  spec/models/merge_request_spec.rb
  spec/requests/api/graphql/project/merge_request_spec.rb
  spec/requests/api/merge_requests_spec.rb
  spec/serializers/merge_request_basic_entity_spec.rb
  spec/serializers/merge_request_poll_cached_widget_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace jasmine functions in EE Jest specs
  ee/spec/frontend/.eslintrc.yml
  ee/spec/frontend/api_spec.js
  ee/spec/frontend/approvals/components/modal_rule_remove_spec.js
  ee/spec/frontend/epic/components/epic_create_spec.js
  ee/spec/frontend/epic/components/epic_sidebar_spec.js
  ee/spec/frontend/epic/components/sidebar_items/sidebar_labels_spec.js
  ee/spec/frontend/epic/store/actions_spec.js
  ee/spec/frontend/geo_nodes/components/app_spec.js
  ee/spec/frontend/geo_nodes/components/geo_node_item_spec.js
  ee/spec/frontend/group_member_contributions/store/group_member_store_spec.js
  ee/spec/frontend/ide/components/panes/right_spec.js
  ee/spec/frontend/ide/components/terminal/session_spec.js
  ee/spec/frontend/ide/components/terminal/terminal_controls_spec.js
  ee/spec/frontend/ide/stores/modules/terminal/actions/session_controls_spec.js
  ee/spec/frontend/insights/stores/insights/actions_spec.js
  ee/spec/frontend/roadmap/utils/roadmap_item_utils_spec.js
  ee/spec/frontend/vue_mr_widget/components/approvals/approvals_footer_spec.js
  ee/spec/frontend/vue_mr_widget/components/approvals/approvals_list_spec.js
  ee/spec/frontend/vue_mr_widget/components/approvals/approvals_summary_spec.js
  ee/spec/frontend/vue_mr_widget/components/approvals/approved_icon_spec.js
  ee/spec/frontend/vue_mr_widget/mappers_spec.js
  ee/spec/frontend/vue_shared/security_reports/components/modal_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add Requirements documentation
  doc/user/project/index.md
  doc/user/project/requirements/img/requirement_archive_view_v12_10.png
  doc/user/project/requirements/img/requirement_create_view_v12_10.png
  doc/user/project/requirements/img/requirement_edit_save_v12_10.png
  doc/user/project/requirements/img/requirement_edit_view_v12_10.png
  doc/user/project/requirements/img/requirements_archived_list_view_v12_10.png
  doc/user/project/requirements/img/requirements_list_view_v12_10.png
  doc/user/project/requirements/index.md
Due: docs lint

Add InvalidContentMessage and associated spec
  app/assets/javascripts/static_site_editor/components/invalid_content_message.vue
  app/assets/javascripts/static_site_editor/components/static_site_editor.vue
  app/assets/javascripts/static_site_editor/index.js
  app/assets/javascripts/static_site_editor/store/state.js
  locale/gitlab.pot
  spec/frontend/static_site_editor/components/invalid_content_message_spec.js
  spec/frontend/static_site_editor/components/static_site_editor_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Recover the page version from review
  doc/user/project/import/jira.md
Due: docs lint

Add new association for push rules
  app/models/application_setting.rb
  app/models/project_setting.rb
  changelogs/unreleased/refactor_push_rules.yml
  db/migrate/20200325104755_add_push_rules_id_to_project_settings.rb
  db/migrate/20200325104756_add_push_rules_foreign_key_to_project_settings.rb
  db/migrate/20200325104833_add_push_rules_id_to_application_settings.rb
  db/migrate/20200325104834_add_push_rules_foreign_key_to_application_settings.rb
  db/post_migrate/20200325162730_schedule_backfill_push_rules_id_in_projects.rb
  db/structure.sql
  ee/app/controllers/admin/push_rules_controller.rb
  ee/app/controllers/ee/projects/settings/repository_controller.rb
  ee/app/models/ee/project_setting.rb
  ee/app/services/ee/projects/create_service.rb
  ee/spec/controllers/admin/push_rules_controller_spec.rb
  ee/spec/controllers/projects/settings/repository_controller_spec.rb
  ee/spec/features/admin/admin_interacts_with_push_rules_spec.rb
  ee/spec/services/projects/create_service_spec.rb
  lib/gitlab/background_migration/backfill_push_rules_id_in_projects.rb
  spec/lib/gitlab/background_migration/backfill_push_rules_id_in_projects_spec.rb
  spec/migrations/schedule_backfill_push_rules_id_in_projects_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Prepare `...Group::Treesaver` to ndjson
  app/services/groups/import_export/export_service.rb
  ee/spec/lib/ee/gitlab/import_export/group/legacy_tree_saver_spec.rb
  lib/gitlab/import_export/group/legacy_tree_saver.rb
  spec/lib/gitlab/import_export/group/legacy_tree_saver_spec.rb
  spec/services/groups/import_export/export_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add requirements to permissions doc
  doc/user/permissions.md
Due: docs lint

Update link to feature flag docs
  doc/api/README.md
  doc/development/README.md
Due: docs lint

Updates the package registry list design
  ee/app/assets/javascripts/packages/details/store/getters.js
  ee/app/assets/javascripts/packages/list/components/packages_list.vue
  ee/app/assets/javascripts/packages/list/components/packages_list_row.vue
  ee/app/assets/javascripts/packages/list/stores/getters.js
  ee/app/assets/javascripts/packages/shared/utils.js
  ee/changelogs/unreleased/197923-use-the-package-registry-ui-list-view-to-view-more-robust-data.yml
  ee/spec/frontend/packages/list/components/__snapshots__/packages_list_row_spec.js.snap
  ee/spec/frontend/packages/list/components/packages_list_row_spec.js
  ee/spec/frontend/packages/list/components/packages_list_spec.js
  ee/spec/frontend/packages/list/stores/getters_spec.js
  ee/spec/frontend/packages/mock_data.js
  ee/spec/frontend/packages/shared/utils_spec.js
  ee/spec/support/shared_examples/features/packages_shared_examples.rb
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
