Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Replace blacklist with denylist in sign up settings
  app/views/admin/application_settings/_signup.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Edits to PM-TW milestone work checklist
  .gitlab/issue_templates/PM-TW milestone work.md
Due: none

Clarify how to coordinate with any TWs before pinging next-level PM
  .gitlab/issue_templates/PM-TW milestone work.md
Due: none

Changes to run package-and-qa against ml-fix-login-failure in gitlab-qa
  .gitlab/ci/qa.gitlab-ci.yml
  qa/qa/specs/features/browser_ui/1_manage/login/log_in_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update gitlab.pot
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog
  changelogs/unreleased/replace-blacklist-application-settings.yml
Due: none

Just a dummy change
  qa/qa/specs/features/browser_ui/1_manage/login/log_in_spec.rb
Due: graphql-reference-verify, pages, cache gems

Just a dummy change
  ee/app/controllers/admin/audit_logs_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make ~test and ~QA maintainer review optional
  danger/roulette/Dangerfile
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update assignment of prometheus variables
  app/services/clusters/applications/prometheus_config_service.rb
  spec/services/clusters/applications/prometheus_config_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog and tweak style
  app/services/clusters/applications/prometheus_config_service.rb
  changelogs/unreleased/sarnold-fix-prom-alerts-config.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Rails/SaveBang Rubocop rule for tests
  .rubocop.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Let cop Rails/SaveBang run on the whole code base
  .rubocop.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expand the dashbord fixture to include metrics data
  app/assets/javascripts/monitoring/components/dashboard_header.vue
  spec/frontend/fixtures/metrics_dashboard.rb
  spec/frontend/monitoring/components/__snapshots__/dashboard_template_spec.js.snap
  spec/frontend/monitoring/components/dashboard_panel_spec.js
  spec/frontend/monitoring/components/dashboard_spec.js
  spec/frontend/monitoring/components/dashboard_template_spec.js
  spec/frontend/monitoring/components/dashboard_url_time_spec.js
  spec/frontend/monitoring/fixture_data.js
  spec/javascripts/monitoring/components/dashboard_resize_browser_spec.js
  spec/support/helpers/metrics_dashboard_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor monitor tests to use k3s
  qa/qa/page/project/operations/kubernetes/add_existing.rb
  qa/qa/runtime/env.rb
  qa/qa/service/cluster_provider/k3s.rb
  qa/qa/specs/features/browser_ui/8_monitor/all_monitor_core_features_spec.rb
  qa/qa/specs/features/browser_ui/8_monitor/filter_dashboard_spec.rb
  qa/qa/specs/features/ee/browser_ui/8_monitor/all_monitor_features_spec.rb
Due: graphql-reference-verify, pages, cache gems

Expose test report summary API
  app/controllers/projects/pipelines_controller.rb
  app/models/ci/build_report_result.rb
  app/models/ci/pipeline.rb
  app/serializers/build_report_result_entity.rb
  app/serializers/test_report_summary_entity.rb
  app/serializers/test_report_summary_serializer.rb
  config/routes/pipelines.rb
  lib/gitlab/ci/reports/test_report_summary.rb
  spec/controllers/projects/pipelines_controller_spec.rb
  spec/factories/ci/builds.rb
  spec/factories/ci/pipelines.rb
  spec/fixtures/api/schemas/entities/test_report_summary.json
  spec/lib/gitlab/ci/reports/test_report_summary_spec.rb
  spec/models/ci/pipeline_spec.rb
  spec/serializers/build_report_result_entity_spec.rb
  spec/serializers/test_report_summary_entity_spec.rb
  spec/serializers/test_report_summary_serializer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add information about user over license banner notification
  doc/subscriptions/index.md
Due: docs lint

Make delete button conditionally appear
  app/assets/javascripts/notes/stores/actions.js
  app/assets/javascripts/notes/stores/mutation_types.js
  app/assets/javascripts/notes/stores/mutations.js
  ee/app/assets/javascripts/notes/mixins/description_version_history.js
  ee/changelogs/unreleased/207102-description-diff-delete-button-not-hidden-after-clicked.yml
  ee/spec/frontend/vue_shared/components/notes/system_note_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

GitLab UI: astoicescu/preventFreezingOfChartTooltipOnHover integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor: test roulette logic in the module
  danger/roulette/Dangerfile
  lib/gitlab/danger/roulette.rb
  spec/lib/gitlab/danger/roulette_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test: ~frontend change
  jest.config.base.js
Due: none

Test: ~backend change
  Gemfile
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Test - change for ~test
  spec/features/admin/admin_abuse_reports_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Test - change for ~QA
  qa/Gemfile
Due: graphql-reference-verify, pages, cache gems

Update qa.gitlab-ci.yml
  .gitlab/ci/qa.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Second pass updating rules docs
  doc/ci/pipelines/job_management.md
  doc/ci/yaml/README.md
Due: docs lint

Start revamp of job management in ci docs
  doc/ci/pipelines/job_management.md
Due: docs lint

Rename legacy to basic for now
  doc/ci/environments/index.md
  doc/ci/examples/deploy_spring_boot_to_cloud_foundry/index.md
  doc/ci/jenkins/index.md
  doc/ci/merge_request_pipelines/index.md
  doc/ci/pipelines/job_management.md
  doc/ci/pipelines/schedules.md
  doc/ci/triggers/README.md
  doc/ci/variables/README.md
  doc/ci/yaml/README.md
  doc/topics/autodevops/customize.md
  doc/user/application_security/container_scanning/index.md
  doc/user/application_security/dast/index.md
  doc/user/application_security/dependency_scanning/index.md
  doc/user/application_security/index.md
  doc/user/application_security/sast/index.md
  doc/user/compliance/license_compliance/index.md
  doc/user/project/pages/introduction.md
Due: docs lint

Third pass updating rules docs
  doc/ci/environments/index.md
  doc/ci/examples/deploy_spring_boot_to_cloud_foundry/index.md
  doc/ci/jenkins/index.md
  doc/ci/merge_request_pipelines/index.md
  doc/ci/pipelines/job_management.md
  doc/ci/pipelines/schedules.md
  doc/ci/triggers/README.md
  doc/ci/variables/README.md
  doc/ci/variables/predefined_variables.md
  doc/ci/yaml/README.md
  doc/topics/autodevops/customize.md
  doc/user/application_security/container_scanning/index.md
  doc/user/application_security/dast/index.md
  doc/user/application_security/dependency_scanning/index.md
  doc/user/application_security/index.md
  doc/user/application_security/sast/index.md
  doc/user/compliance/license_compliance/index.md
  doc/user/project/pages/introduction.md
Due: docs lint

Reorder sections in doc
  doc/ci/pipelines/job_management.md
Due: docs lint

Change suggestions to use tildes instead of backticks
  app/assets/javascripts/behaviors/markdown/nodes/code_block.js
  app/assets/javascripts/vue_shared/components/markdown/header.vue
  danger/changelog/Dangerfile
  ee/changelogs/unreleased/axil-suggestions-four-backticks.yml
  spec/features/markdown/copy_as_gfm_spec.rb
  spec/features/merge_request/user_suggests_changes_on_diff_spec.rb
  spec/frontend/vue_shared/components/markdown/header_spec.js
  spec/lib/gitlab/diff/suggestions_parser_spec.rb
  spec/services/draft_notes/publish_service_spec.rb
  spec/services/notes/update_service_spec.rb
  spec/services/preview_markdown_service_spec.rb
  spec/services/suggestions/create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Drop extra_shared_runners_minutes_used? method
  ee/app/models/ci/minutes/quota.rb
  ee/app/models/ee/namespace.rb
  ee/spec/models/ee/namespace_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move `shared_runners_minutes_used?` to Quota class
  ee/app/models/ci/minutes/context.rb
  ee/app/models/ci/minutes/quota.rb
  ee/app/models/ee/namespace.rb
  ee/app/models/ee/project.rb
  ee/app/services/ci/minutes/email_notification_service.rb
  ee/app/views/projects/jobs/_shared_runner_limit_warning.html.haml
  ee/spec/models/ci/minutes/context_spec.rb
  ee/spec/models/ci/minutes/quota_spec.rb
  ee/spec/models/ee/namespace_spec.rb
  ee/spec/models/project_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Search users in LDAP by their e-mail-address.
  changelogs/unreleased/33767-search-users-in-LDAP-by-their-e-mail-address.yml
  lib/gitlab/auth/o_auth/user.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Upgrade gitlab ui
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added prevent to blur
  app/assets/javascripts/design_management/components/design_notes/design_discussion.vue
  app/assets/javascripts/design_management/components/design_notes/design_reply_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Get project services with inherited properties
  app/models/project.rb
  app/models/project_services/emails_on_push_service.rb
  app/models/project_services_with_inheritance.rb
  app/models/service.rb
  db/migrate/20200529081642_add_group_id_to_services.rb
  db/structure.sql
  spec/models/project_services_with_inheritance_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

GitLab UI: safe-link-directive integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

PoC: Make Feature to connect GitLab Feature Flag
  Gemfile
  Gemfile.lock
  config/initializers/0_gitlab_feature_flag_setting.rb
  ee/app/models/operations/feature_flag.rb
  ee/app/models/operations/feature_flag_scope.rb
  ee/lib/api/feature_flag_scopes.rb
  ee/lib/api/flipper.rb
  ee/lib/api/unleash.rb
  ee/lib/ee/api/api.rb
  ee/lib/ee/api/entities/flipper_feature.rb
  ee/lib/ee/api/entities/flipper_gate.rb
  lib/api/features.rb
  lib/feature.rb
  lib/flipper/adapters/multi_persistent_layer.rb
  lib/flipper/adapters/readonly_http.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

PoC: Generalize Feature class
  config/gitlab.yml.example
  config/initializers/1_settings.rb
  config/initializers/flipper.rb
  lib/feature.rb
  lib/feature_flag/adapters/flipper.rb
  lib/feature_flag/adapters/unleash.rb
  lib/unleash/strategy/user_with_id.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
