Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Add date column into vulnerability_statistics table
  db/migrate/20200629074951_add_date_into_vulnerability_statistics.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  ee/changelogs/unreleased/add_date_column_into_vulnerability_statistics_table.yml
Due: none

Make changelog Dangerfile look for the wrong file
  changelogs/unreleased/smcgivern-danger-test-changelog-error.yml
  danger/changelog/Dangerfile
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Docs: Start terms list
  doc/development/documentation/termslist.md
Due: docs lint

wip
  app/models/concerns/namespace/traversal.rb
  app/models/group.rb
  app/models/namespace.rb
  app/models/namespace/traversal_hierarchy.rb
  db/migrate/20200609012539_add_traversal_ids_to_namespaces.rb
  db/migrate/20200618070630_add_namespace_traversal_ids_index.rb
  db/structure.sql
  spec/factories/namespaces.rb
  spec/models/namespace/traversal_hierarchy_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Merge branch '215316-use-underscore-init-data' into 'master'"
  app/helpers/environments_helper.rb
  ee/spec/helpers/ee/environments_helper_spec.rb
  spec/frontend/monitoring/__snapshots__/utils_spec.js.snap
  spec/frontend/monitoring/fixture_data.js
  spec/frontend/monitoring/utils_spec.js
  spec/helpers/environments_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Moved two graphql queries
  app/assets/javascripts/repository/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Moved last GraphQL query
  app/assets/javascripts/repository/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add basic pagination
  ee/app/assets/javascripts/iterations/components/iteration_report_tabs.vue
  ee/app/assets/javascripts/iterations/queries/iteration_issues.query.graphql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

GitLab UI: 824 integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Moved setup to helper
  app/assets/javascripts/lib/apollo_setup.js
  app/assets/javascripts/repository/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove not used ClustersController#metrics method
  config/routes.rb
  ee/app/controllers/ee/clusters/clusters_controller.rb
  ee/app/presenters/ee/clusterable_presenter.rb
  ee/app/presenters/ee/clusters/cluster_presenter.rb
  ee/app/presenters/ee/group_clusterable_presenter.rb
  ee/app/presenters/ee/instance_clusterable_presenter.rb
  ee/app/presenters/ee/project_clusterable_presenter.rb
  ee/spec/presenters/ee/clusters/cluster_presenter_spec.rb
  ee/spec/presenters/ee/instance_clusterable_presenter_spec.rb
  ee/spec/presenters/group_clusterable_presenter_spec.rb
  ee/spec/presenters/project_clusterable_presenter_spec.rb
  ee/spec/support/shared_examples/controllers/cluster_metrics_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Don't error on wrong MR IID in changelog for cherry-pick MRs
  danger/changelog/Dangerfile
  lib/gitlab/danger/helper.rb
  spec/lib/gitlab/danger/helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add a changelog with an unmatching MR IID
  changelogs/unreleased/dont-error-on-wrong-mr-iid-in-changelog-for-cherry-pick-mr.yml
  db/seeds.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add loading spinner to table, update feature spec
  ee/app/assets/javascripts/iterations/components/iteration_report_tabs.vue
  ee/spec/features/groups/iterations/user_views_iteration_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update gitaly to 715cfcc7c66040149447ecdfb2400d0494c88b47
  GITALY_SERVER_VERSION
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add framework to allow primary user email to move to Email model
  app/models/email.rb
  app/models/user.rb
  changelogs/unreleased/dblessing-primary-email-to-email-model.yml
  db/migrate/20200601195730_add_unconfirmed_and_primary_to_emails.rb
  db/migrate/20200601200204_add_unconfirmed_text_limit_to_emails.rb
  db/migrate/20200601203425_add_emails_user_id_foreign_key.rb
  db/migrate/20200601203642_validate_emails_user_id_foreign_key.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

CI/CD for project connect to Github
  app/views/projects/new.html.haml
  ee/app/views/projects/_new_ci_cd_only_project_tab.html.haml
  qa/Gemfile
  qa/Gemfile.lock
  qa/qa/ee.rb
  qa/qa/ee/page/project/new.rb
  qa/qa/ee/resource/project_imported_from_github.rb
  qa/qa/page/project/import/github.rb
  qa/qa/page/project/new.rb
  qa/qa/page/project/pipeline/index.rb
  qa/qa/page/project/settings/mirroring_repositories.rb
  qa/qa/resource/project_imported_from_github.rb
  qa/qa/specs/features/browser_ui/1_manage/project/import_github_repo_spec.rb
  qa/qa/specs/features/ee/browser_ui/4_verify/pipeline_for_project_mirrors_github_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rebasing with master
  qa/Gemfile.lock
  qa/qa/page/project/pipeline/index.rb
  qa/qa/specs/features/ee/browser_ui/4_verify/pipeline_for_project_mirrors_github_spec.rb
Due: graphql-reference-verify, pages, cache gems

Multiple clusters moving to core
  doc/user/project/clusters/index.md
Due: docs lint

Fix multiple clusters premium anchor
  doc/README.md
  doc/topics/autodevops/index.md
  doc/topics/autodevops/quick_start_guide.md
  ee/app/views/projects/clusters/_multiple_clusters_message.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Edit spec files to pass spec tests
  ee/spec/features/projects/clusters_spec.rb
  ee/spec/models/concerns/ee/deployment_platform_spec.rb
  spec/features/projects/clusters/gcp_spec.rb
  spec/requests/api/group_clusters_spec.rb
  spec/requests/api/project_clusters_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix static analysis failure
  app/models/concerns/deployment_platform.rb
  app/services/clusters/create_service.rb
  ee/app/models/ee/project.rb
  ee/app/presenters/ee/clusterable_presenter.rb
  spec/helpers/clusters_helper_spec.rb
  spec/support/services/clusters/create_service_shared.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Set has_multiple_clusters to true in core
  app/helpers/clusters_helper.rb
  app/models/concerns/deployment_platform.rb
  app/presenters/clusterable_presenter.rb
  app/services/clusters/create_service.rb
  ee/app/helpers/ee/clusters_helper.rb
  ee/app/models/concerns/ee/deployment_platform.rb
  ee/app/models/ee/project.rb
  ee/app/models/license.rb
  ee/app/presenters/ee/clusterable_presenter.rb
  ee/app/services/ee/clusters/create_service.rb
  ee/spec/helpers/ee/clusters_helper_spec.rb
  ee/spec/models/concerns/ee/deployment_platform_spec.rb
  ee/spec/services/ee/clusters/create_service_spec.rb
  spec/helpers/clusters_helper_spec.rb
  spec/services/clusters/create_service_spec.rb
  spec/support/services/clusters/create_service_shared.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add multiple_clusters back into ee
  ee/app/models/license.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move specs from ee to core
  app/helpers/clusters_helper.rb
  app/models/clusters/cluster.rb
  app/models/concerns/deployment_platform.rb
  app/presenters/clusterable_presenter.rb
  app/services/clusters/create_service.rb
  changelogs/unreleased/212229-move-features-to-core-multiple-kubernetes-clusters.yml
  doc/ci/variables/README.md
  doc/user/group/clusters/index.md
  doc/user/project/clusters/index.md
  ee/app/models/ee/clusters/cluster.rb
  ee/app/models/ee/project.rb
  ee/app/models/license.rb
  ee/changelogs/unreleased/212229-move-features-to-core-multiple-kubernetes-clusters.yml
  ee/spec/features/projects/clusters/gcp_spec.rb
  ee/spec/features/projects/clusters_spec.rb
  ee/spec/models/concerns/ee/deployment_platform_spec.rb
  ee/spec/models/ee/clusters/cluster_spec.rb
  ee/spec/models/project_spec.rb
  ee/spec/requests/api/group_clusters_spec.rb
  ee/spec/requests/api/project_clusters_spec.rb
  ee/spec/services/ee/clusters/create_service_spec.rb
  ee/spec/services/projects/prometheus/alerts/notify_service_spec.rb
  spec/features/projects/clusters_spec.rb
  spec/helpers/clusters_helper_spec.rb
  spec/models/clusters/cluster_spec.rb
  spec/models/concerns/deployment_platform_spec.rb
  spec/models/project_spec.rb
  spec/services/clusters/create_service_spec.rb
  spec/services/projects/prometheus/alerts/notify_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix doc anchoring
  doc/user/group/clusters/index.md
  doc/user/project/clusters/index.md
Due: docs lint

Fixup table header bg and responsiveness
  ee/app/assets/javascripts/iterations/components/iteration_report_tabs.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove unnecessary override
  ee/lib/ee/gitlab/geo_git_access.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Generalize git-access classes to work with polymorphic containers
  app/controllers/concerns/checks_collaboration.rb
  app/controllers/projects/merge_requests_controller.rb
  app/controllers/repositories/git_http_controller.rb
  app/models/merge_request.rb
  app/policies/ci/build_policy.rb
  app/policies/ci/pipeline_policy.rb
  app/policies/group_policy.rb
  app/policies/suggestion_policy.rb
  app/presenters/merge_request_presenter.rb
  app/services/ci/create_cross_project_pipeline_service.rb
  app/services/commits/create_service.rb
  app/services/merge_requests/conflicts/list_service.rb
  app/services/metrics/dashboard/clone_dashboard_service.rb
  app/services/metrics/dashboard/update_dashboard_service.rb
  ee/app/services/merge_requests/create_from_vulnerability_data_service.rb
  ee/lib/ee/gitlab/geo_git_access.rb
  ee/lib/ee/gitlab/git_access.rb
  ee/lib/ee/gitlab/git_access_wiki.rb
  ee/spec/lib/gitlab/git_access_wiki_spec.rb
  ee/spec/lib/gitlab/user_access_spec.rb
  lib/api/commits.rb
  lib/api/entities/branch.rb
  lib/api/internal/base.rb
  lib/api/merge_requests.rb
  lib/gitlab/build_access.rb
  lib/gitlab/checks/change_access.rb
  lib/gitlab/ci/pipeline/chain/validate/abilities.rb
  lib/gitlab/git_access.rb
  lib/gitlab/git_access_project.rb
  lib/gitlab/git_access_snippet.rb
  lib/gitlab/git_access_wiki.rb
  lib/gitlab/gl_repository/repo_type.rb
  lib/gitlab/user_access.rb
  spec/controllers/concerns/checks_collaboration_spec.rb
  spec/lib/gitlab/build_access_spec.rb
  spec/lib/gitlab/git_access_project_spec.rb
  spec/lib/gitlab/git_access_spec.rb
  spec/lib/gitlab/user_access_spec.rb
  spec/presenters/project_presenter_spec.rb
  spec/support/shared_contexts/change_access_checks_shared_context.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Be consistent in usage of group?
  ee/lib/ee/gitlab/git_access_wiki.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove method parameters that are available as attrs
  ee/lib/ee/gitlab/geo_git_access.rb
  ee/lib/ee/gitlab/git_access.rb
  ee/lib/ee/gitlab/git_access_wiki.rb
  lib/gitlab/git_access.rb
  lib/gitlab/git_access_snippet.rb
  lib/gitlab/git_access_wiki.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Simpler memoization - strong_memoize is overkill
  app/policies/group_policy.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Ensure error messages mention wiki
  ee/spec/lib/gitlab/git_access_wiki_spec.rb
  lib/gitlab/git_access.rb
  lib/gitlab/git_access_wiki.rb
  spec/lib/gitlab/git_access_wiki_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename ChangeAccess#exec to #validate!
  lib/gitlab/checks/change_access.rb
  spec/lib/gitlab/checks/change_access_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Avoid strong_memoize where it is not needed
  lib/gitlab/git_access.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add more specific error messages
  ee/lib/ee/gitlab/git_access_wiki.rb
  lib/gitlab/git_access_wiki.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

It is critically important that access_level have an early return
  app/policies/group_policy.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply reviewer suggestions
  ee/lib/ee/gitlab/git_access.rb
  ee/lib/ee/gitlab/git_access_wiki.rb
  ee/spec/lib/gitlab/git_access_wiki_spec.rb
  lib/gitlab/git_access.rb
  lib/gitlab/git_access_design.rb
  lib/gitlab/git_access_project.rb
  lib/gitlab/git_access_snippet.rb
  lib/gitlab/git_access_wiki.rb
  spec/lib/gitlab/git_access_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Preview of using better containers
  app/models/concerns/ability_name.rb
  app/models/group.rb
  app/models/project.rb
  app/models/protected_branch.rb
  app/models/wiki.rb
  app/policies/base_wiki_policy.rb
  app/policies/group_wiki_policy.rb
  app/policies/project_wiki_policy.rb
  app/policies/wiki_page_policy.rb
  ee/spec/factories/groups.rb
  ee/spec/lib/gitlab/user_access_spec.rb
  lib/gitlab/git_access.rb
  lib/gitlab/user_access.rb
  spec/lib/gitlab/user_access_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
