Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Refactor monitor tests to use k3s
  qa/qa/page/project/operations/kubernetes/add_existing.rb
  qa/qa/runtime/env.rb
  qa/qa/service/cluster_provider/k3s.rb
  qa/qa/specs/features/browser_ui/8_monitor/all_monitor_core_features_spec.rb
  qa/qa/specs/features/ee/browser_ui/8_monitor/all_monitor_features_spec.rb
Due: graphql-reference-verify, pages, cache gems

Add templating variables test case
  qa/qa/specs/features/browser_ui/8_monitor/all_monitor_core_features_spec.rb
Due: graphql-reference-verify, pages, cache gems

wip
  ee/app/assets/javascripts/analytics/cycle_analytics/components/labels_selector.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/tasks_by_type/tasks_by_type_filters.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip - Added basic filter bar
  ee/app/assets/javascripts/analytics/cycle_analytics/components/base.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/filter_bar.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/filter_bar_tokens.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/index.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/index.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/mutation_types.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/mutations.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/state.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip - author token
  ee/app/assets/javascripts/analytics/cycle_analytics/components/base.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/filter_bar.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/mutation_types.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/mutations.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/state.js
  ee/app/assets/javascripts/analytics/shared/components/tokens/assignee_token.vue
  ee/app/assets/javascripts/analytics/shared/components/tokens/author_token.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip - Populate paths from the BE
  ee/app/assets/javascripts/analytics/cycle_analytics/components/base.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/filter_bar.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/components/filter_bar_tokens.js
  ee/app/assets/javascripts/analytics/cycle_analytics/index.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/state.js
  ee/app/views/groups/analytics/cycle_analytics/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

--wip-- [skip ci]
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/state.js
  ee/app/assets/javascripts/analytics/shared/components/tokens/assignee_token.vue
  ee/app/assets/javascripts/analytics/shared/components/tokens/author_token.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

GitLab UI: re-safe-link integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip - author autocomplete
  ee/app/assets/javascripts/analytics/cycle_analytics/components/filter_bar.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/actions.js
  ee/app/assets/javascripts/analytics/shared/components/tokens/author_token.vue
  ee/app/assets/javascripts/analytics/shared/components/tokens/milestone_token.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

wip - Fetch group memebers when selecting the author / assignee tokens
  ee/app/assets/javascripts/analytics/cycle_analytics/components/filter_bar.vue
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/actions.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/mutation_types.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/mutations.js
  ee/app/assets/javascripts/analytics/cycle_analytics/store/modules/filters/state.js
  ee/app/assets/javascripts/analytics/shared/components/tokens/assignee_token.vue
  ee/app/assets/javascripts/analytics/shared/components/tokens/author_token.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixed capitalization in gitlabIntegrationLink
  app/assets/javascripts/clusters/components/applications.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

added order_by params to all SnippetsFinder call in snippets_controller
  app/controllers/dashboard/snippets_controller.rb
  app/controllers/explore/snippets_controller.rb
  app/controllers/projects/snippets_controller.rb
  app/controllers/snippets_controller.rb
  app/finders/snippets_finder.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adding troubleshooting step for custom notifications
  doc/user/profile/notifications.md
Due: docs lint

Upgrade Gitaly to v13.1.0-rc2
  GITALY_SERVER_VERSION
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace whitelist with allowlist in query count
  doc/development/query_count_limits.md
Due: docs lint

Adding gitlab url to gitaly config toml
  lib/gitlab/setup_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add single link/unlink commands for gitlab-ui [ci-skip]
  package.json
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adding gitlab url to gitaly config toml
  GITALY_SERVER_VERSION
  lib/gitlab/setup_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove Gitaly N+1 exception for dashboards
  app/controllers/dashboard/projects_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

trying to add test env
  spec/support/helpers/test_env.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

fix: avoid javascript for omniauth logins
  app/assets/javascripts/pages/sessions/new/oauth_remember_me.js
  app/assets/javascripts/pages/sessions/new/preserve_url_fragment.js
  app/assets/stylesheets/pages/login.scss
  app/views/devise/shared/_omniauth_box.html.haml
  changelogs/unreleased/fix-omniauth-buttons-js.yml
  spec/frontend/fixtures/static/oauth_remember_me.html
  spec/frontend/oauth_remember_me_spec.js
  spec/frontend/pages/sessions/new/preserve_url_fragment_spec.js
  spec/support/helpers/login_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

b
  scripts/gitaly-test-build
  spec/support/helpers/test_env.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply review suggestions and comments
  doc/administration/high_availability/database.md
  doc/install/requirements.md
Due: docs lint

Use file_identifier_hash for line_code and ID when the file is a symlink
  app/assets/javascripts/diffs/components/diff_file.vue
  app/assets/javascripts/diffs/constants.js
  app/assets/javascripts/diffs/store/utils.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add templating variables test case
  app/assets/javascripts/monitoring/components/variables/custom_variable.vue
  qa/qa/page/project/operations/metrics/show.rb
  qa/qa/specs/features/browser_ui/8_monitor/all_monitor_core_features_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix lint and specs
  app/assets/javascripts/behaviors/shortcuts/shortcuts_markdown.js
  spec/features/markdown/markdown_keyboard_shortcuts_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add notice about usage of "update!" instead of "update"
  doc/development/testing_guide/best_practices.md
Due: docs lint

Updated vue cluster list translations and test
  locale/gitlab.pot
  spec/serializers/cluster_serializer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added provider icon to vue cluster list
  app/assets/javascripts/clusters_list/components/clusters.vue
  app/assets/javascripts/clusters_list/constants.js
  app/serializers/cluster_entity.rb
  app/serializers/cluster_serializer.rb
  changelogs/unreleased/emilyring-cluster-list-refactor-provider-svg.yml
  spec/frontend/clusters_list/components/clusters_spec.js
  spec/frontend/clusters_list/mock_data.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated vue cluster list icon and tests
  app/assets/javascripts/clusters_list/constants.js
  spec/frontend/clusters_list/components/clusters_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Introduce `Ci::Queueing` with `FindMatchingJobs`
  app/models/ci/runner.rb
  app/services/ci/queueing/find_matching_jobs.rb
  app/services/ci/queueing/params.rb
  app/services/ci/register_job_service.rb
  ee/app/models/ee/ci/runner.rb
  ee/app/services/ee/ci/queueing/find_matching_jobs.rb
  ee/app/services/ee/ci/queueing/params.rb
  ee/app/services/ee/ci/register_job_service.rb
  spec/services/ci/register_job_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add `LegacyDatabaseMethod` of finding builds
  app/services/ci/queueing/find_matching_jobs.rb
  app/services/ci/queueing/legacy_database_method.rb
  app/services/ci/queueing/result.rb
  app/services/ci/register_job_service.rb
  ee/app/services/ee/ci/register_job_service.rb
  spec/services/ci/register_job_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add `RedisMethod` for queueing
  app/services/ci/queueing/find_matching_jobs.rb
  app/services/ci/queueing/legacy_database_method.rb
  app/services/ci/queueing/params.rb
  app/services/ci/queueing/redis_method.rb
  app/services/ci/register_job_service.rb
  app/workers/all_queues.yml
  app/workers/ci/runner_update_queue_worker.rb
  ee/app/services/ee/ci/queueing/find_matching_jobs.rb
  ee/app/services/ee/ci/queueing/params.rb
  ee/spec/services/ci/register_job_service_spec.rb
  spec/requests/api/runner_spec.rb
  spec/services/ci/register_job_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Eliminate firing extra count query on GraphQL API
  lib/gitlab/graphql/pagination/keyset/connection.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

testing with gitaly branch jc-revert-revert-414c9b7c
  GITALY_SERVER_VERSION
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add EOL spaces to force MD line break
  doc/user/project/clusters/add_remove_clusters.md
Due: docs lint

Use non-breaking space ASCII character instead.
  doc/user/project/clusters/add_remove_clusters.md
Due: docs lint

Use <br> tags for line breaks
  doc/user/project/clusters/add_remove_clusters.md
Due: docs lint

Add instructions on best usage of helm for installing user apps
  doc/user/project/clusters/add_remove_clusters.md
  doc/user/project/clusters/index.md
Due: docs lint

Add feature flag for granular control
  app/helpers/subscribable_banner_helper.rb
  ee/app/helpers/ee/subscribable_banner_helper.rb
  ee/app/helpers/license_helper.rb
  ee/app/helpers/subscribable_banner_helper.rb
  ee/app/helpers/subscriptions_helper.rb
  ee/spec/helpers/license_helper_spec.rb
  ee/spec/helpers/subscribable_banner_helper_spec.rb
  ee/spec/helpers/subscriptions_helper_spec.rb
  spec/helpers/subscribable_banner_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
