Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Fix monitor tests and de-quarantine
  qa/qa/specs/features/browser_ui/8_monitor/all_monitor_core_features_spec.rb
  qa/qa/specs/features/ee/browser_ui/8_monitor/all_monitor_features_spec.rb
Due: graphql-reference-verify, pages, cache gems

Fix failing specs
  app/models/project_services_with_inheritance.rb
  db/migrate/20200529081642_add_group_id_to_services.rb
  db/structure.sql
  lib/gitlab/import_export/project/import_export.yml
  spec/lib/gitlab/import_export/all_models.yml
  spec/lib/gitlab/import_export/safe_model_attributes.yml
  spec/models/project_services/emails_on_push_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Deprecate GitLab University content
  doc/university/README.md
Due: docs lint

Fix reactivity for nested objects
  app/assets/javascripts/notes/stores/mutations.js
  ee/spec/frontend/vue_shared/components/notes/system_note_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Clean up time range in metrics dashboard
  app/assets/javascripts/monitoring/components/dashboard.vue
  app/assets/javascripts/monitoring/monitoring_bundle.js
  app/assets/javascripts/monitoring/stores/state.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Show preview text of notes for ones on the current page
  app/assets/javascripts/behaviors/markdown/render_gfm.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add mock dicussion data
  app/assets/javascripts/notes/stores/actions.js
  ee/spec/frontend/vue_shared/components/notes/system_note_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add index on services group_id
  db/migrate/20200529081642_add_group_id_to_services.rb
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Pass blob_path when creating a vulnerability issue
  ee/app/assets/javascripts/pages/projects/security/vulnerabilities/show/index.js
  ee/app/assets/javascripts/vulnerabilities/components/header.vue
  ee/app/helpers/vulnerabilities_helper.rb
  ee/changelogs/unreleased/sast_vulnerability_have_relative_broken_links_217414.yml
  ee/spec/frontend/vulnerabilities/header_spec.js
  ee/spec/helpers/vulnerabilities_helper_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add repository read-only project setting
  app/assets/javascripts/pages/projects/shared/permissions/components/settings_panel.vue
  app/controllers/projects_controller.rb
  app/helpers/projects_helper.rb
  locale/gitlab.pot
  spec/features/projects/features_visibility_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add GraphQL field
  app/graphql/types/project_type.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  doc/api/graphql/reference/index.md
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Projects API attribute
  lib/api/entities/project.rb
  lib/api/helpers/projects_helpers.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add business logic
  app/services/projects/update_service.rb
  spec/services/projects/update_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change default data; add FE spec
  app/assets/javascripts/pages/projects/shared/permissions/components/settings_panel.vue
  spec/frontend/pages/projects/shared/permissions/components/settings_panel_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update locale file
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add change log
  changelogs/unreleased/weimeng-read-only-repo.yml
Due: none

Gracefully handle read-only write scenarios
  app/policies/project_policy.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose artifacts #locked? in BuildArtifactEntity
  app/serializers/build_artifact_entity.rb
  spec/serializers/build_artifact_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose locked? in BuildDetailsEntity
  app/serializers/build_details_entity.rb
  spec/fixtures/api/schemas/job/artifact.json
  spec/serializers/build_details_entity_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add migrating events
  app/services/users/migrate_to_ghost_user_service.rb
  spec/services/users/migrate_to_ghost_user_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog entry
  changelogs/unreleased/fix_deleting_user_psql_error_on_events_table.yml
Due: none

Check for artifact locking in artifact_*? methods
  app/models/ci/build.rb
  app/models/ci/job_artifact.rb
  spec/models/ci/build_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add database migration for Product Analytics
  db/migrate/20200327181936_add_product_analytics_table.rb
  db/migrate/20200413142027_add_indexes_to_product_analytics.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update structure.sql with new changes
  changelogs/unreleased/product-analytics-db-migration.yml
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix content jump due to html scrollbar
  app/assets/stylesheets/framework/layout.scss
  changelogs/unreleased/psi-scrollbars.yml
  spec/support/helpers/dropzone_helper.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs: issue boilerplate proposal
  doc/development/documentation/styleguide.md
Due: docs lint

Helps users test feature branches
  doc/ci/cloud_deployment/index.md
Due: docs lint

Use project_authorizations owners for personal namespace projects
  app/models/user.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update to be owner
  app/models/concerns/select_for_project_authorization.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update to owner
  lib/gitlab/project_authorizations.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update docs with details
  doc/api/members.md
Due: docs lint

Apply suggestion to doc/api/members.md
  doc/api/members.md
Due: docs lint

Add new file
  changelogs/unreleased/34021-owners-project_authorizations.yml
Due: none

Update permissions.md details
  doc/development/permissions.md
Due: docs lint

Update refresh_authorized_projects_service_spec.rb some
  spec/services/users/refresh_authorized_projects_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update permissions.md lint
  doc/development/permissions.md
Due: docs lint

Update refresh_authorized_projects_service_spec.rb with OWNER
  spec/services/users/refresh_authorized_projects_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update user_spec.rb tests
  spec/models/user_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update project_authorizations_spec.rb tests
  spec/lib/gitlab/project_authorizations_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update projects_spec.rb tests
  spec/requests/api/projects_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
