Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

run-dev-fixtures:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

run-dev-fixtures-ee:
  stage: test
  needs:
  - setup-test-env
  dependencies:
  - setup-test-env
  variables:
    FIXTURE_PATH: db/fixtures/development
    SEED_CYCLE_ANALYTICS: 'true'
    SEED_PRODUCTIVITY_ANALYTICS: 'true'
    CYCLE_ANALYTICS_ISSUE_COUNT: 1
    SIZE: 0
  script:
  - scripts/gitaly-test-spawn
  ...

docs lint:
  image: registry.gitlab.com/gitlab-org/gitlab-docs:docs-lint
  stage: test
  dependencies: []
  script:
  - scripts/lint-doc.sh
  - markdownlint --config .markdownlint.json 'doc/**/*.md'
  - mv doc/ /tmp/gitlab-docs/content/$DOCS_GITLAB_REPO_SUFFIX
  - cd /tmp/gitlab-docs
  - bundle exec nanoc
  ...

graphql-reference-verify:
  stage: test
  needs:
  - setup-test-env
  script:
  - bundle exec rake gitlab:graphql:check_docs
  - bundle exec rake gitlab:graphql:check_schema

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

cache gems:
  stage: test
  needs:
  - job: setup-test-env
    artifacts: true
  variables:
    SETUP_DB: 'false'
  script:
  - bundle package --all --all-platforms
  artifacts:
    paths:
    - vendor/cache

gitlab_git_test:
  dependencies: []
  script:
  - spec/support/prepare-gitlab-git-test-for-commit --check-for-changes

no_ee_check:
  dependencies: []
  script:
  - scripts/no-ee-check

Fix test specs
  ee/app/assets/javascripts/vue_merge_request_widget/components/approvals/approvals_footer.vue
  ee/spec/frontend/vue_mr_widget/components/approvals/approvals_footer_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Remove feature flag and update documentation
  doc/user/application_security/sast/index.md
Due: docs lint

Add `expiration_policy_started_at` support
  app/models/container_repository.rb
  app/workers/cleanup_container_repository_worker.rb
  db/migrate/20200914070140_add_expiration_policy_started_at_to_container_repositories.rb
  db/schema_migrations/20200914070140
  db/structure.sql
  doc/api/container_registry.md
  lib/api/entities/container_registry.rb
  spec/fixtures/api/schemas/registry/repository.json
  spec/workers/cleanup_container_repository_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Move service to Core
  app/services/projects/operations/update_service.rb
  ee/app/services/ee/projects/operations/update_service.rb
  ee/spec/services/projects/operations/update_service_spec.rb
  spec/services/projects/operations/update_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Move controller to Core
  app/controllers/projects/settings/operations_controller.rb
  ee/app/controllers/ee/projects/settings/operations_controller.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix structure.sql file
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove `sse_erb_support` feature flag
  config/feature_flags/development/sse_erb_support.yml
  lib/gitlab/static_site_editor/config/generated_config.rb
  spec/lib/gitlab/static_site_editor/config/generated_config_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove unused constant
  lib/api/project_import.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add descendants endpoint to Groups API
  app/finders/groups_finder.rb
  lib/api/groups.rb
  spec/requests/api/groups_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add gl button classes to nav buttons
  app/views/layouts/nav/_dashboard.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Imrove test according to new factory traits
  ee/spec/lib/gitlab/ci/reports/dependency_list/dependency_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix redirect files
  doc/customization/welcome_message.md
  doc/install/structure.md
  doc/user/project/pages/getting_started_part_three.md
Due: docs lint

Isolate Group and Namespace models
  app/models/concerns/namespace/traversal.rb
  ee/spec/lib/gitlab/background_migration/user_mentions/create_resource_user_mention_spec.rb
  lib/banzai/reference_parser/mentioned_group_parser.rb
  lib/gitlab/background_migration/user_mentions/lib/banzai/reference_parser.rb
  lib/gitlab/background_migration/user_mentions/lib/banzai/reference_parser/isolated_mentioned_group_parser.rb
  lib/gitlab/background_migration/user_mentions/lib/gitlab/isolated_reference_extractor.rb
  lib/gitlab/background_migration/user_mentions/models/concerns/isolated_mentionable.rb
  lib/gitlab/background_migration/user_mentions/models/group.rb
  lib/gitlab/background_migration/user_mentions/models/namespace.rb
  spec/lib/gitlab/background_migration/user_mentions/create_resource_user_mention_spec.rb
  spec/support/shared_examples/lib/gitlab/background_migration/mentions_migration_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add iid to dependency
  ee/lib/gitlab/ci/reports/dependency_list/dependency.rb
  ee/spec/factories/dependencies.rb
  ee/spec/lib/gitlab/ci/reports/dependency_list/dependency_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add changelog
  changelogs/unreleased/250685-fix-carets.yml
Due: none

Add note to make cron jobs configurable in Omnibus
  config/initializers/1_settings.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add generation of path
  ee/lib/gitlab/ci/reports/dependency_list/report.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add tests for parser
  ee/spec/lib/gitlab/ci/parsers/security/dependency_list_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

fixup! Allow search issue scope filtering by confidential
  app/assets/javascripts/pages/search/show/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Expose array of participant usernames
  app/assets/javascripts/users_select/index.js
  app/serializers/issuable_sidebar_basic_entity.rb
  app/views/shared/issuable/_sidebar_assignees.html.haml
  changelogs/unreleased/move-participants-to-top-of-assign-list.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update documentation
  doc/api/groups.md
  lib/api/groups.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor target_id to use database column
  app/models/audit_event.rb
  ee/app/controllers/ee/admin/users_controller.rb
  ee/app/controllers/ee/application_controller.rb
  ee/app/controllers/ee/passwords_controller.rb
  ee/app/services/ee/applications/create_service.rb
  ee/app/services/ee/audit_event_service.rb
  ee/app/services/ee/keys/create_service.rb
  ee/spec/controllers/passwords_controller_spec.rb
  ee/spec/services/audit_event_service_spec.rb
  ee/spec/services/ee/users/create_service_spec.rb
  ee/spec/services/ee/users/destroy_service_spec.rb
  ee/spec/services/groups/create_service_spec.rb
  ee/spec/services/groups/destroy_service_spec.rb
  ee/spec/services/projects/create_service_spec.rb
  ee/spec/services/projects/destroy_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Save mentions when markdown columns are directly saved to DB
  app/models/concerns/cache_markdown_field.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor feature spec for group wikis
  ee/spec/factories/group_wikis.rb
  ee/spec/features/groups/wiki/user_views_wiki_empty_spec.rb
  ee/spec/features/groups/wikis_spec.rb
  spec/features/projects/wiki/markdown_preview_spec.rb
  spec/features/projects/wiki/shortcuts_spec.rb
  spec/features/projects/wiki/user_creates_wiki_page_spec.rb
  spec/features/projects/wiki/user_deletes_wiki_page_spec.rb
  spec/features/projects/wiki/user_updates_wiki_page_spec.rb
  spec/features/projects/wiki/user_views_wiki_empty_spec.rb
  spec/features/projects/wikis_spec.rb
  spec/support/helpers/wiki_helpers.rb
  spec/support/shared_examples/controllers/wiki_actions_shared_examples.rb
  spec/support/shared_examples/features/wiki/file_attachments_shared_examples.rb
  spec/support/shared_examples/features/wiki/user_creates_wiki_page_shared_examples.rb
  spec/support/shared_examples/features/wiki/user_deletes_wiki_page_shared_examples.rb
  spec/support/shared_examples/features/wiki/user_previews_wiki_changes_shared_examples.rb
  spec/support/shared_examples/features/wiki/user_updates_wiki_page_shared_examples.rb
  spec/support/shared_examples/features/wiki/user_uses_wiki_shortcuts_shared_examples.rb
  spec/support/shared_examples/features/wiki/user_views_asciidoc_page_with_includes_shared_examples.rb
  spec/support/shared_examples/features/wiki/user_views_wiki_empty_shared_examples.rb
  spec/support/shared_examples/features/wiki/user_views_wiki_page_shared_examples.rb
  spec/support/shared_examples/features/wiki/user_views_wiki_pages_shared_examples.rb
  spec/support/shared_examples/features/wiki/user_views_wiki_sidebar_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add sample of Prometheus annotations and labels
  doc/user/project/integrations/prometheus.md
Due: docs lint

Migrate Bootstrap button to GitLab UI GlButton in mr_widget_auto_merge_failed.vue
  app/assets/javascripts/vue_merge_request_widget/components/states/mr_widget_auto_merge_failed.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

fixing Prettier failed test
  app/assets/javascripts/vue_merge_request_widget/components/states/mr_widget_auto_merge_failed.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixing template layout for jest test
  app/assets/javascripts/vue_merge_request_widget/components/states/mr_widget_auto_merge_failed.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Revert "Fixing template layout for jest test"
  app/assets/javascripts/vue_merge_request_widget/components/states/mr_widget_auto_merge_failed.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix MR widget specs
  spec/frontend/vue_mr_widget/components/states/mr_widget_auto_merge_failed_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Deal correctly with irrelevant items
  ee/app/models/concerns/epic_tree_sorting.rb
  ee/app/models/epic_issue.rb
  ee/spec/factories/epic_tree_nodes.rb
  ee/spec/models/epic_spec.rb
  spec/support/shared_examples/models/relative_positioning_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add tests for scoped_items and relative_siblings
  ee/spec/models/epic_issue_spec.rb
  ee/spec/models/epic_spec.rb
  spec/support/shared_examples/models/relative_positioning_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Restore exclusivity test
  ee/spec/models/concerns/epic_tree_sorting_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Rename filter_epic_tree_node to epic_tree_node_filter_condition
  ee/app/models/concerns/epic_tree_sorting.rb
  ee/spec/models/epic_issue_spec.rb
  ee/spec/models/epic_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add a factory capable of making either an epic or an epic issue
  app/models/concerns/relative_positioning.rb
  ee/app/models/concerns/epic_tree_sorting.rb
  ee/spec/factories/epic_tree_nodes.rb
  ee/spec/models/epic_issue_spec.rb
  ee/spec/models/epic_spec.rb
  lib/gitlab/relative_positioning/item_context.rb
  spec/support/shared_examples/models/relative_positioning_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make reset_relative_position public
  app/models/concerns/relative_positioning.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make all relative positioning methods no-ops on root nodes
  ee/app/models/concerns/epic_tree_sorting.rb
  ee/app/models/ee/epic.rb
  ee/app/models/epic_issue.rb
  ee/spec/models/epic_spec.rb
  spec/support/shared_examples/models/relative_positioning_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make the feature template more efficient by clarifying required sections
  .gitlab/issue_templates/Feature proposal.md
Due: none

Return 503 from /internal/allowed in maintenance mode
  lib/api/internal/base.rb
  spec/requests/api/internal/base_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

fixup! fixup! Return 503 from /internal/allowed in maintenance mode
  spec/requests/api/internal/base_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
