Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Refine log4j debug outptu
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adding more logging
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

App as a service
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix up commit
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Allow CI lint to use dry-run mode with feature flag
  app/controllers/projects/ci/lints_controller.rb
  app/views/projects/ci/lints/_create.html.haml
  lib/gitlab/ci/features.rb
  lib/gitlab/ci/pipeline/chain/config/content/parameter.rb
  spec/services/ci/create_pipeline_service/parameter_content_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix feature spec by stubbing the FF
  lib/gitlab/ci/pipeline/chain/helpers.rb
  spec/features/projects/ci/lint_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Make CreatePipelineService to run in dry-run mode
  app/services/ci/create_pipeline_service.rb
  lib/gitlab/ci/pipeline/chain/command.rb
  lib/gitlab/ci/pipeline/chain/create.rb
  lib/gitlab/ci/pipeline/chain/helpers.rb
  lib/gitlab/ci/pipeline/chain/sequence.rb
  spec/services/ci/create_pipeline_service/dry_run_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Exclude license information from graphQL api
  ee/app/models/concerns/ee/project_security_scanners_information.rb
  ee/changelogs/unreleased/fix_security_dashboard.yml
  ee/spec/graphql/types/project_type_spec.rb
  ee/spec/models/concerns/ee/project_security_scanners_information_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP test
  ee/spec/graphql/mutations/dast_scanner_profiles/create_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Mostly just fix lints
  app/assets/javascripts/design_management_new/index.js
  app/assets/javascripts/issue_show/components/app.vue
  app/assets/javascripts/issue_show/index.js
  app/helpers/issuables_helper.rb
  ee/app/views/projects/issues/_related_issues.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added prefix for clarity
  doc/user/compliance/license_compliance/index.md
Due: docs lint

Refactor and streamline cop Gitlab/DuplicateSpecLocation
  .rubocop.yml
  rubocop/cop/gitlab/duplicate_spec_location.rb
  spec/rubocop/cop/gitlab/duplicate_spec_location_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Swimlanes - Sane data structure for issues
  app/assets/javascripts/boards/components/board_card.vue
  ee/app/assets/javascripts/boards/components/epic_lane.vue
  ee/app/assets/javascripts/boards/components/epics_swimlanes.vue
  ee/app/assets/javascripts/boards/stores/actions.js
  ee/app/assets/javascripts/boards/stores/mutations.js
  ee/app/assets/javascripts/boards/stores/state.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change service image
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix after/before for 12.7 of Cleanup Policy
  doc/user/packages/container_registry/index.md
Due: docs lint

Wait before starting test
  .gitlab/ci/reports.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactoring suggestion from review
  app/services/ci/create_pipeline_service.rb
  lib/gitlab/ci/pipeline/chain/base.rb
  lib/gitlab/ci/pipeline/chain/build.rb
  lib/gitlab/ci/pipeline/chain/build/associations.rb
  lib/gitlab/ci/pipeline/chain/cancel_pending_pipelines.rb
  lib/gitlab/ci/pipeline/chain/command.rb
  lib/gitlab/ci/pipeline/chain/config/content.rb
  lib/gitlab/ci/pipeline/chain/config/process.rb
  lib/gitlab/ci/pipeline/chain/create.rb
  lib/gitlab/ci/pipeline/chain/evaluate_workflow_rules.rb
  lib/gitlab/ci/pipeline/chain/helpers.rb
  lib/gitlab/ci/pipeline/chain/limit/activity.rb
  lib/gitlab/ci/pipeline/chain/limit/job_activity.rb
  lib/gitlab/ci/pipeline/chain/limit/size.rb
  lib/gitlab/ci/pipeline/chain/metrics.rb
  lib/gitlab/ci/pipeline/chain/populate.rb
  lib/gitlab/ci/pipeline/chain/process.rb
  lib/gitlab/ci/pipeline/chain/remove_unwanted_chat_jobs.rb
  lib/gitlab/ci/pipeline/chain/seed.rb
  lib/gitlab/ci/pipeline/chain/sequence.rb
  lib/gitlab/ci/pipeline/chain/skip.rb
  lib/gitlab/ci/pipeline/chain/validate/abilities.rb
  lib/gitlab/ci/pipeline/chain/validate/external.rb
  lib/gitlab/ci/pipeline/chain/validate/repository.rb
  spec/services/ci/create_pipeline_service/dry_run_spec.rb
  spec/services/ci/create_pipeline_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: Redis queueing PoC for expired job artifacts
  app/models/ci/job_artifact.rb
  app/services/ci/schedule_expired_job_artifacts_service.rb
  app/services/ci/unlock_artifacts_service.rb
  app/workers/all_queues.yml
  app/workers/ci/destroy_batch_artifacts_worker.rb
  app/workers/expire_build_artifacts_worker.rb
  config/sidekiq_queues.yml
  ee/app/workers/all_queues.yml
  lib/gitlab/ci/features.rb
  lib/gitlab/ci/job_artifacts_expiration_queue.rb
  spec/models/ci/job_artifact_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Enable cop Lint/AmbiguousRegexpLiteral
  .rubocop.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix sign_in on secondary with relative URL
  ee/app/controllers/ee/sessions_controller.rb
  ee/spec/controllers/ee/sessions_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Document additional egress IP ranges for SaaS
  doc/user/gitlab_com/index.md
Due: docs lint

Avoid becomes calls
  app/views/admin/groups/show.html.haml
  app/views/import/google_code/status.html.haml
  app/views/projects/commit/_change.html.haml
  app/views/projects/default_branch/_show.html.haml
  app/views/projects/deploy_keys/edit.html.haml
  app/views/projects/edit.html.haml
  app/views/projects/environments/_form.html.haml
  app/views/projects/hooks/edit.html.haml
  app/views/projects/hooks/index.html.haml
  app/views/projects/issues/_form.html.haml
  app/views/projects/issues/verify.html.haml
  app/views/projects/merge_requests/_form.html.haml
  app/views/projects/merge_requests/creations/_new_compare.html.haml
  app/views/projects/pages/_pages_settings.html.haml
  app/views/search/results/_issue.html.haml
  app/views/search/results/_merge_request.html.haml
  app/views/search/results/_milestone.html.haml
  app/views/shared/_recaptcha_form.html.haml
  rubocop/cop/avoid_becomes.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

GitLab UI: safe-html integration test
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

WIP: move commit level checks to git_access_project
  lib/gitlab/git_access.rb
  lib/gitlab/git_access_project.rb
  lib/gitlab/git_access_snippet.rb
  lib/gitlab/git_access_wiki.rb
  spec/lib/gitlab/git_access_project_spec.rb
  spec/lib/gitlab/git_access_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add GITLAB_ prefix to ActionCable ENV variables
  config/environments/test.rb
  lib/gitlab/action_cable/config.rb
  spec/lib/gitlab/runtime_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Do not merge: Testing for superuser in CI
  db/migrate/20200721173402_tmp_check_for_superuser.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Wrap suite and name in test suite table
  app/assets/javascripts/pipelines/components/test_reports/test_suite_table.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Quarantine autodevops templates spec
  qa/qa/specs/features/browser_ui/7_configure/auto_devops/auto_devops_templates_spec.rb
Due: graphql-reference-verify, pages, cache gems

Fixed incorrect slash characters
  doc/user/compliance/license_compliance/index.md
Due: docs lint

Add Cilium support into kube_client
  ee/changelogs/unreleased/add_cilium_into_kube_client.yml
  lib/gitlab/kubernetes/kube_client.rb
  spec/lib/gitlab/kubernetes/kube_client_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add CiliumNetworkPolicies similar to NetworkPolicies
  ee/app/controllers/projects/security/network_policies_controller.rb
  ee/app/services/network_policies/delete_resource_service.rb
  ee/app/services/network_policies/deploy_resource_service.rb
  ee/app/services/network_policies/resources_service.rb
  ee/spec/controllers/projects/security/network_policies_controller_spec.rb
  ee/spec/services/network_policies/delete_resource_service_spec.rb
  ee/spec/services/network_policies/deploy_resource_service_spec.rb
  ee/spec/services/network_policies/resources_service_spec.rb
  lib/gitlab/kubernetes/cilium_network_policy.rb
  lib/gitlab/kubernetes/network_policy_common.rb
  spec/lib/gitlab/kubernetes/cilium_network_policy_spec.rb
  spec/lib/gitlab/kubernetes/network_policy_common_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fixed GitLab Runner description
  doc/user/application_security/sast/index.md
Due: docs lint

Clarify feature flag docs for project enabling
  doc/development/documentation/feature_flags.md
Due: docs lint

Swimlanes - Drag & Drop issue
  app/assets/javascripts/boards/components/board_card.vue
  app/assets/javascripts/boards/models/issue.js
  app/assets/javascripts/boards/queries/issue.fragment.graphql
  ee/app/assets/javascripts/boards/components/epic_lane.vue
  ee/app/assets/javascripts/boards/components/issues_lane_list.vue
  ee/app/assets/javascripts/boards/queries/group_epics_swimlanes.query.graphql
  ee/app/assets/javascripts/boards/queries/project_epics_swimlanes.query.graphql
  ee/app/assets/javascripts/boards/stores/actions.js
  ee/app/assets/javascripts/boards/stores/mutations.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add fail fast template
  .gitlab/ci/rails.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

break a spec
  ee/spec/lib/world_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Move into main config and use sync stage
  .gitlab/ci/rails.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove use of LegacyGithubClient in GithubController
  app/controllers/import/github_controller.rb
  lib/gitlab/github_import/client.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Pass token to DAST job
  .gitlab/ci/reports.gitlab-ci.yml
  .gitlab/ci/review.gitlab-ci.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
