Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Improve suggests for NFS client mount options
  doc/administration/high_availability/gitlab.md
  doc/administration/high_availability/nfs.md
  doc/administration/high_availability/nfs_host_client_setup.md
Due: docs lint

Allow SCIM to create an identity for an existing user
  ee/changelogs/unreleased/dblessing-scim-create-regression.yml
  ee/lib/api/scim.rb
  ee/lib/ee/gitlab/scim/provisioning_service.rb
  ee/spec/lib/ee/gitlab/scim/provisioning_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Migrate ee/insights to Jest
  ee/spec/frontend/insights/components/insights_chart_error_spec.js
  ee/spec/frontend/insights/components/insights_chart_spec.js
  ee/spec/frontend/insights/components/insights_config_warning_spec.js
  ee/spec/frontend/insights/components/insights_page_spec.js
  ee/spec/frontend/insights/components/insights_spec.js
  ee/spec/frontend/insights/insights_router_spec.js
  ee/spec/frontend/insights/mock_data.js
  ee/spec/frontend/insights/stores/insights/actions_spec.js
  ee/spec/frontend/insights/stores/insights/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Add refresh data button to dashboard
  app/assets/javascripts/monitoring/components/dashboard.vue
  app/assets/javascripts/monitoring/components/panel_type.vue
  app/assets/javascripts/monitoring/constants.js
  app/assets/javascripts/monitoring/stores/actions.js
  app/assets/javascripts/monitoring/stores/mutations.js
  app/assets/javascripts/monitoring/stores/utils.js
  app/assets/stylesheets/pages/prometheus.scss
  changelogs/unreleased/207549-add-refresh-dashboard-button-second-iteration.yml
  locale/gitlab.pot
  spec/frontend/monitoring/components/__snapshots__/dashboard_template_spec.js.snap
  spec/frontend/monitoring/store/actions_spec.js
  spec/frontend/monitoring/store/mutations_spec.js
  spec/frontend/monitoring/store/utils_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix renderering of alert text and wording
  doc/administration/geo/replication/version_specific_updates.md
Due: docs lint

Truncate test case name in pipeline tests tab
  app/assets/javascripts/pipelines/components/test_reports/test_suite_table.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Added form footer actions component
  app/assets/javascripts/vue_shared/components/form/form_footer_actions.vue
  spec/frontend/vue_shared/components/form/form_footer_actions_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update language translations
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove `error` from UI
  app/assets/javascripts/notes/components/diff_with_note.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update reference-style links to standard
  doc/development/elasticsearch.md
  doc/development/testing_guide/end_to_end/index.md
  doc/development/testing_guide/end_to_end/quick_start_guide.md
  doc/development/testing_guide/flaky_tests.md
  doc/development/testing_guide/review_apps.md
Due: docs lint

Add changelog file
  changelogs/unreleased/patch-97.yml
Due: none

Translate UI text
  app/assets/javascripts/notes/components/diff_with_note.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replaced test with snapshot matching
  spec/frontend/vue_shared/components/form/__snapshots__/form_footer_actions_spec.js.snap
  spec/frontend/vue_shared/components/form/form_footer_actions_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove feature flag refs in Vue
  app/assets/javascripts/environments/components/environment_item.vue
  app/assets/javascripts/environments/components/environments_table.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update dependency @sourcegraph/code-host-integration to v0.0.36
  package.json
  yarn.lock
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add autostop check to folder table
  app/assets/javascripts/environments/components/environments_table.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Pretty print the preceding
  app/assets/javascripts/environments/components/environment_item.vue
  app/assets/javascripts/environments/components/environments_table.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add feature spec for the bug
  spec/features/projects/environments/environments_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Increase times for the merge request widget polling
  app/assets/javascripts/smart_interval.js
  app/assets/javascripts/vue_merge_request_widget/mr_widget_options.vue
  app/controllers/projects/merge_requests_controller.rb
  changelogs/unreleased/ph-210377-increaseMrPollTimes.yml
  spec/frontend/smart_interval_spec.js
  spec/frontend/vue_mr_widget/mr_widget_options_spec.js
  spec/javascripts/smart_interval_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove the feature flag for auto stop environments
  app/controllers/projects/environments_controller.rb
  app/services/environments/auto_stop_service.rb
  app/workers/environments/auto_stop_cron_worker.rb
  spec/services/environments/auto_stop_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Docs: Forked and parent project visibility for MRs
  doc/user/project/repository/forking_workflow.md
Due: docs lint

Add bug changelog
  changelogs/unreleased/213299-env-autostop-bug.yml
Due: none

Add changelog entry
  changelogs/unreleased/212561-fix-empty-edit-area.yml
Due: none

Replace isContentLoaded getter with state property
  app/assets/javascripts/static_site_editor/components/static_site_editor.vue
  app/assets/javascripts/static_site_editor/store/getters.js
  app/assets/javascripts/static_site_editor/store/mutations.js
  app/assets/javascripts/static_site_editor/store/state.js
  spec/frontend/static_site_editor/components/static_site_editor_spec.js
  spec/frontend/static_site_editor/store/getters_spec.js
  spec/frontend/static_site_editor/store/mutations_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Merge error conditions into one
  app/services/clusters/management/validate_permissions_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Split long line by args
  app/services/clusters/management/validate_permissions_service.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Extract permission validation and re-use for creation
  app/services/clusters/create_service.rb
  app/services/clusters/management/validate_permissions_service.rb
  app/services/clusters/update_service.rb
  spec/requests/api/group_clusters_spec.rb
  spec/requests/api/project_clusters_spec.rb
  spec/services/clusters/create_service_spec.rb
  spec/services/clusters/management/validate_permissions_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add management_project_id to POST API, fix docs
  changelogs/unreleased/211998-add-cluster-mangement-id-on-create.yml
  doc/api/group_clusters.md
  doc/api/project_clusters.md
  lib/api/group_clusters.rb
  lib/api/project_clusters.rb
  spec/requests/api/group_clusters_spec.rb
  spec/requests/api/project_clusters_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Rename service to be more explicit
  app/services/clusters/create_service.rb
  app/services/clusters/management/validate_management_project_permissions_service.rb
  app/services/clusters/update_service.rb
  spec/services/clusters/management/validate_management_project_permissions_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactor error case into shared examples
  spec/services/clusters/create_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Remove redudant intermetiate variable assignment
  spec/requests/api/group_clusters_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Create a table for storing diff note positions
  app/models/diff_note_position.rb
  db/migrate/20200326122700_create_diff_note_positions.rb
  db/structure.sql
  spec/factories/diff_note_positions.rb
  spec/models/diff_note_position_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add rubocop Cop to detect activerecord .count and .each in haml file
  app/views/admin/deploy_keys/index.html.haml
  app/views/profiles/emails/index.html.haml
  app/views/projects/issues/_related_branches.html.haml
  app/views/projects/pages/_list.html.haml
  rubocop/cop/performance/ar_count_each.rb
  spec/rubocop/cop/performance/ar_count_each_spec.rb
  spec/views/projects/pages/show.html.haml_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add failed auto ssl mailer notification
  app/mailers/emails/pages_domains.rb
  app/views/notify/pages_domain_auto_ssl_failed_email.html.haml
  app/views/notify/pages_domain_auto_ssl_failed_email.text.haml
  spec/mailers/emails/pages_domains_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add method to notify about failed auto SSL
  app/services/notification_service.rb
  spec/services/notification_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add rate limit to issue creation
  app/controllers/admin/application_settings_controller.rb
  app/controllers/projects/issues_controller.rb
  app/models/application_setting_implementation.rb
  app/views/admin/application_settings/_issue_limits.html.haml
  app/views/admin/application_settings/network.html.haml
  changelogs/unreleased/55241-rate-limit-issue-creation.yml
  db/migrate/20200325111432_add_issues_create_limit_to_application_settings.rb
  db/structure.sql
  lib/gitlab/application_rate_limiter.rb
  locale/gitlab.pot
  spec/controllers/projects/issues_controller_spec.rb
  spec/services/application_settings/update_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove feature flag for dropping duplicate jobs
  changelogs/unreleased/bvl-remove-sidekiq-deduplication-feature-flag.yml
  lib/gitlab/sidekiq_middleware/duplicate_jobs.rb
  lib/gitlab/sidekiq_middleware/duplicate_jobs/duplicate_job.rb
  spec/lib/gitlab/sidekiq_middleware/duplicate_jobs/duplicate_job_spec.rb
  spec/lib/gitlab/sidekiq_middleware/duplicate_jobs_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fetch annotations for monitoring charts
  app/assets/javascripts/lib/utils/common_utils.js
  app/assets/javascripts/monitoring/components/charts/time_series.vue
  app/assets/javascripts/monitoring/components/dashboard.vue
  app/assets/javascripts/monitoring/components/panel_type.vue
  app/assets/javascripts/monitoring/queries/getAnnotations.query.graphql
  app/assets/javascripts/monitoring/stores/actions.js
  app/assets/javascripts/monitoring/stores/mutation_types.js
  app/assets/javascripts/monitoring/stores/mutations.js
  app/assets/javascripts/monitoring/stores/state.js
  app/controllers/projects/environments_controller.rb
  locale/gitlab.pot
  spec/frontend/monitoring/components/charts/time_series_spec.js
  spec/frontend/monitoring/store/actions_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Replace deprecated GlLoadingIcon sizes
  app/assets/javascripts/badges/components/badge_list.vue
  app/assets/javascripts/contributors/components/contributors.vue
  app/assets/javascripts/deploy_keys/components/app.vue
  app/assets/javascripts/error_tracking/components/error_details.vue
  app/assets/javascripts/frequent_items/components/app.vue
  app/assets/javascripts/ide/components/branches/search_list.vue
  app/assets/javascripts/ide/components/file_templates/dropdown.vue
  app/assets/javascripts/ide/components/jobs/list.vue
  app/assets/javascripts/ide/components/merge_requests/list.vue
  app/assets/javascripts/ide/components/pipelines/list.vue
  app/assets/javascripts/ide/components/preview/clientside.vue
  app/assets/javascripts/pipelines/components/graph/graph_component.vue
  app/assets/javascripts/pipelines/components/header_component.vue
  app/assets/javascripts/pipelines/components/pipelines.vue
  app/assets/javascripts/projects/tree/components/commit_pipeline_status_component.vue
  app/assets/javascripts/sentry_error_stack_trace/components/sentry_error_stack_trace.vue
  app/assets/javascripts/serverless/components/functions.vue
  app/assets/javascripts/snippets/components/show.vue
  app/assets/javascripts/snippets/components/snippet_blob_edit.vue
  app/assets/javascripts/vue_shared/components/project_selector/project_selector.vue
  changelogs/unreleased/vs-migrate-deprecated-size-in-loading-icon.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
