Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Path conditions:
  run-dev-fixtures: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  run-dev-fixtures-ee: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  docs lint: any of: .gitlab/route-map.yml, doc/**/*, .markdownlint.json
  graphql-reference-verify: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  cache gems: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
  gitlab_git_test: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md
  no_ee_check: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md

Apply suggested changes
  doc/user/permissions.md
Due: docs lint

Extend pipeline model to support actions
  ee/app/models/ee/ci/pipeline.rb
  ee/spec/models/ci/pipeline_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 3 suggestion(s) to 1 file(s)
  doc/development/fe_guide/vue.md
Due: docs lint

Implement Security::StoreScansWorker worker class
  ee/app/workers/security/store_scans_worker.rb
  ee/spec/workers/security/store_scans_worker_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

push test
  config.ru
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  changelogs/unreleased/246783-setting-button-position.yml
Due: none

Enable feature flag clusters_list_redesign
  app/views/clusters/clusters/index.html.haml
  spec/features/projects/clusters_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add Invite Members modal for Group
  app/assets/javascripts/api.js
  app/assets/javascripts/invite_members/components/invite_members_modal.vue
  app/assets/javascripts/invite_members/components/invite_members_trigger.vue
  app/assets/javascripts/invite_members/event_hub.js
  app/assets/javascripts/invite_members/init_invite_members_modal.js
  app/assets/javascripts/invite_members/init_invite_members_trigger.js
  app/views/groups/_invite_members_modal.html.haml
  app/views/groups/_invite_members_side_nav_link.html.haml
  app/views/groups/show.html.haml
  app/views/layouts/nav/sidebar/_group.html.haml
  config/feature_flags/development/invite_members_group_modal.yml
  ee/app/assets/javascripts/pages/groups/show/index.js
  locale/gitlab.pot
  spec/frontend/invite_members/components/invite_members_modal_spec.js
  spec/frontend/invite_members/components/invite_members_trigger_spec.js
  spec/support/shared_examples/features/navbar_shared_examples.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Removing extra import
  app/assets/javascripts/pages/milestones/shared/components/delete_milestone_modal.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add members_select component for invite members search
  app/assets/javascripts/invite_members/components/invite_members_modal.vue
  app/assets/javascripts/invite_members/components/members_select.vue
  app/assets/javascripts/users_select/index.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Implement Security::StoreScansService.execute method
  ee/app/services/security/store_scans_service.rb
  ee/spec/services/security/store_scans_service_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Updated tests for cluster list
  changelogs/unreleased/220182-remove-feature-flag.yml
  spec/features/projects/clusters_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Update delete milestone modal to gl modal
  app/assets/javascripts/pages/milestones/shared/components/delete_milestone_modal.vue
  app/assets/javascripts/pages/milestones/shared/delete_milestone_modal_init.js
  app/views/shared/milestones/_delete_button.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add new Geo test for NPM registry replication
  qa/qa/ee/scenario/test/geo.rb
  qa/qa/specs/features/ee/browser_ui/geo/geo_replication_npm_registry_spec.rb
Due: graphql-reference-verify, pages, cache gems

Add note on revoked column
  doc/user/admin_area/credentials_inventory.md
Due: docs lint

Add selector in pipeline new form
  app/assets/javascripts/pipeline_new/components/pipeline_new_form.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add selector in pipeline nav control
  app/assets/javascripts/pipelines/components/pipelines_list/nav_controls.vue
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Add page object pipeline new form
  qa/qa.rb
  qa/qa/page/project/pipeline/new.rb
Due: graphql-reference-verify, pages, cache gems

Add new clicking logic
  qa/qa/page/project/pipeline/index.rb
Due: graphql-reference-verify, pages, cache gems

E2E run pipeline via web only
  qa/qa/specs/features/browser_ui/4_verify/pipeline/run_pipeline_via_web_only_spec.rb
Due: graphql-reference-verify, pages, cache gems

Apply Pretty print Frontend file suggestion
  app/assets/javascripts/pipeline_new/components/pipeline_new_form.vue
  qa/qa/specs/features/browser_ui/4_verify/pipeline/run_pipeline_via_web_only_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Complete test expectations and note
  qa/qa/specs/features/browser_ui/4_verify/pipeline/run_pipeline_via_web_only_spec.rb
Due: graphql-reference-verify, pages, cache gems

Add test case number
  qa/qa/specs/features/browser_ui/4_verify/pipeline/run_pipeline_via_web_only_spec.rb
Due: graphql-reference-verify, pages, cache gems

Add backend pagination to the environments dashboard
  ee/app/controllers/operations_controller.rb
  ee/app/serializers/dashboard_environments_serializer.rb
  ee/app/services/dashboard/environments/list_service.rb
  ee/app/services/dashboard/projects/list_service.rb
  ee/changelogs/unreleased/33895-expand-supported-number-projects-on-environments-dashboard-by-ad.yml
  ee/spec/controllers/operations_controller_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Validate not null file_store
  changelogs/unreleased/mk-enforce-not-null-file-store-on-package-files.yml
  db/post_migrate/20200915191156_validate_not_null_file_store_on_package_files.rb
  db/schema_migrations/20200915191156
  db/structure.sql
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Ensure filled file_store on packages_package_files
  db/post_migrate/20200915185707_ensure_filled_file_store_on_package_files.rb
  db/schema_migrations/20200915185707
  spec/migrations/ensure_filled_file_store_on_package_files_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Update index.md
  doc/user/application_security/dependency_scanning/index.md
Due: docs lint

Search by namespace from Global Security Dashboard
  app/graphql/resolvers/projects_resolver.rb
  doc/api/graphql/reference/gitlab_schema.graphql
  doc/api/graphql/reference/gitlab_schema.json
  ee/app/assets/javascripts/security_dashboard/components/first_class_project_manager/project_manager.vue
  ee/app/assets/javascripts/security_dashboard/graphql/get_projects.query.graphql
  ee/changelogs/unreleased/235676-it-s-hard-to-add-a-project-to-the-instance-security-dashboard.yml
  ee/spec/frontend/security_dashboard/components/first_class_project_manager/project_manager_spec.js
  spec/graphql/resolvers/projects_resolver_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, docs lint, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Change warning message
  app/views/profiles/keys/_form.html.haml
  locale/gitlab.pot
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Fix handling tooltip in actions_button
  app/assets/javascripts/vue_shared/components/actions_button.vue
  app/assets/javascripts/vue_shared/components/web_ide_link.vue
  spec/frontend/vue_shared/components/actions_button_spec.js
  spec/frontend/vue_shared/components/web_ide_link_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Remove gitpod modal from MR page
  app/views/projects/merge_requests/show.html.haml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Adds latest_statuses scope and preloads it in serializer
  app/models/ci/pipeline.rb
  app/serializers/pipeline_serializer.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Refactors the spec
  spec/serializers/pipeline_serializer_spec.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, pages, cache gems, gitlab_git_test, no_ee_check

Fix GlNewDropdown gitlab/ui imports
  app/assets/javascripts/vue_shared/components/actions_button.vue
  spec/frontend/vue_shared/components/actions_button_spec.js
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Improve performance of lfs_objects scope
  ee/app/models/geo_node.rb
  ee/changelogs/unreleased/mk-remove-cte-from-lfs-objects-query.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Hook branch update to import metrics
  app/models/prometheus_metric_enums.rb
  app/services/git/branch_hooks_service.rb
  app/workers/all_queues.yml
  app/workers/metrics/dashboard/sync_dashboards_worker.rb
  config/feature_flags/development/sync_metrics_dashboards.yml
  config/sidekiq_queues.yml
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check

Apply 1 suggestion(s) to 1 file(s)
  app/workers/metrics/dashboard/sync_dashboards_worker.rb
Due: run-dev-fixtures, run-dev-fixtures-ee, graphql-reference-verify, memory-static, memory-on-boot, pages, cache gems, gitlab_git_test, no_ee_check
