Repository mehulagg/gitlab_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: memory-static, memory-on-boot, pages

memory-static:
  variables:
    SETUP_DB: 'false'
  script:
  - bundle exec derailed bundle:mem > tmp/memory_bundle_mem.txt
  - scripts/generate-gems-size-metrics-static tmp/memory_bundle_mem.txt >> 'tmp/memory_metrics.txt'
  - bundle exec derailed bundle:objects > tmp/memory_bundle_objects.txt
  ...

memory-on-boot:
  variables:
    NODE_ENV: production
    RAILS_ENV: production
    SETUP_DB: 'true'
    SKIP_STORAGE_VALIDATION: 'true'
    NODE_OPTIONS: --max_old_space_size=3584
  script:
  - ENABLE_BOOTSNAP=false PATH_TO_HIT="/users/sign_in" CUT_OFF=0.3 bundle exec derailed exec perf:mem >> 'tmp/memory_on_boot.txt'
  ...

pages:
  stage: pages
  dependencies:
  - coverage
  - karma
  - gitlab:assets:compile pull-cache
  script:
  - mv public/ .public/
  - mkdir public/
  - mv coverage/ public/coverage-ruby/ || true
  - mv coverage-javascript/ public/coverage-javascript/ || true
  - mv webpack-report/ public/webpack-report/ || true
  ...

Fix GitLab typo
  doc/development/integrations/secure-partner-integration.md
Due: none

Rename file to have underscores
  doc/development/README.md
  doc/development/integrations/secure_partner_integration.md
Due: none

Stub loading icon
  spec/frontend/ide/components/__snapshots__/error_message_spec.js.snap
  spec/frontend/ide/components/error_message_spec.js
Due: pages

Update ElasticStack deployment sizes
  doc/user/clusters/applications.md
  vendor/elastic_stack/values.yaml
Due: memory-static, memory-on-boot, pages

Enforce required key with eslint
  .eslintrc.yml
  package.json
  yarn.lock
Due: memory-static, memory-on-boot, pages

Update spec with unsupported operator
  ee/spec/requests/api/scim_spec.rb
Due: pages

Extract `with_user` scope
  app/models/identity.rb
  app/models/identity_visitor.rb
Due: memory-static, memory-on-boot, pages

Start to add filter and regex_url
  doc/user/project/integrations/prometheus.md
  ee/app/services/metrics/dashboard/cluster_embed_service.rb
  ee/lib/banzai/filter/inline_cluster_metrics_filter.rb
  ee/lib/ee/gitlab/metrics/dashboard/service_selector.rb
  ee/lib/ee/gitlab/metrics/dashboard/url.rb
  ee/spec/lib/banzai/filter/inline_cluster_metrics_filter_spec.rb
  ee/spec/lib/ee/gitlab/metrics/dashboard/url_spec.rb
  lib/gitlab/metrics/dashboard/finder.rb
  lib/gitlab/metrics/dashboard/url.rb
  spec/lib/gitlab/metrics/dashboard/url_spec.rb
  spec/support/shared_examples/metrics/url_shared_examples.rb
Due: memory-static, memory-on-boot, pages

GitLab UI: 601-first-focusable-item-should-be-auto-focused-modal-component integration test
  package.json
  yarn.lock
Due: memory-static, memory-on-boot, pages

Add step to manual webhook creation
  doc/ci/ci_cd_for_external_repos/github_integration.md
Due: none

Add Gitlab.com scale to DoD
  doc/development/contributing/merge_request_workflow.md
Due: none

Update Karma vuex_action_helper to export Jests
  spec/javascripts/helpers/vuex_action_helper.js
Due: pages

Update testAction to reject return values
  spec/frontend/helpers/vuex_action_helper.js
Due: pages

Remove extra white space
  doc/ci/ci_cd_for_external_repos/github_integration.md
Due: none

Document pre-clone step on GitLab.com
  doc/development/pipelines.md
  doc/user/gitlab_com/index.md
Due: none

fixup! Update Karma vuex_action_helper to export Jests
  spec/javascripts/helpers/vuex_action_helper_spec.js
Due: pages

fixup! Update testAction to reject return values
  spec/frontend/helpers/vuex_action_helper.js
  spec/frontend/helpers/vuex_action_helper_spec.js
Due: pages

Fix actions with return values
  app/assets/javascripts/ide/stores/modules/clientside/actions.js
  app/assets/javascripts/ide/stores/modules/file_templates/actions.js
  app/assets/javascripts/monitoring/components/dashboards_dropdown.vue
  app/assets/javascripts/monitoring/stores/actions.js
  app/assets/javascripts/registry/list/stores/actions.js
  ee/app/assets/javascripts/dependencies/store/actions.js
Due: memory-static, memory-on-boot, pages

fixup! Fix actions with return values
  app/assets/javascripts/diffs/components/app.vue
  app/assets/javascripts/notes/stores/actions.js
Due: memory-static, memory-on-boot, pages

Backfill LfsObjectsProject records for forks
  changelogs/unreleased/55487-backfill-forks-lfs-objects.yml
  db/post_migrate/20200124053514_schedule_link_fork_lfs_objects.rb
  lib/gitlab/background_migration/link_lfs_objects.rb
  spec/lib/gitlab/background_migration/link_lfs_objects_spec.rb
  spec/migrations/schedule_link_fork_lfs_objects_spec.rb
Due: memory-static, memory-on-boot, pages

Geo clusters need at least a db_pool value of 3
  lib/gitlab/qa/scenario/test/integration/geo.rb
Due: memory-static, memory-on-boot, pages

Bump version to 4.19.1
  lib/gitlab/qa/version.rb
Due: memory-static, memory-on-boot, pages

Add cookie support to API requests
  lib/gitlab/qa/support/get_request.rb
Due: memory-static, memory-on-boot, pages

Bump version to 4.19.2
  lib/gitlab/qa/version.rb
Due: memory-static, memory-on-boot, pages

Apply suggestion to lib/gitlab/qa/support/get_request.rb
  lib/gitlab/qa/support/get_request.rb
Due: memory-static, memory-on-boot, pages

Add dependency list type
  ee/app/graphql/resolvers/security/dependency_resolver.rb
  ee/app/graphql/types/security/dependency_type.rb
Due: memory-static, memory-on-boot, pages

Mound dependencies on project
  ee/app/graphql/ee/types/project_type.rb
  ee/app/graphql/resolvers/security/dependency_resolver.rb
Due: memory-static, memory-on-boot, pages

Temp commit with comments
  ee/app/graphql/resolvers/security/dependency_resolver.rb
  ee/app/graphql/resolvers/security/vulnerability_resolver.rb
  ee/app/graphql/types/security/dependency_type.rb
  ee/app/graphql/types/security/vulnerability_type.rb
  ee/app/policies/security/dependency_policy.rb
  ee/app/services/security/dependency_list_service.rb
Due: memory-static, memory-on-boot, pages

Add other sec types
  ee/app/graphql/resolvers/security/dependency_resolver.rb
  ee/app/graphql/types/security/dependency_type.rb
  ee/app/graphql/types/security/license_type.rb
  ee/app/graphql/types/security/vulnerability_type.rb
Due: memory-static, memory-on-boot, pages

Add License resolver
  ee/app/graphql/ee/types/project_type.rb
  ee/app/graphql/resolvers/security/license_resolver.rb
  ee/app/graphql/resolvers/security/vulnerability_resolver.rb
Due: memory-static, memory-on-boot, pages

Add more functionality to deps query
  ee/app/graphql/resolvers/security/dependency_resolver.rb
  ee/app/graphql/types/security/dependency_type.rb
  ee/app/graphql/types/security/license_type.rb
Due: memory-static, memory-on-boot, pages

Fix issue with array of deps
  ee/app/graphql/ee/types/project_type.rb
Due: memory-static, memory-on-boot, pages

Remove ee queryType
  app/graphql/types/query_type.rb
Due: memory-static, memory-on-boot, pages

Update GraphQL docs
  doc/api/graphql/reference/index.md
Due: memory-static, memory-on-boot, pages

Add dependency policy
  ee/app/graphql/types/security/dependency_type.rb
  ee/app/policies/security/dependency_policy.rb
Due: memory-static, memory-on-boot, pages

Trying an updated screen shot
  doc/user/project/merge_requests/img/merge_request1.png
  doc/user/project/merge_requests/index.md
Due: none

More images split
  doc/user/project/merge_requests/img/merge_request2.png
  doc/user/project/merge_requests/img/merge_request3.png
  doc/user/project/merge_requests/img/merge_request4.png
  doc/user/project/merge_requests/index.md
Due: none

Apply suggestion to doc/ci/ci_cd_for_external_repos/github_integration.md
  doc/ci/ci_cd_for_external_repos/github_integration.md
Due: none

lib/gitlab/gitaly_client.rb
  lib/gitlab/gitaly_client.rb
Due: memory-static, memory-on-boot, pages

Path conditions:
  memory-static: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  memory-on-boot: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*
  pages: any of: .gitlab/ci/**/*, .{eslintignore,gitattributes,nvmrc,prettierrc,stylelintrc,yamllint}, .{codeclimate,eslintrc,gitlab-ci,haml-lint,haml-lint_todo,rubocop,rubocop_todo,scss-lint}.yml, .csscomb.json, Dockerfile.assets, *_VERSION, Gemfile{,.lock}, Rakefile, {babel.config,jest.config}.js, config.ru, {package.json,yarn.lock}, {,ee/}{app,bin,config,db,haml_lint,lib,locale,public,scripts,symbol,vendor}/**/*, doc/api/graphql/reference/*, Dangerfile, danger/**/*, {,ee/}fixtures/**/*, {,ee/}rubocop/**/*, {,ee/}spec/**/*, doc/README.md, .dockerignore, qa/**/*
